[2021-07-07 22:20] twopirllc commented on #323
@justmeonthegit,

No worries. Glad you have a working solution and replied in a timely manner. 😎

GL 🍀

KJ

[2021-07-07 23:06] twopirllc commented on #330
Hello @schwaa,

If you have TA Lib installed as well, then it is the same Issue.

It's on the near term to do list. However, there is _nothing_ to prevent you from editing your local copy to temporarily patch the Issue until the fix is in. Furthermore, I am open to contributions for Issues or additional Features to help speed the process along.

Kind Regards,
KJ

[2021-07-07 23:19] twopirllc commented on #332
Hello @reza1615,

That is correct. Volume Profile **vp** does not return a DatetimeIndex Time Series. Please see the _Sources_ section under ```help(ta.vp)``` to understand how it calculated and see examples of output from those sources. Furthermore, please see Issue #74 on how to plot it.

[code]

Default Output:
<img width="479" alt="Screen Shot 2021-07-07 at 4 14 17 PM" src="https://user-images

[2021-07-08 01:04] schwaa commented on #330
I'm pretty sure I can make the change, but not sure how to commit the code. ie like I know how to commit -a and git push, but not in a project like this.

[2021-07-08 02:11] twopirllc commented on #330
@schwaa,

You have to be authorized to do pushes. However you can try a pull request. If you can not figure it out, not worries, at least you have a fixed local version for the time being. I typically inform people when Issues have been corrected and the _main_ branch has been updated.

Thanks,
KJ

[2021-07-08 14:19] reza1615 opened #333 "Are there any indicators for other Binance outputs?"
Binance API output has more columns than OHLC. Are there any indicators which uses these data?
#https://binance-docs.github.io/apidocs/spot/en/#compressed-aggregate-trades-list
![image](https://user-images.githubusercontent.com/2202483/124937966-ddf85680-dfd5-11eb-9cc6-209a32043d89.png)

[2021-07-08 17:25] twopirllc commented on #333
Hello @reza1615,

Currently there are not. However, contributions are encouraged whether for new indicators, features, optimizations or bug fixes. 😎

Kind Regards,
KJ

[2021-07-08 20:23] ReubenHawley commented on #322
thank you very much, apologies for the late response, well done on creating this library. excellent work.

[2021-07-08 22:49] twopirllc commented on #322
@ReubenHawley,

No worries. Thanks for getting back to me regardless. I appreciate it.

Thank you,
KJ

[2021-07-09 09:02] rafalsza commented on #331
in my case lenght=lenght, question is how can I calculate supertrend for lenght e.g.  12 and multiplier 9  ?

[2021-07-09 09:03] rafalsza commented on #331
when I'm using lenght>7 and multiplier>3.0 I'm getting an error e.g. File "C:\supertrend-crypto-bot-main\venv\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: 'SUPERT_12_9.0'

[2021-07-09 14:33] twopirllc commented on #331
@rafalsza,

I apologize if my English was **not** clear the first time. You **clearly** misspelled ```length```. This is a _basic_ user error and **not** an error with Pandas TA, Pandas, or even Python. In your code above, change ```lenght``` to ```length``` to resolve **your** problem.

Furthermore, nowhere in the ```supertrend``` signature does it have ```lenght``` as a parameter/argument! So wh

[2021-07-09 14:33] #331 closed

[2021-07-09 14:34] #332 closed

[2021-07-09 23:18] UlasTosun commented on #329
Hello,
I have faced with the same problem. I don't know the reason, so I can't help you @twopirllc . However, for those who have faced with this problem on Colab and want to overcome this quickly, I have a suggestion. Using previous version overcomes this problem. Just specify the version while installing Pandas TA. For me, the version below solves the problem:
`! pip install pandas_ta==0.2.45b`
B

[2021-07-09 23:29] UlasTosun commented on #299
Dear @twopirllc ,
Since you guys are talking about features and indicators, I have a wish from you (and of course it is a suggestion to you). Can you add MACD AS (sometimes it is written as MACDAS) indicator please? People believe that it responses faster than classical MACD.
Kind regards...

[2021-07-10 16:14] twopirllc commented on #329
Hello @UlasTosun,

Thanks for chiming in and helping!

I believe this is the appropriate course of action at this time until your other requirements (tensorflow, google-colab, et al) are no longer hindered by their own dependencies.

Do you know if you are able to edit the local copy on your Google Colab version? Or do a manual install of sorts? If so, there could be a way until I can find a work

[2021-07-10 16:15] twopirllc commented on #299
Hello @UlasTosun,

Sure. Please open an new Issue with links to the source.

Thanks,
KJ

[2021-07-10 17:39] twopirllc commented on #330
@bonusguy,

It is now available on the _development_ branch if you want to check it out before I update the _main_ branch.

[code]

Thanks for your patience,
KJ

[2021-07-10 18:57] UlasTosun opened #336 "MACDAS Indicator Request"
Hi @twopirllc ,
MACDAS, MACD AS, MACD-AS or Thomas Aspray's MACD is a special version of MACD indicator. People believe that, it reacts faster than classical MACD for buy/sell signals. Since it is based on classical MACD, I hope that it will be easy for you to add MACDAS to Pandas-TA. Could you add it to Pandas-TA please.
I couldn't find better sources for it, however I hope that following links w

[2021-07-10 19:29] UlasTosun commented on #329
Hi @twopirllc ,

I am not sure about that I understood your question properly. However, here is my answer:
Colab provides 2 ways for running Python scripts.
First way is using local runtime. If you do this, Colab uses your computer and of course your local libraries which are installed on your computer. Simply, it acts like Jupyter Notebook. So you can install any version you want.
Second and most

[2021-07-10 20:30] bonusguy commented on #330
Hi Kevin,

thanks for notifying me and sorry that I didnt make the change. It was my
first issue and never did a pull request so far. For the next bug I promise
to provide the fix.
Thanks for sharing your nice library,

Urban

Am Sa., 10. Juli 2021 um 19:39 Uhr schrieb Kevin Johnson <
***@***.***>:

[2021-07-11 01:22] rafalsza opened #337 "Supertrend is not calculating period >7"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
pandas-ta-0.3.5b0

**Describe the bug**
even if I put lenght = e.g. 12 still ta.supertrend is for a 7 period

**To Reproduce**
[code]

out:
[code]

[2021-07-11 03:35] twopirllc commented on #337
@rafalsza,

I **already** went over with at the end of your _last_ Issue #311 which you have refused to acknowledge or confirm as well as **deny** your mistake.

For example, please tell me which of these work **and** why:
[code]

and

[code]

KJ

[2021-07-11 03:35] #337 closed

[2021-07-11 11:34] rafalsza commented on #337
[code]
is working fine
problem is only for calculating lenght >7
even i"m putting lenght=12 i'm getting lenght=7

[2021-07-11 11:37] rafalsza commented on #337
i'm sorry. My mistake with "lenght"

[2021-07-11 15:58] twopirllc commented on #336
@UlasTosun,

Sure. Looking at the Pinescript code below, it does not warrant a separate indicator. I can add a switch to **macd** to handle the additional differences.

[code]

Kind Regards,
KJ

[2021-07-11 17:03] twopirllc commented on #330
@bonusguy,

No worries. Thanks for using the library and helping to improve it.

Kind Regards,
KJ

[2021-07-11 17:28] twopirllc commented on #329
@UlasTosun,

I did not know this. Thanks for letting me know.

If one is using this case, then they can do some minor modifications one can do to use the latest version and not encounter these dependency issues.

If one is using this case, then it will take me longer to come up with a solution. I do not use Colab (Cloud nor local).

Do you know if Colab has issues with @gate27keeper 's dependency

[2021-07-11 21:31] twopirllc commented on #327
@navdeepchahal22,

I am changing it to TradingView's implementation:

[code]

Kind Regards,
KJ

[2021-07-11 22:59] twopirllc commented on #336
@UlasTosun,

So I added the _AS_ mode to **macd** if you want to test it out on the _development_ branch. You can test it out like so: ```ta.macd(.., asmode=True)```.

[code]

Thanks,
KJ

[2021-07-11 23:00] twopirllc commented on #327
Hello @navdeepchahal22,

If you want to test out **kvo** before I update the _main_ branch, you can install the _development_ branch by installing:

[code]

Thanks,
KJ

[2021-07-12 06:38] navdeepchahal22 commented on #327
hey ,
i apoligoze as i will not be able to verify now, as i have moved on a lot on my project.
thank you though for providing detailed infromation on indicators

[2021-07-12 15:11] twopirllc commented on #327
@navdeepchahal22,

No worries. Just informing you.

KJ

[2021-07-12 17:39] jjruizz opened #338 "How to create many entry/exit signals in vectorbt"
Hi!
First of all congratulate you for the work done with pandas-ta.

I would like to know if several entry/exit signals can be indicated beyond the gold crossover example.
For the RSI indicator, I would want as entry RSI_14 > 30 and as exit RSI_14 < 70

How can this be done?

Thanks in advance.
Best Regards

[2021-07-12 17:45] brandonculver commented on #285
This is not a great solution since other libraries require slightly older versions of numpy.

[2021-07-12 17:53] twopirllc commented on #285
@brandonculver,

I am aware of this. I am open to contributions that will incorporate both versions. 😎

Thanks,
KJ

[2021-07-12 22:28] UlasTosun commented on #329
@twopirllc
I have check the dependencies here is the final results for Colab users:

Numpy v1.19.5 is the preinstalled version on Colab for now (they may change it later). However, Pandas-TA v0.3.02b uses "sliding_window_view" which was added to Numpy in v1.20.0. So, Colab users have two options to import Pandas-TA properly:

1.  If you want to keep using preinstalled Numpy (v1.19.5), then install

[2021-07-13 17:15] twopirllc commented on #338
Hello @jjruizz,

Yes. You can use the partially implemented method ```ta.xsignals``` method, see ```help(ta.xsignals)``` for more details. It is **BETA** and subject to change, currently it implements two of four cases for crossings. The other two cases need to be implemented and tested. Luckily your case is one of the two versions fits your case.

Here is the current approach:

[code]

RSI Plot
[

[2021-07-13 18:18] jjruizz commented on #338
Thank you so much for the example! I didn't know it was in beta, I just read the README.md and it helped me a lot up to this point.

I guess the example will help me with what I was looking for. I'll test it and keep an eye out for future releases :-)

[2021-07-13 18:18] #338 closed

[2021-07-13 21:28] prRZ5F4LXZ opened #339 "Use TP for BB"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
NA

**Upgrade.**
NA

**Is your feature request related to a problem? Please describe.**

BB uses TP instead of close. But the current implementation uses close. Should a BB with TP be added?

https://www.investopedia.com/trading/using-bollinger-bands-to-gauge-trends/

**Describe the solution you'd like*

[2021-07-13 21:40] mikeperalta1 opened #340 "PerformanceWarning: DataFrame is highly fragmented"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.2b0

**Upgrade.**
I appear to be running the latest (?)

**Describe the bug**
When adding technical indicators to an existing data frame, I receive the following warning:

[code]

These warnings are reduced when I implement the suggestion of ```newframe = frame.copy()```, but not eliminated. I belie

[2021-07-13 21:55] twopirllc commented on #339
Hello @prRZ5F4LXZ,

The implemented version of **bbands** is tightly correlated to the _de facto_ TA Lib and by default it uses a single source, typically _close_. There are two solutions if you want to incorporate _Typical Price_ to **bbands**.

1. Replace ```close``` with ```hlc3```.

[code]

2. Modify your local copy of ```ta.bbands``` to include ```high``` and ```low``` series, then import ```

[2021-07-13 22:18] UlasTosun commented on #336
@twopirllc
I have tested it out and it works properly, no bugs at first glance.
I am grateful to you, thanks!
Also, when will you release it as a stable version? Do you have any plan for it?
Kind regards.

[2021-07-13 22:36] twopirllc commented on #340
Hello @mikeperalta1,

I am aware of the ```PerformanceWarning``` (PW), but it's just a warning and **not** a bug. it was never a warning in prior versions of Pandas. So you can downgrade to an earlier Pandas version, or you can suppress the warning. In fact the current _development_ version does suppress the PW until a permanent fix is in place.

[code]

It occurs when you are appending a Pandas D

[2021-07-13 22:39] mikeperalta1 commented on #340
@twopirllc Thank you for that thorough explanation! I suppose for now I will simply mute the warning.

[2021-07-13 22:58] twopirllc commented on #336
@UlasTosun,

Great! Thanks for promptly testing it out.

Soon I hope! Maybe in a few days. 🤷🏼‍♂️ I have been busy answering Issues and lacking the time to spend the time fixing and adding new features and indicators ⚖️ ; MACDAS was an exception since it was an addition to an existing indicator. Don't fret, I'll keep you posted.

No worries. Thank you!
KJ

[2021-07-13 23:10] twopirllc commented on #329
@UlasTosun,

Thanks for sharing this information! It is very useful. 😎 I agree with your opinion and I am sure that the Colab package dependencies will be taken care of soon enough despite the current inconvenience.

Thanks,
KJ

[2021-07-14 23:08] abmyii commented on #285
I found two potential solutions. The first uses `rolling` as shown in the `for window in s.rolling(window=2)` example on the Pandas docs (https://pandas.pydata.org/pandas-docs/stable/user_guide/window.html#windowing-operations). Since it also yields windows which are less than length, this was the solution I came up with:

[code]

https://github.com/twopirllc/pandas-ta/blob/3b40553dfa74954d99b8aed

[2021-07-15 01:39] twopirllc commented on #285
Hello @abmyii,

This sounds great! Thanks for helping to investigate an efficient and backwards compatible solution! I will give it a try as soon as I can. I appreciate it.

Thanks,
KJ

[2021-07-15 14:44] twopirllc commented on #339
Hello @prRZ5F4LXZ,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-07-17 11:35] bonusguy opened #343 "Probably a bug. No consistency with talib"
Version: 0.3.02b

![image](https://user-images.githubusercontent.com/22365509/126035566-e8e5be77-0de6-469e-9d59-74922d4837f0.png)

[2021-07-17 11:38] bonusguy opened #344 "1) Values different to talib 2) pandas_ta not reacting on 'length' parameter"
Version: 0.3.02b

![image](https://user-images.githubusercontent.com/22365509/126035640-c4be6d47-14c6-4cef-a1dc-614c03110336.png)

[2021-07-17 11:40] bonusguy opened #345 "Calculating EMA_10 instead of EMA_8"
Version: 0.3.02b

![image](https://user-images.githubusercontent.com/22365509/126035689-57830506-7512-4633-bd4b-8bbe13ebef31.png)

[2021-07-17 11:46] bonusguy opened #346 "Pandas TA MACD not in line with TA Lib"
pandas_ta not in line with talib probably because of wrong calculation of EMA9 for signal line (consequence of bug in EMA calculation, see above

![image](https://user-images.githubusercontent.com/22365509/126035795-6e224cc4-ca71-4e9c-810e-6134892486f1.png)

[2021-07-17 17:16] twopirllc commented on #345
Hello @bonusguy,

It is spelled ```length``` and not ```lenght```.

Kind Regards,
KJ

[2021-07-17 17:16] #345 closed

[2021-07-17 17:43] twopirllc commented on #343
Hello @bonusguy,

This has been addressed in your Issue #330 and fixed in PR #334 and is available on the _development_ branch as I previously told you.

Thanks,
KJ

[2021-07-17 17:43] #343 closed

[2021-07-17 17:44] twopirllc commented on #344
Hello @bonusguy,

It is spelled ```length``` and not ```lenght```.

Kind Regards,
KJ

[2021-07-17 17:44] #344 closed

[2021-07-17 17:46] #339 closed

[2021-07-17 19:28] ben1628 opened #347 "JSONDecoderError"
Hi,

I'm trying to run with the vectorbt example with the following packages

[code]

Pandas TA v0.2.75b0
To install the Latest Version:
[code]

When I tried

[code]

I got
[code]

Any ideas?

Thanks.

[2021-07-17 21:12] twopirllc commented on #347
Hello @ben1628,

The stack trace has to do with _vectorbt_ package _yfinance wrapper throwing the _JSONDecodeError_. So I would make an [Issue](https://github.com/polakowo/vectorbt/issues?q=is%3Aissue) on their Github.

Kind Regards,
KJ

[2021-07-18 13:24] mhgutier opened #348 "choppiness index has different result vs trading view"
Hi guys good day.
im encountering 2 isues. please advise.

1.  **kwargs is not defined.
[code]

[code]

2. choppiness index has different result with trading view (if **kwargs is not passed as it is issue no.1)

[2021-07-18 13:37] ben1628 commented on #347
It's a yfinance error

Resolved after updating. Run this:
pip install yfinance --upgrade --no-cache-dir

[2021-07-18 13:37] #347 closed

[2021-07-18 14:22] crazysurajit opened #349 "Indicator Request - Connors RSI (CRSI)"
Hi @twopirllc ,
Could you please add the Connors RSI (CRSI) indicator?

[About CRSI](https://www.tradingview.com/support/solutions/43000502017-connors-rsi-crsi/)
[Code for reference](https://github.com/cperler/trading/blob/1da33afc28d77517ee803ddfc1a1126dcdd54a3a/indicators.py#L695)

Also doc for [Aroon](https://github.com/twopirllc/pandas-ta/blob/1deb7559f626d2a5cf664b6c0af7a8016a53bfca/pandas_ta

[2021-07-18 14:45] twopirllc commented on #349
Hello @crazysurajit,

Unfortunately, I am backlogged on many Issues right now. Hopefully someone can attempt it soon for you.

Kind Regards,
KJ

[2021-07-18 15:41] twopirllc commented on #348
Hello @mhgutier,

* I fail to see how the first Pull Request #1 has **any** relevance to ```ta.chop```. Please clarify.
* The ```NameError``` is a Python error and **not** a Pandas TA Error. You received that Error because you have not declared the dict ```kwargs``` prior to calling ```ta.chop()```. See ```help(ta.chop)``` for which arguments and keyword arguments are valid for ```ta.chop()```. Py

[2021-07-19 03:45] mhgutier commented on #348
hi Kevin, Thanks

i got choppiness index working fine now.
1. i updated the formula
from: (npLog10(atr_sum) - npLog10(diff)) / npLog10(length)
to: npLog10(atr_sum / diff) / npLog10(length)

2. atr has discrepancy from talib when timeperiod is 1
import talib
    '# atr_ = atr(high=high, low=low, close=close, length=atr_length)'
    atr_ = talib.ATR(high=high, low=low, close=close, timeperiod=atr_le

[2021-07-19 03:45] #348 closed

[2021-07-21 21:36] twopirllc commented on #348
Hello @mhgutier,

Great!

1. Out of curiosity, is the Logarithm Division Property (```log(A/B) = log(A) - log(B)```) not valid in the code?
2. Interesting. Unfortunately, I can not replicate your discrepancy with TA Lib. Can you provide reproducible code?

[code]

Excellent!

Ok

Thanks! Cool! 😎

Sorry I did not respond sooner, was sick the last few days.

Kind Regards,
KJ

[2021-07-22 09:50] AlexandreBourrieau commented on #285
Same problem here !

[2021-07-22 16:15] twopirllc commented on #285
@AlexandreBourrieau,

Noted. Working on it.

Kind Regards,
KJ

[2021-07-23 01:41] Squigglez2 opened #350 "EBSW indicator"
I don't know if this goes anywhere really, I tried using the Even Better Sine Wave indicator and noticed the note in the docs about the logic. So I made the function below based off the code in the two links:
1. [prorealcode](https://www.prorealcode.com/prorealtime-indicators/even-better-sinewave/)
2. [tradingview](https://www.tradingview.com/script/a1AeExr4-Ehlers-Even-Better-Sinewave-Indicator-C

[2021-07-23 17:18] twopirllc commented on #350
Hello @Squigglez2,

Interesting. I will add it to the list of things. Have you tried exporting data and it's indicator values from TradingView and run a correlation test to see how inline your version is with TradingView? If not, that would help you see if there are bugs in your code.

### How to do a TV Correlation Test

Are you using a different data source for Pandas TA and then visually compar

[2021-07-23 17:36] Squigglez2 commented on #350
I'll give it a try. The graph I posted was the version in Pandas_TA and my custom function both run on the same EURUSD data. I just compared the tradingview and prorealcode to make sure I didn't miss any steps since I've never used either of those languages and figured it help prevent mistakes.

[2021-07-23 20:33] twopirllc commented on #350
@Squigglez2,

Understandable. Thanks for providing links to the TradingView source so I can do it. Unfortunately, I do not have a time frame on the resolution of this Issue.

Kind Regards,
KJ

[2021-07-24 01:20] Squigglez2 commented on #350
Understandable, the code I posted should be runnable at least, if anyone else with a premium account has the chance. Of can somehow give me a copy of the close data and indicator output.

[2021-07-24 06:36] danlim-wz opened #351 "Signal line implemented for TRIX instead of TSI"
**Which version are you running?**
0.3.2b0

**Describe the bug**
The signal line seems to have been implemented for TRIX instead of TSI.

**Expected behavior**
According to the definitions on investopedia for:
TRIX: https://www.investopedia.com/terms/t/trix.asp
TSI: https://www.investopedia.com/terms/t/tsi.asp,
there should be a signal line for TSI and no signal line for TRIX.

The in-built indica

[2021-07-24 09:45] opsxcq commented on #285
Same issue here, just to report, this makes impossible to have tensorflow and pandas-ta on the same project.

[code]

[2021-07-24 14:18] Stevearama opened #352 "ValueError: Invalid format string. From the example.ipynb"
forgive me if this isn't an issue to be reported here.  I'm hoping for guidance to resolve.
I am running windows 10, Jupyterlab anaconda.
I'm inexperienced.

I've taken the example from here, except spy didn't work for me as a ticker so I used XOM

Thank you.

when running the charting example, I return a ValueError

[code]

[2021-07-24 18:07] twopirllc commented on #351
Hello @danlim-wz,

Doh! Nice catch with the missing feature/signal line for **tsi**. I am surprised no one else caught it sooner! But it does **not** classify as a bug. Anyhow, it is easy enough to incorporate with a Pull Request if you feel like contributing 😎. If not, I will include it when I get a chance.

Also [**trix**](https://www.tradingview.com/scripts/trix/?solution=43000502331) typically

[2021-07-24 18:23] twopirllc commented on #352
Hello @Stevearama,

No problem.

Ticker is irrelevant. It's just an example.

This module:
[code]

on this line:
[code]

is the Issue and has to do with the ```mplfinance``` package. I suggest making an [Issue](https://github.com/matplotlib/mplfinance/issues?q=is%3Aissue) there and I would appreciate knowing the resolution when you find out.

Kind Regards,
KJ

[2021-07-24 18:38] twopirllc commented on #285
@opsxcq,

Again:

Kind Regards,
KJ

[2021-07-25 18:19] twopirllc commented on #329
Hello @UlasTosun,

I have an updated version on the _development_ branch that should address the **numpy** version problem. I would appreciate your feed back on this when you get a chance before I update the _main_ branch.

[code]

Thanks,
KJ

[2021-07-25 18:23] twopirllc commented on #285
Hello @abmyii, @AlexandreBourrieau, @brandonculver, @dikien, @opsxcq, @peturssonstefan, @rushiai,

I have an updated version on the _development_ branch that should address the **numpy** version problem. I would appreciate your feedback on this when you get a chance before I update the _main_ branch.

[code]

Thanks,
KJ

[2021-07-26 13:51] dnabb opened #354 "stdev does not take ddof = 0"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.2b0

**Describe the bug**
Calling stdev with ddof=0 (and all other derived indicator, like bbands) actually returns a standard deviation with ddof = 1.

**To Reproduce**

[code]

**Expected behavior**
Should be the same as:

[code]

**Additional context**
The issue seems to be [this validation](http

[2021-07-26 16:34] twopirllc commented on #354
Hello @dnabb,

Doh! Nice catch!

In the mean time, edit your local copy and replace that validation with the following until the code is updated.
[code]

Hope this helps!

Kind Regards,
KJ

[2021-07-26 17:17] UlasTosun commented on #329
Dear @twopirllc ,
I have checked it and I have good news. At the moment, preinstalled Numpy version on Colab is 1.19.5 and it works properly with the Pandas-TA version on the _development branch_.  There is no error while importing. So, I think you can update the main branch.
Thank you for solving this issue!

[2021-07-26 17:36] twopirllc commented on #354
@dnabb,

Also I have added the changes to the _development_ branch if you want to test it out.

[code]

Please let me know if it works as intended if you try the _development_ branch.

Thanks,
KJ

[2021-07-26 17:47] twopirllc commented on #329
@UlasTosun,

Indeed this is good news! I appreciate you taking the time to help resolve this Issue, testing also, and your patience for me to patch it.

Hopefully soon a couple of others can confirm from Issue #285 that it also works for them so I can update the _main_ branch.

Thanks,
KJ

[2021-07-26 21:16] abmyii commented on #285
@twopirllc Works well for me too - thanks!

[2021-07-26 22:08] twopirllc opened #355 "Creating a Custom Indicator: The Big 4"
In short, there are basically **four** steps to fully add an indicator to Pandas TA. For concrete examples, I recommend looking at [@rengel8's RSX](https://github.com/twopirllc/pandas-ta/pull/182/files) and [@whubsch's MCG](https://github.com/twopirllc/pandas-ta/pull/190/files) indicators. Essentially their indicator submission is some combination of steps outlined below.

# Creating a Custom Indi

[2021-07-26 22:09] #355 closed

[2021-07-27 04:14] nraposo1 opened #356 "BBands not using the entered std parameter"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.2b0

I tried using a std of 1.5 and the same numbers are returned as the default std of 2.

[code]

[2021-07-27 13:16] maxmahbk opened #357 "SuperTrend indicator is incorrect"
I compare supertrend indicator in pandas-ta and trading view is different.

in pandas_ta is likely signal change when price drop below or increase above ST value  SUPERT_10_3.0

in trading view price close need to lower or above ST value to change signal trend buy -> sell.

![ST](https://user-images.githubusercontent.com/70783418/127159258-e9cf8e25-7efb-4545-b976-a97dda621612.JPG)

BTC/USD 15min T

[2021-07-27 13:20] maxmahbk commented on #357
![image](https://user-images.githubusercontent.com/70783418/127160286-ee1d79f3-4172-4799-8e53-627d7df57419.png)

Signal from tradingview not change if close price not below the lower ST band.

Could you have an more option for supertrend indicator.

Thank you

[2021-07-27 14:53] twopirllc commented on #356
@nraposo1,

Using your code above:
<img width="572" alt="Screen Shot 2021-07-27 at 7 52 14 AM" src="https://user-images.githubusercontent.com/18198392/127176421-2a575e97-1bf6-4d99-a906-d55ee9c9e3f5.png">

Where are your results?

Kind Regards,
KJ

[2021-07-27 15:01] twopirllc commented on #357
Hello @maxmahbk,

So what version of Pandas TA are you using that was asked in the Bug Report?

Your full screenshot in the first post with the data is unreadable... share it as a csv, no excel.

Did you read the README? Did you look up past Issues first?

<img width="587" alt="Screen Shot 2021-07-27 at 7 56 49 AM" src="https://user-images.githubusercontent.com/18198392/127177376-5d40cf4a-f308-496

[2021-07-27 15:49] nraposo1 commented on #356
BB_Bands:::
     BBL_20_2.0  BBM_20_2.0  BBU_20_2.0  BBB_20_2.0  BBP_20_2.0
0           NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN
..

[2021-07-27 18:53] twopirllc commented on #356
@nraposo1,

Ok. It looks like you have TA Lib installed in your environment as well as Pandas TA checks here on [line 22](https://github.com/twopirllc/pandas-ta/blob/e44ff1b30eb877ad3c6121d7c74fd29440afda54/pandas_ta/volatility/bbands.py#L22).

I have fixed this Issue and related TA Lib indicators in version _0.3.4b0_.

There are two solutions: Install the _development_ branch (version _0.3.13b0_)

[2021-07-28 12:53] phicha20224 opened #358 "How to using Heikin low and high put into EMA ? #question"
Hi, can someone please help
How to using Heikin low and high put into EMA ?

,{"prefix":"ha","kind": "ha"}
,{"prefix":"ema3","length":3,"kind": "emahalow","close":"HA_HA_LOW"}
,{"prefix":"ema3","length":3,"kind": "emahahigh","close":"HA_HA_HIGH"}

is not working..

Thank You

[2021-07-28 13:22] phicha20224 commented on #358
i am sori , but it working . no problem. please delete this if annoying.
Thank You

[2021-07-28 13:22] #358 closed

[2021-07-28 18:50] #351 closed

[2021-07-28 19:48] nraposo1 commented on #356
I used the local patch method and it fixed the issue. Thanks for your help and time...

[2021-07-28 19:48] #356 closed

[2021-07-28 20:57] twopirllc commented on #356
@nraposo1,

No problem. Thanks for informing me. Funny enough, today is a new stable release _v0.3.14b_ and should correct the other TA Lib indicator attribute issues. Standard install:

[code]

Thanks,
KJ

[2021-07-28 20:59] twopirllc commented on #354
Hello @dnabb,

New stable version _v0.3.14b_ should help resolve this Issue. Please let me know otherwise.

[code]

Thanks,
KJ

[2021-07-28 21:23] twopirllc commented on #346
@dnabb,

New stable version _v0.3.14b_ should help resolve this Issue. Please let me know otherwise.
You can toggle ```talib``` mode if you have TA Lib also in your environment. See ```help(ta.macd)```.

[code]

Thanks,
KJ

[2021-07-28 21:24] #329 closed

[2021-07-28 21:25] twopirllc commented on #285
Hello @AlexandreBourrieau, @brandonculver, @dikien, @opsxcq, @peturssonstefan, @rushiai,

New stable version _v0.3.14b_ should help resolve this Issue. Please let me know otherwise.

[code]

Thanks,
KJ

[2021-07-28 21:27] twopirllc commented on #336
Hello @UlasTosun ,

New stable version _v0.3.14b_ ought to have this feature. Please let me know otherwise.

[code]

Thanks,
KJ

[2021-07-28 21:29] #327 closed

[2021-07-28 21:29] twopirllc commented on #330
Hello @bonusguy ,

New stable version _v0.3.14b_ should help resolve this Issue. Please let me know otherwise.

[code]

Thanks,
KJ

[2021-07-29 00:24] UlasTosun commented on #336
@twopirllc
Yes it has and works properly.
Thank you again!

[2021-07-29 16:07] #336 closed

[2021-07-29 17:14] twopirllc commented on #357
@maxmahbk,

### Correlation of TV and Pandas TA Supertrend Up/Down Trends
I used SPY Daily Data with over

[code]

#### Result
<img width="486" alt="Screen Shot 2021-07-29 at 9 46 15 AM" src="https://user-images.githubusercontent.com/18198392/127532129-fb282f0a-0035-4c09-9314-f416696cf41c.png">

<br/>

With well over 7000 data points and nearly 1-1 correlation for both Up and Down Trends, I feel t

[2021-07-29 17:41] maxmahbk commented on #357
My apologies for the delay after i update pandas_ta to lastest version it work correctly about signal. previously i try update many times but it not work so i stop update for 2-3 months

Thank you very much.

[2021-07-29 17:41] #357 closed

[2021-07-29 18:26] twopirllc commented on #357
@maxmahbk,

No worries. Glad it is resolved.

Thank you for the donation! ☕
KJ

[2021-07-30 16:26] m4rc3l-h3 opened #359 "Increasing using percent parameter while strict = False"
Hello,
first things first, thanks for the great work.
However, I think I encountered a probable issue, assuming I understood the function and its parameters correctly, with the function increasing when passing the precent argument while passing strict = False.

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
Version running: 0.3.14b0

**Upgrad

[2021-07-31 06:09] malakeel opened #360 "Live Trading and incremental indicator calculation"
During live trading, a new data row is received and appended to the existing one. Indicators needs to be evaluated again. For example, ta.sma with 200 periods has to be evaluated for all previous periods when only new candlestick data is added.

Is there a way to apply the indicator and evaluate only the new row ?

[2021-07-31 08:10] yeus opened #361 "Memory leak when download data using yfinance."
**Which version are you running? The lastest version is on Github. Pip is for major releases.**

0.3.14b0

**Describe the bug**
I think I found a potential memory leak (I am trying to run pandas-ta on a server on a regular basis). Whenever I download financial data memory consumption kept increasing quiet a bit.

I ran a test using "pympler" to research where in my code objects got created without

[2021-07-31 13:13] prRZ5F4LXZ opened #362 "Does ddof of stdev work?"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**

[code]

**Describe the bug**

See below

**To Reproduce**

[code]

Using the above code, I see dof has no effect on the result.

[code]

**Expected behavior**

I expect that ddof can affect the result.

**Screenshots**
NA

**Additional context**
NA

[2021-07-31 16:54] twopirllc commented on #362
Hello @prRZ5F4LXZ,

Do you have TA Lib installed in your environment? If so, you need to disable TA Lib using the argument ```talib=False```.

[code]

Kind Regards,
KJ

[2021-07-31 16:59] twopirllc commented on #360
Hello @malakeel,

Please see Issues#87 and #288 where this is discussed.

Kind Regards,
KJ

[2021-07-31 18:03] twopirllc commented on #359
Hello @m4rc3l-h3,

Thanks for using Pandas TA!

### Increasing/Decreasing

See Issue #278 about Increasing/Decreasing. In short, they are modeled after ```rising/falling``` in [TradingView's builtin functions](https://www.tradingview.com/pine-script-reference/v4/). [falling](https://www.tradingview.com/pine-script-reference/v4/#fun_falling) and [rising](https://www.tradingview.com/pine-script-refe

[2021-07-31 19:02] twopirllc commented on #346
Hello @dnabb,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-07-31 19:03] twopirllc commented on #330
Hello @bonusguy,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-07-31 19:04] twopirllc commented on #354
Hello @dnabb,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-07-31 19:36] twopirllc commented on #255
@drixie,

New stable version _v0.3.14b_ should help resolve this Issue. Please let me know otherwise.

You can toggle ```talib``` mode if you have TA Lib also in your environment, ```talib=True``` by default. See ```help(ta.linreg)```. However, in it's current situation ```ta.squeeze(lazybear=True)``` will run the ```talib``` version of ```ta.linreg``` if you have TA Lib also in your environment.

[2021-08-01 03:37] prRZ5F4LXZ commented on #362
It doesn't matter. Using talib, I still get the same results for different ddofs.

[2021-08-01 18:53] twopirllc commented on #361
Hello @yeus,

Interesting! We all hope our code doesn't have memory leaks. I hope it's not Pandas TA! 😎

Have you compared _yfinance_ yet vs _pandas-ta_? Pandas TA wraps _yfinance_ and returns the ```df``` and applies the ticker name ```df.name = ticker``` based on your arguments and no additional printing or verbosity. Not sure if applying the ticker name could be the extra strings not being clea

[2021-08-02 16:12] polakowo opened #363 "Output index differs from input index (stoch, td_seq)"
Hello @twopirllc,

upon releasing vectorbt v0.20 I noticed some pandas-ta tests failing. As you know, I previously created a simple parser to extract the meta of each pandas-ta indicator (it builds a dummy DataFrame with 50 random floating elements and passes it to pandas-ta to see what outputs to expect). The parser started to fail for some of the indicators:

[code]

I can't remember which ones

[2021-08-03 02:46] twopirllc commented on #363
Hello @polakowo,

Hmmm.... 🤔  Thanks bringing these to my attention! I was not aware that these were causing issues. Good to know.

I will investigate these and let you know what I find out. I now **ichimoku** is different from the rest since it returns two DataFrames. It's first DataFrame's index _should_ be inline with it's input index, but I will double check. I will try and fix the indicators

[2021-08-03 02:50] #330 closed

[2021-08-03 08:37] polakowo commented on #363
@twopirllc thank you, I will keep the things untouched for now.

Regarding `active_returns`: it has been renamed to `asset_returns` (but I'm not sure about 0.18.1), so now you have `value` and `returns` that take into account both assets and cash, and `asset_value` and `asset_returns` that take into account assets only. This naming is more intuitive in my opinion. Also, many methods based on retur

[2021-08-03 14:28] yeus commented on #361
Hi @twopirllc

no I haven't done any comparisons yet. For now I am downloading the data in my project in a separate process in order to mitigate the memory leak and then send it back to the main process. From the tables in pympler I suspect, that yfinance is the problem. I am not sure though ...  maybe it stores some lxml node (from the pympler table it might be an error log?) and then doesn't rel

[2021-08-03 17:39] twopirllc commented on #363
@polakowo,

Ahhh.. that's what it got renamed to. Thanks for the clarification.

Thanks again,
KJ

[2021-08-03 17:40] twopirllc commented on #361
Hello @yeus,

Thanks for the update. Keep me posted when you get a chance.

Thanks,
KJ

[2021-08-04 18:42] twopirllc commented on #363
@polakowo,

So I updated the some of the indicators above.

[code]

Running the method above yields:
[code]

I am unable to ascertain the results of the following _UserWarnings_, but I seemed to have cleared up the indexing issues.

The _development_ branch can be installed with:
[code]

Thanks,
KJ

[2021-08-04 18:43] twopirllc commented on #362
Hello @prRZ5F4LXZ,

This should be fixed now. If you can test it out on the _development_ branch and let me know, that would be great.

[code]

Thanks
KJ

[2021-08-04 18:44] twopirllc commented on #354
Hello @dnabb,

This should be fixed now. If you can test it out on the _development_ branch and let me know, that would be great.

[code]

Thanks
KJ

[2021-08-04 18:49] polakowo commented on #363
@twopirllc,

perfect, I'll look into the other two and maybe tweak the parser a bit. Thank you!

[2021-08-04 18:53] twopirllc commented on #194
Hello @rahulmr,

I have implemented Williams Alligator (**alligator**) and it's required Smoothed Moving Average (**smma**). However, I still have to look and attempt his Fractal indicator. If you can test it out on the _development_ branch and let me know, that would be great.

[code]

I apologize for the delay. I was hoping others might help, but that seems unlikely most of the time sadly.

Than

[2021-08-04 21:12] prRZ5F4LXZ commented on #362
Looks good. But is it better to use n-1 as the default ddof?

In R, n-1 is used for `sd()`, n is used for `var()`.

https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/sd

[2021-08-04 22:24] twopirllc commented on #362
@prRZ5F4LXZ,

Well, I chose to use _Pandas_' [**std**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html) and [**var**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.var.html) _ddof_ defaults of 1. Even _Numpy_ and _Statsmodels_ use a _ddof_ of 0 for **std** and **var** whereas _R_ is using _n_ and _n-1_. Perhaps **std** and **var** should be 0 instead so they

[2021-08-05 11:51] dnabb commented on #354
Hello @twopirllc ,

I can confirm the issue seems to be solved in 0.3.18b0.

[2021-08-05 15:12] #354 closed

[2021-08-05 15:13] #360 closed

[2021-08-06 04:01] twopirllc commented on #255
@drixie,

Actually I was a bit too early with v_0.3.14_ fixing the Issue. It should now be working correctly on the _development_ branch. If you want to check it out before I update the _main_ branch, it would be appreciated. Apologies for the mix up.

[code]

Also, I also did a correlation test versus TV's LazyBear's Squeeze.

[code]

Correlations for Squeeze and Linear Regression respectively:
<

[2021-08-06 16:42] Joy2489 commented on #349
Yes

[2021-08-07 02:55] AxelGUILLAUMET opened #364 "How to install pip install TA-Lib on normal Standard python for cdl_pattern?"
I saw to install pip install TA-Lib you need anaconda and I totally ignore how to use it.

Is there a way to install TA-Lib directly on normal Python?

[code]

I searched a bit, and I found this:

https://mrjbq7.github.io/ta-lib/install.html

But I get errors like this:
[code]

OK I Get it to work with this -> [afnhsn TA-Lib_x64](https://github.com/afnhsn/TA-Lib_x64)

[2021-08-07 03:32] twopirllc commented on #364
Hello @AxelGUILLAUMET,

So you resolved your own Issue?

Kind Regards,
KJ

[2021-08-07 04:12] AxelGUILLAUMET commented on #364
Yes I did, As you can see, TA-LIb is OLD and it's not X64. So I found this alternative project that adds compatibility to x64 -> https://github.com/afnhsn/TA-Lib_x64

And too, you have to install vs_buildtools to compile TA-Lib (respectly x86 and x64 versions) and normally it will work!

I hope sharing this info it will help more people with this type os issues!

[2021-08-07 04:12] #364 closed

[2021-08-07 15:31] twopirllc commented on #364
@AxelGUILLAUMET,

Excellent!

Thanks for sharing an installation resolution with Windows x64 with the help of [afnhsn TA-Lib_x64](https://github.com/afnhsn/TA-Lib_x64) as well as the need to install [VS Build Tools](https://visualstudio.microsoft.com/downloads/) to compile TA-Lib (respectly x86 and x64 versions).

I know TA Lib has stalled years ago and it's installation can be problematic for var

[2021-08-08 10:07] DrPaprikaa opened #365 "SSF indicator computation"
Hi @twopirllc,

I'm reviewing the computation of the [SSF](https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/overlap/ssf.py) indicator, and it behaves strangely at the begining of the input data.

Let's compute and plot the SSF with a length of 10, using :

[code]

![image](https://user-images.githubusercontent.com/64958936/128628052-1b9d9177-d97d-4db8-91cc-783508367ffa.png)
That's strang

[2021-08-08 17:09] twopirllc commented on #365
Hey @DrPaprikaa,

I see what you mean.

It doesn't error since it ```ssf``` is initialized earlier with ```ssf = close.copy()```.

Correct! Thanks for catching that mistake.

Until I update _main_, update your local copy of ```ssf```. 😅

[code]

Please let me know if this fix resolves your Issue in the interim.

Thanks,
KJ

[2021-08-09 10:13] DrPaprikaa commented on #365
Hey @twopirllc,

Yes `ssf` is initialized earlier with `ssf = close.copy()`, but aren't we iterating over negative indexes when `i<2` ? Meaning that, for example, `ssf.iloc[i-2]` is equivalent to `ssf.iloc[-2]` for `i=0` ?

Also I think that the fix is incorrect, let me explain.
Current behavior :
![image](https://user-images.githubusercontent.com/64958936/128689783-49ced733-8030-4235-829b-a891986

[2021-08-09 18:14] twopirllc commented on #365
@DrPaprikaa,

Yes, I noticed it also. Simple fix.

I also think ```ssf.iloc[:poles] = npNaN``` should be included, some sources are using ```0``` but that makes the plot odd if the chart starts at say 100 for example. What do you think?

KJ

[2021-08-09 18:16] twopirllc commented on #255
Hello @drixie,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-08-09 18:17] twopirllc commented on #362
Hello @prRZ5F4LXZ,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-08-09 20:48] reza1615 opened #366 "alma doesnt work with multi core processing"
when I run alma with different variables it doesn't work under multi processors. for the rest of the indicators, it is ok.

[2021-08-09 21:19] twopirllc commented on #366
Hello @reza1615,

Which Pandas TA version? Where is your minimal reproducible code?

Thanks,
KJ

[2021-08-09 21:29] reza1615 opened #367 "These algoritmns are extrimly slow"
These algorithms are slow and in my opinion, there is space for performance improvement
**Extremely slow**
- alma
- td_seq
- cg
- pwma
- cfo
- qqe
- inertia
- cti
- mcgd
- linreg

 **Slow**
- hilo
- psar
- supertrend
- ttm_trend
- vidya
- jma

[2021-08-09 21:35] reza1615 commented on #366
version 0.3.14b0

[code]

[2021-08-09 21:37] reza1615 commented on #367
version 0.3.14b0
[code]

[2021-08-09 22:21] twopirllc commented on #366
@reza1615,

Working code:
[code]
Where is your code supporting your claim "different variables it doesn't work under multi processors"?

<br/>

Second, you only need to set ```cores``` and ```ta_list``` once, not for each call of the _for_ loop.

Last if you only have a **few** indicators, naturally _multiprocessing_ will be slow since the OS has to spin up a processing pool prior to execution. So

[2021-08-09 22:23] reza1615 commented on #367
for alma i found https://stackoverflow.com/questions/46990098/arnaud-legoux-moving-average-and-numpy

[2021-08-11 05:21] reza1615 commented on #367
Here is the code and parquet file [df_file.txt](https://github.com/twopirllc/pandas-ta/files/6966000/df_file.txt) and timing on AMD Ryzen 9 5950X 16-core, 32-thread.
Also, I added SMA to have a better comparison. The rest of the indicators which I didn't list here according to run performance are almost the same as SMA (around 1-5 s).
I didn't continue to run "extremely slow"  indicators. After 8

[2021-08-11 05:47] reza1615 commented on #367
for the linereg the below library is a wrapper for TA-LIB based on Cython instead of SWIG. Maybe as an option, we can have these wrappers as high-performance codes.
https://mrjbq7.github.io/ta-lib/

[2021-08-11 11:17] DrPaprikaa commented on #365
Good point, but I think that we should include `ssf.iloc[:length] = npNaN` instead of `ssf.iloc[:poles] = npNaN` .

This is because the indicator cannot be defined for the indexes smaller than `length` : it has not enough data for `i < length`. But it should never be `ssf.iloc[:length] = 0`, which makes no sense imo.

So to sum up, the fix is made of 3 changes :

- `length > poles`
- `for i in ran

[2021-08-11 12:50] Harold-coder opened #368 "Smoothed Moving Average not available"
It would be great if we could have the Smoothed Moving Average because the 200 SMMA is the same as the 400 EMA so it takes less candles to analyze correctly.

[2021-08-11 14:58] twopirllc commented on #365
@DrPaprikaa,

Sounds good! No worries.
- ```length > poles```
- ```for i in range(poles, m)```
- ```ssf.iloc[:length] = npNaN```

KJ

[2021-08-11 17:38] twopirllc commented on #368
Hello @Harold-coder,

You are correct that it is currently not available via ```pip``` nor on the latest (_main_) branch. However it is on the _development_ branch if you want to check it out before I update the _main_ branch. The **smma** was a requirement for **alligator** indicator as requested in Issue #194.

[code]

Kind Regards,
KJ

[2021-08-11 18:15] twopirllc commented on #367
@reza1615,

Actually that has been completed for most TA Lib indicators. On the _main_ branch, [these](https://github.com/twopirllc/pandas-ta/search?q=if+Imports%5B%22talib%22%5D+and) are the TA Lib indicators that are currently wrapped. The **linreg** TA Lib adaption is on the _development_ branch if you want to test it out:

[code]

**However**, the TA Lib wrapper solution is **not** the solutio

[2021-08-11 18:16] #366 closed

[2021-08-11 18:19] Harold-coder commented on #368
Hey @twopirllc,

Thank you very much for the quick answer.
I will try it out.

Thanks for the great work, I really enjoy using pandas-ta.

[2021-08-11 20:12] reza1615 commented on #367
@twopirllc did you read https://github.com/twopirllc/pandas-ta/issues/367#issuecomment-896509585 ?

[2021-08-11 21:19] rengel8 commented on #350
@Squigglez2 Thank you very much for providing the function of the EBSW. That made it easy to look into it.

With the data, @twopirllc provided, I made a comparison between TradingView and the updated version, which is now very close (despite some bars 4 to 6 decimal places are identical) to TradingView.
TV offers a very fast pre-roll of only one bar probably with historical data under the hood. Th

[2021-08-11 22:11] twopirllc commented on #367
@reza1615,

Of course I read it . That is how I know you didn't provide the 4 timings that I clearly requested. Yet, you provided something else.

Anyhow, I will take them Issues in turn using the parquet data you provided.

[2021-08-11 23:39] reza1615 commented on #367
I sent you the full log of my run so you can simply compare these algorithm speed with each. The goal of this report is to show that these algorithms are slower that the rest algorithms.
So I did go off the topic

[2021-08-11 23:39] reza1615 commented on #367
I sent you the full log of my run so you can simply compare these algorithm speed with each. The goal of this report is to show that these algorithms are slower that the rest algorithms.
So I didnt go off the topic

[2021-08-12 18:29] LucianPopaLVP commented on #340
any fix to this issue? i have the same problem :(

[2021-08-13 17:16] twopirllc commented on #367
@reza1615,

### Pandas TA Indicator Performance

Since we are doing some indicators, might as do them all. Please screenshot the _DataFrame_ of  the performance results, like the first DataFrame below. Which is currently the _Slowest 10 Indicators_.

Be aware that this is not the correct nor best way to run your _Multiple Window Combinations_ strategy that you also included in your comment [here](

[2021-08-13 19:27] twopirllc commented on #367
@reza1615,

The ```df.ta.strategy()``` method was built so you did not have build your own loop executor. All you really have to do to use ```df.ta.strategy()``` is setup a _list_ of _dicts_ for the ```ta``` argument of ```ta.Strategy()``` as illustrated in the Pandas TA Strategies Section of the [README](https://github.com/twopirllc/pandas-ta#pandas-ta-strategies), like the "Custom" Strategy, and

[2021-08-13 20:26] twopirllc commented on #340
@LucianPopaLVP,

Which Pandas TA version are you running? It has already been silenced in version _0.3.14b_. If you are concating yourself, then you need to apply the _simplefilter_ for your situation.

As you know, it's under Pandas care so stay abreast with the discussion in Pandas Issue [42477](https://github.com/pandas-dev/pandas/issues/42477)

Kind Regards,
KJ

[2021-08-13 21:05] reza1615 commented on #367
Thank you for codes and explanations.

My system is
AMD Ryzer 9 5950X 16-core and   32 Threads, Ram 64 Os: Ubuntu 20.04

![image](https://user-images.githubusercontent.com/2202483/129417776-f3d8b502-16b9-4be4-9dfc-87eb6add251e.png)
![image](https://user-images.githubusercontent.com/2202483/129418065-66235a84-b780-4024-a8e2-2b17e8484645.png)

[2021-08-13 21:21] reza1615 commented on #367
In that comment i have two for loops in put the startegy in side the first one to have timing seperatly for each indicator. your multiple window solution shows timing for all indicatores in one shot.
Thank you for you codes.

[2021-08-13 22:37] twopirllc commented on #367
@reza1615,

No worries. I hope it is helpful.

Excellent! Thank you! Does the code provided help the processing speed of your chosen indicators and use cases?

Yes. The setup is the most important part to utilize the benefit of ```df.ta.strategy()```'s multiprocessing capabilities when you have a large set of indicators. Also depending on the number of indicators in a Strategy, you will have to de

[2021-08-14 04:55] reza1615 commented on #367
I found the issue. Alma and others for longer lengths like 1200 or 12000 are slower than shorter like 3-10. It seems some part of the algorithms which is related to the window defining is slow.

![image](https://user-images.githubusercontent.com/2202483/129434521-5557ad0e-88ed-4f7f-9a28-2930d31e183e.png)

[2021-08-14 08:15] reza1615 commented on #367
length = 10
![image](https://user-images.githubusercontent.com/2202483/129439480-2af6dfaa-772a-4f55-8702-a1f4b40367d7.png)

length = 1000
![image](https://user-images.githubusercontent.com/2202483/129439212-dd82b914-a3cc-43b5-8b28-61509296c6ee.png)

length = 2000
* **fwma** shows error
* **alma** was so slow I excluded
![image](https://user-images.githubusercontent.com/2202483/129439744-00a3cc98-8

[2021-08-14 14:25] twopirllc commented on #367
@reza1615,

That goes without saying. Longer lengths require long processing times in comparison to shorter lengths.  Furthermore, what use is an indicator length greater than 500 anyhow? I would like to see convincing evidence that 1,200 or 12,000 or even 12,000,000 length indicators provide significant value to the humongous AI/ML matrices that you planning to push it through.

Additionally some

[2021-08-14 14:33] twopirllc commented on #367
I am trying to fix **alma**. Also you do realize that **fwma** calculates the Fibonacci numbers up to it's length... so obviously it will error out at some point and Sterling's calculation will not help either.

Furthermore I fail to see how indicators with lengths greater than 500 are useful. If you have evidence to the contrary, I would like proof.

KJ

[2021-08-14 16:17] reza1615 commented on #367
I created a grid search fi all indicators between 2-16000 length and selected the useful features. the feature selector chose many features that are more than 8000
almost 10% of features have length more than 8000

[2021-08-14 16:41] twopirllc commented on #367
Are these 10% of features with lengths greater than 8000 consistent among different tickers/symbols? Or do you have to consistently grid search per ticker to mine these 10%? If that's the case, this Kitchen Sink approach is very costly and overkill in my opinion. But if it's profitable for you 🍀.

Of course combos of short, medium, and long lengths are necessary. That goes without saying.

I know,

[2021-08-14 16:42] #368 closed

[2021-08-14 16:42] #362 closed

[2021-08-14 16:43] #361 closed

[2021-08-14 16:44] #333 closed

[2021-08-14 16:44] #255 closed

[2021-08-14 18:13] reza1615 commented on #367
comparing to just having some combination of features kitchen sink had
Round 10-20% improvements in F1 score of my model.
As you said it is costly and seeking for less costly approach. do you have
any combination suggestion?

On Sat., Aug. 14, 2021, 12:41 p.m. Kevin Johnson, ***@***.***>
wrote:

[2021-08-14 18:17] reza1615 commented on #367
I just tested on a ticker.
I expanded the kitchen sink 😅 to close, volume, high, low ,.. and used these indicators for all prices of the candles.
It was processing 400Gig features.

[2021-08-14 18:36] reza1615 commented on #367
Hi Kevin,
If you are interested we can discuss about actual work and auto trade bots

On Sat., Aug. 14, 2021, 10:25 a.m. Kevin Johnson, ***@***.***>
wrote:

[2021-08-14 19:42] kishorechandran41 opened #372 "ValueError: cannot reindex from a duplicate axis on ta.macd"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
I am running on ta version 0.3.14b0.

**Describe the bug**
I am very new to python and also the package so I am not sure if I am doing anything wrong so please treat this as a question if not a bug.

I am reading a dataset which has the historic data of a stock, and I am trying to compute Moving Average

[2021-08-14 20:24] twopirllc commented on #372
Hello @kishorechandran41,

No worries. Pandas has two basic objects: _Series_ and _DataFrame_. A _Series_ is one column and a _DataFrame_ has one or more columns. Some indicators in Pandas TA return a _Series_, like ```ta.ema```, and others return a _DataFrame_, like ```ta.macd```. To know beforehand whether an indicator returns a _Series_ or a _DataFrame_, check ```help(ta.macd)```

<br/>

Since

[2021-08-15 03:20] kishorechandran41 commented on #372
@twopirllc I tried both the above methods, I still get the same error, but still your comment was helpfull for few other parameters like ta.trix, where I used below code and it worked.

`historic_df[['TRIX', 'TRIX_signal']] = ta.trix(historic_df.Close) `

For ta.macd, ta.stoch and ta.mfi I still face the same issue.

[2021-08-15 03:40] kishorechandran41 commented on #372
Do note the ValueError that I got for trix and things was
`ValueError: Wrong number of items passed 2, placement implies 1`
which I resolved with the soluction that you gave.

The ValueError that I get for ta.macd, ta.stoch and ta.mfi is,
`ValueError: cannot reindex from a duplicate axis`
which I am not able to resolve.

[2021-08-15 08:02] UncleVasya opened #373 "ALMA output is vastly different from other charting software"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
`0.3.14b0`

**Describe the bug**
Current implementation of ALMA produces vastly different results than built-in alma indicator on TradingView.

**To Reproduce**
[code]
**Expected behavior**
I expect for plotted output of alma indicator to match alma plots of other charting software.

**Screenshots**

![

[2021-08-15 14:51] twopirllc commented on #372
@kishorechandran41,

Do you happen to have _TA Lib_ and _yfinance_ installed in your environment?

Have you tried the code in the [Quick Start](https://github.com/twopirllc/pandas-ta#quick-start)? Here is the modified version:

[code]

Keep me posted.

Thanks,
KJ

[2021-08-15 14:53] twopirllc commented on #373
Hello @UncleVasya,

Yeah. Not only is it a correlation issue with other libraries and platforms, it also has a performance issue that I am trying to fix. Thanks for the PR #374 and contribution. 😎

Kind Regards,
KJ

[2021-08-15 15:23] twopirllc commented on #367
@reza1615,

You should have a minimum of two models. A baseline model that has the standard defaults, since most people do not understand TA indicators _and_ the math behind them. It gives you an idea of what the mainstream individual sees. It may also be useful to contrast against non-standard values you find from your Kitchen Sink.

For example like the _Common Strategy_ (below) that is frequent

[2021-08-15 15:58] reza1615 commented on #367
Yes, I created the below columns and generated all indicators by grid search on the below columns for the close argument and different lengths and std,....
* original data: close
* diff data: high-low
* diff with last data: close.shift(1)- close
* ...
For the indicators which get high, low, close, open (more than the close argument for price) I didn't touch them.
This kitchen sink was just for cas

[2021-08-15 16:04] reza1615 commented on #367
I created the baseline and Its F1 was 0.3 after that kitchen sink and feature selection the F1 became 0.55 with cross-validation but this feature selection seems over-fitted on the current dataset after getting a new dataset with 1-2 days lag, the features selections performance goes down.
It means every day I should do this kitchen sink which is not possible. I wish I could find a good combinatio

[2021-08-15 18:14] kishorechandran41 commented on #372
@twopirllc I do not use yfinance, since I deal with Indian market, I encountered the same error with both `df.ta.macd(append=True)  # TA Lib version` and `df.ta.macd(talib=False, append=True)  # Pandas TA version`

[2021-08-15 19:34] twopirllc commented on #372
@kishorechandran41

Post a testable copy of your _csv_ then please.

Thanks,
KJ

[2021-08-16 01:46] twopirllc commented on #365
Hey @DrPaprikaa,

Thanks for you patience. I have a working version, I think, on the _development_ branch if you want to test it out first.

[code]

Thanks,
KJ

[2021-08-16 01:47] twopirllc commented on #373
Hey @UncleVasya,

I have an update **alma** on the _development_ branch if you want to test it out first. It should be quicker also.

[code]

Thanks,
KJ

[2021-08-16 01:48] twopirllc commented on #367
Hey @reza1615,

I have a quicker **alma** on the _development_ branch if you want to test it out first.

[code]

Thanks,
KJ

[2021-08-16 04:02] UncleVasya commented on #373
I tested your version. It is both correct and amazingly fast. Nice one!

Compared it with another version on 50k candles:
[code]

[code]

This now must be the best open source implementation of alma out there.

[2021-08-16 11:49] AGG2017 commented on #303
This is my initial version of this indicator. I'm very new to pandas_ta (just 2 days of using it) and I'm sure it can be improved further with people with more experience here. It is a version that can be directly used in the custom folder `momentum`. I had hard time to get the exact result like in TradingView due to the RMI different version used in TradingView but now you will have exactly the s

[2021-08-16 15:28] twopirllc commented on #373
@UncleVasya,

Thanks! It is definitely faster. It is only slightly off from TradingView's but still greater than 99% correlated with it.

KJ

[2021-08-16 15:34] twopirllc commented on #303
Hello @AGG2017,

Cool! 😎  Thanks for contributing and giving it a shot. I will incorporate it into Pandas TA as soon as I can. I will keep you posted.

Thanks,
KJ

[2021-08-16 18:48] kishorechandran41 commented on #372
[TATASTEEL.csv](https://github.com/twopirllc/pandas-ta/files/6994668/TATASTEEL.csv)
[20MICRONS.csv](https://github.com/twopirllc/pandas-ta/files/6994670/20MICRONS.csv)
@twopirllc you can use any of the attached files.

Thanks,
Kishore Chandran

[2021-08-17 01:22] twopirllc commented on #372
Hello @kishorechandran41,

Well it appears that you have unclean data. Data Analysis 101 is to clean your data. In your case, at least with _TATASTEEL.csv_, you have multiple symbols that you have to split from the _csv_ and duplicate rows which are creating your _ValueError_. (I did not test _20MICRONS.csv_.)

Here is some working code:
[code]

Hope this helps! Please let me know how it turns out

[2021-08-18 05:13] xmatthias commented on #367
@twopirllc sorry to chip in here (hope it's not too much off-topic) ... are there any plans (or reasons not to) use cython for certain indicators?

Some indicators (e.g. Supertrend) (have to) use loops to iterate through the whole dataframe, as the calculation of "current row" uses the output of the same calculation for "previous row".

obviously, starting with a certain candle size, performance i

[2021-08-18 16:41] twopirllc commented on #367
Hello @xmatthias,

No worries. Do you have indicators in mind that need a Cython implementation? Also Pandas TA has wrapped most of TA-Lib indicators if they have it installed in their environment.

I could at some point, I just don't know when. 🤷🏼‍♂️

True

Would've been nice.

KJ

[2021-08-18 17:52] xmatthias commented on #367
From memory (and looking at the list above, i'd say supertrend and vidya) - but in theory every indicator which can't be calculated in a vectorized manner would/should be a candidate for this.

Obviously it'd be pointless for SMA or other "easy to calculate" indicators (indicators where the calculation can be vectorized).

[2021-08-18 18:17] krazykoder opened #375 "GPU integration with cuDF"
Hello @twopirllc
I have been an ardent user of pandas-ta library for over 2 years, and i really appreciate your work and the work of all open source contributors to this project.

Recently I have been trying to write some computation code on GPU for ranking and sorting operation using cuda Dataframes.
https://github.com/rapidsai/cudf/

Seems like a lot of compute can be accelerated using GPU. Howe

[2021-08-18 18:45] twopirllc commented on #367
@xmatthias

Same. I don't know either.

Right. It's something to consider. Plus there is (recent) GPU interest #375 with cuDF.

[2021-08-18 19:10] xmatthias commented on #367
I'd evaluate that VERY closely if it's worth the effort (both to implement and maintain).
Considering that most users will probably not work with "very huge" dataframes (10s of millions of lines) - i'm not sure if gpu will give the boost people hope for.

The library would become rather difficult to install (think ta-lib - but potentially worse as you'll have to have the right Grafics card drivers

[2021-08-18 22:27] twopirllc commented on #367
@xmatthias,

Considering that most users will probably not work with "very huge" dataframes (10s of millions of lines) - i'm not sure if gpu will give the boost people hope for.

Thanks for the insight.

Good point. That's what I was thinking as well.

Good idea. Pretty sure I don't want a combined library but perhaps an independent addon.

Thanks for the insight
KJ

[2021-08-19 13:51] GhostusSK opened #376 "Stochastic indicator is shifted"
pandas version: 0.3.14b0

When I compared the output of the stoch indicator with TradingView the output(k and d line) of the stoch indicator is shifted to the left.

I think that the problem is caused with those two lines:
[code]

When I changed those lines like this(I removed the loc), the output of the stochastic indicator was correct:
[code]

I attached 3 images:
- one from tradingView
<img wid

[2021-08-19 17:57] twopirllc commented on #376
Hello @GhostusSK,

Thanks for looking into this. While visual analysis is a good smell test, numerical results are much easier to verify and check for correlation.

Also the minimum bar of Pandas TA testing is _TA Lib_, which **stoch** and **stochrsi** have 99.99% and 100% correlation respectively. And in the unittests for **stoch** and **stochrsi**, I have a comment reminding me that they are TV

[2021-08-19 18:19] twopirllc commented on #375
Hello @krazykoder,

Great! Thanks!

Yes, it is harder than it appears. Especially with all the variations of an indicator depending on the platform or library they use. Users demand speed and consistency and that has and will be a frequent software management issue for a Technical Analysis Library; like I am experiencing now.

Not likely in the near future. 😞

As discussed with [xmatthias](https:/

[2021-08-19 21:05] saif-ellafi commented on #352
Hi, just to add to the stats, I am getting the same error. Will check over their repository too.

[2021-08-20 15:26] twopirllc commented on #352
@saif-ellafi,

Yeah it's weird that it happens.

[2021-08-20 21:14] twopirllc commented on #372
Hello @kishorechandran41,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-08-20 23:36] twopirllc commented on #376
Hello @GhostusSK,

Ok, found some time to do a correlation test and some equivalent row prints.

Here is the raw data I exported from TV prior to running Pandas TA **stoch** and **stochrsi** indicators that I have include below: [SPY_D_STOCH_STOCHRSI.csv](https://github.com/twopirllc/pandas-ta/files/7024450/SPY_D_STOCH_STOCHRSI.csv)

### Imports and Settings
[code]

### Pandas TA and TV: STOCH(14,

[2021-08-22 19:33] Ylelmon opened #377 "ARRTIBUTEERROR : “none type” object has no attribute “ta”"
How can I fix it ?

[2021-08-22 19:36] twopirllc commented on #377
@Ylelmon,

You **need** to provide more information than that. Preferably the code that causes that. Including Pandas TA version as previously requested. Imports used et al.

Kind Regards,

[2021-08-22 19:46] Ylelmon commented on #377
import get_data as gd
import pandas as pd
import pandas_ta as ta
import mplfinance as mpf
import time
import numpy as np

ticker = "XLMUSDT"
interval = "15m"
depth = "720 hours ago UTC+1"

df = gd.get_klines(ticker, interval, depth)
df_analyse = pd.DataFrame()

data = df.ta.wma(close = df["Close"], length=20)
df["wma_20"] = data
df["signals_buy"] = np.nan
df["signals_sell"] = np.nan

buy = 0
for i

[2021-08-22 21:08] twopirllc commented on #377
@Ylelmon,

Please post the stack trace.

Thanks,
KJ

[2021-08-22 22:08] #372 closed

[2021-08-23 09:04] Ylelmon commented on #377
Traceback (most recent call last):
  File "c:/Users/DELL/Desktop/bot/indicator.py", line 28, in <module>
    data=df.ta.vwap(high=df['High'], low=df['Low'], close=df['Close'], volume= df['Volume'], anchor=None, offset=None, )
AttributeError: 'NoneType' object has no attribute 'ta'

[2021-08-23 09:13] Ylelmon commented on #377
Traceback (most recent call last):
  File "c:/Users/DELL/Desktop/bot/indicator.py", line 28, in <module>
    data=df.ta.vwap(high=df['High'], low=df['Low'], close=df['Close'], volume= df['Volume'], anchor=None, offset=None, )
AttributeError: 'NoneType' object has no attribute 'ta'

[2021-08-23 15:10] twopirllc commented on #377
@Ylelmon,

Your traceback does not match your code. You are not even using ```df.ta.vwap()``` in the code you originally provided.

However, ```ARRTIBUTEERROR : “none type” object has no attribute “ta”``` means that your Pandas DataFrame is of type ```None``` meaning you have **no** data in the DataFrame and Pandas TA can not access it's data (rows & columns) to process ```df.ta.wma()```. Make sur

[2021-08-23 17:32] twopirllc commented on #376
Hello @GhostusSK,

I assume by no response that the provided details were sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-08-23 18:53] Ylelmon opened #378 "How to calculate indicator"
If I wrote help(ta.inductor)

It will print calculations of the indicator but how do I apply the calculations  in the dataframe ?

[2021-08-23 19:33] GhostusSK commented on #376
Hi @twopirllc,

sorry for late response, but I was busy last week. I believe you, that your implementation of TA passes the test, but those two lines doesn't give me a sense:

stoch_k = ma(mamode, stoch.loc[stoch.first_valid_index():,], length=smooth_k)
stoch_d = ma(mamode, stoch_k.loc[stoch_k.first_valid_index():,], length=d)

Imagine that you have 1000 candles and imagine that the first_valid_in

[2021-08-23 20:19] #378 closed

[2021-08-23 20:21] twopirllc commented on #378
@Ylelmon?

[2021-08-23 22:03] twopirllc commented on #376
@GhostusSK,

No worries. It happens to us all.

Yes, **stoch**'s first ``` k - 1``` values will be ```Nan``` and the remaining are not ```NaN```.

No. It doesn't cause a shift in ```stoch```, _first_valid_index()_ is a fancy selector that returns a subset of the data. It's quicker to perform calculations on a smaller set than a larger set. ```stoch_k``` and ```stoch_d``` are shifted because they a

[2021-08-23 22:04] twopirllc commented on #377
@Ylelmon,

So have you ran the code I posted above with the last ```print(f"df[{type}:{df.shape}\n{df}")``` that I requested? What are it's values?

KJ

[2021-08-23 22:08] twopirllc commented on #378
@Ylelmon,

Yes, you can merge two indicators or chain or compose them. You can even [create your own indicator](https://github.com/twopirllc/pandas-ta/issues/355) which does that and add it to the library or your forked copy of the library.

What indicators were you attempting to merge? Please be detailed.

Thanks,
KJ

[2021-08-23 22:15] Ylelmon commented on #377
Yes the value is <class "type">(96,10)
By the way gd is another file in my folder

[2021-08-23 23:26] twopirllc commented on #377
@Ylelmon,

If the shape is (96,10), then where is the rest of the DataFrame print out?

It is rather _difficult_ to assist you when you do not provide enough details or purposefully omit them.

[2021-08-24 04:52] Ylelmon commented on #377
Sorry but I'm not purposefully omit them. And that all data I got do want to see the code ?

[2021-08-24 05:52] Ylelmon commented on #377
client = Client(api_key=Pkey, api_secret=Skey)
tickers ='BTCUSDT'
interval=Client.KLINE_INTERVAL_5MINUTE
depth = "8 Hours ago UTC+3"
for ticker in tickers :
    def pulldate(tickers , interval , depth):
            Cdate = client.get_historical_klines(tickers, interval, depth)
            print (Cdate)
            df =pd.DataFrame(Cdate)
            print(df)
            if not df.empty :

[2021-08-24 05:54] Ylelmon commented on #377
this is new code and the value df[<class 'pandas.core.frame.DataFrame'>:(96, 10)

[2021-08-24 13:53] Ylelmon commented on #378
Zscore and Vwap

[2021-08-24 15:26] twopirllc commented on #378
@Ylelmon,

To clarify, you want the **zscore** of **vwap**?

If so, here is a basic outline.

[code]

Hope this helps!

Kind Regards,
KJ

[2021-08-24 15:48] twopirllc commented on #377
@Ylelmon,

I am unable to access binance for some reason today. Can you please upload a sample csv of one of the tickers with the necessary columns?

Thanks,
KJ

[2021-08-24 17:58] Ylelmon commented on #378
Yoooh thx

[2021-08-24 18:00] Ylelmon commented on #377
Okay no I can't because if do that the value will be none type” object has no attribute “ta”

[2021-08-24 20:43] twopirllc commented on #377
@Ylelmon,

Apparently you were able to.

And you can save the the data to csv like so:
[code]

Thanks,
KJ

[2021-08-24 21:42] Ylelmon commented on #377
Oh god think u

[2021-08-24 21:54] Ylelmon commented on #377
[BTCUSDT.csv](https://github.com/twopirllc/pandas-ta/files/7042319/BTCUSDT.csv)

[2021-08-26 16:14] bibinvargheset opened #380 "How can we use this from real time ?"
Can we generate only the last value and generate a scanner from this ?, as historic values and indicator values will be already available.

if possible how can do that?
Is there an example for checking for new signal changes for a wide range of symbols periodically with minimal delay for calculation?

[2021-08-29 16:35] Squigglez2 commented on #350
Has the code been updated for this then?

[2021-08-29 17:15] twopirllc commented on #350
Hello @Squigglez2,

Please test the updated version using by installing the _development_ branch and let us know if it is working better.

[code]

Kind Regards,
KJ

[2021-08-29 17:15] #376 closed

[2021-08-29 17:16] #375 closed

[2021-08-31 05:37] slhawk98 opened #381 "VWAP that matched values of TradingView VWAP indicator (anchor)"
Running
python: 3.8.5
pandas_ta version: 0.3.14b0

Description:
Trying to get VWAP that matched values of TradingView indicator at this link.
https://www.tradingview.com/support/solutions/43000502018-volume-weighted-average-price-vwap/

I think the key to matching this TradingView indicator is its "Anchor Setting", default is "session".

I want pandas_ta VWAP that matches TradingView indicator 30

[2021-08-31 17:26] twopirllc commented on #381
Hello @slhawk98,

I see

Neither am I at this point.

That is correct. However it either does not allow other minute frequencies such as 5min, 30min, et al or I do not know where to find the example code to make it happen. It may take some digging.

Also, the ```offset``` in the following code does not make the ```anchor`` set to 30 mins. As it says in ```help(ta.vwap)``` _and_ the rest of the ind

[2021-09-01 03:38] twopirllc commented on #381
Hello @slhawk98,

So I tested the exported TV data at 30min timeframe _and_ Pandas TA **vwap** does work as intended. Before applying **vwap**, your data must be in the desired timeframe (30 mins in your case). In fact there is 100% (1-1) correlation of Pandas TA's **vwap** with TV's **vwap**.

Here is the  [TV SPY 30min VWAP.csv](https://github.com/twopirllc/pandas-ta/files/7088060/TV_SPY_30min_V

[2021-09-01 18:32] reza1615 opened #382 "Arms Index (TRIN)"
Hi, Would you please add Arms Index (TRIN) as an indicator?
* [definition is here](https://www.investopedia.com/terms/a/arms.asp)
* [python code](https://blog.quantinsti.com/trin/)

[2021-09-01 18:40] reza1615 opened #383 "I couldn't find DMI in ADX code"
Hi, How can i get +DMI and -DMI. It is mentioned in the ADX description but i couldn't find it in the code.

[2021-09-01 19:12] Ylelmon opened #384 "vwap"
How to have different vwap with different inputs ?

[2021-09-02 01:55] twopirllc commented on #384
Hello @Ylelmon,

There are four required inputs as described in ```help(ta.vwap)```. What do you want to input or replace? The more specific you are, the better I can help you.

Kind Regards,
KJ

[2021-09-02 03:43] twopirllc commented on #382
@reza1615,

Sure. Currently I do not have implementation time. So hopefully someone is willing to help making a PR and contribute.

Kind Regards,
KJ

[2021-09-02 04:01] twopirllc commented on #383
Hello @reza1615,

So **adx** returns a DataFrame with three columns, ADX, DMP, and DMN.

There are three [Programming Convetions](https://github.com/twopirllc/pandas-ta#programming-conventions). Here are two easy ways.

### Standard Convention
The classic way like TA Lib.
[code]

Remember indicators can return either a Pandas Series or DataFrame.

Hope this helps. Let me know otherwise.

Kind Rega

[2021-09-02 10:10] ramgarg102 commented on #382
Hi @twopirllc , can I take up this issue. @reza1615, could you just tell me under which category Arms Index (TRIN) indicator comes?
![image](https://user-images.githubusercontent.com/47526387/131825788-482462a4-9d37-4c4b-b61d-6fca6bd638e5.png)

[2021-09-02 10:48] hosseinghafarian opened #385 "Stochastic Rsi is very different from trading view values (again without proof)"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Describe the bug**
I ran a simple call to stochastic rsi with the same parameters 14,14,3,3. The result are much different from Tradingview values.

**To Reproduce**
      dt = ta.stochrsi(df['Close'], length=14, rsi_length=14, k=3, d=3)

        df['momentum_stoch_rsi_d']

[2021-09-02 11:32] reza1615 commented on #382
Base on the definition page. it is a overal market sentiment.
In my opinion it should be under performance or momentum like rsi it shows overbought

[2021-09-02 15:19] twopirllc commented on #385
Hello @hosseinghafarian,

There are three versions of the package listed on the README. Which are you using (that was originally requested)? Furthermore how do I know if you could have an older version or not? 🤷🏼‍♂️

If you are running an earlier version, then upgrade.

[code]

<br/>

In the future, as mentioned in the [README](https://github.com/twopirllc/pandas-ta#issues-and-contributions), plea

[2021-09-02 15:19] #385 closed

[2021-09-02 16:55] twopirllc commented on #384
@Ylelmon,

What is input?

I think I understand that:

cumulativeVolume1 = sum(volume, cumulativePeriod1)
vwapValue1 = tpv/ cumulativeVolume1

depends on _cumulativePeriod1_ above. But I still do not understand what you are trying to achieve.

<br/><br/>

Since **vwap** has four different inputs: ```high, low, close, volume```, you can replace one of them or any combination of them but you have to

[2021-09-02 16:57] Ylelmon commented on #384
Okay now I got thx

[2021-09-02 17:36] twopirllc commented on #382
Hello @reza1615 and @ramgarg102,

After double checking **trin**, it is classified as a Market Sentiment or Comparative Analysis indicator just like the Price Relative Indicator in Issue #161. It is more of "macro" indicator that utilizes two or more symbols/tickers and thus can not be included as a DataFrame Extension indicator like all the others ```df.ta.sma()```, ```df.ta.sma()```, et al. All

[2021-09-02 17:51] twopirllc commented on #381
Hello @slhawk98,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-09-02 18:38] ramgarg102 commented on #382
Hello @twopirllc

Why would the users need to manually use `pd.concat()` if they can use (suppose we add **Trin**) `df.ta.trin(append=True)`?

Does **Trin** being dependent on other indicators has something to do with it?

[2021-09-02 19:21] twopirllc commented on #382
@ramgarg102

No.

Well a Pandas TA DataFrame is _meant_ to represent a single ticker/symbol whereas **trin** depends on a basket of symbols as I described in my previous comment. TRIN typically aggregates all 500 symbols of the S&P 500 index or 50 for the Nifty 50, as detailed in the Quantinsti [python code](https://blog.quantinsti.com/trin/).

So in my mind it makes sense to exclude as a DataFram

[2021-09-02 20:12] Ylelmon commented on #384
df = # your ohlcv data

# Default anchor is D for Daily
vwapc = ta.vwap(df.close, df.close, df.close, df.volume, anchor="D") # Default

That one veal I'm trying to put multiple vwap in the chart and every vwap had different periods like this  ![image](https://user-images.githubusercontent.com/42420576/131909628-0c7f00c9-7403-4a63-b54d-213b21fd57b7.jpeg)

[2021-09-02 20:15] ramgarg102 commented on #382
So, finally what to do?

[2021-09-02 21:13] twopirllc commented on #382
@ramgarg102,

Either implement it, wait for it to be implemented, or implement in your own forked repo. Up to you.

KJ

[2021-09-02 21:17] twopirllc commented on #384
@Ylelmon,

Are you sure that is **vwap**? If so, what is the source (where the image is from)? Are you sure you do not mean **vwma**, which uses defined periods?

**Note:** **vwma** is not **vwap**. For more info:

[code]

KJ

[2021-09-02 21:21] Ylelmon commented on #384
I'm sure it is vwap and the picture from TradingView

That the code

typicalPrice = (high + low + close) / 3
typicalPriceVolume = typicalPrice * volume

cumulativePeriod1 = input(210, "Period")
cumulativeTypicalPriceVolume1 = sum(typicalPriceVolume, cumulativePeriod1)
cumulativeVolume1 = sum(volume, cumulativePeriod1)
vwapValue1 = cumulativeTypicalPriceVolume1 / cumulativeVolume1
plot(vwapValue1,t

[2021-09-02 21:39] Ylelmon commented on #384
![image](https://user-images.githubusercontent.com/42420576/131919776-74f6e4b2-c408-46ab-aa25-8884577da9cf.png)

That what it look like in the chart

[2021-09-02 21:40] Ylelmon commented on #384
![image](https://user-images.githubusercontent.com/42420576/131919905-b4256650-fa56-4cc0-999f-6b6760109724.jpeg)
That what look like in chart

[2021-09-02 21:42] Ylelmon commented on #384
![image](https://user-images.githubusercontent.com/42420576/131920105-c1088c68-7e8f-4ab0-9e10-411e692ea3df.jpeg)that what look like in chart

[2021-09-02 21:52] twopirllc commented on #384
@Ylelmon,

Ahhhh... so https://github.com/twopirllc/pandas-ta/issues/384#issuecomment-912066556 is a TV Pinescript indicator. Please provide an html link to the source.

Thanks,
KJ

[2021-09-02 22:06] Ylelmon commented on #384
HTML u mean the web ? If that it tradingview

[2021-09-02 22:11] twopirllc commented on #384
@Ylelmon,

Whose code is it?

<img width="537" alt="Screen Shot 2021-09-02 at 3 08 50 PM" src="https://user-images.githubusercontent.com/18198392/131922887-7da06c3e-b66a-44ef-a469-9945084608a0.png">
<img width="538" alt="Screen Shot 2021-09-02 at 3 10 16 PM" src="https://user-images.githubusercontent.com/18198392/131922888-692ec7a0-a884-450f-a594-eddb2f2fe4e0.png">
<img width="531" alt="Screen Sho

[2021-09-02 22:26] Ylelmon commented on #384
You can't find it if u search it in tradingview it files someone code it and u just copy and pasted in the pin scrip

[2021-09-02 22:28] Ylelmon commented on #384
I already sent to u

[2021-09-02 22:30] twopirllc commented on #384
@Ylelmon,

Those are all the public TV **vwap**s. You **must** have used one of them. If you are unable to identify which one you used, then I can not help you until you figure it out.

[2021-09-02 22:36] Ylelmon commented on #384
It in my script and u can't search it in tradingview but thx for try to help

[2021-09-02 22:51] twopirllc commented on #384
@Ylelmon,

Ok. To be clear, it's **not** the same as TV's builtin _nor_ Pandas TA's **vwap**.

[2021-09-03 01:51] slhawk98 commented on #68
Hey!
Looks like pandas_ta adx results matches Tradingview code at this link
https://www.tradingview.com/script/v4xHOAfK-ADX-and-DI-Average-Directional-Index-CORRECT-FORMULA/

[2021-09-03 02:23] #384 closed

[2021-09-03 03:14] twopirllc commented on #68
@slhawk98,

What does that even mean?

[2021-09-03 11:38] slhawk98 commented on #68
The comments from this Tradingview version of the indicator are listed below. Notice the words "-CORRECT-FORMULA" in the title.

I have an ADX trading strategy I which to automate via python.
What this means for me?
Values returned by PANDAS_TA ADX are plotted correctly on the Tradingview chart. This will allow me to manual back test my strategy to see were it need tweaked.

In my opinion, there i

[2021-09-03 14:09] AGG2017 commented on #68
I think the difference comes from the RMA function. I did 100% copy of the TV RMA in my OSCAR implementation and the result was exactly what was shown at TV.

[2021-09-03 17:07] twopirllc commented on #68
@slhawk98

Thanks for elaborating in https://github.com/twopirllc/pandas-ta/issues/68#issuecomment-912472551. Makes more sense.

Also in Pandas TA's **adx** (```help(ta.adx)```), you can change the ma of **adx**. It's default is ```rma```.

[code]

Good luck!
KJ

[2021-09-03 17:14] enoch-prince opened #386 "UnboundLocalError: local variable 'df' referenced before assignment"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
    I'm running version 0.3.14b0

**Description of the bug**
I keep getting an UnboundedLocalError saying  local variable 'df' referenced before assignment. The piece of code is below:

**To Reproduce**
[code]

**Expected behavior**
I expected to get a dataframe object with a 3 month historical d

[2021-09-03 17:34] twopirllc commented on #386
Hello @enoch-prince,

Weird! I am running running ```yfinance==0.1.63```, what about you?

Thanks,
KJ

[2021-09-03 18:18] enoch-prince commented on #386
Hi @twopirllc ,

I'm running the same version of yfinance.

Many thanks for your consideration.
Enoch Prince

[2021-09-03 18:31] twopirllc commented on #386
@enoch-prince,

Could you add an empty DataFrame on line https://github.com/twopirllc/pandas-ta/blob/bc3b292bf1cc1d5f2aba50bb750a75209d655b37/pandas_ta/utils/data/yahoofinance.py#L90 in your local copy of Pandas TA?

<br/>

Please edit ```/pandas_ta/utils/data/yahoofinance.py``` :
[code]

Does that take care of the ```UnboundLocalError```? If it is still not loading data, it may be a ```yfinance``

[2021-09-03 20:12] slhawk98 commented on #381
Sorry for late response. Let me see if I can duplicate your TV SPY results.
I also saw this suggestion. I will try both. Thanks

vwap = df.ta.vwap(anchor="30T", append=True) # for 30 mins

[2021-09-03 20:46] slhawk98 commented on #381
I was able to replicate matching results using your data (TV SPY 30min VWAP.csv) and code above.
It's possible my time series was not set correctly. I also see you used anchor="D" (default), with 30m data. Makes since.
I will attempt on BTCUSDT and let you know the results. Thanks

[2021-09-03 21:29] slhawk98 commented on #381
Results did not match with BTCUSDT, ETHUSDT or AAVEUSDT (Binance API Data, 30 minute candles)
I also tried MSFT data from yfinance API , which did not match.

Both our indexes results are of type string (<class 'str'>) but the SPY date appear to be delta format. Could that make a difference? Could there be a difference with API data?

2021-08-24 07:30:00 (BTCUSDT example )
2021-06-04 14:00:00+00:0

[2021-09-03 21:52] twopirllc commented on #381
I also saw this suggestion. I will try both. Thanks

No problem

This does not work as intended. Hence the first comment was _hidden_.

I also tried MSFT data from yfinance API , which did not match.

So you downloaded **both** the Binance API data for BTCUSDT, ETHUSDT, and AAVEUSDT **and** their **vwap** values  to compare? If so please provide a sample _csv_ from one of the three tickers with Bi

[2021-09-03 22:33] slhawk98 commented on #381
I have attached the BTUSDT & ETHUDT - 30 minute csv.
What package are you using to plot graph? I don't get a graph, but the code does not produce an error.
I am using Windows 10, python 3.8.5 and visual studio code.

Also, not sure how you get the "TV_VWAP_30m" column in you examples above.

[https://github.com/slhawk98/files/blob/main/BTCUSDT.csv](BTCUSDT.csv)
[https://github.com/slhawk98/files/b

[2021-09-03 22:53] twopirllc commented on #381
@slhawk98,

Matplotlib. See [Pandas Visualization](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html)

I manually rename the columns before reading the csv.

Are those _VWAP_D_'s in BTUSDT & ETHUDT - 30 minute from Binance or did you generate it from Pandas TA's **vwap**? If _VWAP_D_ is not from your data source, I can not compare it with Pandas TA **vwap**.

KJ

[2021-09-04 09:31] enoch-prince commented on #386
@twopirllc

I restarted VS Code and tried to reproduce the bug with adding the line as you suggested and it worked. I tried it again and it still worked. It's kind of strange.

I have added the line of code as well and it still works.

Cheers!

[2021-09-04 09:32] #386 closed

[2021-09-04 16:47] twopirllc commented on #386
@enoch-prince,

Awesome! I appreciate you responding promptly and your the temporary fix solves the ```UnboundLocalError``` issue. I will add the fix for the next version so it does not occur again.

Thank you,
KJ

[2021-09-04 16:57] mhgutier opened #387 "Please add OTT (Optimized trend tracker) to Pandas_TA"
Hi Kevin,

Please help to add OTT to pandas_ta by   KivancOzbilgicin trading view.

i converted the pinescript to python, it has correct output though my logic seems to be not efficient as it takes 10 seconds or so to calculate.
i think it has almost similar logic with QQE. Thanks in advance

=================
my version
==============
[code]

[code]

[2021-09-04 20:16] twopirllc commented on #387
Hello @mhgutier,

Added it to the list. ✅

I appreciate that you shared both the source and your Python implementation. 😎

If you are feeling venturous, try the following guide: [Creating a Custom Indicator: The Big 4](https://github.com/twopirllc/pandas-ta/issues/355#issue-953326290). If not, hopefully someone can help implement this sooner. I'll keep you posted when it's ready on the _developmen

[2021-09-05 01:40] slhawk98 commented on #381
(TV_VWAP_30m column) - "I manually rename the columns before reading the csv."

The only way I can think of to get the actual Teamviewer VWAP values is to manually hoover over each candle and manually add the TV VWAP values to the spreadsheet/csv/dataframe. Am I missing something here?

This is actually how I verified results against your SPY.csv data. Example, when I loaded the SPY 30 min chart i

[2021-09-05 07:25] manjrem opened #388 "Append=False not working for AllStrategy"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
version == 0.3.14b0

**Upgrade.**
[code]

**Describe the bug**
A clear and concise description of what the bug is.
when trying to calculate values for all indicators using below code, the data by default gets appended to the dataframe and there is no option to override it. Using "append=False" do

[2021-09-05 14:21] bennycode commented on #363
Why does it need 9 inputs of high, low, close before the Stochastic Oscillator returns a result?

The [Example Calculation](https://tulipindicators.org/stoch) uses a %k period of 5 and a %k slowing period of 3. Shouldn't this mean that 8 inputs are enough?

[2021-09-05 15:23] twopirllc commented on #363
@bennycode,

It has the required inputs to calculate ```ta.stoch``` as described in ```help(ta.stoch)```, which is closer to 7. Some (```offset, fillna, fill_method```) you won't use unless you actually need them.

Is ```ta.stoch``` **not** working as expected?

[code]

<br/>

However, I should probably add another ```mamode``` like TA-Lib does:

[code]

Kind Regards,
KJ

[2021-09-05 16:03] twopirllc commented on #388
Hello @manjrem,

Thanks for using Pandas TA!

That is correct, the Strategy method, ```df.ta.strategy()```, does not have an ```append``` option because it appends by default and thus ```append=True``` or ```append=False``` have no effect.

To me, it does not seem difficult to drop the _ohlcv_ et al columns if you do not need them after running ```df.ta.strategy('All', verbose=True, timed=True)```

[2021-09-05 17:14] twopirllc commented on #381
@slhawk98,

TeamViewer, The Remote Desktop Application Software? Or did you mean TradingView? 🤔

Yes. That is of course inefficient. There currently is no script or Python package you can use to download data from TV nor do they provide [REST API](https://www.tradingview.com/support/solutions/43000474413-i-need-access-to-your-api-in-order-to-get-data-or-indicator-values/) access for non-brokers. 😑

[2021-09-07 00:11] slhawk98 commented on #381
;-) - Mixing my TV applications I meant TradingView.
Bummer. I have TV Pro but you need Pro+ to export data.
You can consider this one close for now.
Thanks

[2021-09-07 00:22] 630362055 opened #389 "How to just calculate the last value of indicators rather than from the begin to the end"
ema(close,length=10)
When I do live trading, I already have 10 data points. Did the ema calculate it only once, or did the ema do it for all the previous 9 data

[2021-09-07 01:07] #381 closed

[2021-09-07 03:15] twopirllc commented on #389
Hello @630362055,

In your case, it uses the full length of 10.

Unfortunately there are no _incremental computations_ in the library yet. However contributions to add that functionality are accepted. 😎  For more information, please see Issues #87 and #288 where this has been previously discussed.

Kind Regards,
KJ

[2021-09-07 12:49] AGG2017 commented on #389
When backtesting, we often need the same indicators to be recalculated again and again over the same data, and if the indicators are not that simple like ema, my best solution was to redo some slow indicators by adding file caches for data + parameter signatures because df.to_pickle/read_pickle are much faster than most of the indicator calculations.

[2021-09-07 21:26] rengel8 commented on #349
Hey @Joy2489,
I stumbled over CRSI a few times in the past and did implement a **streak** indicator, which is the only missing building block for Pandas TA, if I understood the provided calculation correctly.

**The code is here:**
[streak indicator](https://github.com/rengel8/pandas-ta/blob/streak/pandas_ta/trend/streak.py)

[code]
Some feedback on this would be helpful. I think, that CRSI is rat

[2021-09-08 01:23] Joy2489 commented on #349
@crazysurajit

[2021-09-09 23:08] crazysurajit commented on #349
Thank you @rengel8 for providing an implementation.
Haven't tested it yet, however just by going over the code it looks correct.

Also I think according to [Calculation](https://www.tradingview.com/support/solutions/43000502017-connors-rsi-crsi/) the RSI length is 3

`df['first-rsi'] = ta.rsi(close=df["close"], length=3)`

[2021-09-10 02:15] alphazwest opened #390 "TA Values not Applied When Using Multiprocessing Library Explicitly"
**Which version are you running? The latest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Upgrade.**
[code]
Done. Same issue present.

**Describe the bug**
When applying ta indicators using the Multiprocessing.Pool() function, values are not being appended as expected.

**To Reproduce**

"""
Reference:

The DataFrame object I am using:

[code]
"""

[code]

# The Function
[c

[2021-09-10 05:28] hanging-man opened #391 "can't save Bolinger Band return values or supertend return values"
I was using an older version of your panda_ta
I could save bolinger band return values as
d1['BBL'] = d1.ta.bbands().fillna(0).BBL_20.round(4)
d1['BBM'] = d1.ta.bbands().fillna(0).BBM_20.round(4)
d1['BBU'] = d1.ta.bbands().fillna(0).BBU_20.round(4)
yesterday I upgraded to latest panda_ta
I see that return values now have identifiers as BBL_5_2.0  BBM_5_2.0    BBU_5_2.0  (i.e. with a 2.0 at the end

[2021-09-10 09:22] crazysurajit commented on #349
Tried to plot the CRSI of ^GSPC (for last 90 days with 1 day freq), but for some reason the graph looks different from what appears on TradingView
![Figure_1](https://user-images.githubusercontent.com/12027492/132831460-27d4400d-bfce-4f15-9824-7d0afe6bf001.png)

[2021-09-10 14:56] manjrem commented on #388
the problem is not dropping ohlcv but the fact that all TA parameters get appended to source dataframe as default and there is no mechanism to override. this is not a problem for batch data, but for streaming stock prices it creates an error.

[2021-09-10 20:32] twopirllc commented on #391
Hello @hanging-man,

I see. The floating point name is making it difficult. You are welcome to fork and edit the **bbands** return names so it doesn't show standard deviations in floating point. If not, that's understandable. Perhaps some code below can be of use instead of:

[code]

There are a couple of things we can do to improve your original code above. First it is make three separate calls t

[2021-09-10 21:02] twopirllc commented on #388
@manjrem,

Is this error reproducible? It is rather hard to debug from scratch with no reproducible code to work from.

I'll poke around some. Unfortunately, a "simple fix" I tried was not so simple. Hopefully someone else also figured a way to disable and return just the results of the ```ta.strategy()``` computations.

Out of curiosity, what and how are you streaming with? Any particular framewo

[2021-09-10 22:08] crazysurajit commented on #349
Tried to plot the CRSI of ^GSPC (for last 90 days with 1 day freq), but the graph looks different from what appears on TradingView, might be due to differences in Price data from Yahoo Finance.
![SPX_2021-09-11_07-50-13](https://user-images.githubusercontent.com/12027492/132921393-4708139f-8da6-413b-9cb8-976cedef0f8d.png)
[code]
![Figure_1](https://user-images.githubusercontent.com/12027492/132921

[2021-09-11 02:10] crazysurajit commented on #349
Not sure if this would be acceptable as a less time overhead option
[code]

[2021-09-11 14:27] mobilepro commented on #152
Hi @codesutras
Any luck with using Renko with pandas-ta?

[2021-09-11 16:54] hanging-man commented on #391
Thank you for giving me such a detailed explanation of this issue that I highlighted.
I really appreciate you taking so much time to explain.
I will attempt to make the necessary changes.
Thanks again.

[2021-09-11 16:54] #391 closed

[2021-09-11 17:39] twopirllc commented on #391
@hanging-man,

No worries. Hope it helps and makes sense.

KJ

[2021-09-11 18:12] twopirllc commented on #390
Hello @alphazwest,

So to clarify, you have a collection of DataFrames and you want to create a _Threadpool_ to process them with TA?

If this is correct, then this is a Python Multithreading problem, since your using a _threadPool_, and **not** a bug with Pandas TA's Multiprocessing (though that could be an issue if eventually implement ```frame.ta.strategy()``` within ```def add_ta()```.

While

[2021-09-11 19:58] alphazwest commented on #390
@twopirllc Sorry, I had been working on a network solution using multi-threading earlier and had mistakenly used the incorrect syntax. I am, in fact, using _multprocessing_ with a _process_pool (i.e. multiprocessing.Pool()) rather than multithreading. Sorry for the confusion there—I've updated my initial comment to reflect a less erratic syntax.

After some further messing around, I have a big mor

[2021-09-12 03:32] SevastosLA opened #392 "Indicator Request - Weis Wave Volume"
Hello,

It would be nice if this indicator gets integrated in the library (made by Lazybear, TV):

[code]

Personally, I find it quite tricky to update 'currclose' value in the Dataframe, since 'prevclose' value doesn't get dynamically updated.

Thanks!

[2021-09-13 15:07] AGG2017 commented on #152
Quality converting to Renko needs much more work. I'm trying to keep the date/time index and to offset in advance by given delta (1sec) all extra bricks from gaps or fast moving bars. I also try to keep the volume like in TradingView by dividing the bar volume to number of result bricks and this is the brick volume. Then all volume indicators will work. I also add columns with real open and close

[2021-09-18 02:14] mstumberger commented on #217
hey @coinrazzi, how can I use this this code to plot on chart ?

[2021-09-18 02:43] mstumberger commented on #217
I made some tweaks

[code]

[2021-09-18 15:52] gjhansaliya13 opened #393 "Do we have AWS ARN for lambda function layer for pandas_ta?"
Do we have AWS ARN for lambda function layer for pandas_ta?

I am looking for Asia Pacific (Mumbai)ap-south-1 python version 3.7.

can you please create?

[2021-09-18 19:32] AureliusMarcusHu opened #394 "ta.zlma indicator Error"
Running Python 3.9 32 bits on OS Windows 10 64 bit
Pandas Version: 1.3.1
pandas-ta:  Version: 0.3.14b0     successfully installed with pip.

In the beginning of my script I import as follows:
[code]

I run the following script in python debugger:
[code]

I get the following error:
[code]

It works only for me with mamode=  'dema'  or 'ema'.
All the other mamode indicators give the same error as I

[2021-09-19 16:33] twopirllc commented on #394
Hello @AureliusMarcusHu,

I don't think you have done anything wrong.  I also noticed there was something weird with ```zlma```.

That's what I think. Unfortunately, I haven't had the time to look into it. If you have ideas on how to fix it, that would be great. Contributions are welcome. 😎

Kind Regards,
KJ

[2021-09-19 17:25] twopirllc commented on #152
@AGG2017,

I agree.

Do you have some code to share or would you like to contribute? 😎

Kind Regards,
KJ

[2021-09-19 18:05] twopirllc commented on #393
Hello @gjhansaliya13,

Do we have AWS ARN for lambda function layer for pandas_ta?

Not that I know of. I would have to look into it.

Kind Regards,
KJ

[2021-09-19 23:44] AureliusMarcusHu commented on #394
Thanks for the response. For me python is new, I'm still struggling with the syntax. But in the meantime I have found a working solution. I copied the zlma module into my project as below. The first line of importing the ma's is a bit different. On this way all mamode= ma's work as a charm. Maybe it give you an idea what is wrong with the import in your module.

[code]

[2021-09-20 00:12] AGG2017 commented on #152
Unfortunately, I don't plan to implement this as part of pandas_ta because the result will be not compatible to the index of the rest of the indicators. It doesn't fit at all for this library. I'm trying to do it as part of my version of backtesting.py library where I have internal function to get ochlv data from a database with options to convert them to Renko or Heikin Ashi. Then with the result

[2021-09-20 08:44] mobilepro commented on #152
I managed to make it work with a work around using another library to build Renko bricks(dataframes) and use it with pandas-ta.

I used stocktrends (https://github.com/ChillarAnand/stocktrends) to build Renko data frames

[2021-09-20 09:58] AGG2017 commented on #152
Stocktrends is done somehow to do the job. I started with it but found there is no atr support, no percentage log support, no volume, the date in the index for all extra bricks are the same, very low speed for large data frames due to the concatenation of two data frames for each new bar and initially I had to add data frame caching to speed up the repeating analysis, no functions to evaluate the

[2021-09-20 15:02] mollawas10 commented on #88
Hi, can you also add force index?

[2021-09-20 16:53] twopirllc commented on #88
Hello @mollawas10,

In Pandas TA, it is [**efi**](https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/volume/efi.py).

Please make a new Issue for future indicator requests. It is easier to keep track of things.

Kind Regards,
KJ

[2021-09-20 17:11] twopirllc commented on #152
@AGG2017,

Right because Renko is time invariant.

How do you like **backtesting.py**? I use [**vectorbt**](https://github.com/polakowo/vectorbt).

Fair enough.

[2021-09-20 17:11] twopirllc commented on #152
@mobilepro Thanks for sharing a link

[2021-09-20 18:54] AGG2017 commented on #152
@twopirllc,

Thanks for the information. I will take a look. I tested several backtesting frameworks but didn't find exactly what I needed. So, I started from the simpler one that was easy for me to understand and I tried to redo and to simplify the core logic to be able precisely to backtest several stocks and at the same time to trade several other options in complex strategies. I also needed to

[2021-09-20 19:37] twopirllc commented on #394
@AureliusMarcusHu,

Glad you found a work around!

Thanks for sharing.
KJ

[2021-09-20 20:45] twopirllc commented on #152
@AGG2017,

No worries. Makes sense.

You may be interested in trying the [Custom directory](https://github.com/twopirllc/pandas-ta/pull/341) so you can incorporate your own indicators and have them hook into Pandas TA. Let me know if you do and if it works for you.

That's for sure!

KJ

[2021-09-20 21:32] windowshopr opened #395 "TypeError: ma() got multiple values for argument 'name'"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
Python 3.7.9,
pandas-ta @ git+https://github.com/twopirllc/pandas-ta@bc3b292bf1cc1d5f2aba50bb750a75209d655b37
Windows 10

**Upgrade.**
Done

**Describe the bug**
TypeError: ma() got multiple values for argument 'name'

**To Reproduce**
[code]

**Expected behavior**
Would like to add all technical indica

[2021-09-20 22:07] twopirllc commented on #395
Hello @windowshopr,

This is not a bug. I would remove ```name=``` when calling ```df.ta.strategy()``` as described on the README [Builtin Strategies](https://github.com/twopirllc/pandas-ta#types-of-strategies) and it should work as intended.

[code]

Result:
<img width="597" alt="Screen Shot 2021-09-20 at 3 05 09 PM" src="https://user-images.githubusercontent.com/18198392/134082149-a3cfc4e8-762e-

[2021-09-20 23:14] #395 closed

[2021-09-21 16:32] bibinvargheset commented on #380
May be I did not explain properly,

I checked the the example strategy , its on the back testing side, my question was how can we  calculate only the  new elements.

The simplest way to help is an option to calculate only missing  values of the result Or for the added information.

Since different strategies'\indicator will have different lookback truncating and applying again wont we so efficient

[2021-09-21 17:00] bibinvargheset commented on #387
@mhgutier
I was trying to run your code but  df['RSI_MA']: is not done can share the the complete code?

[2021-09-21 22:57] mhgutier commented on #387
Hi @twopirllc ,

Please see updated code below. please free to modify if needed. i am not a developer, just learned python in youtube , for me the code is slow unlike the way pandas_ta compute for super trend/qqe (super fast)

import pandas as pd
import numpy as np
import talib
import pandas_ta
import schedule
import ccxt

exchange = ccxt.binance()

pair='ETH/USDT'
ohlc = exchange.fetch_ohlcv(pair

[2021-09-22 02:13] Silverback-Ren opened #396 "pandas_ta is designed in ascending dates"
Hi @twopirllc,

First of all, I am very thankful for this initiative, this is really helpful to us. Please continue developing it as it helps many people just like me.

Just noticed that indicators (e.g. sma) are designed for OHLC with ascending dates (1st row is oldest and succeeding rows' dates are newer), is there a simple trick to make it descending (1st row is newest and succeeding rows' date

[2021-09-22 21:50] twopirllc commented on #396
Hello @Silverback-Ren,

You're welcome. Thanks for using it!

It is not true that the indicators are designed for ascending dates for _ohlcv_ data. The only one that matter is **vwap**, but it will still run and give you a warning of ```[!] VWAP volume series is not datetime ordered. Results may not be as expected.```.

Yes _df.ta.reverse_ is a convience property that will reverse the order of the

[2021-09-22 21:53] twopirllc commented on #387
Hello @mhgutier,

I will look into it as soon as I can. I will let you know when it is available to testing on the _development_ branch.

Kind Regards,
KJ

[2021-09-23 01:14] Silverback-Ren commented on #396
Thanks for your quick reply KJ.

I had the same result as yours. Correct me if I'm wrong, the first few rows of the SMA_10 are NaN and the last rows have values, should it be the other way around? If I will do it manually, the first 9 rows should have values and the last 9 rows are blanks since you don't have the right amount of N.

[2021-09-23 01:46] twopirllc commented on #396
@Silverback-Ren,

Ok. I guess I did not understand what you originally wanted. **(A)** Did you want to reverse the DataFrame and then apply indicators? (That's the result of my previous comment). **(B)** Or did you want to apply indicators in ascending order and then reverse the DataFrame? (code below)

[code]

<br/>

Regarding *SMA_10*, it requires 10 values before it can calculate it's first val

[2021-09-25 04:39] Silverback-Ren commented on #396
Hi KJ, sorry for late reply. I guess its A. But nonetheless,  I got your guidelines. Thanks.

[2021-09-25 13:38] gjhansaliya13 commented on #393
Appreciate your reply and help

[2021-09-25 16:24] #396 closed

[2021-09-28 10:26] pwnedDesal opened #398 "Panda-ta's VPVR shows diff. result"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Describe the bug**
I have used the same time frame here, and the same start and end date, and Exchange(binance), and same numbers of columns. Here the .csv file of ohlcv starting from January 21 2021 [BTC-USDT.csv](https://github.com/twopirllc/pandas-ta/files/7243057/BTC-U

[2021-09-28 18:15] xmatthias opened #399 "Docstrings not showing correctly"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**

0.3.14b0

**Describe the bug**
Running `help(pta.adx)` will correctly show the `__doc__`.

However, the way docstrings are assigned (manually assigning to `__doc__` of the function) causes IDE completion to not show the docstring correctly.

![2021-09-28-200456_559x216_scrot](https://user-images.github

[2021-09-28 19:03] twopirllc commented on #398
Hello @pwnedDesal,

Thanks for providing the CSV, code and screenshots. 😎  The results do look different, but I anticipated that since TradingView (TV) does _not_ provide any PineScript code for any of their Volume Profiles (VPs) to cross-reference nor can one export the data with VP columns to numerically compare. Unfortunately to align Pandas TA's VP to TradingView may take some time given the l

[2021-09-28 19:39] twopirllc commented on #399
Hello @xmatthias,

Thank you for the inclusion of Pandas TA in **freqtrade**. 😎

That is true. I noticed it as well with VS Code. It's unfortunate the IDE can not resolve ```__doc__``` but whatever... luckily that's an easy fix and I (or hopefully someone else) can make these edits relatively soon.

I think so as well.

While it'll seem sufficient to point users to "run help(pta.adx)" - having a w

[2021-09-29 04:38] xmatthias commented on #399
I feel our case might be slightly different - as we have a ton of "standalone" documentation (explicitly written in .md files) - which is pretty easy to serve / deploy with readthedocs.

for pandas-ta, i see most of the indicator-specific documentation in doc-strings (which is also perfectly fine) - but from a usability perspective, a standalone version where you can maybe also compare two indicst

[2021-09-29 06:16] pwnedDesal commented on #398
Thanks, this is quite aligned now, and you may also take a look at [kv4coins](https://www.tradingview.com/script/r3VrWAO4-Volume-Profile/) volume profile code for reference, which include PoC as well

[2021-09-29 06:16] #398 closed

[2021-09-29 15:08] twopirllc commented on #398
@pwnedDesal,

Excellent! Glad that option added by @delicateear meets expectations. Also, thanks for sharing the link for PoC code. 😎

Thanks,
KJ

[2021-09-29 15:36] xmatthias opened #400 "Additional simplified interface"
**Is your feature request related to a problem? Please describe.**
Calculating an indicator is currently possible in 2 ways (that i am aware of).

[code]

While usage of the above is "okish" for simple indicators like RSI (which only requires close) - it'll become painful with other indicators, which also require `open`, `high`, `low`, and maybe also `volume`).

The "dataframe interface" on the ot

[2021-09-30 07:14] razamit opened #401 "Stochastic Fast indicator"
Hi

I am using the latest version of Pandas Ta as a replacement for TA-Lib

I was using STOCHF - Stochastic Fast from TA-Lib (http://www.tadoc.org/indicator/STOCHF.htm)
I did not see it in Pandas-ta.
I it possible to "create" it using the parameters passed to the pandas-ta.stoch function?

Thanks

Amit

[2021-09-30 15:53] twopirllc commented on #401
Hello @razamit,

Early in Pandas TA's development, **stoch** used to return both **stoch** and **stochf** values. Also **stoch** is one of several Pandas TA indicators that is not wrapping TA Lib's _STOCH_ and _STOCHF_. A Python only **stochf** like **stoch** can be easily added to the library (as most of the code between the two is similar), but I can not give an expected completion time given my

[2021-09-30 21:59] twopirllc commented on #400
Hey @xmatthias,

I am lazy when typing as well. So perhaps the _third_ Programming Convention, Pandas TA Strategy, as mentioned on the [README](https://github.com/twopirllc/pandas-ta#programming-conventions) may be what you want.

It is a _ta_ DataFrame Extension method, ```df.ta.strategy()```, that one can automatically append indicators to the current ```df```; less typing. This [Jupyter Noteboo

[2021-10-01 15:57] twopirllc commented on #399
@xmatthias,

I've used sphinx once but will definitely need to play around with it a bit more.

Thanks for the suggestions and sharing your experience. I appreciate it.

KJ

[2021-10-03 03:02] mihakralj opened #402 "Issue with reults of rma moving average"
**Describe the bug**
ta.rma() should behave exactly like ta.ema() - with the only difference being the weighting factor.
Implementation of ta.rma() in pandas_ta calculates the starting value differently than the implementation of ta.ema()
specifically, **the first value** in the ta.rma() result should be a SMA() average of the period. If the first value is different, the whole series is different.

[2021-10-03 16:32] twopirllc commented on #402
Hello @mihakralj,

I wouldn't consider this a bug, rather an optional enhancement request.

If it were truly a **bug**, I would have also received bug Issues from other indicators that rely on **rma** such as **adx**, **cmo**, **kdj**, **qstick**, and **rsi** and that they do not correlate with either TA Lib, TradingView or some other trading platform. But since those dependent indicators are pass

[2021-10-03 16:42] mihakralj commented on #402
Sounds good. 😊 I did find this discrepancy by getting different data from ATR (average true range) compared to the official example by J. Wilder (the author of both ATR and RMA). Let's keep the library as it is then, if all other rma-derived indicators are satisfactory for library users. I would not mess with adding another parametric option to make the indicator following the author's original fo

[2021-10-04 01:58] twopirllc commented on #402
Yeah. Thanks for looking out though. 😎

[2021-10-04 01:58] #402 closed

[2021-10-04 12:21] #389 closed

[2021-10-04 12:22] twopirllc commented on #380
@bibinvargheset,

Again, there are no incremental computations in the library yet. However contributions to add that functionality are accepted. 😎 For more information, please see Issues #87 and #288 where this has been previously discussed.

Kind Regards,
KJ

[2021-10-04 12:22] #380 closed

[2021-10-04 23:49] mohamed3nan opened #403 "Rising/Falling function"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Test if the x series is now rising for y bars long.
Test if the x series is now falling for y bars long.

**Additional context**
example:

[code]

[2021-10-06 14:19] jeremyfx opened #404 "Type stubs"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
0.3.14b

**Is your feature request related to a problem? Please describe.**
Python is ever more growing towards typing. Even major projects like Pandas, Numpy, Matplotlib have added typing hinting to the projects and made type stubs available to developers. For my job, or when I create a serious project, I

[2021-10-06 15:15] twopirllc commented on #404
Hello @jeremyfx,

I agree. There are a lot of lingering issues and new features yet to be implemented in Pandas TA, typing included. This package is beyond the maintainability to do both for one person. If you are willing to contribute, I would appreciate help progressively typing Pandas TA. 😎

Kind Regards,
KJ

[2021-10-06 19:43] onachassi opened #405 "Kaufman's Adaptive Moving Average (KAMA) - calculation issue"
[code]

![Figure_1](https://user-images.githubusercontent.com/21048244/136270412-3e96de80-6de0-4a36-9d02-8f691ae40a72.png)

I tried using the Kama indicator (snippet and picture above), seems like there's a bug with the calculate the Kama. The initial Kama value relies on the previous value which I believe from the snippet below returns zero for the first value.

https://github.com/twopirllc/panda

[2021-10-09 23:44] SUVIANY commented on #378
hey KJ
thx for all support u are offering

I try it but i want to use my on period how can i do this ?

@twopirllc

[2021-10-10 12:35] Pl0414141 opened #407 "Insert all 130+ indicators to pandas dataframe in a easy way"
Hi,

i'm adding every indicator to my dataframe as for example:

df['sma10'] = ta.sma(df["close"], length=10)
...

**Does anyone know of any way to be able to enter all the indicators in a simple way without having to go one by one?**

I would greatly appreciate it.

[2021-10-10 13:54] AGG2017 commented on #407
Create a pandas TA Strategy and list all the indicators you need. Then you will have them all but that is a bad idea. It will take forever to calculate all indicators and most likely you will need them several times with different periods at least for the moving averages. It's better to select and use just a few for a specific strategy to be easy and fast to optimize their parameters when backtest

[2021-10-10 18:46] Nerque opened #408 "Squeeze parameters values so that the result be identical to the "Squeeze Momentum Indicator [LazyBear]" in TradingView"
I have tried with :
a) ta.squeeze(df['High'], df['Low'], df['Close'], use_tr=True, lazybear=True)
b) ta.squeeze(df['High'], df['Low'], df['Close'], bb_length=20, bb_std=2, kc_length=20, kc_scalar=1.5, mom_length=12, mom_smooth=6, use_tr=True, mamode='sma', lazybear=True)

None give me the same result.

Example:
* BTCUSDT (Binance) 15 minutes: 10 Oct'21 20:15 (UTC+2) ==> SQZMOM_LB Value = 48.71; ta

[2021-10-10 19:28] twopirllc commented on #407
Hello @Pl0414141,

Well the simple standard way to include all the indicators with their _default values_, ```length, mamode, ...``` bound to the DataFrame is to use the ```All Strategy``` as described on the README under [Types of Strategies](https://github.com/twopirllc/pandas-ta#types-of-strategies)

[code]

Now if you have Custom parameters, ```length, mamode, ...```, then you will have to def

[2021-10-13 06:57] jhleong opened #409 "possible coding error on bbands.py"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Upgrade.**
[code]

**Describe the bug**
Possible coding error at line 45 at pandas-ta/pandas_ta/volatility/bbands.py

        percent = bandwidth.shift(offset)

**Expected behavior**
PERCENT = (close - LOWER) / (UPPER - LOWER) with shift(offset)

[2021-10-14 13:37] Qiu-INJ commented on #198
meet the same problem...

[2021-10-14 13:57] Qiu-INJ commented on #198
Sorry!!! my fault!
pandas ta: 0.3.14b0
system: ubuntu 18.04
code :
[code]

data.tail()
[code]

[2021-10-14 14:02] Qiu-INJ commented on #198
![Uploading 2021-10-14 22-02-11 的屏幕截图.png…]()

[2021-10-15 07:58] rafalsza opened #411 "Hilbert Transform - Instantaneous Trendline"
Version: 0.3.14b0

Please add overlap: Hilbert Transform - Instantaneous Trendline

[2021-10-15 22:49] twopirllc commented on #383
Hello @reza1615,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-10-17 14:32] arshpreetsingh opened #413 "Add MAMA and FAMA indicators"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Mesa Adaptive moving average indicator is not available.
mama, fama = ta.mama(df['Close'], fastLimit=0.5,slowLimit=0.05)

**Additional context**
Available in TA-Lib

import talib
mama,fama=talib.mama(nd

[2021-10-18 00:29] twopirllc commented on #413
Hello @arshpreetsingh,

Noted. It will sometime before it will be implemented. If you would like it available sooner, please fork, edit and make a PR. Contributions are appreciated. 😎 Instructions on how to add an indicator to Pandas TA can be found in Issue #355 _Creating a Custom Indicator: The Big 4_.

Kind Regards,
KJ

[2021-10-19 21:02] twopirllc commented on #405
Hello @onachassi,

I added **sma** as the default MA mode for **kama** on the _development_ branch if you want to test it out before I update the _main_ branch. Note: Not all mamodes are applicable due to their individual bootstrap lengths, but the majority are. See ```help(ta.kama)``` after installing the _development_ branch.

[code]

Please let me know if it works as intended now. Thanks for no

[2021-10-19 22:35] twopirllc commented on #399
Hey @xmatthias,

I have updated the doc strings so that they _should_ work as expected. Please test them out on the _development_ branch before I update the _main_ branch.

[code]

If I missed something, please let me know.

Thanks,
KJ

[2021-10-20 15:00] twopirllc commented on #408
Hello @Nerque,

I will be closing this Issue until you have time to test the data and code I provided above in https://github.com/twopirllc/pandas-ta/issues/408#issuecomment-940169486.

Thanks,
KJ

[2021-10-20 15:00] #408 closed

[2021-10-20 19:43] onachassi commented on #405
@twopirllc I'm getting the same thing as before. Taking a look at the development branch I don't think anything has changed: https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/overlap/kama.py

Am i missing something?

[2021-10-21 03:35] AxelGUILLAUMET opened #416 "FRACTAL WILLIAMS AND ALLIGATOR"
I would be great if those indicators can be inclued!

[2021-10-21 18:07] twopirllc commented on #416
Hello @AxelGUILLAUMET,

There is **alligator** already. I recently started on **fractals**, from an older request. #194

Kind Regards,
KJ

[2021-10-23 15:07] prRZ5F4LXZ opened #418 "supply and demand zones indicator"
**Which version are you running? The lastest version is Github. Pip is for major releases.**

NA

**Upgrade.**

NA

**Is your feature request related to a problem? Please describe.**

NA

**Describe the solution you'd like**

I suggest adding the following indicators to pandas-ta.

https://indicatorspot.com/indicator/supply-and-demand-zones-indicator/

**Describe alternatives you've considered**

[2021-10-29 11:07] manujchandra opened #420 "ATR and PPO results are sensitive to dataframe length"
**Which version are you running? The latest version is on Github. Pip is for major releases.**
0.3.14b0

**Upgrade.**
Using Latest

**Describe the bug**
The indicator values are dependent on the length of the data-frame.

Suppose you are calculating ATR(20). Ideally, this should only require 21 length data frame approximately. But if you will use a lets say 21 to 145 length data-frame, it will giv

[2021-10-30 19:18] twopirllc commented on #420
Hello @manujchandra,

Thanks for sharing your notebook and data. I will take a look as soon as I can.

Kind Regards,
KJ

[2021-10-31 11:03] drixie opened #421 "Clarifying Question about the implemented TD Sequential Indicator"
Thank you for the great work on this!

I was going through the  code for the TD Sequential indicator and noticed it was configured to work from 1 to 13. What parameters do I need to pass if I need to only count from 1 to 9.

I feel like the relevant argument here is "offset", I just don't know what to pass into it. Perhaps an example in the documentation will be helpful

TIA

[2021-10-31 11:37] drixie commented on #421
Also, is it possible for the generated TD Sequential dataframe to have a key that will make it easier to merge back to the OHLCV data?

[2021-10-31 11:45] drixie commented on #421
When using td_seq as a TA extension, I kept receiving this error: TypeError: td_seq() got multiple values for argument 'asint'

Works fine when used with standard format.

Using version 0.3.14b on Google Colab
Sample code: td_df = df.ta.td_seq(df["close"], asint=True)

[2021-10-31 17:41] drixie commented on #255
@twopirllc I justed checked using the latest version (0.3.14b). There are still differences (I used BTC/USD and AAPL). Just like before, both talib.LINEARREG and Tradingview results are matching. However, ta.linreg results do not match either of the aforementioned

[2021-10-31 19:07] twopirllc commented on #255
@drixie,

Again like in my last https://github.com/twopirllc/pandas-ta/issues/255#issuecomment-893983202 and https://github.com/twopirllc/pandas-ta/issues/408#issuecomment-940169486, I get matching results with TA Lib and TradingView for both ```ta.linreg``` and ```ta.squeeze``` using the _development_ version and _not_ v0.3.14b.

Have you installed the _development_ version and used the accompany

[2021-10-31 19:26] twopirllc commented on #421
@drixie,

At this time, no. However, if you want values 6-9, then set keyword argument ```show_all=False``` as described in ```help(ta.td_seq)```.

```offset``` does not have anything to do with the count sequence. It's a general keyword argument used by all the indicators to ```shift()``` the results forward or backwards as needed before returning the result(s).

I'm sorry, I do not understand wh

[2021-11-01 14:02] manujchandra commented on #420
Hi,

Just to clarify, its not just ATR, but PPO is also displaying the same behavior.

SMA is working fine.

Apart from these 3 I have not tested with other indicators.

Regards,

[2021-11-01 18:58] asjiLab commented on #420
I think i am having the same issue with the SuperTrend indicator, which is based on ATR as well..

[2021-11-02 08:36] drixie commented on #421
KJ,

Thanks for your responses, they are very helpful.

For the third point, passing an argument of append=True **does not** append the generate td_seq columns to the OHLCV DataFrame

I could not recreate the issue in the fourth point, so maybe it was caused by something on my end

[2021-11-02 10:27] rokups commented on #194
Many places implement alligator by shifting it into the future.

For example (https://www.ifcmarkets.co.in/en/ntx-indicators/alligator):
[code]

Same is done in tradingview implementation. There is no shifting in pandas-ta version. It is only possible to apply a single offset to all three moving averages. I believe it is incorrect.

[2021-11-02 15:29] twopirllc commented on #421
@drixie

No worries.

Interesting. However I see no issue appending it to the OHLCV DataFrame, thus working as intended.

<img width="460" alt="Screen Shot 2021-11-02 at 8 23 07 AM" src="https://user-images.githubusercontent.com/18198392/139877198-4accc959-81d9-4f85-b106-18120cadfc56.png">

I'll take your word for it.

KJ

[2021-11-02 18:13] drixie commented on #421
Weird behavior when using it as an extension. Screenshot below. Here is the link to the colab if you want check it out: https://colab.research.google.com/drive/1ieHkSsieEMzKs_gI4xnx25QdtNZOu2f1?usp=sharing

<img width="1195" alt="Screen Shot 2021-11-02 at 11 05 42 AM" src="https://user-images.githubusercontent.com/1880792/139921814-68a6785f-a44a-47d4-9297-b6957a720b42.png">

[2021-11-02 20:19] twopirllc commented on #421
@drixie,

Ahhh Google Colab.... unfortunately not easy to test against. 😞

Anyhow regarding ```td_seq```, after Pandas TA v 0.3.14b, ```td_seq``` had an unusual bug with a Pandas DataFrame index initialization. However that patch is on the _development_ branch and addresses the ```append=True``` problem.

Changes I made:

### Cell 1
[code]

### Cell 2
[code]

### Cell 3
[code]

### Cell 4
[code]

[2021-11-02 22:05] drixie commented on #421
Works perfect! As you suggested, some of the issues came from Colab

Thanks a lot for your effort and time!!

[2021-11-02 22:05] #421 closed

[2021-11-02 23:28] drixie commented on #255
I just tried the development build again, and it works perfectly. The results match with both TA Lib and TradingView. Probably didn't work the first time because of issues with Colab.

Once again, thanks for your time and energy working on this great library

[2021-11-03 03:57] twopirllc commented on #421
@drixie,

You're welcome. Thanks for your patience.

KJ

[2021-11-03 03:58] twopirllc commented on #255
Thank you

[2021-11-04 22:27] VFermat opened #423 "Set up automatic code-coverage reporting"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
We should add an automated coverage checker, to ensure the package is covered by existing tests.

**Describe alternatives you've considered**
Implementing a GitHub action

[2021-11-05 14:06] daoudjahdou opened #424 "Psar loop starting at wrong index 1"
**Pandas ta version**
[code]

**Describe the bug**
When reviewing the code of psar (https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/trend/psar.py#L46) the loop starts at the wrong index 1, it should start at 2, (Line 46)
Because after we do this computation:
_sar = max(high.iloc[row - 1], high.iloc[row - 2], _sar)
or this one
_sar = min(low.iloc[row - 1], low.iloc[row - 2], _sar)
when r

[2021-11-05 14:18] AbyssAlora commented on #424
Hi guys, few months ago I realized that as well. But as I know PSAR corrects itself after few iterations what means that it wasn't critical issue for me and I did not put much thought to it, sorry for that.

Best regards,
AA

[2021-11-06 19:00] twopirllc commented on #194
Hello @rokups,

That is true and I am aware of it.

Yes, one should add arguments to ```alligator``` to individually offset each ```smma```. It would be great, if you're willing, to make that contribution. 😎

Despite the lack of future offset, the individual values should be correct and I was hoping someone other than myself could/would corroborate it. Adding individual shifting arguments is trivi

[2021-11-06 19:09] twopirllc commented on #423
Hello @VFermat,

Is there a good free one you would recommend? Or know any good example Actions or Workflows to achieve this?

Kind Regards,
KJ

[2021-11-06 19:42] twopirllc commented on #424
Hello @daoudjahdou,

It's possible that I was sloppy. 😬  I will take a look if there is any difference to the results in Issue https://github.com/twopirllc/pandas-ta/issues/180#issuecomment-860380367.  Hopefully I still have the test code used to generate TV's, TA Lib's, @AbyssAlora's, and Pandas TA's version and see how it compares when it begins at ```2``` instead of ```1``` you identified.

Do

[2021-11-08 10:55] daoudjahdou commented on #424
If you just try to compare Pandas TA's with it self using two start indexes you'll see some differences.
In my opinion the one using 1 as a start index is wrong as it is using data from the future (`high.iloc[-1]`) regarding the index of computation, and affects next computations.

[2021-11-09 08:52] rokups commented on #194
Ehm i do not believe there is a need to extend dataframe into a future. If we wanted to see future values we could avoid shifting altogether, but that is hardly ever a case with this indicator.

[2021-11-10 16:06] rajeshdhar opened #425 "STC not working"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Describe the bug**
KeyError: 1

**To Reproduce**
Provide sample code.
df.ta.stc(append=True)

**Expected behavior**
Should work without crashing

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
You are not converting pd.series to list. Conve

[2021-11-10 23:50] VFermat commented on #423
Hi @twopirllc!

Actually yes! I'm working on an [issue about code coverage](https://github.com/centerofci/mathesar/issues/603) in another repository right now.

We are using the `Coverage` module through the `pytest-cov` add-on!

It is completely free and we can automate it to run for every merged pull request.

If you want I could work on this :D

[2021-11-12 07:55] lucasmlofaro opened #426 "False initial signal from cross utility"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
Version: `0.3.14b0`

**Upgrade.**
[code]

Upgraded: ✓

**Describe the bug**
Using `ta.cross()` might give a false positive on the first period in the series. The problematic line can be found [here](https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/utils/_signals.py#L79).

Using `shift(1

[2021-11-13 18:11] CMobley7 opened #428 "HWMA not included in overlap strategies"
It appears that the `hwma` indicator is missing from the `overlap` strategies on both main and development, https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/__init__.py#L57 and https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/__init__.py#L58 respectively. So,  it's not included when one runs `df.ta.strategy("overlap")`. Was this done on purpose?

[2021-11-13 18:43] twopirllc commented on #428
Hello @CMobley7,

Nice catch! And it was not intentional. It was accidentally forgotten to be added. Feel free to make PR when you can! 😎

Kind Regards,
KJ

[2021-11-13 18:55] twopirllc commented on #425
Hello @rajeshdhar,

Based on the code you provided, I disagree with your assessment.

<img width="546" alt="Screen Shot 2021-11-13 at 10 52 01 AM" src="https://user-images.githubusercontent.com/18198392/141655807-74e44672-6666-4521-a95b-ed580a005b12.png">

<br/>

Perhaps you could please provide reproducible code and screenshots (as requested) to help me verify and address the Issue you describe.

[2021-11-13 19:11] twopirllc commented on #423
@VFermat,

Nice! That would be great! 😎

Free coverage is desirable since this package does not even make enough in donations to even come close cover my TradingView subscription that allows cross test with their indicators. 😞

The Pandas TA tests do require TA Lib though, so hopefully that is a non-issue. Or at least easily rectifiable.

Kind Regards,
KJ

[2021-11-13 19:42] CMobley7 commented on #428
Awesome, I'll submit one later today. Main or develop?

[2021-11-13 19:51] twopirllc commented on #428
@CMobley7,

Either is fine.

Thanks,
KJ

[2021-11-13 20:48] CMobley7 commented on #428
Awesome, I added a PR to the development branch. I'll close this when it's merged in. Thanks for such a great library @twopirllc !

[2021-11-15 16:58] rajeshdhar commented on #425
Here you go, CSV file and code screen shots

[OHLC_File.csv](https://github.com/twopirllc/pandas-ta/files/7540247/OHLC_File.csv)
![Screenshot 2021-11-15 222321](https://user-images.githubusercontent.com/47864683/141821961-10b499f8-7c4b-4568-9df5-75a9f155bedf.jpg)
![Screenshot 2021-11-15 222444](https://user-images.githubusercontent.com/47864683/141822112-38869ec5-51c5-4c4e-8639-546b178501b3.jpg)
!

[2021-11-15 20:28] hhashim1 opened #430 "Cannot run example - Error with file looping"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Describe the bug**
I have copied the code from example.ipynb to a local file however I am getting an error and the file keeps looping. I cant figure out the problem. This happens with the Chart Class code. Here are the screenshots of the errors.

From what I can tell, I th

[2021-11-16 03:51] hhashim1 opened #431 "TDA TimeSegmentedValue, TimeSegmentedValueRatio Indicators"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

Hi Kevin,

Do you think it is possible to create a couple of new indicators for me that I am currently using on TOS? Here is the thinkscript code for them. Thank you so much for your help.

**### RelativeVolumeStDev**:
Also known as: Absolute Zscore of Volume. Does **not** need to be implemented

[2021-11-16 16:41] twopirllc commented on #430
Hello @hhashim1,

I recommend looking at the pinned Issue #181, Freeze Support Error, for the solution to your problem as indicated by the last block of lines in your last screenshot. It is a simple fix to get around this Issue.

Hope this solves your Issue. Let me know otherwise.

Kind Regards,
KJ

[2021-11-16 16:46] twopirllc commented on #431
Hello @hhashim1,

They will be added to the list of indicators to be included. However, I can not guarantee they will be implemented any time soon unfortunately unless you or someone else is willing to do it. I am knee deep in unresolved Issues and prior indicator requests with little to no support from other users or developers. 😞 To that end, it has been labeled as another _Help Wanted_ case.

K

[2021-11-16 17:20] twopirllc commented on #431
@hhashim1,

Upon review of **RelativeVolumeStDev** source, it is essentially the **zscore** of _volume_ input and therefore is no need to implement a separate indicator for this.

[code]

Kind Regards,
KJ

[2021-11-16 20:19] graphicgeared opened #432 "MACD is not working"
macd = ta.macd(data['close'], fast=12, slow=26, signal=9, talib=True, offset=None)

Output is missing

[2021-11-16 20:27] hhashim1 commented on #431
Hey Kevin,

Thanks for getting back to me. I can definitely help with creating
indicators (at least the ones I have asked for). If you could give me a
quick 5 mins crash course on do's and dont's of your library, I can
definitely help out with that. I might also be able to help with other
indicators and aspects of the library.

Let me know when you have some time to chat about the next steps.

*Hu

[2021-11-16 20:37] hhashim1 commented on #431
@twopirllc let me know if you need additional help with new development. I have some friends who have some bandwidth and are good at this kind of stuff. I can definitely ask them if they are willing to help out and take your lib to the next step.

[2021-11-16 22:55] twopirllc commented on #431
@hhashim1,

👍🏼

indicators (at least the ones I have asked for). If you could give me a
quick 5 mins crash course on do's and dont's of your library, I can
definitely help out with that

Great! 😎  To that end...

* Have your friends read this comment to see if they are interested in contributing. 😎
* Install Python packages of _TA Lib_ (if possible), _yfinance_, _stochastic_, and other suggested p

[2021-11-16 23:24] twopirllc commented on #425
@rajeshdhar,

Could you please truncate and share 2 or 3 tickers worth of the CSV?

Thanks,
KJ

[2021-11-17 02:12] hhashim1 commented on #431
Hey, count me in! I will download the development repo and start looking at
the structure. In the meantime, I will also ask my friend.

By the way, I have already updated the code to use Polygon as a data source
on top of AlphaAdvantage and Yahoo. My friend wrote a library for Polygon
and I have used his as he makes it super easy. He is working on making his
library the official Polygon library :-

[2021-11-17 04:34] pssolanki111 commented on #430
multiprocessing code must always have the `ifmain` guard to avoid spawning redundant processes.

[code]
if you don't directly use multiprocessing, but a lib you use does (like this lib), keep that lib code within ifmain guard
@hhashim1

[2021-11-17 04:44] pssolanki111 commented on #399
@twopirllc i used shpinx to build the docs for my library (for polygon.io financial data APIs) and it works so well.

https://polygon.readthedocs.io/en/latest/index.html

It has this section which basically describes the entire library API in readable form at https://polygon.readthedocs.io/en/latest/Library-Interface-Documentation.html

[2021-11-17 04:51] pssolanki111 commented on #390
@alphazwest it might be very late to answer, but you shouldn't be using `.map` for one df object. instead `.submit` is what you need.

[code]

also remember to keep it inside the `if __name__ == '__main__':` guard (the ifmain guard)

[2021-11-17 04:54] pssolanki111 commented on #373
@twopirllc this sounds like a to-be-closed issue?

[2021-11-17 11:56] pssolanki111 commented on #404
@twopirllc to confirm, this is about adding type hinting to all the classes, methods, and functions for their arguments and return types, right?

(and I'm assuming docstrings included, lemme know if otherwise).

[2021-11-17 14:59] hhashim1 commented on #430
Thank you.

[2021-11-17 14:59] #430 closed

[2021-11-17 15:23] pssolanki111 commented on #390
also @twopirllc i feel this issue needs to be closed. They can re-open if they feel the need to any time they want.

[2021-11-17 16:14] twopirllc commented on #404
@pssolanki111,

That is correct. More so for the individual indicators in their respective sub-directories than all the DataFrame Extension Indicator Methods (sma, ema, et al) in _core.py_ for now.

Thanks,
KJ

[2021-11-17 16:18] twopirllc commented on #373
@pssolanki111,

I'll close it when I update the _main_ branch as well as other Issues in the similar state.

KJ

[2021-11-17 16:26] twopirllc commented on #399
@pssolanki111,

I am aware of Sphinx, just little xp with it. Thanks for providing reference links. 😎

Thanks,
KJ

[2021-11-17 16:42] twopirllc commented on #431
@hhashim1,

Great!

I am trying to get some of this done in the free time, so please be patient.

on top of AlphaAdvantage and Yahoo. My friend wrote a library for Polygon
and I have used his as he makes it super easy. He is working on making his
library the official Polygon library :-)

Great! Looking forward to it. A Polygon wrapper would be a nice additional resource. 😎

support? I think its mu

[2021-11-17 17:55] rajeshdhar commented on #425
I am not sure I understand your new question "Could you please truncate and share 2 or 3 tickers worth of the CSV?"

CSV file has only 3 tickers 20MICRONS, ABB and ADANIENT. CSV has data for each ticker for date range of 01-Jan-2016 to 15-Nov-2021.

[2021-11-17 18:06] pssolanki111 commented on #431
hey @twopirllc

As Hashim mentioned a friend of his wrote a wrapper for polygon.io as s data source, I am that friend :D
The lib is public alpha (v0.9.6) and I'm holding off production release v1.0.0 until the polygon lib team reaches out (I'm in conversations with Quinton, their CEO on slack and they have some internal things to do before the integration.

hashim and I (well more like Hashim alon

[2021-11-17 18:16] pssolanki111 commented on #404
@twopirllc That makes sense. two questions here

1. I'm assuming we're NOT supposed to only use `|` for compound type indication and that it is okay to use `Union` from typing?
2. it is okay to raise PRs for component files in groups, as opposed to raising one BIG PR with all the type hints done and dusted?

I'm almost entirely certain about both being True but wanted to confirm.

Regards
P S

[2021-11-17 18:22] twopirllc commented on #425
@rajeshdhar,

I accidentally submitted the "Comment" before I noticed that you shared a copy of your _csv_. Hence I deleted that comment. Apologies for the confusion. 🤦🏼‍♂️

Thank you for sharing the _csv_, it really helps. 😎
KJ

[2021-11-17 18:40] twopirllc commented on #404
@pssolanki111,

1. Whatever is flexible and creates minimal future technical debt.
1. Yes, groups would be manageable.

Thanks,
KJ

[2021-11-17 18:53] twopirllc commented on #431
Hi @twopirllc,

The lib is public alpha (v0.9.6) and I'm holding off production release v1.0.0 until the polygon lib team reaches out (I'm in conversations with Quinton, their CEO on slack and they have some internal things to do before the integration.

Nice to meet you! 😎 I connected the dots. 😁

Awesome! Congrats on getting included with Polygon integration with your library. 🥂

True. Long ago

[2021-11-17 21:04] alphazwest commented on #390
Thanks, it was actually a collection of `DataFrame` objects and wrapped in `if __name__ == "__main__"` per my initial comment. The last few comments were just casual discussions.

This issue can 100% be closed. I should have already indicated such.

[2021-11-17 21:04] #390 closed

[2021-11-17 22:51] Ylelmon opened #433 "How to use ADX function?"
I tried so many time but it won't work

[2021-11-18 08:13] pssolanki111 commented on #433
hey @Ylelmon we'd need more information about the issue. Please try and follow the issue template if you can or at least provide reproducible code, the issue you have and any relevant environment information you might have.

Regards
P S

[2021-11-18 11:23] Ylelmon commented on #433
this is the code im using

from get_data import get_klines
import numpy
import pandas_ta as ta
ticker ='BTCUSDT'
interval = '15m'
depth = "20 hours ago UTC+3"

df =get_klines (ticker ,interval,depth)
print(df)

data = df.ta.adx(high=df['High'], low=df['Low'], close=df['Close'], length=10, lensig=10, scalar=100, mamode=rma, drift=1, offset=0)

the error

Traceback (most recent call last):
  File "c

[2021-11-18 12:52] Ylelmon commented on #433
And the same error with MACD

[2021-11-18 17:05] twopirllc commented on #433
@Ylelmon ,

What does your:

[code]

Print out?

[2021-11-18 17:05] Ylelmon commented on #433
Data from binance

[2021-11-18 17:08] twopirllc commented on #433
@Ylelmon,

Ok! Real data would be nice. I want to see the columns... Mixed cases?

The error:
[code]

is a Numpy Error. Not a Pandas TA Error. You should probably upgrade your numpy version. Then post some data.

Thanks,
KJ

[2021-11-18 17:11] Ylelmon commented on #433
But I used vp =volume profile and work even without upgrade numpy

[2021-11-18 17:13] Ylelmon commented on #433
I upgraded numpy now it work thx

[2021-11-18 17:20] Ylelmon commented on #433
![بدون عنوان](https://user-images.githubusercontent.com/42420576/142464896-f7a0a52f-0a67-4d37-90b7-ebfa8c5e43db.png)

[2021-11-18 17:26] twopirllc commented on #433
@Ylelmon,

Excellent! 😎

Always check the Error for the correct package.

KJ

[2021-11-18 17:38] Stoner-sen opened #434 "Identifying ML Categorical vs Continuous Features from All Strategy"
I have collected historical stock data and use the Pandas TA AllStrategy to get features for my data. Then I will use the features generated by Pandas TA in a ML model to forecast prices. However, I need to standardize/scale the features and thus know which features are categorical and which are continuous. Is there a way to extract this information?

 In addition some of the features generated ar

[2021-11-18 19:18] Ylelmon commented on #433
![بدون عنوان](https://user-images.githubusercontent.com/42420576/142481845-b08a3834-3e8a-478c-a5b8-5402b43d320b.png)
![بدون عنوان](https://user-images.githubusercontent.com/42420576/142482010-2fa3f044-2ea0-4a72-9bb1-a5453972299e.png)
 why the output different ?

[2021-11-18 20:52] twopirllc commented on #433
Compared to what?

[2021-11-18 21:28] Ylelmon commented on #433
Ok thanks.

[2021-11-19 09:15] pssolanki111 commented on #433
@twopirllc sounds like to be closed.

[2021-11-19 12:00] Ylelmon opened #435 "Can make session volume with pandas_ta?"

[2021-11-19 16:39] twopirllc commented on #425
Hey @rajeshdhar,

This is what I was able to accomplish.

In Jupyter:

[code]
<img width="460" alt="Screen Shot 2021-11-19 at 8 34 17 AM" src="https://user-images.githubusercontent.com/18198392/142658324-f781842b-a220-4441-b9b1-05e4a2ba15bf.png">

[code]
<img width="483" alt="Screen Shot 2021-11-19 at 8 36 22 AM" src="https://user-images.githubusercontent.com/18198392/142658856-2393f32e-2f10-4dd9-

[2021-11-19 16:39] #435 closed

[2021-11-19 16:40] #433 closed

[2021-11-19 21:55] #195 closed

[2021-11-20 21:12] jcoffi commented on #388
I'm not OP. But if you're interested [here ](https://github.com/alpacahq/alpaca-trade-api-python/blob/master/examples/websockets/v2_example.py ) are some examples of Alpaca's.

[Here ](https://github.com/alpacahq/alpaca-trade-api-python/ ) is their documentation for their python SDK.

[2021-11-21 05:41] CMobley7 opened #436 "Reflex and Trendflex Question"
I was comparing the implementations of `Reflex` and `Trendflex` in pandas-ta to their implementations on https://www.prorealcode.com/prorealtime-indicators/reflex-and-trendflex-indicators-john-f-ehlers/. There appears to have been an extra `0.5 *` added in front of `close[i - 1]` here, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/trendflex.py#L67. Also, the original impl

[2021-11-22 19:35] rengel8 commented on #436
I would have to check on that again. On the first look it is simply a multiplication instead of a division by 2, but there are other deviations in the super smoother part. I will have a look at that, hopefully some time soon.

[2021-11-23 13:35] #425 closed

[2021-11-23 16:35] pssolanki111 commented on #432
@twopirllc can be closed for lack of activity. They can always reopen. No one can do absolutely anything about it unless there is some solid info on what's wrong :D

[2021-11-23 22:26] twopirllc commented on #432
@pssolanki111,

Seems @graphicgeared  figured it out and forgot to close the Issue. Reopen this Issue @graphicgeared, when you address my prior comment.

Thanks,
KJ

[2021-11-23 22:26] #432 closed

[2021-11-23 23:02] twopirllc commented on #434
@Stoner-sen,

Since Pandas is a major component of this library, you can utilize features of Pandas to accomplish task. If I understand you correctly, what you are looking for are Pandas DataFrame [dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html).

### Data Collection
In Jupyter Notebook
[code]

### Run All Strategy
[code]

### Column Data Type
[code]

#### Output

[2021-11-24 07:54] Stoner-sen commented on #434
Thank you! This was what I tried at first, but after studying the features more closely I was not sure anymore. F.eks should "CDL_DOJI_10_0.1" be categorical as there is only two unique values for this indicator?
![Skjermbilde 2021-11-24 kl  08 49 31](https://user-images.githubusercontent.com/60887674/143196534-86203df5-399c-4a72-aa45-780594b83e2a.png)

Also, you see from the "PVR" indicator that

[2021-11-24 17:55] twopirllc commented on #434
@Stoner-sen,

Up to you to decide. A candle is either a [Doji](https://www.investopedia.com/terms/d/doji.asp) or it's not. In TA Lib a Doji (100) or not a Doji (0). There is also ```help(ta.cdl_doji)``` which is Pandas TA's implementation.

In short, yes 4 values. Please use ```help(ta.pvr)``` to get a description and links to source.

KJ

[2021-11-24 23:49] CMobley7 commented on #436
Sorry for the delayed reply, I thought that at first as well. However, line 17 here, https://www.prorealcode.com/prorealtime-indicators/reflex-and-trendflex-indicators-john-f-ehlers/, is the same for `Reflex` and `Trendflex`. However, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/cycles/reflex.py#L66 and https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/tr

[2021-11-25 09:47] bharathraja opened #439 "Request to add random walk index indicator"
Can random walk index indicator be added to the panda-ta library ? thanks

References:
[Technical Indicators](https://www.technicalindicators.net/indicators-technical-analysis/168-rwi-random-walk-index)
[trading sim](https://tradingsim.com/blog/random-walk-index/)
[linnsoft](https://www.linnsoft.com/techind/random-walk-index)
[fmlabs](https://www.fmlabs.com/reference/default.htm?url=rwi.htm)

[2021-11-26 07:08] Ylelmon opened #440 "Utility"
Sorry but it might be weird question but how to use Utility ? Is like

If EMA 50 cross ema100 buy or something different?

[2021-11-27 18:37] twopirllc commented on #439
Hello @bharathraja,

Eventually. Though it looks fairly trivial for someone to implement and make a contribution instead of waiting for me to get around to it. If you are willing and want contribution credit, that would be awesome. 😎 If so, check out Issue #355 [Creating a Custom Indicator](https://github.com/twopirllc/pandas-ta/issues/355).

Kid Regards,
KJ

[2021-11-27 18:40] twopirllc commented on #436
Hello @CMobley7,

I likely screwed up something. I'll take a look as soon as I can. Apologies in advance.

KJ

[2021-11-27 19:13] twopirllc commented on #440
Hello @Ylelmon,

In short yes. They are basic methods to determine how two series interact. This Issue [#406 ](https://github.com/twopirllc/pandas-ta/issues/406) shows an example as well as an example using ```ta.xsignals``` instead.

Hope this helps!
KJ

[2021-11-27 19:14] Ylelmon commented on #440
Oh thinks

[2021-11-27 23:35] #440 closed

[2021-11-28 10:51] Pl0414141 opened #441 "Multiple runtime warning errors"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
TA-Lib                 0.4.21

**Describe the bug**
Adding all indicators shows the following warning errors:
[code]

**To Reproduce**
Use a large dataset (>500MB) and apply all indicators as follows:
[code]

**Expected behavior**
No

[2021-11-28 19:59] twopirllc commented on #441
Hello @Pl0414141,

**Note:** These are only warnings and not necessarily a bug. You can [disable](https://www.google.com/search?q=python+disable+runtimewarning) warnings in your own code.

I _assume_ the ```data.ta.strategy()``` completes, correct? If so, have you checked that those indicators that are using ```ta.linreg()``` produce correct values?

Are those **all** the unique errors?

Please up

[2021-11-29 00:14] CMobley7 commented on #436
@twopirllc, if I'm wrong let me know. If not, let me know if you want me to put in a pull request or if @rengel8 should do it. Also, no need to apologize. Your library is amazing. Thanks for all the time you've put into making it what it is!

[2021-11-29 06:14] Ylelmon opened #442 "whats the different ?"
macd= df.ta.macd(close=df['Close'], fast=12, slow=26, signal=9, talib=True, offset=0)

the rsults
![بدون عنوان](https://user-images.githubusercontent.com/42420576/143817381-ed2eaed6-b066-4548-9c65-efba95d71610.png)
s

and

macd= ta.macd(close=df['Close'], fast=12, slow=26, signal=9, talib=True, offset=0)

the result
![بدون عنوان](https://user-images.githubusercontent.com/42420576/143817527-e2e4c93

[2021-11-29 11:28] bharathraja commented on #439
Thanks for sharing respective resources, @twopirllc . I am first trying to recreate it on excel to match with the chart displayed by a broker software. If it works, i will try to add it as a feature.

[2021-11-29 13:47] AureliusMarcusHu opened #443 "Zig Zag Indicator"
Hi,
pandas_ta is a fantastic project, thanks for sharing it.

Maybe it si a good idea to implement the Zig-Zag indicator.
It is a indicator that is nog based on periods but on % of change.
On this way will be easy to find the higest and lowest pivot points in the past.
It is also great to see the trend is up or down.
In the link below the indicator is explained:
[https://www.investopedia.com/terms

[2021-11-29 16:04] rengel8 commented on #436
I once made a comparison based on output data coming from Trading View I think (SPY_D_REFLEX_TRENDFLEX.csv). Maybe we should do that again or with output from prorealcode (default parameters) to check where we are?

@CMobley7 Better results is very dependend on the situation (market etc). I would prefer to have a state that is close to the originating code and which is working like expected.

[2021-11-30 01:39] Ylelmon commented on #442
- [ ]

[2021-11-30 01:39] #442 closed

[2021-11-30 20:51] twopirllc commented on #443
Hello @AureliusMarcusHu,

It's on the list. Hopefully someone can help contribute so it can be added quicker. 😎

Kind Regards,
KJ

[2021-12-01 16:27] ajit1310 opened #444 "get_all_indicators"
Hi ,  can you add a function to get all the available indicator .
Thanks
Ajit

[2021-12-01 17:02] twopirllc commented on #444
Hello @ajit1310,

It's covered under [Pandas TA Strategies](https://github.com/twopirllc/pandas-ta#pandas-ta-strategies) on the README. Also see [Pandas TA Strategy Examples](https://github.com/twopirllc/pandas-ta/blob/main/examples/PandasTA_Strategy_Examples.ipynb) on ways to further customize Pandas TA Strategies.

Kind Regards,
KJ

[2021-12-01 17:02] #444 closed

[2021-12-03 16:42] CMobley7 commented on #436
@rengel8 , it appears that the extra `0.5` in front of `close[i - 1]` was adding in the following commit, https://github.com/twopirllc/pandas-ta/commit/36ab37a1eca449478a45f67a191499cca494484a#diff-0c0c06628224d80ef2e133c513e0d14c7aa0b3d63797e3509cdf11b3022a8a92. If you want to keep `Trendflex` as close to the original code as possible, I also suggest that we remove the extra `0.5` and change the

[2021-12-03 16:43] #428 closed

[2021-12-03 16:50] #431 closed

[2021-12-03 16:52] twopirllc commented on #441
@Pl0414141,

Reopen when you can narrow down and share relevant _ohlcv_ data so I can reproduce it.

Thanks,
KJ

[2021-12-03 16:52] #441 closed

[2021-12-03 16:55] twopirllc commented on #436
@CMobley7,

Sorry, needed to finish up the lingering PRs. I will look into these now.

KJ

[2021-12-03 16:56] twopirllc commented on #426
Hello @lucasmlofaro,

Should be taken care of on the _development_ branch if you want to double check that it's working as intended.

[code]

KJ

[2021-12-03 16:58] twopirllc commented on #409
Hello @jhleong,

It's on the _development_ branch now if you want to double check it. Thanks for using Pandas TA!

[code]

Thanks,
KJ

[2021-12-03 16:58] twopirllc commented on #401
@razamit,

It's on the _development_ branch now if you want to double check that it's working as intended.

[code]

Thanks,
KJ

[2021-12-05 14:44] GoldenGeese opened #445 "error on getting ADX values."
I wanted to create a new column for my pd data frame which has the adx values. I followed exactly what arguments does the indicator need like this:

[code]

but it gave me an error when I ran it:
[code]

I tried using lambdas and apply() function like this:
[code]
However, it gave me None values in that column

[2021-12-05 19:30] Yury-MonZon commented on #420
Same here. Please, help.
ATR, SuperTrend and EMA are changing their last values with the amount of data supplied.

[2021-12-05 20:06] Yury-MonZon commented on #420
Here is what I tried and my results:
`	ema_df = pd.DataFrame()	# erase old stuff
	ema_df['EMA_200'] = ta.ema(ticker_df['price'].tail(201), length=200)
	print(f"{ema_df['EMA_200'].iloc[-1]=}")

	ema_df = pd.DataFrame()	# erase old stuff
	ema_df['EMA_200'] = ta.ema(ticker_df['price'].tail(500), length=200)
	print(f"{ema_df['EMA_200'].iloc[-1]=}")

	ema_df = pd.DataFrame()	# erase old stuff
	ema_df['

[2021-12-05 20:11] twopirllc commented on #445
Hello @GoldenGeese,

Indicators return either a Series (1 column) or a DataFrame (2 or more columns). To easily figure out which it returns use ```help(ta.<indicator name>)``` and look at the bottom for the expected columns. For **adx** in particular, it returns a DataFrame with columns: **adx**, **dmp**, **dmn** columns.

So in your code:

[code]
you are trying to stuff a multicolumn DataFrame in

[2021-12-07 12:10] itsbeeut opened #446 "[BUG] ta.cross() with df.loc[]"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Describe the bug**
ta.cross() with df.loc[] gives first two True,True and Others False...

**To Reproduce**
[code]

Output:
[code]

**[UPDATE]**
It will work if you do something like this:
[code]

Thanks for Pandas TA 🥰

[2021-12-07 14:52] twopirllc commented on #446
Hello @itsbeeut,

I recommend looking at Issue #406, _How to use cross?_ instead.

Let me know if that helps!

Kind Regards,
KJ

[2021-12-08 03:51] psychoMLM opened #448 "VWAP - Base Anchor Multiples (5M, 2H, et al) with regex"
Firstly, most of the END of time frame anchors work perfectly except the 6 month. The 6 month is calculating exactly as the 1 month(M).

[code]

Secondly, the START of time frame anchors dont work at all.

[code]

I get the following errors respectively per line.
[code]

Note: Im following the offset aliases guide in the link provided from help(ta.vwap)

https://pandas.pydata.org/pandas-docs/stabl

[2021-12-08 04:00] twopirllc commented on #448
Hello @psychoMLM,

If you want this to be resolved sooner, I recommend forking, editing and submitting a PR.

Kind Regards,
KJ

[2021-12-08 04:05] twopirllc commented on #445
Hello @GoldenGeese,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-12-08 15:53] rengel8 commented on #439
Hello there..
I had a look at that, but did only do a quick python implementation. Below is a SpreadSheet with data and results. I think that it wouldn't be that trivial to recreate it inside of excel or thelike.
[rwi-data-plot.ods](https://github.com/twopirllc/pandas-ta/files/7677154/rwi-data-plot.ods)

![grafik](https://user-images.githubusercontent.com/34138513/145239148-7eb27f69-c224-4f11-b095

[2021-12-09 08:27] yhmickey opened #450 "td_seq indicator datetime index and append"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
pandas-ta 0.3.14b0
pandas 1.0.3
numpy 1.18.2
python 3.7

**Do you have _TA Lib_ also installed in your environment?**
yes

**Describe the bug**
A clear and concise description of what the bug is.

td_seq returns lost the datetime index. Thus the ta.td_seq(append=True) can not work correctly.

**Solution

[2021-12-09 11:12] twopirllc commented on #446
Hello @itsbeeut,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-12-09 13:35] rengel8 commented on #420
This issue is very interesting and also covering the question how much pre-roll would be needed for a certain interval, to allow reproduce-able results with certain indicators or a combination/concatenation of them.

There are only a few indicators, which have a simple sliding window, which must - according to my understanding - be the reason for the SMA to be fine in this regard.

Many other ones

[2021-12-09 14:44] itsbeeut commented on #446
Yeap thanks a lot 🥰

[2021-12-09 14:44] #446 closed

[2021-12-09 21:59] twopirllc commented on #450
Hello @yhmickey,

When using the Standard Convention call (like TA Lib), ```ta.td_seq()```, ```append``` is not an argument and doesn't know how to append it to the current DataFrame. However when you call **td_seq** using the DataFrame Extension Convention, ```df.ta.td_seq(append=True)```, it will append it to the current DataFrame. See Issue with a working example #421.

Make a PR for the dateti

[2021-12-09 23:16] yhmickey commented on #450
Thank you @twopirllc ,

When I use the original code and try the example #421 , the td_seq can not append.  Thus ， I check the code and fix my local copy and it works for me.
Maybe the version of pandas make this problem, I guess.

Original:

![test](https://user-images.githubusercontent.com/34559558/145489734-9f639246-3dea-48d5-a0df-3f69830ad811.PNG)

Fixed:
Change:  td_num = Series(td_num,index=

[2021-12-10 05:24] Yury-MonZon commented on #420
I see it from a different perspective, if indicator length is specified, then it should work the same on any amount of pre roll, with minimum pre roll specified in docs. I mean if it doesn't have enough to give correct results it should raise an exception to warn a coder that he is not using it right.

[2021-12-10 08:05] idristarwala opened #451 "Custom Strategy Based on My existing TV indicator"
Hi,

First of all thanks for creating a great library, this is a game changer.

I have been predominantly using Trading View, I have build many indicators on TV and use them in my daily trading. You can consider them proprietary Algo which are combination of use of basic building blocks all of which are already present in pandas-ta lib.

So my indicator uses a combination of Previous Day High/Low

[2021-12-10 16:40] idristarwala commented on #451
For Example :-
#Strategy Definition
strategy = [
    {"kind":"sma"},
    {"kind":"bbands"},
    {"kind":"macd"},
    {"kind":"rsi"},
    {"kind":"supertrend"},
    {"kind":"mfi"}
]

When defining a strategy like this we can pass in multiple inbuilt indicators. I want to pass in my own function which has custom logic to generate the buy/sell signals.

#Strategy Definition
strategy = [
    {"custom_

[2021-12-11 01:36] #445 closed

[2021-12-11 01:39] twopirllc commented on #450
Hi @yhmickey,

Yeah, that might be possible. I recommend trying to the _development_ branch then. Off the top of my head, I do not recall if it fixes the Issue. But if you install it and test it and let me know, I would appreciate it.

[code]

Thanks,
KJ

[2021-12-11 02:27] twopirllc commented on #434
@Stoner-sen,

Apologies for not getting back to your second block of questions sooner.

Yes, clearly the "All Strategy" is a sub-optimal approach for finding potential patterns or signals with indicators. It also appears to be the go to approach for AI/ML practitioners and enthusiasts to mine and extract some value. One could possibly use [Dimensionality Reduction Models](https://machinelearningma

[2021-12-11 08:26] yhmickey commented on #450
Hi @twopirllc ,

The issue is solved in the development branch.

Thank you!
yhmickey

[2021-12-11 08:26] #450 closed

[2021-12-13 01:03] twopirllc commented on #451
Hello @idristarwala,

Thank you. I appreciate it!

That's how I started out as well. I have ported a few indicators from TV into Pandas TA also.

Excellent!

I assume you are referring to the example [Watchlist Class](https://github.com/twopirllc/pandas-ta/blob/main/examples/watchlist.py) as shown in the [Pandas TA Strategy Examples](https://github.com/twopirllc/pandas-ta/blob/main/examples/Pandas

[2021-12-13 02:00] twopirllc commented on #420
Hello @manujchandra, @Yury-MonZon, @asjiLab,

I understand what you are talking about it as well as the **severity** on why _some_ indicators are _not_ converging accurately within their lengths or periods as expected. Additionally, none of you have mentioned if you also have TA Lib installed in your environment and whether or not that also has an impact on the results for comparison.

I also want

[2021-12-13 07:33] drixie opened #452 "Feature Request: Pivot Points"
Pivot points are used to notice importance levels during a trading session. I have used them successfully for day trading as they are solid inflection points.

Read more here - https://tradingsim.com/blog/pivot-points/

Since it is typically computed on daily timeframe (and above), yfinance data can be used as a default.

My python skills are limited so I cannot code it as a Pandas TA custom indic

[2021-12-13 20:56] twopirllc commented on #452
Hello @drixie,

I am aware of all sorts of indicators including Pivot Points as well as the different kinds of Pivot Points will need to be included.

Luckily, you do not need to look far for Python code for Pivots as Jesse AI has also implemented them. The only issue I foresee is that Pandas TA does not know what timeframe users are using... it seems many users are using intraday timeframes, so t

[2021-12-14 12:43] pssolanki111 commented on #409
@twopirllc could be closed this one since pull #410 was merged a while back

[2021-12-14 21:46] twopirllc commented on #434
Hello @Stoner-sen,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-12-14 21:47] twopirllc commented on #401
Hello @razamit,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2021-12-16 05:44] manujchandra commented on #420
Hi @twopirllc

I do not have TA Lib installed.

I have developed a back-tester which is using pandas-ta for some of the indicators. Because I have to pass 150 rows for each stock for each day, the back-testing is significantly slower, as opposed to sending only say 50 rows.

I have not tried it on all the indicators as there are many of them, but I believe if we can fix one, the others should also

[2021-12-16 05:45] zhemaituk opened #454 "JMA indicator ValueError: cannot convert float NaN to integer"
pandas-ta: 0.3.14b0

Running `df.ta.strategy()` or more specifically `df.ta.jma()` on a simple dataframe fails with

[code]

Sample unit test:
[code]

[2021-12-18 00:30] idristarwala commented on #452
I have an implementation of PIvot Points in Python which resembles the PivotHigh and PivotLow of TradingView I can share here.

[2021-12-18 00:30] idristarwala commented on #451
@twopirllc thanks for your detailed response. I will try this out on the weekend.

[2021-12-18 16:13] idristarwala commented on #452
[code]
    You can use this code to compute pivots on any timeframe intraday as well as daily or any timeframe.

[2021-12-18 16:14] idristarwala commented on #452
In the above snippet `pivot` input is the length of the pivot, data is a pandas data frame with OHLCV data

[2021-12-18 20:09] Yury-MonZon commented on #420
Hi @twopirllc

Sorry for the lack of information.
I've installed TA-lib and tried ema200 again. Pre-rolls are: 201, 500, 1000:
Without TA-Lib:
[code]

With TA-Lib:
[code]
And I didn't get anything good with 461 samples either, like @rengel8 did.

[2021-12-19 03:31] twopirllc commented on #420
Hello @manujchandra,

Cool! I saw the video you posted.

Are you using ```df.ta.strategy(your_ta)``` to run a set of indicators or standalone like TA Lib ```atr = ta.atr(df.high, df.low, df.close)```. Let's skip these anecdotal descriptions, how long for 50 rows vs 150 rows?

Use ```df.ta.strategy(your_ta, cores=0)``` when using a small set indicators. This disables the multiprocessing pool, since

[2021-12-19 03:45] twopirllc commented on #352
@Stevearama and @saif-ellafi,

Resolution found. Please see the solution referenced in this **mplfinance** [Issue](https://github.com/matplotlib/mplfinance/issues/423).

KJ

[2021-12-19 21:45] jaggas opened #455 "Error in ALMA computation"
**Version:** 0.3.14b0 (most up to date with github repo as of 2021Dec19
**TA-Lib is installed**

**Describe the bug**
The computation for the ALMA indicator is incorrect.

**To Reproduce**
df.ta.alma(close='close', length=20, sigma=6, distribution_offset=0.85, append=True)

**Expected behavior**
Functionally correct (no runtime errors, etc.) Problem is with resulting calculation. I haven't tracked

[2021-12-20 17:56] #455 closed

[2021-12-20 18:08] twopirllc commented on #454
Hello @zhemaituk,

So luckily it was a quick and easy fix. It is now available on the _development_ branch if you want to verify it and let me know.

[code]

Thanks,
KJ

[2021-12-20 23:48] rengel8 commented on #420
**pandas-ta = 0.3.36b0**
**TA-Lib = 0.4.19**

I only used the provided examples and added the intervalls, which did create the wanted result of a repeatable outcome for an EMA 200 at 461 bars/candles on my side.

[code]
Above **talib=False** needed to be added, since it is used by default if the package can be found (I wasn't aware of that before). The results do still correlate quite well between

[2021-12-21 17:17] knucklesuganda commented on #398
The results are different because of the formula that is used. It goes like that: if the candle is red, then count everything as sell, and count everything as buy otherwise. It should look for the real sell and buy orders, instead of the candle type. I will make another indicator with a pull request

[2021-12-25 00:03] zhemaituk commented on #454
Works like a charm, thank you!

[2021-12-25 00:03] #454 closed

[2021-12-27 19:13] EricCrosson opened #459 "Request to publish wheel to pypi"
**Is your feature request related to a problem? Please describe.**

There is no wheel published to [pypi](https://pypi.org/project/pandas-ta/#files)

**Describe the solution you'd like**

I'd like to be able to install from a wheel on pypi

Thanks for ~using~ creating Pandas TA!

[2021-12-28 08:40] hadialaddin opened #460 "AVWAPs from specific points"
I am trying to draw AVWAPs just like TradingView but from specific point (in my case the main Pivot Points on the chart). I already know the Pivot Points, I just want to know how to set the Anchor value so that it starts from those points. Lets say I have the 1 hour chart pulled from ByBit Kline (which fetches the last 200 hourly candles), what's the Pandas TA code snippet to draw:

- Close AVWAP

[2021-12-28 19:51] twopirllc commented on #460
Hello @hadialaddin,

I don't know off the top of my head. Is there a public TV source of available?

Hopefully someone else may has a good idea or has implemented something similar will share.

Kind Regards,
KJ

[2021-12-28 20:15] hadialaddin commented on #460
Thanks @twopirllc here is more on the Anchored VWAP Calculation
The Anchored VWAP is calculated using the same formula as traditional VWAP. The only difference is in the bars that are included in the calculations.

With traditional VWAP, the calculation starts with the first bar of the day and ends with the last bar of the day. Because it only incorporates one trading day of data, traditional VWAP

[2021-12-30 21:58] hadialaddin commented on #460
@twopirllc any thoughts on this so far? If there is a quick hack to do this manually using the already available VWAP function or to modify it?

[2021-12-30 22:02] hadialaddin commented on #460
Basically the Anchored VWAP needs a candle to start from, and to define whether to pick the "High", "Low" or "Close" of the candle to calculate the VWAP for since then.

[2021-12-31 14:50] schwaa opened #461 "CMF very different from TradeView"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
pandas-ta .3.2b0
**Do you have _TA Lib_ also installed in your environment?**
[code]
TA-Lib = .4.19

**Upgrade.**
[code]
upgraded to .3.14b0
Same CMF result.

**Describe the bug**
A clear and concise description of what the bug is.

Using CMF 20 day on AHPI with 30min bars.  CMS return is .4 from

[2021-12-31 17:31] twopirllc commented on #461
Hello @schwaa,

What _ohlcv_ source you are using to calculate **cmf** using Pandas TA? Is it from TradingView or is it another data source? It would also be great if you could provide a correlation test by following this https://github.com/twopirllc/pandas-ta/issues/107#issuecomment-685834922 and show the correlation.

Kind Regards,
KJ

[2021-12-31 17:53] twopirllc commented on #460
Hello @hadialaddin,

No. I understand what you want. The only idea I have is to make a new indicator called **avwap** (see #355), copy the source of **vwap**, take out ```high``` and ```low``` from the signature, then add another argument to the signature like ```post_shift=0```. Then in the code, rename ```typical_price``` to close, then shift the anchor when ```post_shift > 0``` and finish the r

[2021-12-31 23:48] schwaa commented on #461
Thank you for the reply - Happy New Year!  I'm lame so I'm looking at this a
little more today, but I'll have to give up soon and try again tomorrow.   I'm
using a different data source - paid feed from Alpaca.TradeView is saying I need
to upgrade to Pro+ in order easily  export the data for the chart, so I have to
see about that as well.  I do pay for TradeView, but I guess not the right
level.
I

[2022-01-01 21:15] twopirllc commented on #461
@schwaa,

Happy New Year!

Yes, this is a common Issue with people comparing apples and oranges and claiming the library is inaccurate. As you probably know, financial data is not uniform among exchanges, brokers and other data sources. Nor are we privy to how they are cleaned and sanitized or is post edited for other reasons. But when there are inaccuracies, I try to remedy it to within 0.99 corr

[2022-01-02 07:59] GoldenGeese opened #462 "New indicator suggestion(Clenow momentum)"
**Is your feature request related to a problem? Please describe.**
My request is a new indicator called Clenow momentum.
**Describe the solution you'd like**
It measures momentum by getting the exponential regression  of log prices  and the Coefficient of Exponential Regression depending on the rolling days. It can detect trends in a stock as well as the direction of the stock.

**Additional conte

[2022-01-03 17:44] schwaa commented on #461
Hello,I realized there were some volume gaps in the original test case, so to
remove that issue, I started to look at XLE.  That gets tons of volume.  And I
was looking at today.This is TradeView:
Sorry I don't have the detailed data.  CMF goes from negative to positive today.
Even at 11:40 - XLE CMF is still negative using the pandas-Ta.
--=== Start XLE ===---
Fetching new bars for XLE at 2022-01

[2022-01-03 18:13] #426 closed

[2022-01-03 19:02] schwaa commented on #461
This is really stupid of me, but I must on some level be doing something wrong.
This code works:
import pandas_ta as ta
symbol='XLE'
df = get_15bar_from15(symbol)
ccidf = df.ta.cci(length=20)
print(ccidf)
import pandas_ta as pta
symbol='XLE'
df = get_15bar_from15(symbol)
ccidf = df.pta.cci(length=20)
print(ccidf)

Have I done  some common mistake that people mess up or something?  Just
changing th

[2022-01-03 19:24] twopirllc commented on #420
@manujchandra, @Yury-MonZon, @asjiLab, @rengel8,

While helping another user using a different python application, a similar issue has been noted since that application also used TA Lib for some indicators. Apparently, this is a known Issue and discussed in TA Lib's documentation regarding some indicators [Unstable Period](https://ta-lib.org/d_api/ta_setunstableperiod.html). Please read when you g

[2022-01-03 19:48] twopirllc commented on #461
@schwaa,

Yes, the first code block is correct. In _pandas_ta/core.py_, the [DataFrame Extension](https://pandas.pydata.org/docs/development/extending.html) is called `ta` and the methods/indicators of that extension must use it (unless you modify the extension name locally).

Pandas TA DataFrame Extension definition: [@pd.api.extensions.register_dataframe_accessor("ta")](https://github.com/twopir

[2022-01-04 13:45] schwaa commented on #461
Great - That make and I was using ta before, I just changed it try to try some
different things to figure out how to understand what is happening.My biggest
challenge right now, is that I don't understand the different in the
computations with TradeView and I can't get any symbols to match even remotely. 
I've been trying all the sector ETF's  and I get close.XLE, XLP, XLRE, XLU, etc
Brian

On Mon

[2022-01-04 19:56] twopirllc commented on #461
Hey @schwaa,

Ok, so I exported Daily SPY since inception with TV's CMF with length 20. Here are the correlation results and additional beginning and ending rows for comparison.

<img width="826" alt="Screen Shot 2022-01-04 at 11 51 33 AM" src="https://user-images.githubusercontent.com/18198392/148116082-f0ff4387-d3d0-4a4d-8ddc-007ad8e16e8f.png">

<img width="308" alt="Screen Shot 2022-01-04 at 11

[2022-01-04 21:20] schwaa commented on #461
Yes - Thank you -To summarize - you would say - if the data is the same, the
result will be the same, so my SIP data, must  be different from TradeView. 
Sounds like what you are thinking?

On Tue, Jan 4, 2022 at 2:56 PM Kevin Johnson ***@***.***>  wrote:

Hey @schwaa,

Ok, so I exported Daily SPY since inception with TV's CMF with length 20. Here
are the correlation results and additional beginni

[2022-01-04 23:32] twopirllc commented on #461
@schwaa,

That's correct. Like I said above in https://github.com/twopirllc/pandas-ta/issues/461#issuecomment-1003620059, "... financial data is **not** uniform among exchanges, brokers and other data sources. Nor are we privy to how they are cleaned, sanitized or is post edited for other reasons."

As popular and ubiquitous as TV is, TA Lib is still the _de facto_ TA Library that most users use a

[2022-01-05 17:33] #461 closed

[2022-01-07 15:47] khannavivek opened #463 "tvmode value to be declared first so that default tvmode is always true"
https://github.com/twopirllc/pandas-ta/blob/bc3b292bf1cc1d5f2aba50bb750a75209d655b37/pandas_ta/trend/cksp.py#L22

Hi,

As per the function docstring default value of tvmode is true, but the default value passed as a function param is None and after the declaration of dependent variables then tvmode value is assumed to default in case of none,

![image](https://user-images.githubusercontent.com/624

[2022-01-07 16:57] #434 closed

[2022-01-07 17:00] twopirllc commented on #451
Hello @idristarwala,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-01-09 17:51] twopirllc commented on #463
Hello @khannavivek,

Doh! Good catch. If you haven't already, update your local copy in the mean time.

Kind Regards,
KJ

[2022-01-11 21:33] krazykoder opened #464 "Pandas_TA and Pandas performance with Intel Modin"
**Pandas_TA and Pandas performance with Intel Modin.**
I consider myself a newbie in python. I have been using pandas_ta and pandas in general for a while now.

I saw on Intel's website that `modin` library with Intel's optimization can speed up performance of pandas significantly. And all of it can be achieved by using modin.pandas instead of pandas as below.

[code]

I am wondering if this impro

[2022-01-14 11:10] puneeth714 commented on #443
Did anyone working on Zig Zag indicator ?

[2022-01-14 19:32] twopirllc commented on #464
Hello @krazykoder,

Nice! 😎

I've heard of ```modin``` but have not had time to play with it.

Honestly, I don't know. 🤷🏼‍♂️ I am curious as well. Perhaps someone else has done so and they could share what they have done.

Kind Regards,
KJ

[2022-01-14 22:59] twopirllc commented on #443
Hello @puneeth714,

No one has submitted a working PR with it implemented yet. If you are feeling up to it, see #355 Creating a Custom Indicator on how to integrate it. Your contribution would be greatly appreciated. 😎

Thanks,
KJ

[2022-01-14 23:50] #451 closed

[2022-01-14 23:51] #405 closed

[2022-01-20 12:36] hn2 opened #466 "Problem with strategy (all)"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]
Yes
TA-Lib                             0.4.17

**Upgrade.**
[code]

**Describe the bug**
When trying to add all indicators (ta.AllStrategy) to my dataframe I get:

[code]

As you can see it is probably due to cdl_patter

[2022-01-20 14:51] twopirllc commented on #466
Hello @hn2,

[code]

Yes. This is the correct behavior for the _Common Strategy_ (as defined below). These are the indicators used the be financial news media (CNBC, Bloomberg, et al...) You are welcome to submit more Builtin Strategies if you want to share with the community.

https://github.com/twopirllc/pandas-ta/blob/b92e45c0b8f035ac76292f8f130be32ec49b2ef4/pandas_ta/core.py#L92-L110

<br/>

C

[2022-01-20 15:10] hn2 commented on #466
I believe that it has to do with the fact the pandas-ta candlestick patterns are build on top of ta-lib, and ta-lib is probably expecting a different data type. Could that be the reason for the error?

[2022-01-20 15:13] hn2 commented on #466
I am still not sure how to resolve it though. I tried converting to nparray but it didn't work.

[2022-01-20 15:14] hn2 commented on #466
`class technical_features:

    def __init__(self,
                 security,
                 open_name,
                 high_name,
                 low_name,
                 close_name,
                 volume_name):

        open_price = security[open_name].values
        high_price = security[high_name].values
        low_price = security[low_name].values
        close_price = security[close

[2022-01-20 15:16] hn2 commented on #466
The type is this:
Type
<class 'pandas.core.series.Series'>
for open and for close.

[2022-01-20 16:57] twopirllc commented on #466
No. It's a Type Error as the stack trace says. Again, it is **not** a Pandas TA error.

Thanks for sharing "some" code this time. Please share your input data or how you read your data in? Also please provide a small csv sample (around 300 rows should do).

What type is ```security```? A Pandas DataFrame or a dict? You are not clear on that in your code since there are no type hints.  When  callin

[2022-01-20 17:15] hn2 commented on #466
You code did not run for me. Same error:
TypeError: Argument 'open' has incorrect type (expected numpy.ndarray, got NoneType)
I have an older pandas version (I need it to work with quantconnect).
pandas  0.25.3
numpy   1.19.5
TA-Lib    0.4.17

[2022-01-20 17:15] twopirllc commented on #466
Screenshot?

[2022-01-20 17:19] hn2 commented on #466
![image](https://user-images.githubusercontent.com/7550282/150389123-a2e44997-4fa3-4b49-911c-d5c09db8e525.png)

[2022-01-20 17:20] twopirllc commented on #466
Not just the error... the code a well.

[2022-01-20 17:23] hn2 commented on #466
![image](https://user-images.githubusercontent.com/7550282/150389790-dbfaa761-b2b8-4f44-a91f-4b4ddd12be34.png)

[2022-01-20 17:26] twopirllc commented on #466
Is there anything in ```security```?

[code]

[2022-01-20 17:49] twopirllc commented on #466
```pip install yfiance```

[2022-01-20 17:51] twopirllc commented on #466
Also upgrade Pandas TA.

[code]

Has other bug fixes and new features. I am changing ```strategy()``` to ```study()``` but both will work.

[2022-01-20 17:56] twopirllc commented on #466
Your local environment could be corrupted... it happens sometimes.

[2022-01-20 18:13] hn2 commented on #466
That wouldn't help.
I believe that the problem has to do with TA-Lib.
Are you sure that you are getting all 61 TA-Lib candlestick patterns?
My guess is that you are not.

[2022-01-20 18:25] twopirllc commented on #466
I am sorry solutions I have presented have not solved your issue.

I agree. I would recreate the local environment, usually solves most of my problems. Also time permitting, I am trying to implement numpy versions of TA Lib and hopefully the candles so TA Lib is optional.

Yes, I am sure. In fact, 62.

<img width="525" alt="Screen Shot 2022-01-20 at 10 21 38 AM" src="https://user-images.githubuser

[2022-01-20 18:27] hn2 commented on #466
What version of TA-Lib are you using?

[2022-01-20 18:33] twopirllc commented on #466
<img width="208" alt="Screen Shot 2022-01-20 at 10 32 31 AM" src="https://user-images.githubusercontent.com/18198392/150400446-04f199ca-5c24-4cff-acf7-0006a5f0147b.png">

[2022-01-20 18:38] twopirllc commented on #466
I know. That's partly the reason this package exists.

[2022-01-21 10:12] hn2 commented on #466
I upgraded my ta-lib. I now get this error:

<ipython-input-15-6eaa48f7e17b> in get_indicators_all(self)
     81         # self.security.ta.strategy(ta.CommonStrategy)
     82
---> 83         security.ta.strategy('all')
     84
     85         # # Use verbose if you want to make sure it is running.

~\Anaconda3\lib\site-packages\pandas_ta\core.py in strategy(self, *args, **kwargs)
    790
    791

[2022-01-21 10:34] hn2 commented on #466
I guess that the dataframe needs datetimeindex?
Is there a workaround?

[2022-01-21 17:56] twopirllc commented on #466
@hn2,

No. The only indicator that requires it is: **vwap**.

How come you use time invariant data?

Yes. You can _exclude_ a list of indicators you don't want from strategy.

[code]

<hr/>

Also, since you are using Windows and _strategy_ (which uses multiprocessing), you might get a ```freeze_support error when creating a strategy``` Pinned Issue https://github.com/twopirllc/pandas-ta/issues/181

[2022-01-21 18:01] hn2 commented on #466
Thank you

[2022-01-21 19:59] hn2 commented on #466
Is there a way to easily exclude the entire volume group of indicators?

[2022-01-22 00:12] twopirllc opened #467 "Is there a way to easily exclude the entire volume group of indicators?"
Is there a way to easily exclude the entire volume group of indicators?

_Originally posted by @hn2 in https://github.com/twopirllc/pandas-ta/issues/466#issuecomment-1018818054_

[2022-01-22 00:17] twopirllc commented on #467
@hn2

Something to this effect:

[code]

Hope this helps!

Kind Regards,
KJ

[2022-01-22 00:17] #466 closed

[2022-01-22 17:14] eervin123 commented on #294
The notebook you reference above would be great to see in the examples. @twopirllc Thank you for all of your work on such a great project.

[2022-01-22 17:25] twopirllc opened #468 "Email: A brief description or full name of each strategy"
## A brief description or full name of each strategy

I am not quite certain what this question is asking. However...

If it is regarding indicator and methods descriptions, then there are two simple ways to access this information.
* [Help](https://github.com/twopirllc/pandas-ta#help)
* View the open [source](https://github.com/twopirllc/pandas-ta/tree/main/pandas_ta). Nothing is hidden. In keepi

[2022-01-22 18:06] eervin123 opened #469 "Looking for documention about the best way to work with shorting"
Hey there, great project.  I don't see the discussion forum open so I'm leaving this here as a feature request, but really it is more of a question.

I've gone through the examples and looked over the library a fair amount. I can't seem to find much documentation on how to work with shorting.  For example, in your [AIExample.ipynb](https://github.com/twopirllc/pandas-ta/blob/main/examples/AIExampl

[2022-01-22 21:09] twopirllc commented on #294
Hello @eervin123,

Thank you! And thanks for being a sponsor!

Last I checked, only have two of the four conditions for ```ta.xsignals()``` _somewhere_ in an exploratory notebook. As soon as I get some pending PRs taken care of and doing some additional research and analysis, I will post a Notebook that covers ```tsignals()``` and ```xsignals()```.

KJ

[2022-01-23 00:30] eervin123 commented on #294
Thank you Kevin.  Much appreciated. I just started digging in to the project so I'm probably not the best person to contribute in other ways, but I will indeed do what I can. I will also encourage our devs and interns to assist wherever they are able for bug fixes, etc. so you can get back to the fun stuff. In the meantime, enjoy a coffee or half of a beer. each month on me. ;)

[2022-01-23 16:14] twopirllc commented on #294
@eervin123,

Sounds great! Much appreciated.

[2022-01-24 17:35] twopirllc commented on #467
Hello @hn2,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-01-24 17:37] twopirllc commented on #463
Hello @khannavivek,

This should be fixed if you want to test it out. Let me know otherwise.

[code]

Thanks for the catch!
KJ

[2022-01-25 03:44] twopirllc commented on #404
Hello @jeremyfx,

Typing has been included thanks to @pssolanki111. 😎  If you want to test it out, check out the _development_ branch.

[code]

Kind Regards,
KJ

[2022-01-25 03:44] #401 closed

[2022-01-25 03:45] twopirllc commented on #436
Hello @CMobley7,

This should be fixed if you want to test it out. Let me know otherwise.

$ pip install -U git+https://github.com/twopirllc/pandas-ta

Thanks for the catch!
KJ

[2022-01-25 03:48] #373 closed

[2022-01-25 03:48] #161 closed

[2022-01-25 03:48] #350 closed

[2022-01-25 15:09] pssolanki111 commented on #464
the short answer is, It can.

I've tried modin, and for small datasets, the performance gain was minimal and not very significant.

but as i kept increasing the dataset sizes during the benchmarks, the performance gain kept getting better. In my (limited) testing of modin, it appeared to make things a bit faster.

Beware that modin needs either a ray or dask backend to work and sometimes they both

[2022-01-25 18:31] twopirllc commented on #464
Heya @krazykoder,

I took a look at some of the **modin** documentation last night. It looks promising.

While they do not currently support Pandas' [register_dataframe_accessor ](https://github.com/modin-project/modin/issues/3044) which is the core of Pandas TA. I think you can apply **modin** on individual indicators. 🤔  But I haven't tested that. 🤷🏼‍♂️ In terms of supporting it, it's not someth

[2022-01-26 23:38] KRaw1 opened #471 "Key error: 0 when using ha (Heikin Ashi)"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Describe the bug**
Key error when Key error: 0 when using ha (Heikin Ashi).

**To Reproduce**
pd_ta.ha(open_, high, low, close)

**Expected behavior**
A DataFrame with HA candle values is returned.

**Additional context**
Err

[2022-01-26 23:55] KRaw1 commented on #471
I've submitted a pr. Many thanks for your work, this repo is superb.

[2022-01-27 20:25] #468 closed

[2022-01-28 18:02] inertialfrost commented on #166
Hello, I'm trying this on Google colab, and getting a similar error. Pretty new to Python, anything that I might be missing? pip list shows a huge list but includes pandas-ta 0.3.14b0

Thanks in advance!

[2022-01-28 19:46] #467 closed

[2022-01-28 21:36] twopirllc commented on #166
Hello @inertialfrost,

Honestly, it is hard to troubleshoot without reproducible code, screenshots, etc. Google Colab comes with it's own Issues. [Issue 421](https://github.com/twopirllc/pandas-ta/issues/421) shows some colab code that might be useful to get going.

Kind Regards,
KJ

[2022-01-30 02:23] GoldenGeese opened #474 "Volatility indicator returns 0 values"
**Describe the bug**
I tried to use the volatility indicator but it just returns 0 values. I checked my code if the close column has no value but it has and it's in datatype float so I don't understand why the indicator is giving me 0.0 values.

**To Reproduce**
I implemented it like this
new_d['volatility'] = ta.volatility(new_d['close'], tf='years')

**Expected behavior**
this is what I expect t

[2022-01-30 20:09] rava-dosa opened #475 "AttributeError: 'Int64Index' object has no attribute 'to_period'"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Describe the bug**
[code]

**To Reproduce**
[code]

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

Thanks for using

[2022-01-30 22:36] twopirllc commented on #475
Hello @rava-dosa,

The Pandas DataFrame can **not** find the DatetimeIndex that is **required** as stated on the README [Quick Start](https://github.com/twopirllc/pandas-ta#quick-start) and at the bottom of the [Overlap](https://github.com/twopirllc/pandas-ta#overlap-33) Category.

VWAP is the _only_ indicator that requires the DataFrame Index to be a DatetimeIndex in order to work correctly. Plea

[2022-01-31 14:53] ismail-invict opened #477 "td sequence indicator not working"
df.ta.td_seq() does not generate valid result, resulting columns are all null?

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
version: 0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
yes

[2022-01-31 16:49] twopirllc commented on #477
Hello @ismail-invict,

This was a known bug and resolved in the _Latest Version_. Please upgrade as mentioned in the Bug Report you filled out.

[code]

Let me know if this doesn't resolve the Issue.

Kind Regards,
KJ

[2022-01-31 17:16] twopirllc commented on #474
Hello @GoldenGeese,

Thanks for the info. Unfortunately, I am unable to make headway on this Issue in the near term. Hopefully you or someone with a vested interest can contribute to improve the _Performance Metric_ components until I can get back to expanding the features of the library.

Kind Regards,
KJ

[2022-02-01 00:11] #464 closed

[2022-02-01 00:12] #463 closed

[2022-02-01 07:35] ismail-invict commented on #477
I uninstalled manually package and run below command
$ pip install -U git+https://github.com/twopirllc/pandas-ta

when i use related function as below, generated 2 colums are fully null **(td_seq_up, td_seq_dn)**, so still no working

df.ta.td_seq()

[2022-02-02 02:44] rava-dosa commented on #475
Hi @twopirllc
Thanks for your support and pinpointing the problem. It is solved, closing the issue

[2022-02-02 02:44] #475 closed

[2022-02-02 13:10] ismail-invict commented on #477
with dev branch, it is working thnks

[2022-02-02 19:06] twopirllc commented on #477
@ismail-invict,

Great!

Thanks,
KJ

[2022-02-02 19:07] twopirllc commented on #475
@rava-dosa,

Great! No worries.

[2022-02-02 20:48] ffhirata opened #478 "The correlation criteria for test pass/fail is inconsistent"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
**Do you have _TA Lib_ also installed in your environment?**
No

**Did you upgrade? Did the upgrade resolve the issue?**
Yes, force an re-install. Issue remains.

**Describe the bug**
During my adhoc tests, I realized that test compares the result with other lib (ta-lib), which is fine. It also c

[2022-02-02 21:45] twopirllc commented on #478
Hello @ffhirata,

Thanks for the deep dive and analysis of the correlation testing. I have been aware that correlation testing is not the best choice when comparing results between Pandas TA and TA Lib. It was something I quickly setup to give me a rough idea of how far indicators were off with TA Lib if they were not equal when using default arguments.

The test results could be organized in camp

[2022-02-02 23:48] prRZ5F4LXZ opened #479 "How to compute the band of VWAP?"
**Which version are you running? The latest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**

The help only shows VWAP. But there is no mentioning the bands. On the 2nd link, it mentions `sigma = sqrt(sum_{i=1}^N(x_i-x_bar)^2/N)`. But t

[2022-02-03 03:07] ffhirata commented on #478
Hi @twopirllc,

This task is very challenging and time consuming. Currently, I am busy with study and work, but I though that it is an unique opportunity for growth knowledge in many areas (python, coding, testing methodology, finance indicators, interactions with developers, github). So, I accept the task.

I have software testing background, not python application,  but it can be useful. I also