[2019-02-26 00:50] twopirllc opened #4 "Ichimoku Span Extension not implemented"

[2019-02-28 17:28] #4 closed

[2019-04-25 17:54] twopirllc opened #12 "Better documentation."
Open to documentation ideas.

[2019-05-01 23:35] kabonker opened #13 "Idea: "All Tech""

[2019-05-01 23:38] kabonker commented on #13
Not sure if you have a set up for all?   Meaning I have a Pandas DataFrame with the basic open close...  I have written code like this:

`stock_df.ta(kind='ema',length=3,append=True)`

But I would actually like to just add "ALL" technical key figures as columns to the data frame in one command?  Instead of coding them separately?   Is that possible?  then even if you add more, the program still wo

[2019-05-13 15:54] twopirllc commented on #13
Hello John.

Sorry for responding so late.  To clarify, you would like: `stock_df.ta(kind='all', append=True)`
to run all the indicators?  Should be possible with the exception of a few indicators.  I will take
a look at it and try to incorporate it.

[2019-05-13 16:00] kabonker commented on #13
Kevin

It may require that you set up a bunch of defaults.

But imagine not knowing which one matters.

Easier to just pick all.   Then if you add like 5 more they will auto hit the stream.

Thanks
John

John Vaughan
757-256-8216

[2019-06-23 00:56] alanzoudc opened #21 "error"
I am running python 3.5

here is  an error I got

  File "C:/StockServer/TWSAPI/SuperTrendTest3.py", line 3, in <module>
    import pandas_ta as ta

  File "C:\Users\googlecloud\Anaconda3\envs\py35\lib\site-packages\pandas_ta\__init__.py", line 22, in <module>
    from .momentum.ao import ao

  File "C:\Users\googlecloud\Anaconda3\envs\py35\lib\site-packages\pandas_ta\momentum\ao.py", line 33

[2019-06-25 00:06] twopirllc commented on #21
Hello Alan,

The module is written using Python 3.7 which supports [f strings](https://realpython.com/python-f-strings/).  F strings were not incorporated till 3.6.  I would encourage running 3.7, but I understand that may break other dependencies you may also have on your server.

KJ

[2019-06-25 00:06] #21 closed

[2019-07-04 13:51] cbogithub opened #22 "need help build RVI indicator"
hi , i  interested with pandas-ta , today i need help to build RVI indicator
i saw  how calc RVI on tradingview
[code]
what i can replace sum func on tradingview with ?

i think i can do :
x = swma(close - open).rolling(length)

y = swma(high - low).rolling(lenght)

rvi= x.sum() / y.sum()

[2019-07-06 16:47] twopirllc commented on #22
Hi.  Thanks.

I can add it in.  But if you are using pandas_ta swma, you should pass in the proper length of it as it defaults to 10.  My preliminary test below was able to capture the RVGI.

import pandas_ta as ta
swma_length=4, length=14
num = ta.swma(close - open_, length=swma_length).rolling(length)
den = ta.swma(high - low, length=swma_length).rolling(length)
rvgi = num.sum() / den.sum()

Hop

[2019-07-07 12:38] cbogithub commented on #22
thanks, so much

[2019-07-07 12:41] cbogithub opened #23 "[question]why rsi value in pandas-ta not same rsi value in talib ?"
[code]

and resulst:

[code]

[2019-07-07 18:55] twopirllc commented on #23
### Short Answer
You are absolutely correct.  They are not the same.  There are two primary reasons for the difference:
- pandas_ta is not implemented exactly like talib.  Even if it was, then it could have differences related to the next bullet point.
- There are precision differences between C++ and Python.

### pandas_ta Tests and Possible Correlation Differences with talib
In fact, RSI is not

[2019-07-07 19:17] twopirllc commented on #22
On TradingView, there is in fact multiple versions of swma. [TV User SWMAs](https://www.tradingview.com/scripts/swma/) as well as the built in [TV SWMA](https://www.tradingview.com/pine-script-reference/v3/) which is implemented in pandas_ta as swma.
<img width="730" alt="TV SWMA" src="https://user-images.githubusercontent.com/18198392/60772810-5f980f80-a0b0-11e9-9f1a-f0081c52558c.png">

Is the RV

[2019-07-08 01:26] cbogithub commented on #23
Thank for clear reply. I only know why they are different .and i not compare them

[2019-07-08 01:41] cbogithub commented on #22
Hi, thanks for answers. they are same. But i usually  found many different ways to work . Sorry if above question is stupid

[2019-07-08 04:02] twopirllc commented on #22
Sure.

But I still do not understand which SWMA to use for RVI?  Everget's or TradingView's?

Thanks

[2019-07-08 04:15] cbogithub commented on #22
I use Swma tradingview's to calc RVI

[2019-07-09 17:48] twopirllc opened #24 "Sine Weighted Moving Average"
I see on  Tradingview script calc SWMA very simple, how to convert it to python use pandas ? :  https://www.tradingview.com/script/6MWFvnPO-Sine-Weighted-Moving-Average/

PI = 2 * asin(1)
sum = 0.0
weightSum = 0.0

for i = 0 to length - 1
    weight = sin((i + 1) * PI / (length + 1))
    sum := sum + nz(src[i]) * weight
    weightSum := weightSum + weight

swma = sum / weightSum
[code]

[2019-07-09 17:50] #22 closed

[2019-07-10 16:43] twopirllc commented on #24
Everget the author of Sine Weighted Moving Average has approved publishing it.  I will push it out in the next day or so.

[2019-07-12 08:33] cbogithub commented on #24
I hope soon.
Thanks

[2019-07-12 12:21] cbogithub commented on #22
hi, but RVI indicator which your build lost a rvi signal : signal = swma(rvgi)
please  update

[2019-07-12 12:24] cbogithub opened #25 "RVI indicator"
https://github.com/twopirllc/pandas-ta/issues/22.

thanks for build it in pandas-ta , but RVI indicator which your build was lost " `rvi signal" :signal = swma(rvgi) `  ( RVI indicator have 2 line rvi and rvi signal)

[2019-07-12 15:43] twopirllc commented on #25
You mean it is missing the signal component?  Oops!  I'll add that in.  Thanks for spotting the issue.

In the mean time, you can do:

[code]

[2019-07-12 16:47] #24 closed

[2019-07-12 16:48] #25 closed

[2019-07-15 15:47] cbogithub opened #26 "[enhance] add Parabolic SAR indicator"
pls, add Parabolic SAR indicator
thanks
code calc :
[code]

[2019-07-15 22:38] twopirllc commented on #26
That one is pretty involved and will take some time to develop.

[2019-07-20 04:35] bdowling opened #27 "Minor issue in the example notebook"
The example notebook shows

`e.ta.indicators()`

but I think this needs to be

`e().ta.indicators()`

Or you need to assign `e = pd.DataFrame()` ... coders choice. :)

[2019-07-20 20:29] thedatadavis commented on #27
e is set in the first code block beneath the imports

[2019-07-21 20:53] twopirllc commented on #27
Thanks @thedatadavis !
Yeah, it is set in the first code block. Or just set it as:
`e = pd.DataFrame()`

[2019-07-22 10:31] cbogithub commented on #26
i writed codes calc SAR indicator in pandas:

[code]

[2019-07-24 23:26] bdowling commented on #27
Not sure if my point was missed.. the example first block is missing the `()` to call the function...

[2019-07-25 16:00] twopirllc commented on #27
Weird.  To clarify, your first cell was missing the parenthesis with `e = pd.DataFrame`?

[2019-07-27 22:20] WilliamDesmas opened #28 "[Enhancement] Naming of the Accumulation/Distribution Indicator"
Hello,

Thank you for your great work.

Regarding the Accumulation/Distribution indicator, it's possible to have two versions of it: using close and open OR using close, high and low. However, if I'm not mistaken, as they would have the same name, it is impossible to have the two versions inside the same dataframe (without renaming).

Could you please dynamically name the series regarding the vers

[2019-07-29 17:13] twopirllc commented on #28
Hello William,

Thanks!

AD is an interesting indicator because of it's dual nature.  I have implemented both versions, but you are correct that it does not specifically name which version is used; both versions currently return "AD".  More info with: ```help(ta.ad)```  For the version utilizing 'open', how about I set it's name as: "ADo" not to be confused with "AD" and "ADOSC"?  That would be th

[2019-07-31 17:38] twopirllc commented on #27
Anyhow, updated the example notebook as it was a bit stale.

[2019-07-31 17:38] #27 closed

[2019-08-01 16:52] twopirllc commented on #28
William,

It is now set to return the name "ADo" if you include the open argument, otherwise it returns the name "AD".

Hope this helps!

[2019-08-01 16:52] #28 closed

[2019-08-02 16:00] WilliamDesmas commented on #28
Hello,
Thanks a lot for your replies.
Yes, this is solving the "issue".
Have a nice week-end

[2019-10-01 14:22] asmodehn opened #29 "join ?"
Hi,

I am discovering pandas_ta, and I was wondering why 'append' is an option in the API, but not join ?
It seems to me, naively, that join would be a useful option, especially to link an indicator with the time of the current dataframe...

[2019-10-01 14:28] asmodehn opened #30 "default plot settings ?"
It would be super convenient for end users ( especially people trying things in their jupyter environment) if the resulting dataframe, after calculating an indicator, had default plot settings already setup so that
`myta_df.plot()` plots a *sensible* graph...

What do you think ?

[2019-10-01 14:44] asmodehn commented on #29
Or maybe I am just not understanding something... I had a bunch of NaN in my dataframe head(), but it was not because the indicator didnt had value for the first rows, and not because of the append like i assumed at first.

[2019-10-02 16:45] twopirllc commented on #29
Hello @asmodehn ,

All append does when using ```df.ta.indicator(*, append=True)``` is put the resultant columns at the end of the current dataframe ```df```.  So ```df.ta.macd(fast=3, slow=10, append=True)``` will three new columns to ```df```.  I think ```df.join``` may be useful, but at the time I thought normal column assignment was the easiest and quickest way to apply the columns to the curr

[2019-10-02 16:53] twopirllc commented on #30
Hey @asmodehn,

That is an idea I have been thinking about for some time but I have not figured out how to best pursue it.  How would you go about it?  Which common plotting libraries did you have in mind?  You can always make test it out and make a pull request.

Thanks

[2019-10-25 15:51] #29 closed

[2019-11-15 08:41] cujo0072 commented on #12
FYI: I like how you did the documentation. It is so much better than ta-lib.org!!

[2019-11-15 21:04] twopirllc commented on #12
Thank you for the feedback.
I appreciate it.

[2019-11-17 04:17] MichaelHelmers opened #31 "[Enhancement] Consider Vectorize Algorithms"
I recently stumbled upon your project (literally about 2 hours ago) and I've only had a chance to go through a few of your tools but I noticed a few of them that are ripe for vectorization.  For example, looking at the WMA implementation you have (I've removed some fluff to conserve space since this is already a long post):

[code]

Using convolution and Numpy's ability to operate on an entire arr

[2019-11-22 17:23] twopirllc commented on #31
Hello @MichaelHelmers,

Thanks for the analysis, feedback and the recommendation to optimize some of the algorithms by vectorization.  I agree that the there should be speed increases and I am not opposed to such improvements in this module..

While developing this module, I wanted to cover as many indicators as I could as well as keep it tightly coupled with _pandas_ and it's dependent modules.

[2020-01-09 04:50] cujo0072 opened #32 "typo in kama"
on line 28 of kama.py you have:
result = [npNaN for _ in range(0, length - 1)] + [0]

I think it's supposed to be:
result = [np.NaN for _ in range(0, length - 1)] + [0]

[2020-01-09 04:53] #32 closed

[2020-01-09 04:53] cujo0072 commented on #32
NVM!! I just looked at the import! SRY:)

[2020-01-12 00:06] 1giax1 opened #33 "problem with lenght"
hi mate,
i try to use your indicator but i have a problem when i use the parameter lenght:
`sma=df.ta.sma(close=df['close'],lenght=10)
print(df['close'].tail(3))
print(sma.tail(3))`

and the output:

3922    8079.54
3923    8073.16
3924    8076.36
Name: close, dtype: float64
3922    8064.433
3923    8062.750
3924    8061.351
Name: SMA_10, dtype: float64

and if i put
sma=df.ta.sma(close=df['close'

[2020-01-12 02:44] hydroplosion commented on #33
You're spelling 'length' incorrectly.

[2020-01-13 20:38] twopirllc commented on #33
Hello @1giax1 ,

Thanks for the post.  Have you tried @hydroplosion 's recommendation?

Thanks.

[2020-01-13 20:48] 1giax1 commented on #33
Yeah thanks you so much everybody.. you can close the issue if you want
Thanks alot

[2020-01-13 20:56] #33 closed

[2020-02-11 17:29] asmodehn commented on #30
I m recently venturing back into data viz land, and I just found out https://github.com/cstorm125/viztech today.

Lots of nice examples. Plus plotnine seems a good lib to tackle this (not too fancy, few dependencies, but pretty nice)...

I ll post here if/when I end up making something with pandas-ta.

[2020-03-14 17:21] WoutGeeurickx opened #34 "[Bug report] True range not calculated correctly"
Hi Kevin,

While experimenting with the many indicators that you have implemented (big thanks for that!), I noticed a mistake in the calculation for the True Range.
I guess pandas_ta/volatility/true_range.py line 61 should be
`ranges = [high - low, high - prev_close, prev_close - low]`
instead of
`ranges = [high - low, high - prev_close, low - prev_close]`

Regards,
Wout

[2020-03-16 17:32] twopirllc commented on #34
Hello Wout,

Excellent catch!  Thanks for letting me know.  I will try and get a fix in soon.

Thank you,
KJ

[2020-03-17 01:15] atefar2 commented on #34
hey Kevin the import pandas_ta as ta is acting up

On Mon, Mar 16, 2020 at 10:32 AM Kevin Johnson <notifications@github.com>
wrote:

--
Amen Tefarie
www.amentefarie.com

[2020-03-17 15:08] twopirllc commented on #34
Hello @atefar2,

You need to be more descriptive then, ```import pandas_ta``` is acting up.  If this not related to the true_range calculation issued above, please open a new issue with a better description and your environment.

Thanks

[2020-03-17 16:22] twopirllc commented on #34
Hello @WoutGeeurickx

Bug has been fixed and updated on Github.

Thanks again,
Kevin

[2020-03-17 16:22] #34 closed

[2020-03-17 21:11] atefar2 opened #35 "IBM Watson juypter notebook import"
The pip install works perfectly fine but the import pandas_ta as ta on the jupyter notebook version of  ibm watson studio has this error below

AttributeError                            Traceback (most recent call last)
<ipython-input-3-7e9e877eb48f> in <module>
      5 import numpy as np
      6 import pandas as pd
----> 7 import pandas_ta as ta
      8 import pandas_datareader.data as web

[2020-03-18 04:27] twopirllc commented on #35
Hello @atefar2,

Thanks for making this a separate issue.  The ```AttributeError: module 'pandas.api' has no attribute 'extensions'``` is a Pandas issue.
- What version of Pandas are you running?
- Have you tried upgrading Pandas or can you?
- Have you tried other solutions presented [here](https://www.google.com/search?client=firefox-b-1-d&q=AttributeError%3A+module+%27pandas.api%27+has+no+attrib

[2020-03-20 21:56] twopirllc commented on #35
Hello @atefar2,

Any progress?

[2020-03-22 17:19] #35 closed

[2020-03-31 07:51] junkone opened #36 "invalid syntax error"
when i run this, i get error
[code]
File "C:\Users\Rakesh\AppData\Local\Continuum\anaconda3\envs\zip355\lib\site-packages\pandas_ta\momentum\ao.py", line 33
    ao.name = f"AO_{fast}_{slow}"
                                ^
SyntaxError: invalid syntax

I am running the following
(zip355) C:\Users\Rakesh>pip install -U git+https://github.com/twopirllc/pandas-ta
Collecting git+https://github.com/tw

[2020-03-31 08:27] junkone commented on #36
it appears that you are using feature from python 3.6. maybe this needs to be listed as minimum requirement

[2020-03-31 08:27] #36 closed

[2020-04-13 15:53] lluissalord opened #37 "Avoidable NaNs on Chaikin Money Flow (CMF)"
Hi,

Using your (amazing) library, I have found that CMF is producing a lot of NaNs on my data. Checking which was the reason I have figured out that in my data there are a lot of cases where 'high' and 'low' price are exactly the same, hence it produces NaNs due to this part of the code:

https://github.com/twopirllc/pandas-ta/blob/a1dac5922f544af795fd6311df02406fc2728ebe/pandas_ta/volume/cmf.py#

[2020-04-13 17:26] lluissalord commented on #37
Same behaviour on the following codes:

https://github.com/twopirllc/pandas-ta/blob/a1dac5922f544af795fd6311df02406fc2728ebe/pandas_ta/momentum/bop.py#L15-L16

https://github.com/twopirllc/pandas-ta/blob/a1dac5922f544af795fd6311df02406fc2728ebe/pandas_ta/volume/ad.py#L20-L21

https://github.com/twopirllc/pandas-ta/blob/a1dac5922f544af795fd6311df02406fc2728ebe/pandas_ta/overlap/kama.py#L23-L24

[2020-04-13 18:27] twopirllc commented on #37
Hello @lluissalord,

I am glad you find the module helpful.  Thanks for finding issues that I have not noticed.
What symbol or asset are you using that has high=low?  Have you added ```sflt.epsilon``` to your code base and tested it out? I would be interested in your results in the interim.

I will take a look at it as soon as I can.

Thanks,
Kevin

[2020-04-13 20:38] lluissalord commented on #37
Hi @twopirllc,

I am using it on bitcoin, but on historical data with a frequency of minutes. Probably there are some minutes where there is no trading (most probably on the early starts) or is due to data cleaning that has been done previously on the historical data (not by me at least).

I have added the `sflt.epsilon` on the code and it is working as expected, at least at the samples where I lo

[2020-04-13 23:40] twopirllc commented on #37
Hi @lluissalord,

That makes sense since equities typically do not have that issue in contrast to digital currencies.  I will plan to make some changes soon.  Keep me posted if you notice anything else that pops up.

Thanks,
Kevin

[2020-04-20 20:52] twopirllc commented on #37
Hey @lluissalord,

Pushed an update to git with changes addressed.  Check it out and let me know how it is working out before I close the issue.

Thanks again,
Kevin

[2020-04-25 13:25] codesutras opened #38 "VWAP indicator is calculating wrong vwap values for past days in dataframe"
@twopirllc  Thanks for creating this wonderful python module. I'm extensively using this module for my algos.

I found an issue with VWAP indicator when I ran it with my backtesting data. As per definition, VWAP should be calculated on daily data(Intraday).

Since, we pass series data, which contains past dates data as well. It calculates the cumulative sum incorrectly in that case.  Each day's op

[2020-04-25 18:08] twopirllc commented on #38
Hello @codesutras,

Glad that you find the module useful.

I have known about this issue for some time but unfortunately I do not have a time frame when I will have a fix.  I will keep you posted via this thread.

Thanks
KJ

[2020-04-25 18:37] #37 closed

[2020-04-25 19:47] twopirllc commented on #38
Sounds good.  Two heads are better than one.  Let me know what you come up with so we can help all.

Thanks

[2020-04-29 08:06] homily opened #39 "[bug] the ATR func use the RMA calc"
@twopirllc Thanks for creating this wonderful python module.
I'm extensively using this module for my algos.

when i use the ATR func,the return different with tradingvew.
it mabe use rma to calc.
so the ATR=RMA(TA,lengh)

can you update it? Thanks !

[2020-04-29 18:07] twopirllc commented on #39
Hello @homily,

Thanks for using the module.  I'll take a look at it when I get a chance.

Also there will likely be differences with TradingView to a minor degree since they are using their proprietary Pinescript language, which is likely Javascript and not Python nor C.  I test the indicators against those that exist in the industry standard [TA Lib](http://ta-lib.org/).

Thanks

[2020-04-30 01:13] homily commented on #39
ok, thanks

[2020-05-02 02:05] fypdoctave opened #40 "RSI/Stoch/ADX questions"
Hi,

I have been using your library to understand TA. First off, thank you for the amazing work. It has been really useful to have!

Wherever possible, I have been double checking the indicator values calculated either on Yahoo Finance (YF) or StockCharts (SC). As such, I wanted to ask for some clarifications on couple of things:

1. Using df.ta.rsi(length=14) gives me RSI results that are little

[2020-05-02 20:45] twopirllc commented on #40
Hello @fypdoctave,

Thanks!  Glad you find it useful.

I have addressed calculation issues before with Issue #23.

Now I do not use Yahoo Finance nor StockCharts for TA comparisons.  They do not list what TA Library that they use or if it's proprietary.  StockCharts does not address it anywhere on their [FAQ](https://support.stockcharts.com/doku.php?id=faqs).  I will be not cross referencing with

[2020-05-03 16:19] #39 closed

[2020-05-04 14:27] fypdoctave commented on #40
Thank you KJ for taking the time and explaining. I will definitely utilize some of the packages you mentioned above.

[2020-05-05 05:08] Distortedlogic opened #44 "THIS PACKAGE IS TOO AWESOME"
BUG: NOT ENOUGH WATER TO PUT OUT THE FIRE HERE

[2020-05-05 16:12] twopirllc commented on #44
Thank you!

I appreciate the feedback.

KJ

[2020-05-08 16:25] akovachev opened #45 "Specifying or detecting the order of data?"
Hello,

First, thank you for this awesome package! It's nicely done!

I have the following issue - The data is in reverse order on my end, i.e. most recent candle is index 0.

For example:
[code]

And e.g. when I do atr, it seems that it goes in reverse order, filling most recent with NaN:

[code]

Now I know that the easiest thing in the world is to reverse the data with [::-1], but still... woul

[2020-05-09 18:54] twopirllc commented on #45
Hello @akovachev,

Thank you!  Glad it is working out for you!

Index order agnostic was by design originally.  I figured one would source and clean their data before applying these indicators (features).  It seems like a good idea.  But I wonder how many would find this useful?  After all, it is simple to reverse.

Thanks,
KJ

[2020-05-09 23:44] akovachev commented on #45
Thank you for the update @twopirllc,

It's simply prone to error, and financial data is often in reverse index order.

Could it be done similar to "adjusted" property? i.e. how hard is it to have ta.reversed property?
I could spend a few cycles to implement that if you approve of the idea (we'll need to agree on approach).

If not... brainstorming here... Perhaps as a sanity check it could at leas

[2020-05-10 00:47] twopirllc commented on #45
@akovachev,

I like that idea of a ```reverse``` property to just reverse it.  Plus it should be simple implementation.  Also one of the reasons I made it order agnostic is because the indicators can run on series and time-series alike.

Also a sanity check might be good as well if it is not annoying.

Thanks,
KJ

[2020-05-11 02:31] robertddewey commented on #45
I just noticed this as well. I am very thankful for this package though, and the documentation is quite well done. But it wasn't clear that a reverse order was used. I just reversed my data frame to fix

[2020-05-11 05:44] homily opened #46 "ADD KDJ ，BRAR，Keltner Channel func"
Hello my friend

Thank you very much for creating such a very convenient library.

I often use some indicators
KDJ, Brar and Aberration(Keltner channel) related libraries.

I implemented its algorithm using pandas.

so, I hope  can be add  to Panda-TA,
can you help me? thank you!

### BRAR
[code]
### BIAS
[code]
### KDJ
[code]

### Aberration
[code]

[2020-05-11 09:31] homily commented on #30
@twopirllc  hi friend,  i usee  mplfinance to create pic。from phd Daniel Goldfarb.
i think it's very easy.
and i write an very  simple example  use ccxt,pandas_ta ,mplfinance  plot BTC kline

the github url [https://github.com/matplotlib/matplotlib](https://github.com/matplotlib/matplotlib)

so, you can try

[code]
![image](https://user-images.githubusercontent.com/22285236/81546627-38cff700-93ad-

[2020-05-11 09:35] asmodehn commented on #30
I have been doing a bit more on the visualization side recently (using bokeh). I m writing down here some reflexion and ideas in case it can help.

The difficulty with visualization for indicators is that there isn't a consistent way to represent them in a graph... Some are displayed in the same graphs as the OHLC (EMA, Bollinger, etc.), some are not (MACD, ATR, etc.) but has a common time axis, s

[2020-05-11 10:17] homily commented on #30
you look like use chartpy

https://github.com/cuemacro/chartpy

[2020-05-11 15:39] twopirllc commented on #45
Thanks!

Order is not imposed and has been the responsibility of the user.

KJ

[2020-05-11 15:44] twopirllc commented on #46
Hello @homily,

Thanks for trying the library and that you find it useful.  Sure.  We can add those to the library.  Could you please tell me what each category they fall under: ```momentum, overlap, performance, statistics, trend, volatility, or volume```?

Thanks,
KJ

[2020-05-11 16:22] #12 closed

[2020-05-11 17:58] twopirllc commented on #30
@asmodehn & @homily,

It is clear that indicator visualizations are important.

I am more in favor of Idea 3.  Ideally ```pandas-ta``` should only depend on ```pandas``` and just have ```pandas_ta``` compute 'TA' leaving the user manage their own data input/cleaning and visualization. For the time being, I have been using ```matplotlib``` for indicator development and ```bokeh``` for the README im

[2020-05-11 21:12] twopirllc commented on #45
@akovachev  and @robertddewey,

So I have created two new ```ta``` properties:
* A ```reverse``` property which returns as new DataFrame that is reversed using df.iloc[::-1] irregardless of the type of index.
* A ```datetime_ordered``` property which returns _True_ or _False_ if the index is of type datetime64 and that it is ordered.

Just putting some finishing touches and adding testing before u

[2020-05-12 03:35] homily commented on #46
BIAS-momentum
KDJ-momentum
Aberration-trend (other)
BRAR- (other)
Or create a new folder name 'other'

For Aberration just return(SG,ZG,XG)
It is an improved version based on 'Keltner channels'

[https://www.tradingview.com/ideas/keltnerchannels/?solution=43000502266](https://www.tradingview.com/ideas/keltnerchannels/?solution=43000502266)

Keltner Channels are volatility-based envelopes set above

[2020-05-12 16:36] twopirllc commented on #46
@homily,

I'll see what I can get done.

Thanks,
KJ

[2020-05-12 19:27] #45 closed

[2020-05-12 20:38] akovachev commented on #45
That sounds great! Thank you KJ!

I would definitely use the ``reverse`` property.

Not so sure about the ``datetime_ordered`` - Since I'm not using the date as index, I would prefer to be able to set which column holds the actual date.

[2020-05-12 21:35] twopirllc commented on #46
@homily,

So I made a rough draft of them in TradingView to get an idea of what they looked liked before I put them into ```pandas_ta```.  The default values are in _()_ next to the indicator name.  Do these look like accurate representations visually?

![homily indicators](https://user-images.githubusercontent.com/18198392/81747836-a3407000-945d-11ea-9de9-c5402e341ed8.png)

Thanks,
KJ

[2020-05-13 02:23] twopirllc commented on #45
@akovachev,

Cool.  Hope it helps.  The ```datetime_ordered``` property is just a helper method, it's not required.  You can use it to check if your index is ```datetime64``` and ordered normally.  If it's not, then you can reverse and set your index however you like.

Something to the effect of:
[code]

Thanks,
KJ

[2020-05-13 08:04] asmodehn commented on #30
I think a very important aspect is "how" the visualization is suppose to be used...
For instance, if one wants interactive poping images, he will use matplotlib with ipython + tkinter. On the other hand, for a long running server, bokeh generating dynamic html pages via tornado will be much more useful.

I don't think there is one visualization tool that can support all possible scenarios... And i

[2020-05-14 16:09] twopirllc commented on #30
@asmodehn,

I agree.  I would prefer to get out of builtin ```matplotlib``` support with ```pandas``` and move onto ```mplfinance``` instead for "exploration" and a quick visual check. Personally, I am waiting till Mr Goldfarb simplifies the panel layout with multiple charts in ```mplfinance``` and fixes an issue with cutting off indicators despite the number of bars shown.  For instance, the ema5

[2020-05-15 08:52] asmodehn commented on #30
For the bokeh approach, I also wanted to mention: https://github.com/PatrikHlobil/Pandas-Bokeh
There are methods for various plot types, so maybe it is a case of adding "financial-style plot types" to that list...

[2020-05-16 14:56] cujo0072 commented on #44
I agree!! :)

[2020-05-18 20:21] twopirllc commented on #46
@homily,

All indicators added to ```pandas_ta```.

Thanks,
KJ

[2020-05-18 20:22] twopirllc commented on #26
@cbogithub,

It's ready now.

Thanks,
KJ

[2020-05-20 07:47] lluissalord commented on #13
Hi,

From my side, using a code like the following one allow me to generate almost all cases, but I believe it should be better ways for that.

[code]

[2020-05-20 16:00] twopirllc commented on #13
Hi @lluissalord,

Looks like a start.  It's kinda how I imagined it but haven't gotten to code it yet.  Another for exclusion is ```vp``` as it does not return a time series but price buckets with volumes (but that's an easy exclusion to add).

I was contemplating the idea of saving indicator settings via json and using that to load and generate the DataFrame as well.  Any thoughts on that?

Thank

[2020-05-20 21:10] lluissalord commented on #13
Hi @twopirllc,

I think that a json file is a good idea. It could be used a default values json file which could be used directly on each indicator module and also when used by `ta(kind='all')`.

Besides, some ideas of features that it could have the `ta(kind='all')` are:
1. The arguments passed on the call would be good to be used for all the indicators (as it could be `append=True` or `ewm=True`

[2020-05-21 22:11] FGU1 opened #51 "momentum/stoch.py : column loss when slow_d = slow _k"
In stoch.py lines 47 -> 50
`    fastk.name = f"STOCHF_{fast_k}"
    fastd.name = f"STOCHF_{slow_d}"
    slowk.name = f"STOCH_{slow_k}"
    slowd.name = f"STOCH_{slow_d}"`
If slow_d = slow_k (or fast_k=slow_d) slow (or fast) stochastic names become identical. in this case the returned dataframe lose a column.
Thanks a lot for your work on this project ;)

[2020-05-21 22:34] twopirllc commented on #51
Hello @FGU1,

Thanks! Excellent catch! Yeah, that would do it.

Thanks for using it.
KJ

[2020-05-21 23:03] #51 closed

[2020-05-21 23:03] #46 closed

[2020-05-21 23:04] #26 closed

[2020-05-21 23:09] #23 closed

[2020-05-22 02:45] twopirllc commented on #13
Hi @lluissalord,

All good points.  Perhaps the default json config contain at a minimum "all" and then they can edit the file and load/save separate strategies from there.

Example ```ta.json```:
[code]
Also, I don't want to feature creep ```pandas_ta``` too much.  But do simplify some tasks that are or can be more cumbersome

What do you think?

Thanks,
KJ

[2020-05-22 07:29] lluissalord commented on #13
It seems a pretty good idea. Besides, I would think that the list inside `kind` node could be presented without arguments to take the default, but with the possibility of adding them (probably some indicators will have arguments and other no). In this way, if we want to modify the default values we only have to modify on the indicator function and not in two places.

Even, a better approach could

[2020-05-25 19:55] sword134 commented on #13
Hello @twopirllc
Seeing how this thread has been a year underway now, may one ask when the add all technical indicators feature is going to launch? Manually coding all the indicators takes a while and takes focus off what's more important.

Cheers

[2020-05-25 21:16] twopirllc commented on #13
Hello @sword134,

I do not have a time frame on when it will be completed, but I will make it a greater priority now that it has more requests.  I will implement a naive approach for the time being.  But be warned that using "all" will yield a Massive DataFrame.

Thanks,
KJ

[2020-05-28 18:21] twopirllc opened #54 "More Notebooks and Examples"
More Notebooks with different strategies and visualizations (matplotlib, bokeh, mplfinance)

[2020-05-28 19:09] alexonab opened #55 "Supertrend Indicator"
Would it be possible to add the ST indicator?  Definition and sample implementation is bellow.

https://www.tradingfuel.com/supertrend-indicator-formula-and-calculation/

https://www.quantopian.com/posts/error-computing-super-trend-indicator#5a204aeb9160496397ed534c

[2020-05-28 19:21] twopirllc commented on #55
Hello @alexonab,

Sure. It was on my radar also.

KJ

[2020-05-28 20:43] FGU1 commented on #55
Ok, I push it tomorrow.

[2020-05-28 21:28] twopirllc commented on #55
Thanks @FGU1,

I have some additional updates that I am working on as well on the development branch that I am hoping to push within a day.

Thanks,
KJ

[2020-05-28 22:39] twopirllc commented on #13
Hello @kabonker & @sword134,

Here is the relevant README section covering the new Strategy Method:

Strategy is a new __Pandas (TA)__ method to facilitate bulk indicator processing. By default, running ```df.ta.strategy()``` will append __all
applicable__ indicators to DataFrame ```df```.  Utility methods like ```above```, ```below``` et al are not included.

* The ```ta.strategy()``` method is s

[2020-05-29 15:23] FGU1 commented on #55
PR #56 sent. Please review the code carefully : I do not have a lot of xp in python (+quite new to github) so there is a non negligible probability that errors can be found. Apologies in advance !

[2020-05-29 15:43] twopirllc commented on #55
Hey @FGU1,

No worries. Thanks for the contribution. I'll fold it into development and adjust as needed.

Thanks,
KJ

[2020-05-30 01:23] #40 closed

[2020-05-30 01:36] fypdoctave opened #57 "Possible KST & TRIX enhancements"
Hi KJ,

Can you look into kst.py and maybe update the naming for kst_signal? Reason is that if I call KST multiple times (short, medium and long term parameters), KSTS_9 gets overridden. Its not a big deal to handle but wondering if this was intentional or not on your part.
For example, following returns only one KSTS_9
df.ta.kst(append=True) #short-term
df.ta.kst(roc1=10, roc2=13, roc3=15, roc4=2

[2020-05-30 05:13] twopirllc commented on #57
Hello @fypdoctave,

Glad you like it!

Ok. So ```kst``` by itself is working as intended.  Because you are using the DataFrame accessor ```df.ta.kst(..., append=True)``` multiple times, the signal line is being overwritten by the last call (as you know).  Everything works as intended.

I do not know what version you are on, but @lluissalord made pull request #47 about a week ago with the ability a

[2020-05-30 05:29] fypdoctave commented on #57
Thanks for the quick response. I didn't know about prefix or suffix functionality so appreciate you pointing that out. Sounds great and very useful!

[2020-05-31 06:01] codesutras opened #58 "Wrong calculation for CMO indicator between different versions"
@twopirllc , I've just updated pandas-ta package to the latest version and it has updated my installed package to pandas_ta-0.1.63b.

I've run my one of the strategy, where I'm using CMO (Chande Momentum Oscillator) and fond that calculation are different than previous stable version of pandas_ta-0.1.39b0.

I didn't look into the recent commits, but checked README and observed that you have correc

[2020-05-31 16:35] twopirllc commented on #58
@codesutras,

Thanks for the heads up.  I'll take a look into it.

Thanks,
KJ

[2020-05-31 17:55] twopirllc commented on #58
@codesutras,

It is not uncommon for an indicator to have more than one implementation and CMO is no exception in this case. Before the current CMO (v63b) it was not more than 99+% correlated with TA Lib so I corrected it. At this point, neither implementation is wrong; just different flavors.

To support both versions, I have included the argument ```talib``` with ```talib=True``` as the default.

[2020-06-01 03:00] codesutras commented on #58
Pretty much mate. Thanks a lot for your quick response.

[2020-06-01 18:04] #58 closed

[2020-06-01 18:04] #57 closed

[2020-06-01 18:04] #55 closed

[2020-06-01 18:05] #13 closed

[2020-06-01 18:12] alexonab opened #59 "No module named 'pandas_ta.candles'"
version: pandas-ta-0.1.65b0

$ python3.7
Python 3.7.7 (default, Apr  1 2020, 13:48:52)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
import pandas_ta as ta
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/lib/python3.7/site-packages/pandas_ta/__init__.py", line 21, in <module>
    from pandas_ta.core import *
  File "/l

[2020-06-01 18:14] twopirllc commented on #59
@alexonab,

Doh!  Thanks!
KJ

[2020-06-01 19:03] twopirllc commented on #59
@alexonab,

Try again please.

Thanks,
KJ

[2020-06-01 19:35] alexonab commented on #59
The update works.  I'm able to import the library again.  Cheers

[2020-06-01 19:35] #59 closed

[2020-06-02 12:01] brunofacca opened #60 "Future data leak on DPO indicator"
Thank you for this great library.

I've used the `strategy` method to add all indicators to a data frame. DPO_1 got a massive feature importance score and any models trained with that indicator had accuracy of 99 to 100% :smile:.

It seems that when `center=True` (the default), [this line](https://github.com/twopirllc/pandas-ta/blob/279423a50675191729f665a801f7ee18323a4efa/pandas_ta/trend/dpo.py#L

[2020-06-02 18:50] twopirllc commented on #60
Hello @brunofacca,

Thanks! Glad that you like it.

That is quite a boost! 😄  However upon reviewing the code, it seems the code is not in line with other implementations, so it will be corrected.

Thanks
KJ

[2020-06-02 22:38] twopirllc commented on #60
@brunofacca,

Indicator corrected. Let me know of any issues.

Thanks,
KJ

[2020-06-04 23:34] brunofacca commented on #60
That was fast! Thank you :slightly_smiling_face:

[2020-06-06 14:24] mostafanu opened #61 "Can not import talib"
I am trying to test project files under tests directory
it shows the following error:

 Collecting talib
  Using cached talib-0.1.1.tar.gz (1.3 kB)
Using legacy setup.py install for talib, since package 'wheel' is not installed.
Installing collected packages: talib
    Running setup.py install for talib: started
    Running setup.py install for talib: finished with status 'error'

    ERROR: Comma

[2020-06-06 16:44] twopirllc commented on #61
Hello @mostafanu,

I am sorry but I do not troubleshoot TA Lib installations. One of the reasons I wrote pandas_ta was because of this issue with TA Lib and Windows installation. I develop on a Mac which thankfully did not have such TA Lib installation issues.  I test against TA Lib so that users get TA Lib quality indicators across platforms with the benefit Python and Pandas.

Here are some link

[2020-06-06 23:58] #60 closed

[2020-06-07 03:08] athenawisdoms opened #62 "Parallel Calculation of Indicators"
Hi, thanks for the amazing library!

Is there a way to perform parallel processing of the technical indicators, especially if you are trying to calculate all of them, such as

[code]

[2020-06-07 04:58] twopirllc commented on #62
Hello @athenawisdoms,

Thanks!
Should be doable. I'll look into it.

Thanks,
KJ

[2020-06-12 02:26] fypdoctave opened #63 "ta.above append question"
Hi Kevin,

Apologies in advance for a very stupid question. I updated the code base today. But I'm not sure what happened since then as using the 'above' function is not appending anymore.

*Below line is not appending now but was working in a previous version*
df.ta.above(df['MACD_12_26_9'], df['MACDs_12_26_9'], append=True)

*This is appending just fine*
df.ta.macd(fast=12, slow=26, signal=9, mi

[2020-06-12 17:46] twopirllc commented on #63
Hello @fypdoctave,

Doh! Thanks for finding the bug. Easy fix. I will try to update it over the weekend if that's not too long.
Until I push a fix, you can do this:
[code]

Thanks,
KJ

[2020-06-13 16:24] #61 closed

[2020-06-15 01:36] #63 closed

[2020-06-16 12:58] HosseinKurd commented on #61
@twopirllc I have some problems in fedora-32 too

[code]

[2020-06-16 15:08] twopirllc commented on #61
Hello @HosseinKurd,

I am sorry but I do not troubleshoot TA Lib installations. You do not need TA-Lib to use ```Pandas TA```, only if you want to test the library.  If you want to add code to ```Pandas TA```, you do not need TA-Lib.

Regards,
KJ

[2020-06-16 20:26] twopirllc commented on #62
Hello @athenawisdoms ,

You are in luck!  After brushing up on Python's implementation of multiprocessing and multithreading, I was able to get some performance out of it. It took a bit longer than expected since the solution was the inverse of many basic tutorials. However, I finally found one solution online that was similar that helped piece it together.

Anyhow I will update ```pandas-ta``` in

[2020-06-17 06:16] fbeenaerts opened #64 "Publishing to Azure Serverless function: ModuleNotFoundError: No module named 'pandas'"
When running locally, this runs perfect. But when publishing to Azure Serverless (App function), I always get "ModuleNotFoundError: No module named 'pandas'". However the pandas is installed before.

[2020-06-17 15:25] twopirllc commented on #64
Hello @fbeenaerts

Thanks for using Pandas TA. I have no experience running it on Azure Serverless, so I am unable to help. All I can recommend at this time is double checking your settings/configurations. I put a "Help Wanted" label up so someone with Azure Serverless experience may chime in and help.

Regards,
KJ

[2020-06-17 17:21] #62 closed

[2020-06-25 16:25] scorpio155 commented on #54
Thanks a lot for creating this framework. Would it be possible to use pandas-ta over DataFrameGroupBy?

ggetDataFrame = getDataFrame.groupby('multiple_tickers')
ggetDataFrame['rsi'] = ggetDataFrame.ta.rsi(length=14)

[2020-06-25 20:40] twopirllc commented on #54
Thanks! Glad you like it.

I have not tried DataFrame.groupby. If you have something setup already, give it a go and let me know. Just keep in mind that, ggetDataFrame has to be a DataFrame to work.

Regards,
KJ

[2020-07-02 06:29] MislavSag opened #66 "Calculating DEMA indicator never ends"
Hi,

I have just download the package. I tried to create several indicators and had problem with EMA indicator.

When I execute `data.ta.sma()` it works as expected, but when I execute `data.ta.ema()` the code hangs, it didn't end even after 10 minutes.

I have 3 mil of observations. If I use talib `EMA()` function, it works instantly.

[2020-07-02 08:39] MislavSag commented on #66
Hm, it seems it is just very slow. But than, why it is so much slower than talib package?

[2020-07-02 20:29] twopirllc commented on #66
Hello @MislavSag,

TA Lib was written in C so it will inherently be faster.  So if that is your only bottleneck, then use TA Lib's EMA as needed.

However there is another option you can use that may speed up ```pandas-ta```'s EMA. You can use Panda's builtin Mathematical implementation of EMA aka EWM by setting the parameter ```ewm=True``` like so: ```data.ta.ema(ewm=True)``` to speed it up, howe

[2020-07-04 10:43] MislavSag commented on #66
Thanks for feedback, I will use talib than, sinceis more accurate.

[2020-07-04 10:43] #66 closed

[2020-07-05 02:34] goodboy commented on #31
@twopirllc the `numpy` / vectorized version is also more generalized since you can pass in a weights curve if needed.

If @MichaelHelmers doesn't address this I would happy to.

I'm actually quite interested in a lot of what you have in this repo except would much prefer it ported (where possible) to `numpy` (mostly for speed).

[2020-07-05 03:43] twopirllc commented on #31
Hello @goodboy,

Coincidentally, today I have updated ```ema``` and ```wma```. Just finishing supplementary code before pushing it to Github. I have replaced:
[code]
with ```numpy```'s ```dot``` product for a speed boost.
[code]

I am open to speed gains whether it is handled via ```pandas``` or ```numpy``` as long as the indicators return ```Series``` or ```DataFrame``` by default. We could also

[2020-07-05 16:06] goodboy commented on #31
:tada:

:+1:

This is interesting.
I'm firstly curious why you chose `pandas` for first class support [considering the well known the performance differences](https://zerowithdot.com/python-numpy-and-pandas-performance/).
Normally I would expect that *wrapping in `pandas`* data structures would be the more optional thing.
This is maybe something worth discussion in a separate issue.

For my immedi

[2020-07-05 20:59] twopirllc commented on #31
@goodboy,

Funny, I reread that link prior to responding to your original post. Simple answer, I have more direct experience with ```pandas``` versus ```numpy``` and I have little time to learn another API and it's nuances while developing supplemental components for my Quant/Algo Trading Platform. Furthermore:

Once that's complete and I have an API more finalized for that I think we can actually

[2020-07-08 21:03] tzvetkovg opened #68 "Adx not completely correct with tradingview"
I've tried the ADX indicator like below
`adx = ta.adx(df[ticker]['high'], df[ticker]['low'], df[ticker]['close'], length=14)`
and returns close but not exactly the same results as trading view. The difference is about 1% up/down.

[2020-07-08 21:33] twopirllc commented on #68
Hello @tzvetkovg,

Thanks for trying ```pandas-ta```!

I test my indicators against [TA-lib](https://github.com/mrjbq7/ta-lib/tree/master/docs/func_groups) which is generally the de facto standard for Technical Analysis. As such ```ta.adx``` is currently 98.9% correlated with __TA Lib__.

While I do like TradingView, there is currently no easy way, that I know of, to run ```pandas-ta``` correlatio

[2020-07-11 05:27] homily opened #69 "About RSI question"
hi。
when i use the RSI calc，it different with Tradingview。
the tradingview use RMA calc

url：https://www.tradingview.com/support/solutions/43000502338-relative-strength-index-rsi/
[code]
so, Maybe you can view or update the calc code. ^_^

[2020-07-11 05:35] homily opened #70 "About add Stochastic RSI (STOCH RSI)"
hi. When I studied the technical indicators, I found that Stochastic RSI is useful。
so，I modified the RSI code appropriately，But it's not perfect.
I want to add it to the code with your expertise。
Thanks!

calc in tradingview URL：
https://www.tradingview.com/support/solutions/43000502333-stochastic-rsi-stoch-rsi/

my code：
[code]

[2020-07-11 22:18] twopirllc commented on #70
Hi @homily,

Sure it can be added. I have some other things to clean up and add first and then I can add it to ```pandas-ta```.

Thanks,
KJ

[2020-07-11 23:05] twopirllc commented on #69
Hi @homily,

Currently ```rsi``` has at least 99% correlation with _TA Lib_, so it is not a high priority right now.

That being said, I do not mind adding a _TradingView_ version, but it is more difficult to test against as they do not have an easily testable library. If you know of a better and quicker way to test and compare vs _TradingView_, let me know what needs to be modified so that it mat

[2020-07-12 11:02] DrPaprikaa opened #72 "Filter indicators by category in strategy()"
Hi,

I came across your library, it's awesome ! Especially the `strategy()` method, which allows to add all the indicators to a dataframe. Is there a way to add all the indicators for a specific category (momentum, statistics, trend...) only ? If not it would make a great feature !

[2020-07-12 16:46] twopirllc commented on #72
Hello @DrPaprikaa,

Thanks! Glad you like the library.

Good idea. I'll add it to my list.

Don't forget to :star: if you find the library useful.

Thanks,
KJ

[2020-07-16 19:50] DrPaprikaa opened #73 "Donchian Indicator - Miscalculation"
Hi, I think the Donchian Channels indicator (DC, a volatility indicator) isn't computing the right thing : the computation should be on the highest highs and the lowest lows, instead of on the closes. So the code therefore becomes :

Definition :

    def donchian(high, low, lower_length=None, upper_length=None, offset=None, **kwargs):

line 15 :

    # Calculate Result
    lower = low.rolling(low

[2020-07-16 20:00] twopirllc commented on #73
Hello @DrPaprikaa,

Nice catch! Thanks for finding it! I can't believe I forgot to replace the _close_ with _high_ and _low_ before adding it to the library. I will update it as soon as I can.

Thanks!
KJ

[2020-07-16 21:10] DrPaprikaa commented on #73
No problem ! How does it work, will the update be available via `pip` ? How do I get notified that you updated the library ?

[2020-07-16 21:29] twopirllc commented on #73
If you click "watch" above, then when I update the repository, it should notify you as well. But I will also post here. I do not update ```pip``` frequently.

[2020-07-17 21:26] strikar21 opened #74 "How to plot Volume Profile?"
apdict = [
        mpf.make_addplot(stck.VP,color='y',type = 'line', panel = 1)
        ]

#columns first uper like('Open,High,Low....')
#df.columns = map(str.title, df.columns)

#mpf.plot
mpf.plot(stck,style='yahoo',volume=False,type='candle',addplot=apdict,figratio=(16,8),title=ticker)

RETURNS:

Traceback (most recent call last):
  File "C:/Users/Srika/PycharmProjects/latest project/s&r.py", li

[2020-07-17 22:42] twopirllc commented on #74
Hello @strikar21,

**Volume Profile**

_Volume Profile_ is rather tricky, not just for plotting but also where to start the calculation and how many observations aka ```width: int = 10``` (default) to use. So you can not just pass it to ```mpf.make_addplot(stck.VP,color='y',type = 'line', panel = 1)```. There is some post processing required.

**Volume Profile and Matplotlib Finance Charting**

Cu

[2020-07-18 06:44] strikar21 commented on #74
Thank you for the reply.

works just like you've shown. :)
i will wait until this month end for mplfinance then would raise an issue. if the promised matplotlib method of plotting downst help :)

[2020-07-18 06:44] #74 closed

[2020-07-19 09:10] ashraf-01 opened #75 "case of multiindex dataset (i.e multi symbol)"
Would you kindly provide an example of how your library work guys on multindex ( row major )
i.e.
![image](https://user-images.githubusercontent.com/50061659/87871399-3f33ae00-c9b0-11ea-8c8d-1bfabfd9b142.png)

looking forward to your response

best regards

[2020-07-19 14:40] ashraf-01 opened #76 "rolling calculations issue"
Hi all , Hi Kevin

I have run in to the below error while applying a window calc to one of the features implemented within the lib

it goes as
df['roll_entp_10']= df_test.ENTP_10.rolling(10)   which is a series , after explicitly turning in to a series still getting the same error

![image](https://user-images.githubusercontent.com/50061659/87877277-a9af1300-c9dd-11ea-9dad-526e6acca2ff.png)

just

[2020-07-19 16:14] similang opened #77 "TA - all features generations"
What's the best way to create all relevant features? I tried to use the `df.ta.strategy(name='all')`

Error:
[code]

So, I used the customised feature generation script but run into error for certain features:
[code]

Example of error:
[code]

My another attempt:
[code]
and the error:
[code]

[2020-07-19 17:29] twopirllc commented on #77
Hello @similang,

Which version of Pandas TA are you using?

The ```KeyError: 'high'``` means that 'high' was not found in your DataFrame ```df```.  Are you sure you did not mean: ```df1.ta.strategy(name='all')``` in your function: ```ta_pd_v2(df)```?

Hope this helps!
KJ

[2020-07-19 18:46] twopirllc commented on #76
Hello @ashraf-01,

### Pandas Version

You are using Pandas version 1.0.3. So, did you upgrade Pandas v 1.1.x per the suggestion?

<img width="763" alt="Screen Shot 2020-07-19 at 10 56 42 AM" src="https://user-images.githubusercontent.com/18198392/87881523-a2bcdc00-c9ae-11ea-868e-e2b38657331a.png">

### Pandas Moving Window

Also usually when you use, ```df.rolling(window)```, one applies a functi

[2020-07-19 18:59] twopirllc commented on #75
Hello @ashraf-01,

_MultiIndexing_ is not managed by **Pandas TA**, that is left to the user. For more info on using [MultiIndexing](https://pandas.pydata.org/docs/user_guide/advanced.html).

If you want to use **Pandas TA** on MultiIndex, you will need to break ```data_2ticker``` into two DataFrames, one for ```CAT``` and the other for ```MAC```, then you can apply ```Pandas TA```.

Good luck!
KJ

[2020-07-20 12:29] similang commented on #77
Version: 0.1.66b0

[2020-07-20 16:17] twopirllc commented on #77
Hello @similang,

Give this a shot.

[code]

The output I got from above:

<img width="942" alt="Screen Shot 2020-07-20 at 8 33 28 AM" src="https://user-images.githubusercontent.com/18198392/87956342-c726c000-ca63-11ea-9ac9-33170b108c30.png">

### Trend Return

As a side note, ```trend_return``` is a special function and is naturally excluded from ```all```
since it requires trend logic, see the [

[2020-07-22 22:48] #75 closed

[2020-07-22 22:50] twopirllc commented on #76
Hello @ashraf-01,

I will assume the prior response was sufficient and will close this issue in a few days if I do not hear back from you.

Best Regards,
KJ

[2020-07-23 17:14] twopirllc commented on #77
Hello @similang,

I assume by no response that the response provided was sufficient. Thus I will be closing this issue in a few days.

Don't forget to ⭐ if you find the library useful.

Thanks,
KJ

[2020-07-23 17:41] similang commented on #77
Thanks. Will give it a try first and respond accordingly when I am slightly more free.

[2020-07-24 18:54] similang commented on #77
Hi,  just wondering - the 2nd part - tr_talib_style, tr_dataframe_style i hit error, i.e: in column 'close'; not sure why...

Also, how to select a subset of all strategy columns?

Thanks.

[2020-07-24 19:59] twopirllc commented on #77
Hey,

I do not know either. 🤷‍♂️ You have given little for me to diagnose. Is there a 'close' column in the DataFrame? Are the ```open, high, low, close, volume``` all lowercase as mentioned in the README? Your 'volume' column is misspelled in the ```ch.csv```, but that wouldn't throw as 'close' column error in the simple ```trend_return``` example.

Here are my results from the 2nd part:
<img wid

[2020-07-25 08:57] similang commented on #77
Ya, selecting certain columns for df.ta.strategy() => if i do not want all variables be populated

[2020-07-25 17:59] twopirllc commented on #77
👍

Of course. That is something I have been trying to finish for the next release: **Custom Strategies and Strategy Composition/Chaining**. Because running ```df.ta.strategy()```, which defaults to "All" and appending currently 152 new columns is both unwise and inefficient imo even if multiprocessing enabled.

Here are some ways to target the columns. The last one is specific but requires knowing

[2020-07-25 18:18] twopirllc commented on #70
Hey @homily,

There is an easier solution. How about either having a flag to turn in on in ```ta.rsi``` like ```ta.rsi(stoch=True)``` with default: ```False```. Or by default ```ta.rsi``` returns ```rsi``` and ```stochrsi``` columns? Two for one?

Thanks,
KJ

[2020-07-25 18:25] twopirllc commented on #72
Hello @DrPaprikaa,

Almost done with this enhancement.

KJ

[2020-07-25 18:55] #73 closed

[2020-07-25 18:55] #72 closed

[2020-07-25 19:43] twopirllc commented on #54
Hello All,

Recently added the **new** [Pandas TA Strategy Class](https://github.com/twopirllc/pandas-ta/blob/master/examples/PandasTA_Strategy_Examples.ipynb) Examples Notebook. Let me know if it is helpful or missing anything.

What other notebook topics would be helpful to add to the library to help users of all levels?

Have an Notebook you would like to share, put in a pull request.

Thanks f

[2020-07-26 15:49] #76 closed

[2020-07-26 15:50] DrPaprikaa commented on #72
Thanks a lot !

[2020-07-26 20:24] DrPaprikaa opened #81 "Parameters in strategy()'s ta"
Hi @twopirllc,

I'm playing with the new improved `strategy()` method, it's quite an improvement nice work ! You should push it to `pip` ;)

In my workflow, I'm computing a bunch of data on the indicators and then select the relevant ones. However, I don't know _a priori_ which ones nor their parameters, and they are not always the same.

Since all the indictors don't have the same number of param

[2020-07-26 21:53] twopirllc commented on #81
Hello @DrPaprikaa,

Thanks! I plan to push to ```pip``` in about a week if no major issue(s) with the improvised ```df.ta.strategy``` method creep up. I try to keep the most recent stable version on ```pip```.

I think your **modular** approach is a good idea and I can understand the compactness it provides, so it is conceptually possible to implement. However, I am uncertain of how _devilish the

[2020-07-26 22:26] DrPaprikaa commented on #81
Thanks for the reply, I understand that it might be tricky to implement ;) I don't know if I can be of any help, this would be a great feature !

Regarding the User Strategies, my humble opinion is that it would be far from the purpose of this library. It would be better suited to a blog post demonstarting the power of `pandas-ta` through some examples of strategies implementations. The blog post

[2020-07-26 22:51] twopirllc commented on #81
No worries.

As far as Strategies, there are not many common or default Strategies that the media pushes out... for instance, a Moving Average Crossover Strategy, et al. Eventually I should make some blog posts demonstrating the potential power of ```pandas-ta```, but a few more well known examples I think would be great to add to showcase the library without diminishing the purpose of the library

[2020-07-27 07:34] DrPaprikaa commented on #81
You're right, the hardest part might be to find people willing to share their strategies (and if they do, they might be outdated) ! But they would provide good use-cases anyway.

[2020-07-27 21:32] ajmal017 opened #82 "Charts - with full data from day one"
Currently the charts when displayed, start late, meaning ema15 starts after 15dats, etc..

typically we need full charts, where by we need to load previous data and display from the date we needed..

How can we get this thing done

[2020-07-28 02:47] twopirllc commented on #82
Hello @ajmal017,

Thanks for checking out ```Pandas TA```!

If you do not like using [TA Lib](https://github.com/mrjbq7/ta-lib)'s implementation of ```ema``` which begins with an ```sma```, you can easily disable it by passing in the keyword argument ```sma=False``` into ```ema``` like so: ```ema15 = ta.ema(close, length=15, sma=False)```.

If you are curious about how to use any ```Pandas TA``` i

[2020-07-28 03:40] wenny0501 opened #83 "about cdl_doji and strategy()"
Hi,
thanks a lot for your very useful library TA.
today I pip install it,and test it.
I found 2 problems.
1, in jupyter notebook and pycharm, I can import ha, but can not import cdl_doji.
2, df.ta.strategy() does not work.I tried df.ta.strategy(high), error exist yet.
just look at the photos.
![ta](https://user-images.githubusercontent.com/68882045/88616253-acef7200-d061-11ea-8f77-228089b395a9.JPG

[2020-07-28 16:46] twopirllc commented on #83
Hello @wenny0501,

Thanks for trying ```Pandas TA```!

If you are running the latest _pip_ version, I recommend upgrading to the latest repository version (per README):

### Latest Version

[code]

I highly recommend **reading** the [README](https://github.com/twopirllc/pandas-ta) and following along with some of the [Example Notebooks](https://github.com/twopirllc/pandas-ta/tree/master/examples).

[2020-07-28 17:21] twopirllc commented on #77
@similang

Check out the latest version!

[code]

I assume by no response that the response provided was sufficient!?

Regards

[2020-07-28 21:22] wenny0501 commented on #83
Thanks a  lot for your quick response.
After overcome many difficulties, delete, uninstall and install, now df.ta.strategy() works!!!
I also notice that there is a worning.
And all the name of indicators are capital. we need again to excute "df.columns = df.columns.str.lower()"
![ta](https://user-images.githubusercontent.com/68882045/88723414-d0b0c780-d0f6-11ea-9558-ac48fdda93a7.JPG)

[2020-07-28 21:59] twopirllc commented on #83
Hello @wenny0501,

Glad you were able to get it working!

Yes. The primary columns, _open_, _high_, _low_, _close_, _volume_ **must** be _lower case_ so as to distinguish from the _upper case_ indicators.

I am unable to replicate the error you have posted. Can you share more of your prior code so that I can isolate the problem?

Thanks,
KJ

[2020-07-29 01:04] wenny0501 commented on #83
I find it, whether I run data.ta.strategy() on jupyter notebook or pycharm, this worning always comes.
I have run:
pip install pandas --upgrade
Successfully installed pandas-1.1.0
pycharm 2020.1.3 community Edition
![ta1](https://user-images.githubusercontent.com/68882045/88744628-ea153c00-d115-11ea-88ca-aa52c4db47c9.JPG)
![ta](https://user-images.githubusercontent.com/68882045/88744631-ef728680-d

[2020-07-29 03:07] twopirllc commented on #83
@wenny0501

That's weird. Well it's just a **Pandas** warning and not an error with ```pandas-ta```.  You can disable the **Pandas** warning like so:

[code]

Other than that, ```pandas-ta``` appears to be working correctly as intended.

Thanks for getting back to me.
KJ

[2020-07-29 14:50] similang commented on #77
Nice -  let me check it up. Thanks.

[2020-07-29 19:52] twopirllc commented on #82
Hello @ajmal017,

Curious if you have tried the following regarding ```ema```?
```ema15 = ta.ema(close, length=15, sma=False)```

Thanks,
KJ

[2020-07-29 23:44] qnguye opened #84 "how to append new data frame?"
let's say i have 100 rows in data frame, applied all strategies. Now, i want to add 1 more row, i don't want it to recalculate all the whole 101 rows instead only the last one.

[2020-07-30 04:47] twopirllc commented on #84
Hello @qnguye,

Thanks for checking out **Pandas TA**!

As it stands, **Pandas TA** does not allow one to just add one more row of calculation easily. Some if not many indicators last value do no rely solely on it's previous value. To keep as much of the code as DRY as possible, many indicators rely on calculations of other indicators.

However I have been told, without any proof of concept or a w

[2020-07-30 06:43] qnguye commented on #84
I'm new to python, it thought I missed something that's already been there. This library is just awesome the way it is. I guess i have to extract parts of the library for my need. Thank you

[2020-07-30 06:49] homily commented on #70
Hello, thank you very much for your busy time to discuss this matter with me. I think stochrsi is a separate indicator, and it's better to list it separately.

[2020-07-30 06:52] homily commented on #69
Yes, thank you very much.

I've been using your library and it's very convenient.

I think it is very necessary to add tradingview. After all, there are many open scripts written with pin script. If tradingview can be effectively supported, it will be greatly convenient for all users.

[2020-07-30 16:42] twopirllc commented on #84
No worries. I wish it were that simple as well.

If you need help constructing a Strategy you have in mind, just let me know.

Please ⭐ if you find the library easy and useful.

Thanks,
KJ

[2020-07-30 17:00] twopirllc commented on #69
Heya @homily,

Thank you!

Also, thanks for your patience. Yes, I do like TradingView and some of my own TV indicators are also incorporated in **Pandas TA**. If think the differences you may be seeing are the may be the differences in data sources; TV's data source and your data source may not be the same. Computationally, they are the same.

Thanks,
KJ

[2020-07-30 17:06] twopirllc commented on #70
@homily,

Seems a little redundant, but doable. I will work it in after I finish developing and testing the current indicator I am working on porting from TradingView.

Thanks,
KJ

[2020-07-30 19:54] #84 closed

[2020-07-31 22:32] #82 closed

[2020-07-31 22:32] #77 closed

[2020-08-01 04:40] ajmal017 commented on #82
I felt the question was misunderstood, it wasnt about any error or any wrong calculation - its about displaying all variables in a chart in a full way.. https://raw.githubusercontent.com/twopirllc/pandas-ta/master/images/TA_Chart.png take for example this image, the 200 MA is display after 200 days in the chart, so is bands etc  - to display rightly in a chart, we usually take backward data to cal

[2020-08-01 17:36] twopirllc commented on #82
Your original post, did not have a question.

This is a Technical Analysis Library, **not** a charting library. There are plenty of Data Source APIs, Analysis and Backtesting Libraries, Charting Libraries, ML/AI Frameworks and Brokerage APIs required/needed to build an Algo Trading Platform. This is just **one** component, not two or more, of the pipeline that many traders and investors rely upon

[2020-08-01 21:00] cbogithub opened #85 "QQE indicator"
hi, i see a QQE indicator is nice :
https://www.tradingview.com/script/IYfA9R2k-QQE-MT4/

 i converted it to python, can you see and show me your idea

https://pastebin.com/upES9U3A
[code]

[2020-08-01 22:53] twopirllc commented on #85
Hello @cbogithub,

QQE looks interesting. How is it looking visually compared to data in TradingView? Relatively close? We can add it no problem. I do not have a timeframe yet of when I will implement it as I am in the middle of fixing and adding another indicator currently.

Keep me posted.

Thanks,
KJ

[2020-08-05 17:09] alexonab opened #86 "Indicator: Fisher Transform (FISHT)"
The indicator in its current form does not return the signal line.  Could this be updated to return a DataFrame with the FT and FT signal values?

https://library.tradingtechnologies.com/trade/chrt-ti-ehler-fisher-transformation.html

[2020-08-05 17:43] 22Vignesh-M opened #87 "How to utilize this Framework for live ticks"
Hi, I'm trying to calculate indicators for Live tick data,

You have done a great work!, its very much helpful and makes life easy ;)

Thanks & Regards,
Vignesh Murugan

[2020-08-05 21:21] twopirllc commented on #87
Hello @22Vignesh-M,

Your speed depends on your sources, dimensions and hardware of course. ```Pandas TA``` just runs Pandas compatible TA features comparable with ```TA Lib```. It is agnostic to how you want to process the data. You might want to check other Pandas Frameworks that are built for multiprocessing, event processing, streaming, ETL, et al for more efficient solutions.

I have not trie

[2020-08-05 21:35] twopirllc commented on #86
Hello @alexonab,

Sure. I'll append it to the list or someone else can modify it and make a pull request.

In the mean time, you can do the following:
[code]

Don't forget to ⭐ if you find the library useful.

Thanks,
KJ

[2020-08-06 16:15] SoftDevDanial opened #88 "Relative strength"
Hi , is it possible for you to add relative strength? The only thing i found was relative strength and not relative strength. Here is a few links about relative strength.

[Relative Strength]
https://www.investopedia.com/terms/r/relativestrength.asp

[Relative Strength vs Relative Strength Index]
https://advisoranalyst.com/2016/11/01/relative-strength-vs-relative-strength-index-whats-the-differenc

[2020-08-06 16:21] SoftDevDanial commented on #88
Hi, can you also add force index?

https://www.investopedia.com/terms/f/force-index.asp#:~:text=The%20force%20index%20is%20a,book%20Trading%20for%20a%20Living.

https://www.daytrading.com/force-index

https://tlc.thinkorswim.com/center/reference/Tech-Indicators/studies-library/E-F/ForceIndex#:~:text=The%20Force%20Index%20study%20combines,negative%20values%20indicate%20the%20downtrend.

[2020-08-06 20:47] twopirllc opened #89 "Hi, can you also add force index?"
Hi, can you also add force index?

https://www.investopedia.com/terms/f/force-index.asp#:~:text=The%20force%20index%20is%20a,book%20Trading%20for%20a%20Living.

https://www.daytrading.com/force-index

https://tlc.thinkorswim.com/center/reference/Tech-Indicators/studies-library/E-F/ForceIndex#:~:text=The%20Force%20Index%20study%20combines,negative%20values%20indicate%20the%20downtrend.

_Originally

[2020-08-06 21:25] twopirllc commented on #83
@wenny0501,

I assume by no response that the response provided was sufficient. Thus I will be closing this issue in a few days.

Don't forget to ⭐ if you find the library useful.

Thanks,
KJ

[2020-08-06 21:26] twopirllc commented on #89
Hello @SoftDevDanial,

## Elder's Force Index

**Done!** _Elder's Force Index_'s short name is called  **efi** located under the _Volume_ category way at the bottom of the README.

<img width="522" alt="Screen Shot 2020-08-06 at 1 51 00 PM" src="https://user-images.githubusercontent.com/18198392/89581871-8f05d800-d7ec-11ea-871d-447b3b39ce57.png">

Also in the README are examples on getting help wi

[2020-08-06 23:12] twopirllc commented on #88
Hello @SoftDevDanial,

To be fair, I am confused by:

# Relative Strength Index

**Done!** The _Relative Strength Index_, is called **rsi** under the _Momentum_ category in ```Pandas TA```'s README. Also see Issue #89 on help to easily get a list of the indicators.

Using **rsi** is simple with ```Pandas TA```.

[code]

# Relative Strength

There is no _Relative Strength_. According to the second

[2020-08-07 08:59] SoftDevDanial commented on #88
Oh sorry i mistyped.. what i mean to say was i found relative strength index and not relative strength. Oh so its not technical analysis? I thought that the studies in thinkorswim is considered as technical analysis. Here thinkorswim compares the current stock with SPX then returns the ratio relationship between them
![image](https://user-images.githubusercontent.com/64815604/89628529-ff852580-d8c

[2020-08-07 09:03] SoftDevDanial commented on #89
Oh wow i didn't no there was a readme for the names of the indicator. I had to click and check the names one by one before this haha.

Thank You!

[2020-08-07 14:31] twopirllc commented on #89
No worries.

What did you have to click and check?

Thanks,
KJ

[2020-08-07 16:05] twopirllc commented on #88
Hello @SoftDevDanial,

Yes, **Relative Strength** is a part of the Technical Analysis umbrella. But it the next abstraction above classical Technical Analysis, i.e. SMA, MACD, RSI, et al.

```Pandas TA``` by design is built so that a DataFrame represents one asset and you can run any or all indicators on that asset. **Relative Strength** is technically doable and I can add an independent function

[2020-08-07 16:29] SoftDevDanial commented on #89
![image](https://user-images.githubusercontent.com/64815604/89667092-1ac35580-d90e-11ea-87e7-49e083670853.png)

Had to press each code and look at the comments to see what indicator it was haha

[2020-08-07 17:04] twopirllc commented on #89
Yeah, that's a good way to deep dive into the indicators. But I publish the list of them all in the README.

[2020-08-07 17:36] 22Vignesh-M commented on #87
Hi @twopirllc,

This is exactly what I wanted, but I'm getting some fluctuations in values for some indicators which depend on the OHLC form the beginning of the data frame.

Example Screenshots:

Computations on full Data Frame:
![pandas_ta_computed_full](https://user-images.githubusercontent.com/42717944/89671849-5146a380-d901-11ea-8e6e-53b1b6f2752c.png)

Computations on Live Ticks:
![pandas_ta_

[2020-08-07 17:55] twopirllc commented on #87
Hello @22Vignesh-M,

Thanks for replying and providing more info.

However, can you share some of your code so I can see what is happening? It looks like your MACD is incomplete, it requires a minimum of 26 periods. I would at least look back 30 periods/rows maybe even 50 since you have a small subset of indicators.

Regards,
KJ

[2020-08-07 21:42] SoftDevDanial commented on #88
Ohh i see. Actually i already tested it out and the code you gave me works perfectly. The only thing i could think off adding from it is probably another argument which is to select the initial date (the position of the date in the series e.g other[20]) for the ratio because probably some people would be pulling maybe 600 days data and probably would want the ratio and rs to be at position 365 ins

[2020-08-07 21:52] twopirllc commented on #88
Yes. That was one of the additional features that has to be added to find the first non-NaN value shared between them. Plus the feature to detect and process a list of *others* so you can easily see a larger subset besides only one. That i why I called it preliminary, a minimum working function to get you going till a more robust one is completed and added to the library.

[2020-08-07 21:53] #83 closed

[2020-08-07 22:02] twopirllc commented on #88
Also because it is "basically" division, you can pass in indicators for comparison also if the indicator returns a Series. If an indicator returns a DataFrame, then you will need to select the same column for both DataFrames.

For example:
[code]

[2020-08-07 22:03] #89 closed

[2020-08-07 23:06] SoftDevDanial opened #90 "Elder Force Index"
Hi ,

For the EFI , according to your formula here, you get the difference of current close price - prior close price * volume then you do the exponential weighted average for it. I may have the wrong understanding of it but according to investopedia and thinkorswim, the formula is current close price - prior close price * VFI(13)[ a.k.a 13 period ema of the force index]

Investopedia
![image](htt

[2020-08-07 23:58] twopirllc commented on #90
Hi @SoftDevDanial,

I first test against the de fact **TA Lib** if there is a corresponding indicator with that library. Since **efi** is not supported by **TA Lib**, I used TradingView's formulas for calculations. There are many brokerages sometimes with their own calculations of indicators. Can you provide convincing evidence that the current **efi** is being incorrectly calculated? Do you have

[2020-08-08 19:59] SoftDevDanial commented on #90
Hi,
I checked and your formula is correct.. When i tested your efi, i used thinkorswim to check if the value are similar with your formula and it was close but not the same which led to me believing that the force index of thinkorswim could be different from your efi. I had a sudden thought that the data i retrieve from yahoo finance via yahoo query api could have a slight difference number for bo

[2020-08-08 19:59] #90 closed

[2020-08-08 20:24] wenny0501 opened #92 "could you add SMIIO?"
Hi, twopirllc,
I find that you maintain pandas-ta very diligent. Thank you for your work.
I find a indicator is useful, SMIIO, SMI Ergodic Indicator/Oscillator.
[https://www.tradingview.com/chart/LOCO/wsKsWzWo-Momentum-based-SMIIO-Indicator/](url)
yes, I find  Stochastic in pandas-ta, I think  Stochastic is too sensitive.
I tried to code SMIIO but not success.
Could you add SMIIO to pandas-ta?

[2020-08-08 20:41] twopirllc commented on #92
Hello @wenny0501,

Thanks! Glad you like the library. Don't forget to ⭐ if you find the library useful.

I will add **SMIIO** to the queue. Thanks for the link as well, saves me time looking around. 👍

Regards,
KJ

[2020-08-09 04:35] twopirllc commented on #90
Hello @SoftDevDanial,

Yeah, multiple sources are not 100% correlated. Thanks for double checking.

Regards,
KJ

[2020-08-09 04:36] twopirllc commented on #92
Hi @wenny0501,

Just checked the link and it doesn't work. Redirects to Github.

Thanks,
KJ

[2020-08-09 04:59] twopirllc commented on #87
Hello @22Vignesh-M,

I don't know what you use for charting, but [**mplfinance**](https://github.com/matplotlib/mplfinance) just added Animation Support. Check it out, maybe it will help. 🤷‍♂️

Regards,
KJ

[2020-08-09 05:51] wenny0501 commented on #92
[https://www.tradingview.com/chart/LOCO/wsKsWzWo-Momentum-based-SMIIO-Indicator/](https://www.tradingview.com/chart/LOCO/wsKsWzWo-Momentum-based-SMIIO-Indicator/)

[2020-08-09 20:29] twopirllc commented on #92
Thank you!

[2020-08-10 09:34] 22Vignesh-M commented on #87
Hello @twopirllc,

Here is the code that i have tried for live tick calculation.

[code]

And lot for the thanks for suggesting a charting solution,
I'm current using bokeh live streaming and charting.

Thanks & Regards,
Vignesh Murugan

[2020-08-10 16:28] twopirllc commented on #87
Hello @22Vignesh-M,

Thanks for getting back to me with some example code to help. I'll take a look as soon as I can.

Excellent choice.

Thanks,
KJ

[2020-08-11 08:42] Morgiver opened #93 "Shutdown the log"
Hi, i'm changing my language project, coming from Javascript NodeJS to Python, so i'm little lost for this little thing.
I'm pretty new in Python ^^

I have a message that i would like to delete, i don't want use multiprocessing 'cause i'm using it for another thing in my project.
[code]

Someone know how i can shut down the log of pandas-ta ?

[2020-08-11 15:00] twopirllc commented on #93
Hello @Morgiver,

Welcome to Python and thanks for trying ```Pandas TA```!

To remove the following message:
```[i] Set 'df.ta.mp = True' to enable multiprocessing. This computer has 12 cores. Default: False```

Edit ```/path/to/pandas_ta/core.py``` and remove the following lines in the ```strategy()``` method:
[code]

Hope that helps!

Drop a :star: if you find the library useful.

Thanks,
KJ

[2020-08-11 15:12] twopirllc commented on #38
Hello @codesutras,

Any progress so far?

Regards,
KJ

[2020-08-11 16:29] Morgiver commented on #93
hi ! Thank you, exactly what i need :)

It could be interresting to have a parameter to set the verbose on or off !

[2020-08-11 17:01] twopirllc commented on #93
@Morgiver,

Thanks for the prompt reply. It only shows 10% of the time it runs so it's not too invasive and just a helpful hint.

Thanks for the suggestion. Maybe I'll make a ```hints``` property instead since it really doesn't fall into the ```verbose``` category.

How come you are switching to Python from JS? Or are you expanding your skill set?

Regards,
KJ

[2020-08-11 17:23] Morgiver commented on #93
@twopirllc

I'm working on a Trading Bot.
NodeJS is really slow and the multithreading is not easy to handle. I take one big week to approach Python and change the langage on my project. It was more easy than i expect.

Python have many really good package, i'm demanding my self why i don't take Python in the first place sooner.
Now i don't even look at JS, Python is my new girlfriend :p

I have a

[2020-08-11 17:24] #93 closed

[2020-08-11 17:50] twopirllc commented on #93
@Morgiver,

Thank you! It's come along way from a private repo to Open Sourcing as well as learning Python 3 and the other plethora of frameworks and libraries in the Fintech spectrum.

A couple of years ago I built a MVP Discord Bot. It would download data, do TA, make chart and send it back to the channel. Now I need a compatible back testing library and then build a better Bot again soon.

😆

R

[2020-08-11 18:26] jaymasimba opened #94 "module 'pandas_ta' has no attribute 'Strategy'"
Hallo,
I had imported pandas_ta as ta

Was trying to test the pandas_ta module using the examples provided and I always get the below errors whenever I try using the ta.Strategy or the others as well

module 'pandas_ta' has no attribute 'Strategy'
module 'pandas_ta' has no attribute 'AllStrategy'
module 'pandas_ta' has no attribute 'CommonStrategy'

Kindly advice

[2020-08-11 22:28] alexonab opened #95 "ta.utils.real_body"
I'm looking at the real_body function.  Should green candles have a negative body and red candles a positive body?  I would think this should be reversed.

 df['body'] = ta.utils.real_body(df.open, df.close)
 df['hl'] = ta.utils.high_low_range(df.high, df.low)
 df.tail()
timestamp_______________________open     high      low    close    volume     vwap  can  body    hl
2020-08-11 15:56:00  1371.78

[2020-08-11 23:10] twopirllc commented on #95
Hello @alexonab,

Good catch! I agree. Small bug. I didn't catch it originally since, ```ta.cdl_doji()``` was taking the absolute value of it's result.

Feel free to fix and make a pull request if you know what to change.

Thanks,
KJ

[2020-08-13 13:58] pbrumblay commented on #87
Thank you for this discussion. This was something I stumbled on and you folks helped me out. Here's a simple example I'm going to run with: https://gist.github.com/pbrumblay/b8fee2a425be6bfc88fc43ff15fb0199 (not using strategy yet but I will...).

I'm not going to worry about optimizing just yet but if pandas is really copying the whole DF there might be a performance problem in there depending on

[2020-08-13 15:32] twopirllc commented on #87
@pbrumblay,

Thanks for using **Pandas TA**! Glad it helped you out.

Thanks,
KJ

[2020-08-13 18:07] twopirllc commented on #94
Hello @jaymasimba,

Why did you close the issue? Did you figure it out? What code did you use specifically? Did you look at the [Example Notebooks](https://github.com/twopirllc/pandas-ta/tree/master/examples)?

[code]

Hope this helps!

Thanks,
KJ

[2020-08-13 20:34] AcudoDev opened #97 "FISHERT_5 & KAMA_10_2_30 - Only Get NaNs"
Hello,

Thank you for your work, it's incredible.

When running a AllStrategy, the FISHERT_5 and KAMA_10_2_30 columns only contain NaNs. I tried it on the Apple's max historical data (10002 data points). No error raised during calculations and other indicators are correct.

Sample code:

[code]
What's wrong? Perhaps I missed something..

Thanks

[2020-08-13 21:01] twopirllc commented on #97
Hello @AcudoDev,

Thanks for using **Pandas TA**!

That's interesting! Thanks for bringing it to my attention. I'll look into it.

Thanks,
KJ

[2020-08-13 22:46] #95 closed

[2020-08-13 23:00] twopirllc commented on #30
Hello @asmodehn, @homily, @lluissalord, @allahyarzadeh,

I have recently made updates to the [Example Notebook](https://github.com/twopirllc/pandas-ta/blob/master/examples/example.ipynb) with emphasis on **mplfinance** with examples on how to implement different indicators various ways. Please check out when you have some time to provide feedback.

Thanks,
KJ

[2020-08-14 01:19] andybrewer commented on #94
Running into the same error using your code above and the example docs:
`AttributeError: module 'pandas_ta' has no attribute 'AllStrategy'`

[2020-08-14 01:25] twopirllc commented on #94
Hello @andybrewer,

By default: ```data.ta.strategy()``` is equivalent to ```data.ta.strategy(ta.AllStrategy)```.

Let me know if that works.

Thanks,
KJ

[2020-08-14 01:26] andybrewer commented on #94
This fails on Kaggle as well:

[code]

[2020-08-14 01:28] twopirllc commented on #94
Which version are you running? Latest? I just updated it today.

```$ pip install -U git+https://github.com/twopirllc/pandas-ta```

KJ

[2020-08-14 01:31] andybrewer commented on #94
That worked! I installed it for the first time only a few minutes ago. Maybe right before you updated it? Regardless, it's working now. Thanks!

[2020-08-14 01:32] twopirllc commented on #94
Thanks for using **Pandas TA**!

Drop a ⭐ if you find it useful.

Thanks,
KJ

[2020-08-14 07:56] jaymasimba commented on #94
The pip install pandas-ta install the version 0.1.66b that did not contain the strategy attributes. So I cloned and installed the latest version from github which worked.

[2020-08-14 11:07] umit77 opened #98 "custom ta.Strategy does not work when df.ta.mp = True"
If we create a custom strategy like this one:
custom_a = ta.Strategy(name="A", ta=[{"kind": "sma", "length": 50}, {"kind": "sma", "length": 200}])
and call
df.ta.mp = True
df.ta.strategy(custom_a, cores=3)

Indicators are not added.

[2020-08-14 13:52] twopirllc commented on #94
@jaymasimba,

Thanks for getting back to me. Glad you were able to resolve the issue. Yes, pandas version 0.1.66b via pip was the last version before Strategy was implemented. The pip version contains the last most stable version while the Github version is the latest version. Hopefully soon, pip will get the current version should no further killer bugs creep up.

Drop a ⭐ if you find the library

[2020-08-14 13:52] #94 closed

[2020-08-14 14:05] twopirllc commented on #98
Hello @umit77,

The only bug is that it should create the indicators regardless of whether or not ```df.ta.mp =True```. However, ```df.ta.mp =True``` only applies to running **all** the indicators as described in the README.

<img width="564" alt="Screen Shot 2020-08-14 at 7 03 50 AM" src="https://user-images.githubusercontent.com/18198392/90257724-60938880-ddfc-11ea-86d0-233a86ed98b6.png">

Thank

[2020-08-14 14:32] umit77 commented on #98
Thank you @twopirllc for prompt response. It will be nice to have multiprocessing with other cases as well because with many indicators and many rows of data, calculation is really taking time.

[2020-08-14 14:37] twopirllc commented on #98
Hello @umit77,

It is definitely **true** for All the indicators. Not true with two indicators. I am willing to look into enabling for a certain minimum (threshold) number of indicators to process. What the number is, has yet to be determined. Do you have a suggested minimum?

Please add a ⭐ if you find the library useful.

Thanks,
KJ

[2020-08-14 14:45] umit77 commented on #98
I have added star. Yes find the library is very useful and I think it has the highest number of indicators available among similar libraries.
In my use case, I generate the indicator values, scale them and feed them to ml model for prediction using flask and waitress. Response is too slow due to time it takes to compute the indicators. Because of that I wanted to use mp option.

I can recommend al

[2020-08-14 14:56] twopirllc commented on #98
I understand Pandas TA is part of processing pipeline. I too am trying to finish building my own Algo Trading Platform with my nonexistent free time 🤣 . What is your input size and how many indicators are you processing?

Thanks for the input. I'll add it to the queue of things. Unfortunately, I do not have a time frame on this issue but I will keep you posted.

Regards,
KJ

[2020-08-14 15:15] umit77 commented on #98
Thank you very much. You will also need faster calculations then. May be this affects your priorities :-)
I am still experimenting and trying to find something that works. For my test system I have 6 indicators calculated on 30 to 50 rows.

But number of indicators may change as well as number of rows if I need to calculate indicators for higher period values.

[2020-08-14 16:14] twopirllc commented on #98
Sure.

I know, you will be using larger sets and more indicators. However, with 1217 rows and four cores **without** _mp_, I get between 5 - 12 ms running Custom A Test.

<img width="671" alt="Screen Shot 2020-08-14 at 9 03 55 AM" src="https://user-images.githubusercontent.com/18198392/90269213-1ff03b00-de0d-11ea-85c0-32258bc32e3a.png">

Whereas with the same dataset and running **All**, I average

[2020-08-14 16:34] umit77 commented on #98
Thanks. Something else must be taking long then. I will investigate.

[2020-08-14 16:47] twopirllc commented on #98
No worries.

Also, you can time your Strategy like so ```df.ta.strategy(custom, timed=True)```.

Hope this helps!

KJ

[2020-08-14 21:28] twopirllc commented on #86
Hey @alexonab,

I'm digging into **fisher**. I will have to break it up into different implementations: _Trading Tech_, _Trading View_ and _Tulip_. Slight variations even with the signal line.

KJ

[2020-08-15 00:26] umit77 commented on #98
When I time my custom strategy, I see 18ms (5 indicators, 25 rows). If I add the indicators separately, total time is about 16ms.

[2020-08-15 00:31] umit77 commented on #98
I am also getting this warning: ...lib\site-packages\pandas\core\series.py:726: RuntimeWarning: invalid value encountered in sign
  result = getattr(ufunc, method)(*inputs, **kwargs)

[2020-08-15 02:27] twopirllc commented on #98
It's a Pandas warning and not an error with ```pandas-ta```. You can disable the Pandas warning like so:

[code]

[2020-08-15 06:38] umit77 commented on #98
Thank you very much.

[2020-08-16 15:41] sword134 opened #99 "ta.strategy doesnt include statistical measures?"
Using the below mentioned code, it doesnt seem that pandas_ta's ta.strategy includes the statistical indicators such as skew and zscore.

`data.ta.strategy(exclude=["dpo", "fisher", "kama", "brar", "decreasing", "increasing", "psar", "trix", "t3", "kst", "eom"], verbose=True)`

Any solution as to how to include the statistical indicators while also excluding the above ones?

[2020-08-16 15:58] #99 closed

[2020-08-16 16:27] twopirllc commented on #99
Hello @sword134,

Did you resolve your own issue or how come you closed this?

Thanks,
KJ

[2020-08-16 16:44] sword134 commented on #99
@twopirllc it was a slipup on my side, nothing to do with pandas_ta. Sorry

[2020-08-16 16:53] twopirllc commented on #99
@sword134

Thanks for the prompt reply. Glad you resolved it.

Drop a ⭐ if you find the library useful.

Thanks,
KJ

[2020-08-17 21:25] Fr3d1sk commented on #98
even with the build in categories it won't append them, am I missing something?
[code]
The output is:
`Index(['timestamp', 'symbol', 'open', 'high', 'low', 'close', 'trades',
       'volume', 'vwap', 'lastSize', 'turnover', 'homeNotional',
       'foreignNotional'],
      dtype='object')`

Here is another example:
[code]
Output:
[code]

But when I try it with all indicators it works, but with ever

[2020-08-17 22:33] twopirllc opened #100 "Built in categories it won't append them"
even with the build in categories it won't append them, am I missing something?
[code]
The output is:
`Index(['timestamp', 'symbol', 'open', 'high', 'low', 'close', 'trades',
       'volume', 'vwap', 'lastSize', 'turnover', 'homeNotional',
       'foreignNotional'],
      dtype='object')`

Here is another example:
[code]
Output:
[code]

But when I try it with all indicators it works, but with ever

[2020-08-17 22:37] twopirllc commented on #100
Hello  @Fr3d1sk,

Doh! Thanks. I'll look into it.

Thanks,
KJ

[2020-08-18 04:01] twopirllc commented on #100
Hello @Fr3d1sk,

Is this happening in a Jupyter Notebook or a .py or both?

Thanks,
KJ

[2020-08-18 22:15] Fr3d1sk commented on #100
It happend in a .py file

[2020-08-19 00:28] Fr3d1sk commented on #100
![image](https://user-images.githubusercontent.com/48406090/90578281-33abf080-e1c3-11ea-9c44-f8843e3f62e4.png)
Shouldn't indicators on line 543 be list with the indicators^^?

I run into this problem with and without mp and tested it on following categories: volatility, momentum, statistics
(just adding normal indicators with "dataframe.ta.adx(append=True, length=adx_time)" works perfect)

Fredi

[2020-08-19 05:59] leqel opened #101 "Indicator result different with different size of dataframe"
I did a pair of examples of sma (length=20) for a df of 100 days and another df of 50-day tail of the 100-day df
The sma (length=20) of the same day are different
It's supposed to get the same results? Since their 20 days back are identical

[2020-08-19 14:39] twopirllc commented on #101
Hello @leqel,

Show me some code and results.

Thanks,
KJ

[2020-08-20 15:23] twopirllc commented on #100
Thanks for the feedback.

[2020-08-21 16:21] sv136 opened #102 "Elder Ray Index"
Hello,

I try to use the latest version, and I don't see Elder Ray Index (eri), mentioned on main page. A list of indicators (ta.indicators()) doesn't contain eri too. Is it implemented?
Thnx

[2020-08-21 17:36] cbogithub opened #103 "[Question] How to calculate the slope from the vertical and an indicator?"
how calculate slope between a indicator with h-line (same image below) ?
thanks
![Screenshot_2020-08-22 (PNG Image, 1034 × 587 pixels)](https://user-images.githubusercontent.com/9572613/90918708-5fbbb180-e40f-11ea-9448-dcba68fa837b.png)

[2020-08-22 18:51] jmrichardson opened #104 "Multiproccessing on Custom Strategy?"
Hi,

It appears that multi processing is enabled when using "All" strategy.  Is it possible to use it for custom strategies or any plans for support?  I am dynamically creating a large custom strategy with multiple lengths, fast, slow parameters etc for each indicator.  I would like to enable ta.mp but don't know how.  No columns are added with ta.mp enabled currently for any strategy other than "

[2020-08-23 16:45] twopirllc commented on #104
Hi @jmrichardson,

Thanks! I appreciate it.

Yeah TA is a weird confluence of time series mathematics, subjective analysis and mystical projection. Or at least that is what I thought when I first got into TA. I haven't gotten to the point of testing it out, but I do think that having many similar "looking" indicators, similar shape but different values, will not provide much additional insight. To

[2020-08-23 16:57] twopirllc commented on #101
Hello @leqel,

Totally understandable! In fact, it has been brought up with _Utilizing this for Live Ticks_, Issue #87. I suggest checking out that discussion when you have some time.

Again, I will not be modifying **ema** soon as it is accurate and working. I have other Issues that have piled up and I would like to resolve those before moving forward and adding other features that I think people

[2020-08-23 17:01] twopirllc commented on #104
Hey @jmrichardson,

I forgot to mention [**Stochastic**](https://github.com/crflynn/stochastic)! Since you are generating some noise in your "wrapper", I thought you might find this package of interest if you haven't come across it already. Maybe it can be of use.

Regards,
KJ

[2020-08-23 19:46] twopirllc commented on #103
Hello @cbogithub,

Apologies for not replying earlier. That is an interesting question! However, I am still uncertain about which two components you would like to compare to calculate slope.
* The green arrow is pointing to the red arc. Is that the angle you wish to compute? The angle from the vertical line down to the Moving Average?
* Slope between the _teal_ horizontal line (above the Moving Av

[2020-08-23 20:21] cbogithub commented on #103
thanks @twopirllc ,

I was confused between the vertical axis and the horizontal axis

[2020-08-23 21:04] twopirllc commented on #103
So, the red arc?

[2020-08-23 22:52] jmrichardson commented on #104
Hi @twopirllc ,

Thank you for the feedback and suggestions.   I agree with you that adding indicators (especially in bulk) probably won't add much value.  I am currently working on a tabular model which needs historical data per observation.  However, just throwing correlated data points won't help and will likely harm performance.  I am hoping that the dimensionality can be reduced to features t

[2020-08-23 23:43] #100 closed

[2020-08-23 23:44] #86 closed

[2020-08-23 23:47] twopirllc commented on #97
Hello @AcudoDev,

Should be fixed now and available via Github. Check it out before I push this version to ```pip```.

Thanks for your patience,
KJ

[2020-08-25 15:52] twopirllc commented on #104
Hello @jmrichardson,

I would be interested in your approach with models.

No worries. Try not to reinvent the wheel if you do not need to, right?

Yeah, I am buildling my own Algo Platform. Nothing fancy as I am nowhere near where I want it to be at this time. I have built some basic feasible components but have yet to connect them together. Yeah, I have been casually looking for others to bounce

[2020-08-26 11:58] DrPaprikaa commented on #81
I'd be happy to help build this feature if you point me in the right direction !

[2020-08-26 16:50] twopirllc commented on #81
Hello @DrPaprikaa,

Hope all is well.

That would be great! Even something partially working would help.

I suppose the best place to start in the _strategy_ method would be here: [_mode["custom"]_](https://github.com/twopirllc/pandas-ta/blob/ab0862cbde0597a118a472a03abe5c47218efb66/pandas_ta[/core.py#L568). You will need to change your Strategy to use a tuple for the params instead of a list sinc

[2020-08-27 12:35] AcudoDev commented on #97
Hello @twopirllc

Tested with the github version and now the indicators have values - didn't verify the values themselves.

Thank you a lot for the fix,

AcudoDev

[2020-08-27 12:35] #97 closed

[2020-08-27 16:51] twopirllc commented on #102
Hello @sv136,

I assume by no response that the solition provided was sufficient. Thus I will be closing this issue in a few days.

Please ⭐ if you find the library useful.

Thanks,
KJ

[2020-08-28 17:34] #102 closed

[2020-08-28 18:19] cbogithub commented on #103
![Untitled-2](https://user-images.githubusercontent.com/9572613/91602166-0e726b80-e995-11ea-9d96-31a5ab4b996b.jpg)
@twopirllc ,yes 👍 calc slop ema200 and vertical line   .

if calc slop ema200 and horizontal line , how i can do ?

[2020-08-28 18:29] twopirllc commented on #103
@cbogithub,

I'll fool around with it.  Thanks for a clearer chart to understand the request.

Thanks
KJ

[2020-08-28 18:31] twopirllc commented on #81
@DrPaprikaa,

To be clear I am not asking you to code the **multiprocessing** component, just if you are willing to take a stab at it or you have some familiarity with **multiprocessing**.

Thanks,
KJ

[2020-08-31 21:09] twopirllc commented on #92
Hello @wenny0501,

Trying to get this out this week.

Thanks for your patience,
KJ

[2020-09-01 13:14] ben-watt-es commented on #60
I'm just chiming in to say that I have the same issue. I am running 0.1.97b0, and either DPO leaks future data, or it is the holy grail of indicators.

[2020-09-01 16:54] twopirllc commented on #60
Hello @ben-watt-es,

Crazy! So, I ran a correlation test with TradingView. They are also perfectly correlated, centered or not. I guess it unknowingly is the holy grail. 🤣

<img width="319" alt="Screen Shot 2020-09-01 at 9 48 17 AM" src="https://user-images.githubusercontent.com/18198392/91883065-bd82a180-ec38-11ea-9a63-52085c03c3f5.png">

Thanks,
KJ

[2020-09-01 17:35] brunofacca commented on #60
If it's too good to be true, it's usually not true :sweat_smile:. I guess a simple way to ensure that it is not leaking future data would be to calculate it within a rolling window and compare the results with calculating it in the usual way. Something like:

[code]

[2020-09-01 18:58] twopirllc commented on #60
I subscribe to that as well.

It's worth checking out.

[2020-09-02 03:42] Physicworld opened #107 "Chande momentum Oscillator"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.1.97b

**Upgrade.**
[code]

**Describe the bug**
Chande momentum it does not match with trading view values.

**To Reproduce**
Im using this sample of code:

[code]

**Expected behavior**
i check all the configurations and parameters to send cmo function but i didnt get the same result with my

[2020-09-02 16:03] twopirllc commented on #107
Hello @Physicworld,

Thanks for using Pandas TA!

Are you using a different data source for Pandas TA and then visually comparing the numbers displayed from TradingView? If so, then that can cause deviations in calculation because they are not the same data source. You can **Export Chart Data** from TradingView data for comparison by using the _hamburger menu_ in the upper left corner; I use the I

[2020-09-03 16:58] DrPaprikaa commented on #81
Hi @twopirllc,

You basically did all the work ! I created a pull request (I hope I did it the right way, it's a first time !). I tested it with some custom strategies and various indicators : for example kurtosis (1-element tuple) and/or macd (3-elements tuple).

Note that the original code already works without this `if/else` statement, would you know why ?

Unfortunately I'm not very familiar w

[2020-09-03 17:17] DrPaprikaa commented on #81
Hi @twopirllc,

You basically did all the work ! I created a pull request (I hope I did it the right way, it's a first time !). I tested it with some custom strategies and various indicators : for example kurtosis (1-element tuple) and/or macd (3-elements tuple) and it works fine.

Note that the original code already works without this `if/else` statement, would you know why ?

I'm not very famili

[2020-09-03 18:08] SoftDevDanial opened #109 "Inside bar indicator request"
Hi , can you please add the inside bar indicator from cma?
link: https://www.tradingview.com/script/IyIGN1WO-Inside-Bar/

I couldn't find it in the readme area unless it is in a different name
This indicator seems like it has 900 likes (just saying in case this would increase your reason to do this indicator XD)
Thanks

[2020-09-03 18:54] SoftDevDanial opened #110 "Keltner Channel indicator is not the same as tradingview"
Hi , is the keltner channel here supposed to be the same as tradingviews builtin keltner channel? The data in trading view doesnt seem to be the same as tradingviews.

**Trading View**
![image](https://user-images.githubusercontent.com/64815604/92155306-c0101180-ee59-11ea-981c-7233c0b49b86.png)

**Pandas_ta*

![image](https://user-images.githubusercontent.com/64815604/92155374-dd44e000-ee59-11ea-8

[2020-09-03 20:11] twopirllc commented on #109
Hello @SoftDevDanial,

It has not been implemented yet. I'll take a look at it when I get a chance and other pending Issues to complete. However, you are welcome to take a stab at it 😉.

Thanks,
KJ

[2020-09-03 20:50] twopirllc commented on #81
Hello @DrPaprikaa,

Looks good! Nice job! Will it run the same if ```kwds["params"]``` were removed from the **if** statement? I'll throw in the test case when I merge it with development.

I do not know. 🤷‍♂️  I would rather have something working first before needing to make adjustments.

That's essentially my though as well. Have you tried all the Custom Strategies in the Strategy Notebook Exam

[2020-09-03 21:52] SoftDevDanial commented on #110
@twopirllc ,

Hey, here is the results after applying the below code.

[code]

**Results**
![image](https://user-images.githubusercontent.com/64815604/92177245-b47d1480-ee72-11ea-84ad-d14857d66764.png)

[2020-09-03 22:43] twopirllc commented on #110
@SoftDevDanial

You are posting Stochastic, but used topic Keltner Channels? If they are separate Issues, please separate them. Also, it's helpful to drop irrelevant columns like time, ohlcv, et al. Makes the correlation matrix smaller 😎

Thanks,
KJ

[2020-09-04 00:05] andybrewer commented on #60
I think DPO is still leaking data here: https://github.com/twopirllc/pandas-ta/blob/4804beaa3820c010f7554c3934983c401ed4ddd2/pandas_ta/trend/dpo.py#L18

In my data table, DPO is generating data before the 20 day SMA can be calculated, and prior to the 11 day previous close.

<img width="719" alt="Screen Shot 2020-09-03 at 5 00 45 PM" src="https://user-images.githubusercontent.com/7093/92184832-0a1

[2020-09-04 05:16] twopirllc commented on #60
@andybrewer

Thanks for the additional details.

Yeah. I know the line. I included it since it was part of Trading View's builtin **dpo** options and an easy one-liner. I'll look at it again soon after I tie up some other loose ends.

Thanks,
KJ

[2020-09-04 11:33] SoftDevDanial commented on #110
@twopirllc

OMG :open_mouth: , i was multi tasking doing other indicators that i got it mixed up :flushed:.
Well , i double checked it this time(Hopefully not gonna do the same mistake again). Below is the results after dropping unnecessary columns. While we are on this correlation topic, do you have any links or reference or even better tell me this correlation function and what is going on in th

[2020-09-04 15:37] twopirllc commented on #110
@twopirllc

No worries. 🤣  It happens.

So Correlation is used to determine the relationship between two or more sets of data. If the correlation value is close to zero, then there is little to no relationship. If the value is close to negative one, then there is largely an inverse relationship. Whereas if the value is close to one, then there is largely are direction relationship between the two

[2020-09-04 16:00] SoftDevDanial commented on #110
@twopirllc

ahh i see.. Here you go

![image](https://user-images.githubusercontent.com/64815604/92260630-c90ceb80-ef0a-11ea-9488-077e0272957c.png)

Thanks for the info

[2020-09-04 17:09] #110 closed

[2020-09-04 17:12] twopirllc commented on #110
Ahhh thank you!

So, is greater than 99% correlation for each component not good enough? I mean, I know 100% is important, but sometimes it doesn't happen.

KJ

[2020-09-04 17:23] twopirllc commented on #107
@Physicworld,

Any progress?

I assume by no response that the response provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-09-04 17:37] SoftDevDanial commented on #110
Well , i did try other modules and the indicators i tried in your library is the closest to tradingview. Well its a bonus if we get 100% but theirs bound to be micro differences which makes it to 99%.

Thanks for the insight and the help @twopirllc

[2020-09-04 17:59] twopirllc commented on #110
@SoftDevDanial,

You are welcome. Thanks for doing the correlation tests and hope you find them useful when comparing data relationships.

Yeah I would love to hit 100% each and every time but it's frankly not realistic sometimes. I do spend a considerable amount of my free time to get it right the first time or close to it. There are so many other features I would like to add but time is not alwa

[2020-09-04 19:38] Physicworld commented on #107
Hello, sorry for the delay, to download trading view data I need to have a pro account and I don't have one.
But I get the data from the binance api, and the prices are always the same.
The value of the chande indicator is different.

[2020-09-04 19:43] Physicworld commented on #107
@jit
	def _Chande_mo(self, data, period, threshold):

		chande = TAI.cmo(data['close'], length = period)
		c = chande.iloc[-1]

		print(c)

		if c > threshold:
			return True
		elif c < -threshold:
			return False
		else:
			return 's'

This is my function of chande momentum oscillator if it helps...

[2020-09-04 20:08] Physicworld commented on #107
Hey man! i found the error!

All I had to do was put in false the talib argument!

like this : chande = TAI.cmo(data['close'], length = period, talib = False)

and fix the problem! the values in trading view and chade mom in my code are the same!

Thanks a lot man! i'm building a big trading bot with your library!

[2020-09-04 20:12] twopirllc commented on #107
@Physicworld,

You are welcome! Awesome! Keep me posted!

Glad you found the option. I did post it above in my first reply to you. I was getting confused because I was getting 100% Correlation with TradingView.

Thanks for using Pandas TA!

Thanks,
KJ

[2020-09-04 20:44] #107 closed

[2020-09-05 09:20] Jacks349 opened #111 "A question about Supertrend vs Tradingview's Supertrend"
First of all, thank you for open sourcing this library, it's incredibly easy to use and it has indicators/studies that none of the other libraries i've checked have.

I was trying to run a backtest on the Supertrend indicator, and since i noticed a substantial difference from how it is implemented on Tradingview, i wanted to investigate a little more on this. I tried the following:

`st = ta.super

[2020-09-05 09:22] DrPaprikaa commented on #81
Hi @twopirllc,

Yes it works even without the `if kwds["params"]`, since `isinstance(kwds["params"], tuple)` checks the value associated with the `'params'` key. I check with various tuple sizes, ints, floats, np.nan, they all work on my end so I guess we can delete this part of the if statement (didn't test with the example notebook tho).

However when running multiprocessing with a custom strate

[2020-09-05 16:25] twopirllc commented on #111
Hello @Jacks349,

Thanks for using Pandas TA!

Trading View does not have a builtin Super Trend, but there are many user created [Super Trend variations](https://www.tradingview.com/scripts/supertrend/). Everget, like many others, typically enhance a standard calculation of an indicator for various reasons and it is very easy to do so with Pinescript. So there is _likely_ a difference in the Everg

[2020-09-05 16:58] twopirllc commented on #81
Heya @DrPaprikaa,

Excellent!

So you implemented *mp* with a Custom Strategy?

Can you please clarify this? It is slower with *mp* when running Custom Strategy? This is anecdotal but when you have few cores, it runs better when not utilizing all the cores. So if you have 8, try setting the cores to 6 or whichever number is consistently quicker.

I guess I would have to see it if you have *mp* imp

[2020-09-05 17:50] Jacks349 commented on #111
This was incredibly helpful! Thank you a lot! Everything is clear now! Added my star, keep up the awesome work!

[2020-09-05 17:50] #111 closed

[2020-09-05 17:53] twopirllc commented on #111
Thank you @Jacks349. I appreciate it!

Good luck with your trading and investing.

[2020-09-05 18:56] DrPaprikaa commented on #81
Hey,

Running with less cores is faster than with all cores, but still slower than without mp. I've updated the pull request with the full code (`'params'` and mp) so you can try on your end.

That's exactly what's not working. I commented it out in the pull request. I guess we can continue this discusson there ?

[2020-09-05 19:04] SoftDevDanial opened #112 "Potential fix to stoch (maybe)"
Hi ,

So i used .corr on pandas_ta stoch with the stoch in trading view. I might be doing it wrong but the correlation for slowk/%k is 0.599302 and slowd/%d is 0.605692 . So i made my own code by referring to the stoch page provided by pandas_ta (https://www.tradingview.com/support/solutions/43000502332-stochastic-stoch/) and it seems i think a potential fix is to change the slow_k in rolling to f

[2020-09-05 19:25] twopirllc commented on #81
Awesome, I'll take a look later.

[2020-09-05 20:01] twopirllc commented on #112
Awesome @SoftDevDanial!

Just needed fresh eyes to solve it. Thanks! If you know where in the code to fix, please fork, edit and make a pull request and I'll review it on the development branch.

Thanks,
KJ

[2020-09-05 20:06] twopirllc commented on #92
@wenny0501,

Currently on the _development_ branch. Doing a final review of changes before updating the _master_ on Github.

KJ

[2020-09-06 00:49] andybrewer opened #115 "ichimoku data leak?"
I'm seeing strong correlations with `ICS_26` and found this line:
https://github.com/twopirllc/pandas-ta/blob/master/pandas_ta/overlap/ichimoku.py#L28

That appears to be shifting future `close` values into the present. Also, in my dataframe, the ICS values start on day 1, but aren't present for the final 26 days of the dataframe.

There was a similar negative shift value in `dpo` as well which wa

[2020-09-06 03:18] twopirllc commented on #115
Hey @andybrewer,

Here is some information about Ichimoku Clouds:

<img width="809" alt="Screen Shot 2020-09-05 at 7 28 37 PM" src="https://user-images.githubusercontent.com/18198392/92316846-6d943980-efae-11ea-8fd7-ef51fe454810.png">

### Ichimoku and DPO (Centered) Chart

Below is Trading View's default Ichimoku overlay as well as Trading View's default _centered_ **dpo** (Issue #60).

![Ichimok

[2020-09-06 08:00] SoftDevDanial commented on #109
Hi @twopirllc ,

Can you review, modify to be like pandas-ta format and comment on my code. I already made the code for it but i'm unable to use corr on it which i don't know why(tried my best to make it as similar style to pandas-ta code). So since corr() cant be used on this, i did manual comparison and its 100% the same. Below is the code and the results(in excel).
[code]

**Results**
[results.

[2020-09-06 09:41] SoftDevDanial commented on #109
[code]

Update to the code.. Here is the closest i can do to make it similar to pandas-ta style of coding

Do review and comment

[2020-09-06 13:54] Jacks349 opened #116 "Supertrend indicator giving only short values"
This is not a bug report, because i'm pretty sure it has to do with the OHLC data i'm feeding to pandas-ta.

I noticed that with some markets i'll get only short values, so on the chart the band will be red for the whole length of the chart itself. This "issue" seems to happen when i set an higher Accelerator, in this case i'm setting it to 4. What is weird to me, is that this won't happen with so

[2020-09-06 15:18] andybrewer commented on #115
Thanks for the detailed response! The trading view link doesn't work for me (maybe it's a gated page?), but the other information is really helpful. Thanks again!

[2020-09-06 15:18] #115 closed

[2020-09-06 15:30] twopirllc commented on #115
@andybrewer

That's weird. 🤷‍♂️

No worries. Here is the result I found from Google search.

<img width="617" alt="Screen Shot 2020-09-06 at 8 32 07 AM" src="https://user-images.githubusercontent.com/18198392/92329229-f6e15580-f01a-11ea-8fcc-e2360511343a.png">

Here is the entire thread from that link with the reference to Stock Charts DPO description I posted in the last response.

<img width="97

[2020-09-06 17:49] twopirllc commented on #116
Hi @Jacks349,

I'll tack it onto the issues to look into.

Based on a quick glance, and I am not sure if it will solve the issue, but have you tried:
[code]

Also since you are using a DataFrame, _df_, have you tried using the DataFrame extension ```ta```? You wouldn't have to include: ```df['high'], df['low'], df['close']```
[code]

Hope this helps!
KJ

[2020-09-06 17:55] twopirllc commented on #109
Hi @SoftDevDanial,

You want to make a pull request with your inclusion? I will take it from there. Your contribution will definitely same me some time and I would appreciate it. 😎

Just to be clear, you want the default to return an integer whether or not it's an Inside Bar or not? ```True: 1, False: 0```?

Thanks,
KJ

[2020-09-06 18:57] SoftDevDanial commented on #109
hi @twopirllc .

Alright will do. By default, i want it to return `True:1 , False:-1` . the 1 and -1 shows the bullish and bearish signs while 0 means neutral. My code  is referenced from this https://www.tradingview.com/script/IyIGN1WO-Inside-Bar/

Thanks

[2020-09-06 19:15] twopirllc commented on #109
@SoftDevDanial,

Easy to give it the ability to return ```bool```, binary ```1,0```, or ternary ```-1,0,1```.

Out of curiosity, what percentage of bars return 0?
[code]

Thanks,
KJ

[2020-09-06 19:26] SoftDevDanial commented on #109
@twopirllc
`notIn: 602 / 675, percent= 89.18518518518519%`

Above is the results. I ran this from a starting date of 2018-01-01

[2020-09-06 21:22] Jacks349 commented on #116
Thank you a lot for taking your time to answer! Using the `ta` extension made it way easier to read, thank you for the advice! I tried to set `length=10, multiplier=4.0` but the output was the same. If on `URL` i change `TRXBTC` to `BTCUSDT` the output will be different: only the first part of the chart will be "always red", while the rest is normal, so i'm assuming this could be because i'm not g

[2020-09-08 00:53] #112 closed

[2020-09-08 00:53] #92 closed

[2020-09-08 00:55] twopirllc commented on #70
@homily,

Completed! Use ```help(ta.stochrsi)``` for info.

KJ

[2020-09-08 00:55] #70 closed

[2020-09-08 00:58] twopirllc commented on #69
@homily,

Revamped **stoch** added **stochrsi**. Both are inline with TradingView.
Use ```help(ta.stoch)``` and ```help(ta.stochrsi)``` for more info.

Thanks,
KJ

[2020-09-08 00:58] #69 closed

[2020-09-08 00:59] twopirllc commented on #38
Hi @codesutras 👋

[2020-09-08 00:59] #64 closed

[2020-09-08 17:59] twopirllc commented on #109
Almost done!

[2020-09-08 18:50] #109 closed

[2020-09-09 18:19] twopirllc opened #119 "Elders Thermometer Indicator"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
Version 0.2.01b

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
[Elders Thermometer Psuedocode](https://www.motivewave.com/studies/elders_thermometer.htm)
[Elders Thermometer by LazyBear](https://www.tradingview.com

[2020-09-09 18:53] twopirllc opened #120 "Bollinger Bands Bandwidth"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
Version: 0.2.xxb

**Upgrade.**
[code]
Yup.

**Is your feature request related to a problem? Please describe.**
Bollinger Bands Bandwidth

**Describe the solution you'd like**
[Bollinger Bands Bandwidth](https://www.sierrachart.com/index.php?page=doc/StudiesReference.php&ID=135&Name=Bollinger_Band

[2020-09-09 20:03] jmrichardson commented on #104
Hi @twopirllc ,

Sorry for the late response.  Taking this conversation offline, if you would like to chat about the algo platform, please send me a message at jmrichardson AT gmail

[2020-09-09 21:34] twopirllc commented on #104
Hey @jmrichardson,

No worries.

I am tying up some loose ends. Will contact you via pm in the coming weeks.

Thanks,
KJ

[2020-09-10 16:40] twopirllc commented on #103
Hey @cbogithub,

Apologies for the delay.

If you want the angle from the vertical, and assuming degrees here, then you can do the following:

[code]

Hope this helps! Please let me know if this is what you had in mind.

Thanks,
KJ

[2020-09-10 18:14] #31 closed

[2020-09-11 12:34] codesutras commented on #38
@twopirllc Sorry mate. I'm occupied with some other work at this moment and will not be able to focus on this defect at this moment.

[2020-09-11 14:19] twopirllc commented on #38
@codesutras All good. 🍀  Stay safe.

[2020-09-11 21:19] andybrewer opened #123 "NaN values for Fisher, Kama and Volume Profile when applied as a strategy"
This method of calling indicators works as expected:
[code]

But this method produces NaN values:
[code]

However, all other indicators seem to work perfectly in either the direct or strategy method.

[2020-09-11 21:28] andybrewer commented on #123
`df.ta.fisher(append=True)` also appears to return NaN

[2020-09-11 21:46] andybrewer commented on #123
I also noticed that while `df.ta.ao()` (and others) return expected results:
[code]

But `df.ta.fisher()` (+ `kama()` and `vp()`) return data without an index:
[code]

[2020-09-11 22:58] twopirllc commented on #123
Hey @andybrewer,

I will look into ```fisher``` and ```kama``` when I get a chance.

But Volume Profile, ```vp```, is based on the following without the _value area_ calculation and does not return a time series but a range of prices.

- [Stockcharts Source](https://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:volume_by_price)
- [TradingView Source](https://www.tradingview.

[2020-09-12 00:43] andybrewer commented on #123
Thanks, this is helpful about `vp`. I forced a `pip` install and `kama` and `fischer` are working now. Looks like it was a known issue fixed here: https://github.com/twopirllc/pandas-ta/issues/97

[2020-09-12 00:43] #123 closed

[2020-09-12 02:54] twopirllc commented on #123
@andybrewer,

No worries. I try to provide all the info I use for the indicators using the ```help``` method, like ```help(ta.vp)```. If the indicator is lacking information or seems off, please let me know.

Yes, the up to date version is always on Github. I push to ```pip``` for large releases in general. If you want bleeding edge, you can always pull the _development_ branch and help break and

[2020-09-13 02:52] codesutras opened #124 "CFO (Chande Forcast Ocsilator)"
Hey @twopirllc,

I'm still using pandas-ta==0.1.36b0 version at this moment and added one indicator on my own in my project. This indicator is known as Chande Forcast Oscilator (CFO).

Here is the working code for the same. You man alter it according to the current codebase and include it.

[code]

And here is a [link](https://www.fmlabs.com/reference/default.htm?url=ForecastOscillator.htm) for th

[2020-09-13 15:47] lqmike opened #125 "Good First Issue >> return NaN when valid data points < length parameter"
hi thanks a lot of the great project, been helping me a lot. there is only one thing that has been bothering me here:

- for indicators like rsi(length = 14), seems the program still carry out the calculation even when total non NA datapoints are less than 14,  so the result would be misleading. Is there anyway the program can return NaN when there is less than 14 valid datapoints passed.

Thank y

[2020-09-13 16:07] twopirllc commented on #124
Hey @codesutras,

Cool! I can add it no problem! I just do not have a timeframe yet unfortunately. I'll keep you posted when I get around to it or someone else feels like picking it up sooner.

Thanks,
KJ

[2020-09-13 16:27] twopirllc commented on #125
Hello @lqmike,

Thanks for using **Pandas TA**!

Unfortunately, I need more information other than it "seems". Do you have sample data pointing out the inaccuracy of the data and how it is misleading? Which other indicators have this problem? Are these other indicators also ones with leading NaNs?

I put considerable time to ensure accuracy of the indicators as well as correlation testing them aga

[2020-09-13 16:47] lqmike commented on #125
thank you so much for the quick reply KJ. Nothing is inaccurate at all from algorithm point of view as a financial practitioner I can assure you. Let me make my suggestion clearer:

1. When you calculate 14D RSI, you should have at least 14 trading days data to get the output.
2. Imagine now you only have 10 days worth of trading data, and pass that to ta.rsi(lenght=14), you will still get a value

[2020-09-13 16:50] #30 closed

[2020-09-13 17:45] twopirllc commented on #125
Hi @lqmike,

This makes more sense to me. Thank you for clarifying.

Good point. It is important to program defensively. I did not add it into the code originally since I assumed the user was savvy enough to know that they needed the minimum anyhow for an indicator to run and it wouldn't be much of an issue since it is fairly easy for the user to source plenty of data such that minimum checks were

[2020-09-13 18:00] lqmike commented on #125
Thank you again KJ!

When you generate a lot of these indicators with a lot of different parameters for many securities, to clean up the result will get tricky. So it would be great if the program can return N/A for those insufficient period and i will just do a dropna() in all the result I have generated to get a 100% quality dataset.

[2020-09-13 18:00] twopirllc commented on #103
Hi @cbogithub,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-09-13 18:36] twopirllc commented on #125
@lqmike

No worries.

May I ask how you are currently using Pandas TA? Are you implementing it TA Lib style: ```ta.indicator(*args, **kwargs)``` or the DataFrame extension style ```df.ta.indicator(*args, **kwargs)``` or are you using DataFrame _strategy_ method with a Custom assortment of indicators ```df.ta.strategy(CustomStrategy)```? I recommend the latter.

KJ

[2020-09-13 20:38] amirsalarsafaei opened #126 "I'm getting an error while using the PSAR indicator"
this is the part of code which is getting error:
tmp = ta.psar(df['high'], df['low'], df['close'])
the error is at this line 40:
sar[i] = sar[i - 1] + af * (high_point - sar[i - 1])

[2020-09-13 20:57] twopirllc commented on #126
Hello @amirsalarsafaei,

Please follow the **bug** report format. It's there for a reason so that I can ascertain what is truly an issue by providing me with the appropriate context and details without us having the this exchange.

There is not enough details or context here to help you. All my tests pass and no one else has had the same issue. Please be more descriptive in the future.

Thanks,
KJ

[2020-09-13 23:38] andybrewer commented on #60
For those coming across this in the future, it appears that the centered DPO indicator is both correct (per: https://school.stockcharts.com/doku.php?id=technical_indicators:detrended_price_osci) and simultaneously leaks future data if used in the wrong context.

When `length=20` (default), the centered version calculation translates to:
"Take the close from 11 days ago and subtract the simple movi

[2020-09-13 23:43] andybrewer commented on #115
For those coming across this in the future, the `chikou` span (the `ICS_` prefix) is basically a Series of future close values:
https://github.com/twopirllc/pandas-ta/blob/master/pandas_ta/overlap/ichimoku.py#L28

It's the correct way to plot the chart per: https://school.stockcharts.com/doku.php?id=technical_indicators:ichimoku_cloud, but when analyzed as a data column without context would lead

[2020-09-14 01:32] lqmike commented on #125
I have very limited programming skill, so I use it in the most intuitive plain vanilla ways as possible for myself... basically just df['rsi'] = ta.rsi(...)... it is good when you want to generate multiple parametes into multiple columns just loop them.

[2020-09-14 13:31] codesutras commented on #124
Let me pick it this time Kevin. Give me the write access and assign it to me.

[2020-09-14 14:24] twopirllc commented on #124
@codesutras,

We can split the work. If you have not already, you need to fork the repository. Add the indicator file to 'momentum' directory, update the __init__.py in the 'momentum' directory and make a _Pull Request_. I will take it from there by linking the rest of the pieces to the DataFrame and I'll write the tests for you. Sound good?

Thanks,
KJ

[2020-09-14 14:36] twopirllc commented on #125
@lqmike,

No worries. We all start somewhere.

By the looks of it, it seems you are trying to find optimal parameters by fuzzing (trying a range of value of) the inputs. You can do this easily use a list comprehension:

[code]

Hope this helps!
KJ

[2020-09-14 15:04] lqmike commented on #125
Yes, that is what I am doing! I love python, programming beginner friendly!

[2020-09-14 16:11] codesutras commented on #124
Yup, I'm okay with it.

[2020-09-14 16:22] twopirllc commented on #104
Hey @jmrichardson

FYI, Multiprocessing Custom Strategies is up on the _development_ branch if you want to try it out before I update the _master_ branch.

Thanks,
KJ

[2020-09-14 18:32] twopirllc commented on #116
Hello @Jacks349,

I apologize for the delay. Been swamped. Anyhow I finally took a gander at this and reworked some of your code which you thankfully provided 😎 .

[code]

I am not seeing an issue in plotting and seems to show both long and short regime changes. At first I thought it was also the magnitude of the values impacting the results, but that appears not to be the case thankfully.

Here i

[2020-09-14 18:33] codesutras commented on #124
@twopirllc Merge request sent. Please review that.

[2020-09-14 20:49] jmrichardson commented on #104
Hi @twopirllc ,

I installed the development branch on Windows 10:

[code]

Here is my code

[code]

Here is my indicators as given by self.state['indicators'] above:

`[{'kind': 'amat', 'fast': 67, 'slow': 214}, {'kind': 'nvi', 'length': 345}, {'kind': 'accbands', 'length': 143}, {'kind': 'ui', 'length': 344}, {'kind': 'entropy', 'length': 34}, {'kind': 'kc', 'length': 1350}, {'kind': 'tsi', 'fas

[2020-09-14 22:18] twopirllc commented on #104
@jmrichardson,

Thanks for installing the _development_ branch and whacking it with a big tree.

How many total cores do you have? Multiprocessing is on by default in this branch and defaults to all the cores.

So an ```OverflowError: int too large to convert to float``` from ```fib_sum = np.sum(result)``` in ```fibonacci()``` when calling ```fwma(close=close, length=length, offset=offset, **kwarg

[2020-09-14 23:10] jmrichardson commented on #104
LOL, sorry about that :)  I will choose a twig this time instead of the entire tree as I used to when my Mom made me go find a switch to beat me with :)

I have 8 cores on my dev box, but 56 on my prod server.  I haven't tried on the prod server but just looking at the processor utilization in win10 it doesn't peak at all above 20% utilization.

That's interesting about the Overflow error.  I have

[2020-09-14 23:49] twopirllc commented on #104
@jmrichardson,

Doh! Yeah, I wasn't expecting a Redwood tree trunk. 🤣

Wish I had a box with 8 - 56 cores available! 😮  Not peaking higher than 20% isn't bad either.

Interesting. The Fibonacci function is calculating using integers, I suppose it can be changed to floats and maybe there might not be an Overflow error. But I really doubt the veracity of needing a ```ta.fwma()``` of such lengths.

M

[2020-09-15 00:39] jmrichardson commented on #104
IMHO, it's about the ratio of samples to features.  A daily model will have ~250 observations per year.  If you did a ten year lookback, that would be ~2500 observations.  For correlated features, I've read that the square of n_observations is a rule of thumb (so about 50 features).

Yes, the goal is to include in an ensemble (voting) model a daily "headwind" classification to see if that helps wi

[2020-09-15 06:54] phelbton opened #128 "vwap raises false warning on "[!] VWAP volume series is not datetime ordered. Results may not be as expected.""
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.2.02b

**Upgrade.**
done

**Describe the bug**
vwap indicator performs a datetime check on the volume series which shouldn't be date time and raises a warning flag

**To Reproduce**
(Assuming you have AAPL.csv file in your script folder):
[code]

**Expected behavior**
not raising that warning flag...

[2020-09-15 08:37] Davxyp commented on #116
@twopirllc
Thank you a lot for your answer and thank you even more for improving my code! Now i'm sure that the problem is on my side and not on P_TA's side. I tried the **exact** same code and i got the following output:

![q](https://user-images.githubusercontent.com/47790276/93185945-51c32d00-f73e-11ea-9278-ee73da214253.png)

I really don't know what's going on here, i was thinking that maybe s

[2020-09-15 15:05] twopirllc commented on #104
Ok good! I'm taking sort the minimalist approach, keeping the Strategy lean, fast, and long only (for the time being).

Of course.

Yeah, it is quite the ensemble. 👍

Will do. You can also shoot me an email for offline discussions anytime.

I will be likely pushing this branch to _master_ by the end of the week if nothing serious pops during your tests. It would awesome if you could test the last

[2020-09-15 15:22] twopirllc commented on #128
Hello @phelbton,

Thanks for using Pandas TA!

It's not a **bug** as it is not breaking anything nor altering the data in any form when the condition is met. I understand it is a nuisance for you and you can remove or comment out the following two lines from ```vwap.py``` in the ```overlap``` directory on your local filesystem.

[code]

However it does point out that your DataFrame ```df``` index

[2020-09-15 15:41] twopirllc commented on #126
Hello @amirsalarsafaei!

Please see above.

Thanks,
KJ

[2020-09-15 16:30] twopirllc commented on #116
@Davxyp,

No worries. Thanks for your patience.

That is weird! Did you encounter any errors that you had to correct when running the code? Is there any other code around that block that you think may be interfering with it somehow?

What does the DataFrame ```df``` look like prior to running ```supertrend```?
[code]

Unfortunately, I can not do much on this end. However you can also edit/tinker y

[2020-09-15 17:39] Davxyp commented on #116
@twopirllc
Yes, as soon as i have enough time i'm going to do a full check on my modules, try to reinstall some stuff and see what happens. In the meantime, If it's ok for you, you can close the issue since we saw that the problem is not with the library itself but on my side.

Thank you a lot for your help!

[2020-09-15 17:44] twopirllc commented on #116
@Davxyp,

No worries. Keep me posted.

Thanks,
KJ

[2020-09-15 17:44] #116 closed

[2020-09-15 17:45] #103 closed

[2020-09-15 23:40] diegolovison opened #129 "Support for add all features"
Support for add all features
[code]

Thanks

[2020-09-16 02:25] twopirllc commented on #129
Hello @diegolovison,

Thanks for using **Pandas TA**!

On the **README**, it shows you how to run **ALL** the indicators/features with the ```strategy``` method, you just have to use the DataFrame mode.

In short:
[code]

Here is the README excerpt on the ```strategy``` method and how to create Strategies in this [Example Notebook](https://github.com/twopirllc/pandas-ta/blob/master/examples/Pandas

[2020-09-16 11:14] #129 closed

[2020-09-16 16:11] #126 closed

[2020-09-16 16:13] twopirllc commented on #128
Hello @phelbton,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Add ⭐ if you find the library useful.

Thanks,
KJ

[2020-09-16 16:50] twopirllc commented on #98
@umit77, @Fr3d1sk

Multiprocessing is enabled for all kinds of Strategies by default now on the _development_ branch with the help of @DrPaprikaa. Test it out if you wish before I push it to the _master_ branch soon.

[code]

Thanks for your patience,
KJ

[2020-09-18 14:40] #128 closed

[2020-09-21 00:53] jmrichardson commented on #104
Hey, shoot me your email address when you have a chance and we can take the conversation off line.  Mine is jmricharsdon AT GMAIL

[2020-09-24 19:42] xcvb74 opened #132 "Columns get renamed when applying indicators"
Hi,

When applying an indicator to an existing Dataframe, using append=True, some of my columns get their first later changed from upper case to lower case. I guess there is some parsing behind this :
[code]
Gets :
[code]
I then reference those columns to plot and get an error because of the name change.

Version : 0.1.97b

[2020-09-24 22:32] pbrumblay opened #133 "pandas required *before* running pip install"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
pandas-ta-0.2.2b0

**Describe the bug**
Because `setup.py` references the "version" attribute in `core.py`, `pandas_ta/__init__.py` is run and all dependencies must be present *before* "pip install".

**To Reproduce**
[code]

**Expected behavior**
'pip install' should work without needing to manually in

[2020-09-24 23:31] pbrumblay commented on #133
I've opened a PR to address this with what I *think* is an ok solution. I'm using pkg_resources which appears to be a reasonable <= 3.7 solution according to this: https://stackoverflow.com/a/17767076. In the same issue this https://stackoverflow.com/a/56331414 is supposedly the 3.8+ way to do it. I've tested this solution locally in a docker container and it seems ok...

[2020-09-25 00:37] twopirllc commented on #132
Hello @xcvb74,

Thanks for using **Pandas TA**!

However it is not a bug. Those columns are preemptively made lowercase so **Pandas TA** can seamlessly processing indicators as a DataFrame extension, like ```df.ta.sma(**kwargs)```. This was outlined in the 2nd Paragraph of the README.

<img width="714" alt="Screen Shot 2020-09-24 at 5 05 56 PM" src="https://user-images.githubusercontent.com/181983

[2020-09-25 00:41] twopirllc commented on #133
Hello @pbrumblay,

Thanks for bringing this to my attention with a detailed description and potential solution for those using containers. Also, thanks for making a PR. I will merge it into _development_ soon.

Thanks,
KJ

[2020-09-26 07:28] putraxor opened #136 "Variable Index Dynamic Average (VIDYA)"
Need implementation of Variable Index Dynamic Average (VIDYA). I have tried to calculate based on this indicator on tradingview [Variable Index Dynamic Average (VIDYA)](https://www.tradingview.com/script/hdrf0fXV-Variable-Index-Dynamic-Average-VIDYA/) but it results in wrong calculation

[code]

this is the result:
[code]

[2020-09-26 08:02] xcvb74 commented on #132
Hey,

Thanks! Obviously I didn't pay attention to this...
Your library is amazing

[2020-09-26 15:25] twopirllc commented on #136
Hello @putraxor,

Thanks for using **Pandas TA**!

Added to the queue.

Thanks,
KJ

[2020-09-26 15:27] twopirllc commented on #132
@xcvb74,

Thanks! Glad you like it.

KJ

[2020-09-27 13:56] WoutGeeurickx opened #137 "_get_column() change proposal"
Hi Kevin,

I noticed some behavior which seemed confusing, at least to me. While using df.ta.hlc3(append=True), I noticed that the column that was created was exactly the 'close' column (mind that I have set df.ta.adjusted = close). Stepping through the code uncovered that this is because I didn't give explicit 'high', 'low' and 'close' columns, and if those are left to None, _get_column()  will r

[2020-09-27 16:37] #132 closed

[2020-09-27 18:00] twopirllc commented on #137
Hello @WoutGeeurickx,

Thanks for using **Pandas TA**!

Thanks for bringing this into a discussion before making a PR request on ```_get_column(**kwargs)```. The _core_, and namely the ```strategy``` method has gotten quite the work out this year from bugs to enhancements. So it's fitting that ```_get_column(**kwargs)``` gets some enhancement love as well.

From a brief test of the code you provid

[2020-09-28 05:21] rluong003 commented on #119
Hi, I'd like to give a shot at implementing this. Can I ask, what category of indicator is the Elders Thermometer?

[2020-09-28 15:19] twopirllc commented on #119
Hello @rluong003,

Great! That is a good question because even the few sources on it do not have it explicitly categorized. It seems to measure price volatility, so let's put it in ```volatility```. Also, let's call it ```thermo```. You will also need to add _thermo_ to ```/volatility/__init_.py```. After that, I can take it from there if you like. Or you can try to do it all and I'll guide you wh

[2020-09-28 19:35] #98 closed

[2020-09-28 19:36] #133 closed

[2020-09-28 19:38] twopirllc commented on #124
@codesutras,

Thanks for your patience and contribution! I appreciate it. It is now up on Github and hopefully added to _pip_ in a few days if no major bugs happen till then.

Thanks,
KJ

[2020-09-28 19:38] #124 closed

[2020-09-28 19:39] #104 closed

[2020-09-28 19:43] twopirllc commented on #81
@DrPaprikaa,

Thanks so much for your contributions to **Pandas TA**! Excellent work!

I think we can close this one for now.

Thanks,
KJ

[2020-09-28 19:43] #81 closed

[2020-09-28 20:33] rluong003 commented on #119
Hi @twopirllc ,

I'd like to try to implement it myself. I need some guidance here. Looking at the implementations of Elder's Force Index, and Elder Ray Index, I sort of have an idea on how to do it.

Based off the psuedocode from motionwave, my function should parameters should be (high, low, length, mamode **kwargs)
I'm not sure what offset and drift are.
My question is here:
prevL = low[index-1

[2020-09-28 21:04] WoutGeeurickx commented on #137
Hi Kevin,

I'm personally more a fan of the more explicit method definition as it helps to understand at a quick glance what the relevant columns are. It seems that I'm locally on an older version, because my hlc3 method still looks like this:

    @finalize
    def hlc3(self, high=None, low=None, close=None, offset=None, **kwargs):
        high = self._get_column(high, 'high')
        low = self.

[2020-09-28 22:10] twopirllc commented on #119
@rluong003,

Cool!

**Before** you get too far, make sure you are using the latest version of Pandas TA. I just update the Github version earlier today.
[code]

Ok, so here is how I would start it. You can use ```shift()``` to shift a column up or down. I use a _drift_ variable to allow ```shift()``` to be mutable by the user if needed. By default, ```drift=1```. The _mamode_ can be used to add so

[2020-09-29 00:05] rluong003 commented on #119
@twopirllc
Thank you so much for your help, I'm new to open source contributions and investing in general, so I really appreciate your guidance. Do I also have to implement the signals? Or is that up to the user to decide after they get back their Thermo

//Signals
sell = ther moreThan (ma * sellFac);
buy = ther lessThan (ma * buyFac);

[code]

[2020-09-29 02:51] twopirllc commented on #119
@rluong003,

No worries. We all start somewhere. I am still learning things too. You are in a good spot if you have the time, interest, and youth to start investing early.

Yes. But if you do not want to, I will take care of it.

Also the code looks good. You get the structure of the indicators.

You can also do something like this:
[code]
Unless you plan to use ```prev_high``` and ```prev_low```

[2020-09-29 05:28] rluong003 commented on #119
@twopirllc
I have added the thermo method into core.

[code]
How can I implement the signals?
sell = ther moreThan (ma * sellFac);
buy = ther lessThan (ma * buyFac);

Seems simple to implement, SellFac and buyFac have a default of .5 and 2. And we send the sell or buy signal depending on the thermo value. Where does this code go?

I'm also trying to recreate the LazyBear implementation of Elder's

[2020-09-29 07:12] rluong003 commented on #119
Trying to test my thermo method in a Jupyter notebook.

I changed
[code]
into

[code]
because I was getting an error " Truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all() "

This change seemed to work however, when I tried to test the thermo method I get another error.
[code]
I get this error when I try to run it

[code]

I'm confused, So the EMA method needs

[2020-09-29 08:49] rahulmr opened #138 "How to use or implement Opening Range Breakout Strategy with EMA in real market"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.1.97b

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
Not exactly. I want to understand how to use pandas_ta for opening range or time range breakout strategies in real market.
Is it only for technical analysis or can be used in real market.

**Describe

[2020-09-29 14:42] DrPaprikaa commented on #81
@twopirllc,

It was a pleasure, I'll continue to follow your awesome work.

DrPaprikaa

[2020-09-29 16:50] twopirllc commented on #119
@rluong003

Excellent!

Yes.

You will have to convert it to a _Series_ since ```np.where()``` creates a ```<class 'numpy.ndarray'>```.

[code]

However there is another way to do it without using ```np.where()```, but that can be left as exercise on your own. _Hint:_ It is similar to the calculation of ```pos``` and ```neg``` in ```trend/adx.py```

Furthermore, you will have to finally return a _

[2020-09-29 16:56] twopirllc commented on #81
@DrPaprikaa,

Awesome! Thank you! I appreciate it.

With your recent experience in the belly of the ```core```, perhaps you may have some insight or ideas on how to improve ```_get_column()``` regarding Issue #137 when you have a moment.

Thanks,
KJ

[2020-09-29 18:45] twopirllc commented on #138
Hello @rahulmr,

## Upgrade

You have not upgraded. Here is how to upgrade:
[code]
## Questions

**Pandas TA** is used to calculate indicators **and** can be used in a real market. **Pandas TA** is _one_ component of an Algo Trading system. It is up to the user to implement their Algo Trading components: Broker, Order Execution, TA, Backtesting/Forward Testing, et al or modify an existing Algo Sys

[2020-09-29 19:06] twopirllc commented on #137
Hello @WoutGeeurickx

Same here. That is true for when using help on a specific indicator, like ```help(ta.macd)``` et al.

Yes. Please upgrade to the latest version so that we are on the same page.

Yes. It was done while updating the ```ta.strategy``` method so @DrPaprikaa and I could get _multiprocessing_ working for all the _Strategy_ cases as well as reduce the complexity of defining a _Strat

[2020-09-29 20:07] DrPaprikaa commented on #137
Hi,
If I'm not mistaken this bug is not happening in the current _master_ version.

`high = self._get_column(kwargs.pop("high", "high"))`

here, `pop` searches for the value associated with the key `high` in kwargs (chained indicator), defaulting with the value `high` (normal indicators). So `_get_column()` is never passed `None`. If `None` is passed for whatever reason, `_get_column()` simply ret

[2020-09-29 20:42] WoutGeeurickx commented on #137
Hi @DrPaprikaa ,

You are absolutely correct! I'm less experienced with the usage of kwargs, so I wasn't aware that the second parameter in kwargs.pop() is the fallback in case the key is not found. This works exactly as what I tried to propose, and in a clean way (although I like the explicit method definition 'of old').
I'm sorry for raising this issue since it seems that everything would just h

[2020-09-29 21:31] rluong003 commented on #119
@twopirllc
I think I'm almost ready for a pull request.

I'm still a little confused about thermo_short and thermo_long. I included two new parameters, long and short, because these are supposed to be user defined buy/selling factors.
sell = ther moreThan (ma * sellFac);
buy = ther lessThan (ma * buyFac);

If I do moving average * a sell or buy factor, isn't that multiplying an int by a series?
[c

[2020-09-29 22:05] twopirllc commented on #137
Hey guys,

Thanks for chipping in @DrPaprikaa.

No worries.

No need to keep it open if the issue is resolved. It will be under the closed issues if it needs linking for future discussions.

Thanks for having this discussion before making a Pull Request.

Best Regards,
KJ

[2020-09-30 00:09] twopirllc commented on #119
Hey @rluong003,

## Thermo Long and Short

That's legal. Same with floats. You should able to verify within a notebook cell.

Here are some minor revisions. Double check the long/short logic!
[code]

## Updating the Series and DataFrame Names

Before plotting and correlation testing you need to rename some of the resultant _Series_ cause 3/4 of them have the same name and will overwrite each other

[2020-09-30 02:21] rluong003 commented on #119
@twopirllc
Made the necessary revisions.
[code]
However I don't think I'm getting a good percentage of correlation. The graphs look close, but not close enough for 99% correlation.

SPY daily data taken from TraderView with lazy bear's script
[code]
My thermo data
[code]

The moving averages are nowhere close to each other.
Any thoughts?

[2020-09-30 03:11] twopirllc commented on #119
@rluong003

Well "THERMO_22_3.0_7.0" "looks" like it is working out. But you have yet to show numerical value of  correlation. More rigor is needed beyond printing two separate DataFrames.

To simplify the _correlation_ output, combine the _last two columns_ of the _first_ DataFrame **and** the _first two columns_ of the _second_ DataFrame into **one** DataFrame say ```results```.
[code]

<br/>

🤷

[2020-09-30 05:01] rluong003 commented on #119
@twopirllc
Oh wow, 90% correlation on my therm, and 99% correlation on my thermo MA. Is 90% correlation acceptable?

[code]

[2020-09-30 06:52] ravijvora opened #139 "NameError: name 'watchlist' is not defined"
NameError: name 'watchlist' is not defined
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, a

[2020-09-30 08:58] yhmickey opened #140 "example.ipynb does not work"
[code]

output:
[code]

[2020-09-30 14:12] twopirllc commented on #139
Hello @ravijvora,

So you got the following error: ```NameError: name 'watchlist' is not defined``` How did you get it? What did you do? Do you have any source code leading up to and including the error? Do you have a screenshot of the code and the error? Do you have any additional context to help to help you? Why did you not answer the questions?

So please answer them **soon** before I close iss

[2020-09-30 14:33] ravijvora commented on #139
![Untitled17 - Jupyter Notebook - Google Chrome 9_30_2020 8_03_04 PM](https://user-images.githubusercontent.com/70810494/94699532-06bd3280-0358-11eb-9d4e-cff77af9f281.png)

[2020-09-30 14:41] ravijvora commented on #139
![Untitled17 - Jupyter Notebook - Google Chrome 9_30_2020 8_10_21 PM](https://user-images.githubusercontent.com/70810494/94700409-0d987500-0359-11eb-9ab0-d9cf681a1f2c.png)

[2020-09-30 14:41] ravijvora commented on #139
![Untitled17 - Jupyter Notebook - Google Chrome 9_30_2020 8_11_16 PM](https://user-images.githubusercontent.com/70810494/94700486-22750880-0359-11eb-9c11-ff72e8e0a99f.png)

[2020-09-30 14:42] ravijvora commented on #139
pls help
I want to learn pandas ta

[2020-09-30 14:43] ravijvora commented on #139
![stocks-practice - Jupyter Notebook - Google Chrome 9_30_2020 7_13_15 PM (2)](https://user-images.githubusercontent.com/70810494/94700713-6b2cc180-0359-11eb-8d39-24f2baaa412b.png)

[2020-09-30 14:44] ravijvora commented on #139
this is my one more error pls guide

[2020-09-30 14:49] twopirllc commented on #140
Hello @yhmickey,

Thanks for trying **Pandas TA**!

Why did you delete all the bug questions? They are there for me to help you diagnose and quickly resolve your issue. So please answer them **soon** before I close this issue.

1. **Which version are you running?**
Run the following to find out and tell me:
[code]

2. **To Reproduce**
Where is the code? What did you do up to and include running ``

[2020-09-30 15:40] twopirllc commented on #139
@ravijvora,

You are running the last stable version from pip. You should upgrade to the latest version.
[code]

Then we can go from there.

[2020-09-30 15:53] twopirllc commented on #119
@rluong003

Thanks.

That is weird that your THEMRO is off but THERMma is accurate. It might be the case that your THERMO is also correct since Lazy Bear has this ```thermo = iff (high<high[1] and low>low[1], 0, ...)``` condition which sets THERMO to _zero_ if the current high is less than the previous high and the current low is greater than the previous low. You can include a Lazy Bear version i

[2020-09-30 17:00] ravijvora commented on #139
![Uploading Untitled17 - Jupyter Notebook - Google Chrome 9_30_2020 10_30_05 PM.png…]()

[2020-09-30 17:02] ravijvora commented on #139
Collecting git+https://github.com/twopirllc/pandas-ta
  Cloning https://github.com/twopirllc/pandas-ta to c:\users\lenovo\appdata\local\temp\pip-req-build-7j0dj3ks
Note: you may need to restart the kernel to use updated packages.
  Running command git clone -q https://github.com/twopirllc/pandas-ta 'C:\Users\LENOVO\AppData\Local\Temp\pip-req-build-7j0dj3ks'
  ERROR: Error [WinError 2] The system c

[2020-09-30 17:39] twopirllc commented on #139
If you do not have git installed, download zip.

<img width="351" alt="Screen Shot 2020-09-30 at 10 26 47 AM" src="https://user-images.githubusercontent.com/18198392/94719094-8b339500-0307-11eb-9e50-1cbc0e39be7e.png">

Unzip in your project directory. It should have content. The ```watchlist``` is in the _examples_ directory.

<img width="460" alt="Screen Shot 2020-09-30 at 10 33 21 AM" src="https

[2020-09-30 17:42] twopirllc commented on #139
You might also want to check Anaconda help on how to install packages locally by downloading the code.

The pip version will be updated by the weekend. But this is a good exercise in case other packages need to be installed manually.

[2020-09-30 18:03] #137 closed

[2020-09-30 18:35] ravijvora commented on #139
![Untitled10 - Jupyter Notebook - Google Chrome 10_1_2020 12_04_26 AM](https://user-images.githubusercontent.com/70810494/94725683-c9699c80-0379-11eb-9d11-3e5c1e837484.png)

[2020-09-30 18:36] ravijvora commented on #139
thanks for pandas ta updated but watchlist show error

[2020-09-30 18:37] rluong003 commented on #119
@twopirllc

While implementing the Lazy Bear version, I feel like its using the exact same calculations I use.

Still getting 90% THERMO correlation after using the Pandas where() instead of the np.where()
Not sure how to proceed.
[code]

[2020-09-30 18:55] twopirllc commented on #139
Look in the ```examples\watchlist.py``` file and see if it is there.

[2020-09-30 19:02] twopirllc commented on #139
Try:

[code]

[2020-09-30 20:05] twopirllc commented on #139
Also in a Jupyter Notebook, in a cell if you type: ```import <tab><tab>``` where ```<tab>``` is the _tab key_, you will get a list of _modules_ and _packages_ (since your importing) in your environment.

<img width="411" alt="Screen Shot 2020-09-30 at 12 59 18 PM" src="https://user-images.githubusercontent.com/18198392/94733800-297e2580-031d-11eb-8cb3-9b9215cf98f8.png">
<img width="377" alt="Scree

[2020-09-30 20:34] yhmickey commented on #140
Hello @twopirllc ,
Thank you for your prompt reply !

1.  ta.version is 0.2.15b0.

2. I just clone the code and run the example.ipynb in examples . I execute the code sequentially. I did not input any personal code.

3. Here is the screenshot and errors.
![1](https://user-images.githubusercontent.com/34559558/94736552-01cfa180-039f-11eb-8653-49202c1ac8c4.JPG)
![2](https://user-images.githubusercon

[2020-09-30 21:43] twopirllc commented on #140
@yhmickey,

Thank you

Thank you for providing some screenshots of what you have done. It helps a **lot**. This time is mildly different since ```df``` actually added columns and you have _32_ columns instead of _62_ columns.

What version of ```mplfinance``` are you using? Perhaps you have an older ```mplfinance``` or ```matplotlib```?

Here is how to find the version info of all the required pac

[2020-09-30 21:56] twopirllc commented on #119
@rluong003,

Yes. It is fine. I typically play around with it. Getting to 90% is good for a non-traditional _TA Lib_ indicator. Sometimes it's impossible to hit 99% or more. In all honesty, I spend considerable time to make the indicators as accurate as possible. I would rather they be accurate before they are fast, despite others preferring the latter. I do not **always** get 99%+ correlation wit

[2020-10-01 01:01] yhmickey commented on #140
@twopirllc ,
Here are the versions used in my Notebook.
![1111](https://user-images.githubusercontent.com/34559558/94754696-8254c900-03c4-11eb-96ea-86072e66617a.JPG)

Thanks
YH

[2020-10-01 03:44] ravijvora commented on #139
its

its work

thanks

[2020-10-01 05:45] twopirllc commented on #139
Excellent!

Thanks for the response.

Regards,
KJ

[2020-10-01 14:46] #139 closed

[2020-10-02 20:06] twopirllc commented on #140
Hello @yhmickey,

I assume by no response that the solution provided solved the issue. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-10-02 20:46] yhmickey commented on #140
Hello @twopirllc
I have updated the matplotlib to the newest v3.3.2, but it doesn't work. I guest the key of the problem is the version of the pandas_ta .

1. I can not find your version of pandas_ta by using pip. Here are the versions.
![1](https://user-images.githubusercontent.com/34559558/94967236-41c68e00-0531-11eb-9272-f9e75416a5cb.JPG)

2. I reinstall pandas_ta using pip .The version is 0.1.

[2020-10-04 16:15] twopirllc commented on #138
Hello @rahulmr,

I do not know how to help you if you do not participate in the discussion. As such, this Issue will be closed in a few days due to inactivity.

Best Regards,
KJ

[2020-10-04 16:23] twopirllc commented on #140
@yhmickey,

Thanks for the updates and screenshots. I have somethings to finish before updating the main Github version. Then we can try again with the new Github version. I'll let you know when the main version is ready.

Thanks,
KJ

[2020-10-04 23:31] #119 closed

[2020-10-04 23:39] twopirllc commented on #140
Hello @yhmickey,

Just updated Github with a new version.

[code]

Please keep me informed on that status. Also, have you tried a fresh install in a new directory?

Thanks,
KJ

[2020-10-05 14:02] yhmickey commented on #140
@twopirllc
Thank you. I love pandas_ta. It is a great job. This issue is not a big problem.

I have tried the new version of pandas_ta and mplfinance , but the problem is still the same.

But it doesn't matter.  This does not affect my learning how to use it.

Thank you for your pandas_ta.

[2020-10-05 14:43] twopirllc commented on #140
@yhmickey,

Thanks. Other than charting not working for some reason, is the library easy to use and working?

Thanks,
KJ

[2020-10-05 16:43] yhmickey commented on #140
@twopirllc

Yes, it is very easy to use and working.

Thanks.
YH

[2020-10-05 18:42] twopirllc commented on #140
@yhmickey,

Great! Glad to hear.

Regards,
KJ

[2020-10-05 18:42] #140 closed

[2020-10-06 13:36] chrishuygens opened #144 "Trades returned by trend_return shifted in wrong direction?"
**Which version are you running?**
`0.2.20b0`

**Describe the bug**
Either I did not quite get the concept of `trend_return` or something with the returned trades is wrong: When comparing the trades with the given `long`-values, the returned trade values seem to be shifted in the wrong direction.

I made a very trivial example (plot and code below) in order to illustrate my point: The strategy goe

[2020-10-06 16:59] twopirllc commented on #144
Hello @chrishuygens,

Ahh yes! Thank you for finding this careless mistake (bug) and providing me with a detailed and convincing analysis.

I have decided to put in a ```trade_offset``` parameter that defaults to -1. That way the user can shift it according to their needs. So line 46 will look like:
[code]

Thanks for using **Pandas TA** and please drop a :star: if you find it useful.

Thanks,
KJ

[2020-10-06 18:05] chrishuygens commented on #144
Hi  @twopirllc,

thank you so much for your blazing fast fix!

Daniel

[2020-10-06 18:05] #144 closed

[2020-10-09 02:18] rahulmr commented on #138
@twopirllc Hey sorry was busy with some office work. Thanks for the detailed explanation. I will try it out. Sometimes too much is also confusing so asked for helped. Once I am done with the code I will get back to you. Thanks for creating a good module. The TA-Lib installation itself was too hectic.

[2020-10-09 02:20] rahulmr commented on #138
And yes I want to do it for commodity - Natural Gas futures only. I will not try on too many stocks at a time.

[2020-10-09 02:34] rahulmr commented on #138
@twopirllc Just one suggestion if you find it good. Like many people who start coding in python for algo trading and then look for strategies and backtesting, I also keep looking for some existing python code for strategies. Many people are interested in indicators but when I see lot of youtube videos they always say that price yields more money from trading rather than using lagging technical ind

[2020-10-09 06:56] ryohno opened #145 "Upgraded pandas_ta to new version, now values changing (without proof)."
Upgraded pandas_ta without changing any features, and the backtests now show different results.
I was using version: pandas-ta-0.1.66b0 before, and upgraded to the most recent one. Features of pandas_ta I were using were: _hma, log_return, atr, rsi,bbands, pvt, vwma, sma_. Was there any change in how these calculations were done from previous version to upgraded version?

Particularly, I think the

[2020-10-09 16:02] twopirllc commented on #145
Hello @ryohno,

Thanks for using **Pandas TA**!

This Issue I assume is in regards to your [Neural Net](https://github.com/ryohno/breakout-neural-net/) modules? Why did you disregard the _Bug Report_ questions that I am **once** again having to ask?

I'm sorry but anecdotal evidence like _this_ and "I _think_" is **insufficient** to _qualify_ as a **_bug_**. In the future when your projects begin

[2020-10-09 20:59] twopirllc commented on #138
Hello @rahulmr,

Yes, this is one of the primary reasons why I made Pandas TA. In some cases TA Lib is hard to install and it's unfortunately development stalled.

Ok. Seems reasonable.

If we are considering Intraday, then maybe _Price Action yields more money_. Are these Day Trading Videos? Have any links? Are they using _any_ indicators? I am curious how they understand what indicators are and

[2020-10-10 05:06] rahulmr commented on #138
@twopirllc Thanks I am loving the discussion. I will work on the points you have suggested.

[2020-10-10 10:05] fonzmeister opened #146 "module not found error: dataclasses"
I wanted to try this library, but I get an import error

I just installed the latest version (not the stable) on my ubuntu server and windows machine and they give the same error

[code]

[2020-10-10 15:23] twopirllc commented on #146
Hello @fonzmeister,

Dataclasses were implemented in Python 3.7. So I recommend using Python 3.7 or greater.

Please let me know how that works out for you and when you get Pandas TA installed.

Thanks,
KJ

[2020-10-10 21:52] fonzmeister commented on #146
ah sorry, that was it. Upgraded python and it all works. Thanks

[2020-10-11 08:29] punno opened #147 "How to use squeeze with conventional"
How to use squeeze with conventional and candle data , OPEN ,MAX,MIN ,CLOSE /Thankyou

[2020-10-11 15:22] twopirllc commented on #146
@fonzmeister,

Excellent! Thanks for keeping me informed.

Regards,
KJ

[2020-10-11 15:22] #146 closed

[2020-10-11 15:24] twopirllc commented on #147
Hello @punno,

By conventional, do you mean John Carter's version? Do you have any code that you have done so far?

Thanks,
KJ

[2020-10-11 23:29] twopirllc commented on #138
Hello @rahulmr,

Great!

Also, I recently came across this blog post. [The Traders Guide to Mythological Constructs - Paracurve](https://paracurve.com/2019/03/the-traders-guide-to-mythological-constructs.html). A lot of good stuff to digest when you have some time.

Regards,
KJ

[2020-10-12 03:14] mklosi commented on #146
@twopirllc   Is there a previous version of "pandas_ta" that works with py36? The issue is that I have a constraint on the versions of python I can use. I'm stuck on 3.6.9 for the time being.

[2020-10-12 09:59] DrPaprikaa opened #148 "Ehlers Super Smoother Filter"
Hi @twopirllc,

Could it be possible to add the [Ehlers Super Smoother Filter](https://www.tradingview.com/script/VdJy0yBJ-Ehlers-Super-Smoother-Filter/) indicator ?

I quickly tried implementing it in Python but I'm lost in the conversion. I guess it should be quick to translate !

Thanks,
DrPaprikaa

[2020-10-12 15:35] twopirllc commented on #148
Hey @DrPaprikaa,

It's now on the list. However, I have some other projects that have fallen by the wayside that I have to get up to speed so it may take a little while.

Regards,
KJ

[2020-10-12 15:57] twopirllc commented on #146
Hello @mklosi,

You can download the code of [**Pandas TA** v _0.1.75b_](https://github.com/twopirllc/pandas-ta/tree/7e36ac1ded2e21a5096111e36b8f265f7d6b0f57). The is the last version prior to Python 3.7s ```dataclass``` was implemented.

Hope this helps!

If you find the library useful or easy to use, I would appreciate a :star:.

Regards,
KJ

[2020-10-13 15:12] twopirllc commented on #147
Hello @punno,

I would like to help you, so could you provide some code that you have tried so I know how you are using the library.

If this continues to remain unanswered, I will be closing this issue out in a few days.

Regards,
KJ

[2020-10-13 15:17] twopirllc commented on #145
Hello @ryohno,

I will be closing out this issue in a few days unless you can convince me _with proof_ that **Pandas TA** is inaccurate despite unit tests to the contrary.

Regards,
KJ

[2020-10-13 15:39] martin0 opened #149 "mods to macd to match tradingview"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

0.2.23b0

**Upgrade.**
[code]

**Describe the bug**
A clear and concise description of what the bug is.
macd wasn't matching results from tradingview
I made a mod to each of 2 files
ema.py line 20
sma_nth = close[0:length].mean() #ensure desired treatment of nan treatment

macd.py line 23
signal

[2020-10-13 16:32] martin0 commented on #149
Hi KJ,
Thanks for your swift response. I tested with company symbol U for unity, because it is a new ipo (not so much data)
![image](https://user-images.githubusercontent.com/2607781/95889171-fe162480-0d79-11eb-9994-fed168fc2a39.png)

Perhaps i should use some kwargs to achieve the matching result, but i'm not too familiar with kwargs at this time.

[2020-10-14 14:13] martin0 commented on #149
I'm delayed on this, as I'm also trying to get rsi to match TradingView. There's an issue with Wilder's Moving Average...

[2020-10-14 14:17] martin0 commented on #149
I can't export the data as I'm not subscribed to TradingView,

[2020-10-14 14:53] twopirllc commented on #149
So the first few bars of an indicator are your concern since you posted an IPO chart?

These are **all** baseless claims and the burden of proof lies in your court. Until then, none of these are issues. I have already put in copious amounts of limited **free** time to ensure the accuracy of each indicator in this package.

Regards,
KJ

[2020-10-14 14:53] #149 closed

[2020-10-14 21:14] qnguye opened #150 "stochastic is off (without proof)"
AAPL ticker for example. I ran 5 days 5 min chart. This is the first few stoch data for AAPL at open on 10/14/20

datetime | STOCHk_14_3_3 | STOCHd_14_3_3
10/14/2020 9:30 | 23.21256039 | 20.56580296
10/14/2020 9:35 | 54.5410628 | 32.70238618
10/14/2020 9:40 | 78.21922372 | 51.99094897
10/14/2020 9:45 | 95.77775215 | 76.17934622

but results very off compare to my charts (webull/trading view)
10/14

[2020-10-14 22:05] twopirllc commented on #150
Hello @qnguye,

Thanks for using **Pandas TA**!

You have deleted _all_ relevant questions for a bug report including what version you are using and provided no screenshots other than a copy paste of "some" values. You do not show any parameters used from Webull/TradingView since they are omitted in your output. You sure you have the same parameters?

There is no substance other than anecdotal evi

[2020-10-14 22:58] qnguye commented on #150
I'm on version 0.2.23b0
I'm using default stochastic value 14,3,3 on all. I attach the CSV with price datas and screenshot of TradingView & Webull
[AAPL_5d5m_stochastic.zip](https://github.com/twopirllc/pandas-ta/files/5381342/AAPL_5d5m_stochastic.zip)

[2020-10-14 23:45] twopirllc commented on #150
@qnguye

Great! However, these chart screenshots of are **not** replacements for numerical correlation test results. Furthermore, visualization is a _minimum_ bar to accomplish and you have not shown me results any results of Pandas TA's **stoch** chart in comparison to either Webull nor TradingView to compare against.

More importantly, you have not run _any_ correlation tests like described in I

[2020-10-15 00:46] qnguye commented on #150
In the CSV is a processed file. The last 2 columns (STOCHk_14_3_3, STOCHd_14_3_3) are results of Pandas TA's stoch. I can't export tradingview because i don't have paid version. The CSV open,high,low,close,volume data i got from td ameritrade, which is almost 99% identical with tradingview. I guess those small fractions can yield big different results. MACD, EMA, bbands are vey close, just this st

[2020-10-15 04:43] twopirllc commented on #150
Yes.

Yes. So where are the TD Ameritrade **stoch** results?

[2020-10-15 04:43] #150 closed

[2020-10-15 14:21] #145 closed

[2020-10-15 14:21] #147 closed

[2020-10-15 15:03] martin0 commented on #149
I'm sorry you feel bad. I have also put in "free" time to make sure the values match TradingView, and shared the corrections I made. I have also adjusted rma and rsi, but unless you're interested, I don't see the point in sharing the details.
I think what's interesting is what the definition of "correct" is. Perhaps TradingView is wrong...?

[2020-10-15 18:11] twopirllc commented on #149
I apologize if I appear defensive. But I have gotten and will continue to get Issues along the lines of "Indicator Yabb-Do is incorrect with TradingView/Webull ..." and their level of proof is similar to the following or nothing at all.

[code]

🤷‍♂️

Likewise. Nowhere in this Issue have I stated that I am against collaboration. In fact, I prefer it so that I can continue adding _new_ features and

[2020-10-18 16:20] kolahghermezi opened #151 "PyInstaller can't properly bundle pandas_ta on windows"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
* Version: 0.2.23b0

**Upgrade.**
* Already done.

**Describe the bug**
When I bundle my script using PyInstaller, Pyinstaller creates the bundled EXE just fine. But when I want to open my EXE I'd get the following traceback:

Traceback (most recent call last):
  File "main.py", line 3, in <module>
  Fi

[2020-10-19 14:49] rahulmr commented on #138
@twopirllc Check [this](https://colab.research.google.com/drive/1h1r4G1arVHNEJ8rL35rP1ZffUBlzZaa_?usp=sharing) jupyter notebook. I am getting this kind of data which I want to store in 1/5/10/15 minute(s) dataframe and check the various indicators and candlestick patterns from `pandas_ta`
Not sure how can I generate this for a streaming data above without interrupting the ticker thread. Running st

[2020-10-19 15:01] twopirllc commented on #151
Hello @kolahghermezi,

Thanks for filling out this bug report.

I do not use _onefile_, _anaconda_, _miniconda_, nor _PyInstaller_.

Could you go into the Pandas TA code in ```__init__.py``` and try changing this:
[code]

to
[code]

and tell me if that works.

Thanks,
KJ

[2020-10-19 17:11] twopirllc commented on #138
@rahulmr,

Cool. I will check it out as soon as I can.

One thing I noticed is that you shared your ```access_token```. I would fix it ASAP by installing [python-dotenv](https://github.com/theskumar/python-dotenv) to use a ```.env``` file to load your ```access_token``` so others do not have access to it.

KJ

[2020-10-20 05:10] Winthan opened #152 "Good First Issue >> Renko"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternat

[2020-10-20 15:26] twopirllc commented on #152
Hello @Winthan,

Added to the end of the list.

Regards,
KJ

[2020-10-23 19:26] jkjns commented on #151
I have the same issue.
I don't know about @kolahghermezi but the suggested method by @twopirllc did not work.
The error is the same as @kolahghermezi's error.

[2020-10-23 20:56] twopirllc commented on #151
@jkjns, @kolahghermezi

Thanks for the update. If you find a fix, please fork, edit and make a pull request.

Thanks,
KJ

[2020-10-27 21:33] rahulmr commented on #138
I also got a way to get streaming data from TV - check it [here](https://gist.github.com/algo2t/34f4462f6e8670249f7c58545eb83db4) with crypto example and valid for some NSE stocks as well.

[2020-10-27 21:35] rahulmr commented on #138
Don't worry about the access token so much. It will expire someday. And it is only for streaming data and not for order placement.

[2020-10-29 14:46] mtvu opened #154 "Question: Example of Heikin-Ashi candle"
Hi Kevin,

Thanks for pandas_ta. Just wondering if you could provide examples of using  HA candle in a strategy. My strategy uses HA and EMA to determine the state of a stock for trading

Thanks,

[2020-10-29 20:21] twopirllc commented on #154
Hello @mtvu,

Sure. I'll draft an example soon.

Thanks,
KJ

[2020-10-30 16:05] twopirllc commented on #154
@mtvu,

Here is a simple way to convert to HA and then process TA on the HA candles.
1. Create the HA candles and append them to the df
1. Rename the original columns with *OG_* prefix and rename *HA_* prefixes to standard "ohlc".
1. Then process TA as normal
1. Chart as a visual verification

[code]

Hope this helps!

Thanks,
KJ

[2020-10-30 16:11] twopirllc commented on #151
@jkjns

Try removing the **else statement** from ```__init__.py```:
[code]
and remove the indent from the ```version``` line.
[code]

Please let me know how that works out.

Thanks,
KJ

[2020-10-31 15:23] #151 closed

[2020-10-31 15:25] twopirllc commented on #151
@kolahghermezi @jkjns

The latest version and bug fix #155 should take care of this issue.
[code]

Let me know otherwise.

Thanks,
KJ

[2020-11-01 20:15] twopirllc commented on #154
Hello @mtvu,

I hope this has this worked for you. Or did you have something else in mind?

Regards,
KJ

[2020-11-02 03:58] mtvu commented on #154
Thanks Kevin. The example is very useful. I'm trying to build something similar to this feature from TradeStation  http://help.tradestation.com/10_00/eng/tradestationhelp/rs/about_radarscreen.htm.  With pandas_ta, I can create a column in a df using multiple indicators and produce a signal to Buy or Sell.

[2020-11-02 16:52] twopirllc commented on #154
@mtvu

Great! Yeah a Radar/Scanner is a needed component for any trader/investor.

Have you built one already or in the process? If in process, the [Watchlist Class](https://github.com/twopirllc/pandas-ta/blob/master/examples/watchlist.py)(watchlist.py) in ```examples/``` while still in _development_, might have some useful code to help you build it. Essentially the **Watchlist** can load/download

[2020-11-03 11:53] mtvu commented on #154
Here is a simple strategy with the HA candle. I used watchlist to bulk download data. I don't know how to use Strategy with HA candle so I stick with the classic data frame approach.

I also have a look at the Strategy Examples notebook but I don't know how to do a proper backtest with pandas_ta yet. I guess it might not be your intention to make pandas_ta a full-fledge backtest package.

[code]

[2020-11-03 17:56] twopirllc commented on #154
Yeah, you will have to modify your copy of ```watchlist.py``` to include _pandas_datareader_ (at line 187) as a data source as well as add an kwarg option to switch to HA before applying the TA.
[code]
Once you modify your ```watchlist.py```, then you can do something _like_ the following:
[code]

Now that we are discussing this, I will incorporate the HA kwarg option in ```watchlist.py``` as soon

[2020-11-04 00:08] twopirllc commented on #85
Hi @cbogithub,

I finally had some time to work on **QQE**. It is largely completed, but there is some additional cleanup to do before I put it on the _development_ branch. Hopefully not later by the end of this week.

Here is a screenshot:
<img width="684" alt="Screen Shot 2020-11-03 at 4 04 38 PM" src="https://user-images.githubusercontent.com/18198392/98053946-9db15a80-1dee-11eb-9ade-ad283875d9

[2020-11-04 00:14] cbogithub commented on #85
👍 .thanks

[2020-11-04 01:53] twopirllc commented on #148
Hey @DrPaprikaa,

I plan to work on this this week. It seems there are two versions, with 2 poles and 3 poles. I will default to 2 poles version first and get that up as soon as I can before adding the 3 poles version if that is ok with you.

Hope all is well and I appreciate your patience.

Thanks,
KJ

[2020-11-04 10:51] troywatson opened #156 "TD Sequential + Charting"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.2.23b0

**Is your feature request related to a problem? Please describe.**
The TD Sequential is a very popular indicator yet there are not many libraries available for it in Python.
Existing libraries such as in JavaScript are very bulky and do not scale very well.
The essence of TD Sequential is char

[2020-11-04 16:24] twopirllc commented on #156
Hello @troywatson,

I will add it to the list. Thanks for sharing this and hopefully it reduces development and integration time.

Thanks,
KJ

[2020-11-05 19:42] sh39sxn opened #157 "Using new Strategy class: SMA not properly calculated?"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.2.24b0

**Describe the bug**
I was trying the playbook from https://github.com/twopirllc/pandas-ta/blob/master/examples/PandasTA_Strategy_Examples.ipynb
using the Stock Apple (AAPL).

**To Reproduce**
[code]

**Expected behavior**
I compared the results for SMA 50 and SMA 200 from console output (see

[2020-11-05 22:54] twopirllc commented on #157
Hello @sh39sxn,

Yes, your results will vary when you compare apples with oranges, in this case Yahoo Finance (YF) Data and AlphaVantage (AV) Data. When comparing Yahoo Finance Data with AlphaVantage below, one does not need to run a correlation test to determine that the data sets are incongruent: ```open != open```, ```high != high```, ... , ```volume != volume``` and ```adj close != adj_close``

[2020-11-07 16:49] twopirllc commented on #157
Hi @sh39sxn,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-11-09 13:32] tangxianrong opened #158 "Question: just want to know why drawdown doesn't in the default strategy"

[2020-11-09 21:53] twopirllc commented on #158
Hello @tangxianrong,

Well _drawdown_ is new to **Pandas TA** so it was not incorporated into ta.CommonStrategy. Common Strategy is mainly composed of the indicators that are usually presented on many Financial News TV Networks and _drawdown_ is not among them. What's more important is not the Common Strategy, but creating your own Pandas Strategy with the indicators that you commonly use.

Regard

[2020-11-09 21:54] #157 closed

[2020-11-10 22:52] twopirllc commented on #148
Hi @DrPaprikaa,

So _Ehler's Super Smoother Filter_ (**ssf**) is now up on the _development_ branch if you want to play with it before I push it to the _master_ branch. Let me know what you think.

Thanks,
KJ

[2020-11-11 02:46] mtvu commented on #154
Thanks Kevin.

This is my attempt to calculate daily return ( percentage ) for a stock. Could you let me know if this is the right way to use "percent_return".  Just wondering if there is a clean way to calculate Weekly, Montly, YTD return

[code]

[2020-11-11 02:50] mtvu commented on #44
Completely agreed! @twopirllc. Just wondering if you have thought of the roadmap for this package. I'm happy to contribute.

[2020-11-11 04:04] twopirllc commented on #154
@mtvu,

No worries.

Looks good.

Not off the top of my head. But it is a feature I would like to provide. Trying to find time as well as add more Backtesting features, Example Notebooks, and possibly some data generation (stochastics).

You would need to create new DataFrames per period that are resampled from a primary lower time frame. Since we are talking Daily, it would be the primary lower t

[2020-11-11 17:09] twopirllc commented on #148
@DrPaprikaa,

No worries. I am glad that it is working as intended. 😄

Yeah. I will have to make something up because there is not much literature by Ehler or others that I could initially find regarding the poles. I will put it on _master_ soon.

Best regards,
KJ

[2020-11-11 19:16] twopirllc commented on #85
@cbogithub,

It is ready on Github:
[code]

Let me know how it works for you. Thanks for your patience.

Thanks,
KJ

[2020-11-11 19:17] twopirllc commented on #148
@DrPaprikaa,

Ok it's ready on _master_. Thanks for your patience.

KJ

[2020-11-11 19:17] #148 closed

[2020-11-12 18:45] twopirllc commented on #136
Hello @putraxor,

While your original code on the surface looks correct, **vidya** actually relies on a prior value to calculate it's current value. Unfortunately ```df.vidya.shift(1)``` is just _zeros_ so it zeros the second term in the _vidya_ calculation column.
[code]

To get it working, first set **cmo**'s keyword argument ```scalar=1```  as it defaults to _100_ and then you will create a _fo

[2020-11-12 23:01] #158 closed

[2020-11-15 01:54] #85 closed

[2020-11-15 18:05] hamedf62 opened #159 "use strategy to get Signals - line cross checking"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
0.2.26b0

**Is your feature request related to a problem? Please describe.**
i need to get signals (ENTER _ EXIT) for different strategies, by check if cross happen based on different condition. for example if Tenkan crosses Kijun in Ichimoku. indeed have done it myself by adding previous row as lag by shi

[2020-11-16 00:07] Pap8 opened #160 "Unexpected behavior when computing all pandas_ta indicators on a given dataset"
**Describe the problem**
First of all, thank you very much for this great package! The unexpected behavior encountered is that after computing pandas_ta indicators on a pandas Dataframe with OHLCV columns and an index of date-time values, we end-up with an empty dataset (no indicators) if we try to remove all kinds of None values from the dataset.

**To Reproduce**

[code]

**Expected behavior**
A

[2020-11-16 00:54] twopirllc commented on #159
Hello @hamedf62,

Thanks for using **Pandas TA**! Glad you find it useful!

Other than **ichimoku,** what other indicators are you using?

Considering your example case, **ichimoku** and that you just want the Entries/Exits, you can try *trend_return*. This is similar to what has been done in this [Example Notebook](https://github.com/twopirllc/pandas-ta/blob/master/examples/AIExample.ipynb):

[co

[2020-11-16 01:03] twopirllc commented on #160
Hello @Pap8,

That's unfortunate! What data source are you using? Would you mind sharing 500 rows via _csv_ with me so I can see what is happening?

Thanks
KJ

[2020-11-16 06:32] hamedf62 commented on #159
Thank you for fast and complete replay.
trying to run suggested code.
what is "currentdf"? it may referee to indicator dataframe or else? as you used columns 2 & 3 of CURRENTDF.

[2020-11-16 07:08] twopirllc commented on #159
@hamedf62,

Oops! Sorry about that! I updated the code above. Hope that works and makes more sense.
Also note that **Ichimoku** is a special case in terms of output for technical indicators. It is one of a couple of indicators that returns two DataFrames.

KJ

[2020-11-16 08:25] hamedf62 commented on #159
Thank you, all is well.

in cross calculation shall we consider SHIFT -1 row to check for example lagA<lagB in last record (date) and for current record (date) A>B

how this calculation is possible.

as i understood TA only compare single row values for cross checking.

Regards

[2020-11-16 16:11] twopirllc commented on #159
@hamedf62

Did the code above help? Were you able to plot the charts in a Notebook?

Do you mean, how do you calculate a crossing? This is the standard code for a [**cross**](https://github.com/twopirllc/pandas-ta/blob/515d4297e7209d0a8b49cab8b5fbc7cac90e1bb3/pandas_ta/utils/_signals.py#L75-L79)

[code]

Or are you asking how it is calculated in the *ta.trend_return* method?

Not necessarily true.

[2020-11-16 17:52] twopirllc opened #161 "Good First Issue >> Price Relative Indicator"
**Describe the solution you'd like**
Price Relative Indicator
* Takes a _base_ and _other_ Series.
* kwarg: ```unit:bool = False```. When ```True```, toggles whether to have the series start from _one_.
* kwarg: ```invert:bool = False```. Toggles whether to invert or take the reciprocal of the result.

**Describe alternatives you've considered**
[Price Relative Indicator](https://www.tradingview.c

[2020-11-16 23:57] twopirllc commented on #136
Hello @putraxor,

So **vidya** is available on the latest release:
[code]

Let me know how it is working for you. Thanks for your patience.

Regards,
KJ

[2020-11-16 23:58] #120 closed

[2020-11-17 19:06] RajeshDhalange opened #162 "Good First Issue >> Strictly Increasing / Decreasing"
Thanks for Pandas-Ta
Can you add a "strictly" boolean parameter to the Increasing / Decreasing function?
Now you are checking the difference between the current value with a length value ie. increasing = close.diff(length) > 0
But I want to check continuous increasing / decreasing condition like
[code]

[2020-11-17 22:27] twopirllc commented on #162
Hello @RajeshDhalange,

Thanks for using **Pandas TA**!

I think this is a good idea. Do you want to try and make the changes and submit a Pull Request?

Thanks,
KJ

[2020-11-17 23:23] twopirllc commented on #160
Hello @Pap8,

I assume by no response that you have resolved the issue yourself? If that is the case, please close this _Issue_. If that is incorrect, please provide a _csv_ of 500 rows of _ohlcv_ data so I can help troubleshoot the Issue _with_ you. If neither happens, I will be closing this _Issue_ in a few days.

Regards,
KJ

[2020-11-18 01:16] twopirllc opened #163 "Good First Issue >> Price Volume Rank"
**Which version are you running?**
The latest.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
[Price Volume Rank](https://www.fmlabs.com/reference/default.htm)

**Additional context**
Good first issue.

[2020-11-18 10:10] RajeshDhalange commented on #162
Beginner in python if you still want to try I can.

[2020-11-18 11:55] RajeshDhalange commented on #162
I tried the following code
[code]

Can you help me to how to execute the test which I found in   test_indicator_trend.py file

[2020-11-18 13:53] mtvu commented on #154
I managed to use your sample watchlist code to display the daily stock price with TA indicators.

'''
import pandas_ta as ta

def recent_bars(dft, tf: str = "1y"):
    # All Data: 0, Last Four Years: 0.25, Last Two Years: 0.5, This Year: 1, Last Half Year: 2, Last Quarter: 4
    yearly_divisor = {"all": 0, "10y": 0.1, "5y": 0.2, "4y": 0.25, "3y": 1./3, "2y": 0.5, "1y": 1, "6mo": 2, "3mo": 4}
    y

[2020-11-18 15:30] twopirllc commented on #162
@RajeshDhalange

Code looks good.

To run the test:
[code]

If not sure or how to do the test stuff, I can take care of that.

Thanks,
KJ

[2020-11-18 16:06] twopirllc commented on #154
Looks good!

[2020-11-19 02:03] putraxor commented on #136
thank you very much, you are awesome

[2020-11-19 02:03] #136 closed

[2020-11-19 03:51] twopirllc commented on #136
Thanks for using **Pandas TA**!

[2020-11-19 14:41] RajeshDhalange commented on #162
Submitted pull request
Thanks for encouraging

Thanks

Rajesh

[2020-11-19 16:29] twopirllc commented on #162
No worries. Thanks for contributing.

Regards,
KJ

[2020-11-21 19:08] Pap8 commented on #160
Hi @twopirlic,

Apologies for the late reply, I have sent you an e-mail (to: appliedmathkj@gmail.com) about the data.

Thanks again,
Pap

[2020-11-21 20:36] itpmngt opened #165 "pandas_ta/overlap/ssf default value set to None"
Hi

In `pandas_ta/overlap/ssf.py` the `offset' default value is set to None, but it should be '0' - as later it checks if 0

[code]

and it breaks in some setups

Best,
Joe Rosa

[2020-11-21 20:44] twopirllc commented on #160
Hello @Pap8,

There is no data attached with the email. Please email the csv attachment of the data when you get a chance.

Thanks,
KJ

[2020-11-21 20:52] twopirllc commented on #165
Hello @itpmngt,

But it is set to zero since ```ssf``` calls ```get_offset(offset)```:
[code]

In ```pandas_ta/utils/_core.py```:
[code]

Please show me an example of it breaking in some setups? Do you have an source to share?

Thanks,
KJ

[2020-11-22 13:25] itpmngt commented on #165
Hello KJ

Just using the indicator (without the frame)

[code]
We get:

[code]

just to follow the good practice that a module should be independent - loose-coupling

Best,

Joe

[2020-11-22 15:42] itpmngt commented on #165
Hi KJ

I just realised what you mentioned - you resolve that on ``` def get_offset() ``` - so not a bug per se, just a styling code that made me confused - although would be simple to default to `0` - loose-coupling 'stuff'

Anyway, coding style..

BTW - great library, i highly as first reference - Thank You
(closing issue)

Best

Joe

[2020-11-22 15:42] #165 closed

[2020-11-22 18:38] twopirllc commented on #165
Hello Joe (@itpmngt),

No worries. Glad that you noticed it.

True. Maybe I will go through and update the trivial None's to default values.

Also I ran your use case and was unable to duplicate your error. 🤷‍♂️

<img width="329" alt="Screen Shot 2020-11-22 at 10 34 52 AM" src="https://user-images.githubusercontent.com/18198392/99913785-6e379480-2cae-11eb-836c-28cb722bbfd8.png">

Anyhow thanks for

[2020-11-24 16:08] twopirllc commented on #159
Hello @hamedf62,

I assume by no response that the solution provided was sufficient.
Please ⭐ if you find the library useful.

Thanks,
KJ

[2020-11-24 16:08] #159 closed

[2020-11-24 20:20] twopirllc commented on #160
Hello @Pap8,

Thanks for your patience!

Some indicator columns have _NaN_ values as placeholders so it makes charting simpler. So the code below will _not_ return **all** the indicators for modeling, only a slightly smaller subset. If you need those indicator columns with _NaN_ values, then you need to handle the _NaN_ values on your own prior to calling ```dataset.drop(columns=columns_with_nan,

[2020-11-25 05:09] GotchaLogic commented on #163
Your shit wasted my time. thanks.

[2020-11-25 05:24] twopirllc commented on #163
@GotchaLogic

Excuse me? What are you talking about?

[2020-11-26 17:25] RZeynalov opened #166 "AttributeError: 'DataFrame' object has no attribute 'ta'"
i use pandas-ta-0.2.28b0, the newest one

**Describe the bug**
I d like to start with saying thx to the creator and contributors of the lib. I ve just installed the lib and found that the package doesn t work as an extension to pandas. I ve tried the sample code but always face AttributeError, even print(ta.version) says AttributeError regarding version. Dont know what am i doing wrong..... Tried

[2020-11-26 17:42] twopirllc commented on #166
Hello @RZeynalov,

Interesting. Was there an import error? Do you have a screenshot of the AttributeError (because that is more useful)? What OS are you running? What version of Python? Are you using Anaconda or virtualenv? Are you using a Notebook, ipython, ... ? Does ```pip list`` show it installed? If so can you find the installation directory and it's source? Please try to provide as much deta

[2020-11-26 17:59] RZeynalov commented on #166
windows 10, python 3.7, IDE Pycharm 20.1
Screenshot:
![image](https://user-images.githubusercontent.com/39806051/100381513-2c01b080-302a-11eb-91ca-e7efe085531c.png)

[2020-11-26 18:01] RZeynalov commented on #166
virtualenv, i am using just python w/out jupiter

Package                  Version
------------------------ ---------
absl-py                  0.11.0
alembic                  1.4.3
astor                    0.8.1
astunparse               1.6.3
atari-py                 0.2.6
attrs                    20.3.0
cachetools               4.1.1
certifi                  2020.11.8
chardet                  3.0

[2020-11-26 18:07] twopirllc commented on #166
Was virtualenv activated prior to running?
Rename ```pandas_ta.py``` to something else and run it. It is bad practice to name a file of an existing package or module listed in you ```pip list```.

[2020-11-26 18:47] RZeynalov commented on #166
Ohhh, thank you!!!!
Dont know why i called the same name as a package!!!
Sorry for disturbing you with such errors, renaming fixed this.
ll work on the structure as well. Thx

[2020-11-26 18:48] twopirllc commented on #166
No worries!

Thanks for using **Pandas TA**!

[2020-11-27 17:36] #166 closed

[2020-12-02 12:55] apavlo89 commented on #54
Hello everyone,

It would be awesome if someone made a notebook where all available technical analysis techniques are implemented to a csv database of historical stock data. Is there such a thing?

[2020-12-02 13:07] apavlo89 commented on #54
Nevermind, I found it!

df.ta.strategy("all")
df_list = list(df.columns)

This script is the absolute bomb. Thank you for your efforts!

[2020-12-02 16:06] twopirllc commented on #160
Hello @Pap8,

I assume this has solved your issue. If not reopen when ready.

Thanks,
KJ

[2020-12-02 16:06] #160 closed

[2020-12-02 16:07] #154 closed

[2020-12-05 19:18] Pap8 commented on #160
Hello Kevin,

Hope you've been well.

Thank you very much for the code you have shared, it was really helpful for
me in solving the issue. I can confirm that I don't experience this issue
anymore.

Regards,
Frixos

On Wed, 2 Dec 2020 at 17:06, Kevin Johnson <notifications@github.com> wrote:

[2020-12-08 20:01] ekremus opened #167 "ZLMA newbie question"
hello, I am new in Pandas and Pandas Ta,

here is my code:
[code]

How can I change the original values of ZLMA
[code]

I tried this:

[code]
but it doesnt work.

also what is kwargs stand for? what is the aim of kwargs.

thank you for understanding. I dont know is it good place to ask.

[2020-12-08 22:21] coinrazzi opened #168 "ADX problem. I guess it doesn't work correctly."
I am using pandas-ta version 0.2.28b0

I think ADX indicator is not working correctly. I am getting data from Binance ohIc data and i am using pandas-ta adx indicator. I checked returned value with Tradingview. (for Binance Bitcoin price and other cryptocurrencies). Values are very different.

[2020-12-08 22:31] coinrazzi opened #169 "Heiken ashi and Pandas"
I am using pandas-ta version 0.2.28b0

When i use Heiken Ashi i am getting this message :

C:\ ....... \Python\Python38\lib\site-packages\pandas_ta\candles\ha.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df

[2020-12-08 22:35] twopirllc commented on #168
Hello @coinrazzi,

In fact **adx** is more than 99% correlated with the standard _de facto_ TA Lib. I need more proof beyond a visual comparison of numbers. If you really want to convince me that _adx_ is incorrect, then please follow Issue #107 on how to Export Chart Data from TradingView and perform a correlation test. Also, please read about _stoch_ and _stochrsi_ in Issue #112.

Regards,
KJ

[2020-12-08 22:46] twopirllc commented on #169
Hello @coinrazzi,

Please provide sample code that led up to this error.

[code]

In the future, please give more detail as it makes it easier for me to debug and help solve the issue.

Thanks,
KJ

[2020-12-08 23:11] twopirllc commented on #167
Hello @ekremus,

This should solve your issue. If not, please show me more of your code.
[code]

The named arguments (_close_, _length_, _mamode_, _offset_) are the most common arguments that users are likely to use to modify **zlma**. The only required parameter is _close_ and it needs to be a Pandas Series. Where as _length_ has to be an integer. Finally the _mamode_ argument requires a string i

[2020-12-08 23:51] coinrazzi commented on #168
I upgrade to last version Pandas-ta. It is very close now. I will follow your message. Thank you.

[2020-12-09 13:28] ekremus commented on #167
First of all, thank you for your kind and informative answer.

I tried this code:
[code]
But it doesnt work on my setup (pycharm the latest version)
gives me this error:
[code]
On the other hand, my code is working without any problem. However I cannot add and change the parameteres ( length=21, mamode="sma")
[code]

[2020-12-09 20:07] twopirllc commented on #167
Hello @ekremus,

[code]

It seems that ```mamode="sma"``` is not working as _intended_  resulting in all ```NaN``` values. So that's a potential bug. 😞  Unfortunately, I have a few things in the pipeline to finish before I can handle this and do not have an expected time frame of when it will be fixed. I apologize for the inconvenience.

Regards,
KJ

[2020-12-09 20:12] twopirllc commented on #168
@coinrazzi,

Ok. But I am still interested in seeing the results of the **adx** correlation tests you get versus TradingView or other Data Sources.

Thanks,
KJ

[2020-12-09 22:30] ekremus commented on #167
Hey,

The last code you share is working perfectly. 🥇
I don't know the results are True or not but I want to inform you about SMA and other moving averages are working fine.
SMA works if the series length is more than 30. You have seen all NaN values because SMA gives results after 30th line.

Thank you.

[2020-12-09 22:30] #167 closed

[2020-12-12 06:49] andy60 opened #170 "How about supertrend indicator parameters?"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

0.2.23b0

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
no problem

**Describe the solution you'd like**
[code]
i want to calculate supertrend indicator but i dont find the correct parameters for the function.

**Describe alternatives you've considered**

[2020-12-12 19:12] twopirllc commented on #170
Hello @andy60,

Thanks for trying **Pandas TA**!

## Upgrade

First, please upgrade to the latest version ```0.2.28b```.
[code]

## Help

For help with an indicator or method, use Python's builtin ```help()``` command (which prints the __doc__ of the function or method).
[code]

## Usage

Pandas TA has different programming conventions for using the library. **Conventionally** as you have done, us

[2020-12-12 19:14] twopirllc commented on #169
Hello @coinrazzi,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-12-12 19:14] twopirllc commented on #168
Hello @coinrazzi,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-12-15 22:10] #168 closed

[2020-12-15 22:11] #169 closed

[2020-12-15 22:12] twopirllc commented on #170
Hello @andy60,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Thanks,
KJ

[2020-12-17 18:56] John64 opened #171 "Newb Problem with get_column Error/Warning"
New to pandas-ta & not a programmer by profession

Any help or suggestions would be appreciated.  I have the following 1 line of code below that is utilizing vwma.  I've checked the output mathematics in Excel & it appears to be working fine, but I'm getting a long series of the Error below.  Searching others issues here, I gather that it's the 'def _get_column' that's being triggered.  I'm not su

[2020-12-18 19:58] twopirllc commented on #171
Hello @John64,

I have been having some ISP issues lately. I will respond in depth as soon as it is more stable hopefully by the end of the day. Apologies.

KJ

[2020-12-18 22:45] twopirllc commented on #171
Hello @John64,

No worries. Thanks for waiting. I appreciate it.

Based on the code provided, it appears that you are building a single _DataFrame_ of multiple _Symbols_ containing different __vwmas__ of various lengths of the _Symbol's Average_. The only reason you are getting the ```_get_column()``` error is because you are calling **vwma** using the Pandas TA DataFrame Extension. For the code y

[2020-12-19 12:50] John64 commented on #171
Perfect! Thank You
On a side note, I was getting small, couple cent differences on $100 stocks between Excel and pandas-ta vwma when there were errors/warnings.  Figured it was rounding, but now all values are difference of exactly 0. Guess that's why one shouldn't ignore errors :)

[2020-12-19 23:57] twopirllc commented on #171
Excellent! Thanks for letting me know.

That's weird that getting cent differences. No numerical transformations are performed after an indicator is returned. But thanks for the potential heads up.

Thanks,
KJ

[2020-12-19 23:58] #170 closed

[2020-12-21 00:49] prajwalshrestha381 commented on #139
please advise
<img width="1792" alt="Screen Shot 2020-12-20 at 7 43 01 PM" src="https://user-images.githubusercontent.com/17186964/102728902-4151be00-42fc-11eb-8a05-5cc791ec516e.png">
<img width="1792" alt="Screen Shot 2020-12-20 at 7 43 38 PM" src="https://user-images.githubusercontent.com/17186964/102728924-59c1d880-42fc-11eb-9451-4eb11be57db4.png">
<img width="1616" alt="Screen Shot 2020-12-20

[2020-12-21 19:17] twopirllc commented on #139
Hello @prajwalshrestha381,

Upon reexamining this Issue, I realized that I was not clear in the Example Notebooks that ```watchlist.py``` is a standalone module and is not part of Pandas TA. But it does come with Pandas TA but is is also _experimental_. The easiest way to use it is copy the file somewhere local to your project folder and import it that way.

I will update the Notebook to remind us