[2022-02-04 00:26] CoinHood opened #480 "Schaff Trend Cycle: stc - Cannot Adjust tclen=stc_tclen"
**Which version are you running? = 0.3.14b0

The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
YES = TA-Lib                 0.4.21
[code]

**Did you upgrade? Did the upgrade resolve the issue?** NOP
[code]

**Describe the bug**
The indicator (stc) appears to be hard codes for tclen=10 which is he default.
No matter w

[2022-02-04 06:29] suikula opened #481 "Jurik's DMX and CFB indicators"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.14b0

**Describe the solution you'd like**
I would like have following indicators on pandas_ta repository:
 * Jurik's DMX
 * Jurikäs CFB

DMX indicator is made for MT4 and the code for it can be found here (https://forex-station.com/viewtopic.php?p=1295447361#p1295447361)

CFB indicator is made for

[2022-02-04 08:56] teddywaweru commented on #420
Hello all.
This is in response to @manujchandra  who had an issue with the ATR.
So, apparently the standard ATR indicator on MT4 uses the sma in it's calculations, but the MA used in the calculation in the atr,py defaults to 'rma' if no `mamode` is specified.
I've tried testing it out & sma does come out more accurate in comparison to the rma (for this specific indicator).
Maybe this could show up

[2022-02-04 17:09] twopirllc commented on #478
@ffhirata,

I understand. As you can tell, I am also time challenged. I continually learn new things as well while developing this library and application. Despite your other time commitments, I appreciate you willing to take on this task. I hope to learn something new from it as well. 😎

Unfortunately, TA Lib is the only library that can be tested against without having to make remote connections

[2022-02-04 17:34] twopirllc commented on #480
Hey @CoinHood

Doh! That is undesirable, isn't it? Thanks for bringing it to my attention. Hopefully someone can patch it soon. Otherwise I will let you know when it's testable on the _development_ branch.

Kind Regards,
KJ

[2022-02-04 17:38] twopirllc commented on #479
Hello @prRZ5F4LXZ,

This sounds like a good enhancement to add. I do not know the answer at this time. But hopefully someone can contribute in the mean time.

Kind Regards,
KJ

[2022-02-04 17:39] #477 closed

[2022-02-05 17:21] BenjaminVermeulen opened #483 "watchlist import"
Hello,
First of, pandas-ta is a great package and it helped me tremendously with my first projects.
As described as a possiblity in the doc watchlist.py, I was not able to import the watchlist library. Hence, I copied the watchlist.py file in my project directory.

I followed the initial structure of [watchlist.py](https://github.com/twopirllc/pandas-ta/blob/main/examples/PandasTA_Strategy_Example

[2022-02-05 19:24] #483 closed

[2022-02-05 19:51] twopirllc commented on #483
Hello @BenjaminVermeulen,

Thanks!

Did you solve your own Issue?

The [Freeze Support](https://github.com/twopirllc/pandas-ta/issues/181) Issue is not a Pandas TA bug.

Kind Regards,
KJ

[2022-02-05 21:01] twopirllc commented on #420
Hello @teddywaweru,

Thanks for the research and feedback regarding this Issue. Did you also read the details covered in my last comment regarding the **Unstable Period**? If I understood it correctly, it is a known and documented side effect. Especially so when indicators are compositions or chained from other indicators.

In the **ATR** Comment below, TA Lib defaults to Wilder's Method, aka **rm

[2022-02-05 23:05] Chigstardan commented on #445
Thanks so much! I was agonizing over this issue for over 3 hours! Thanks for explaining.

[2022-02-06 07:57] tbeesofar opened #484 "Please install TA-Lib to use 2crows. (pip install TA-Lib) message ..."
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]
yes
![image](https://user-images.githubusercontent.com/63505156/152672264-f1c475fd-8b8f-4005-bf26-21c236425e35.png)

**Did you upgrade? Did the upgrade resolve the issue?**
[code]
Yes.. i have installed talib using the

[2022-02-06 17:58] twopirllc commented on #484
Hello @tbeesofar,

Actually, you have ```tblib``` installed... not ```talib```. In fact, I don't even know what ```tblib``` is? Pandas TA was correct in identifying that you do not have ```talib``` installed. Please follow in the instructions at [TA Lib](https://github.com/mrjbq7/ta-lib) to properly install it.

If you installed it correctly, you should see it in the ```pip list``` like so:
<img w

[2022-02-07 10:20] baotang2118 commented on #484
Moreover, You also need to install the TAlib from source (the real one build from source), the python TAlib is just a wrap of real TAlib.

[2022-02-07 17:59] teddywaweru commented on #420
I did read the article, & the author references the EMA having this particular issue, which i assume is due to how its calculated. Chained indicators may not have this issue if their calculations don't have the 'function with memory' property (explaining why the  SMA works for me).
I understand about the consistency on the MA used. I'll stick to declaring `mamode` where it suits.
Cheers. 👍 & thank

[2022-02-07 18:55] tbeesofar commented on #484
Hi @baotang2118 @twopirllc for pointing out the error and taking time out to respond.. I gave it another try..

I was able to install it successfully in jupyter-notebook in my local system.. However, when i am trying to install the talib in google colab, it is giving me below error.. Is there anything else i have to keep in mind while installing talib in google collab?

Collecting TA-Lib
  Downloa

[2022-02-07 18:56] tbeesofar commented on #484
Sorry if it is a lame question and i am missing out on something very trivial

[2022-02-07 22:24] #471 closed

[2022-02-08 12:23] krazykoder commented on #464
Hi @twopirllc and @pssolanki111
Thanks for the response and closing this issue. I really value the inputs of the supporters of this project. 👍

thanks
KK

[2022-02-08 20:23] twopirllc commented on #484
@tbeesofar,

Sorry, been very busy. I know there is an Issue where someone got it working with Collab. Not exactly sure which it was, but I will update the Issue when I find it.

KJ

[2022-02-08 23:16] #399 closed

[2022-02-08 23:20] twopirllc commented on #394
@AureliusMarcusHu,

Unfortunately, even I couldn't come up with a better alternative. 🤷🏼‍♂️
However, please try out the _ branch. It has speed improvements, better documentation, and typing.

[code]

Kind Regards,
KJ

[2022-02-08 23:23] twopirllc commented on #388
@manjrem,

I _believe_ it is fixed, but want your opinion. Please try out the _development_ branch and let me know. It also has speed improvements, better documentation, and typing.

[code]

Kind Regards,
KJ

[2022-02-08 23:24] #363 closed

[2022-02-09 02:54] #404 closed

[2022-02-09 02:54] #305 closed

[2022-02-09 02:54] #44 closed

[2022-02-09 02:57] twopirllc commented on #365
Hey @DrPaprikaa,

Please update to the latest _development_ version when you get a chance. I split **ssf** into **ssf** and **ssf3**. Plus some other speed enhancements, better documentation and typing.

[code]

Thanks,
KJ

[2022-02-09 02:57] #365 closed

[2022-02-09 03:02] #87 closed

[2022-02-09 05:15] #299 closed

[2022-02-09 17:15] twopirllc commented on #424
@daoudjahdou,

Oops... this is the correct _development_ branch. Improved performance, docs, typing, ....

[code]

KJ

[2022-02-09 17:15] #424 closed

[2022-02-09 17:17] twopirllc commented on #436
Hi @CMobley7,

Oops! Please try the _development_ branch instead. Speed improvements, docs, typing, et al.

[code]

Thanks,
KJ

[2022-02-09 17:17] #436 closed

[2022-02-09 17:17] #394 closed

[2022-02-09 17:25] #288 closed

[2022-02-12 02:52] twopirllc commented on #480
Hello @CoinHood,

So, if you could check out **stc** on _development_ branch and confirm that it's working, that would be great. There are also many other bug fixes, speed improvements, documentation and typing.

[code]

Kind Regards,
KJ

[2022-02-12 02:57] twopirllc commented on #478
Hey @ffhirata,

You should check out the latest _development_ branch. New README, better documentation and typing, better performance et al.

[code]

I am interested in your indicator performance results also. There is a Performance Check Notebook as well. [Performance Check](https://github.com/twopirllc/pandas-ta/blob/development/examples/Performance_Check.ipynb)

Hope all is well!

Talk to you l

[2022-02-12 15:47] alexgreatparis opened #485 "Migration from ta.lib to pandas.lib"
Recently Successfully installed pandas-ta-0.3.14b0

But still now....
with
!pip install ta
import ta

I am currently using the following code (to make in final a SVR(kernel="rbf", epsilon=0.005))  :

_**df_indicators = ta.add_all_ta_features(
    df, open="open", high="high", low="low", close="close", volume="volume", fillna=True).shift(1)**_

I would like to have the equivalent line code with pan

[2022-02-12 16:49] twopirllc commented on #485
Hello @alexgreatparis,

I won't be supporting _v0.3.14b0_ in the near future.

So, I recommend using the _development_ version which will be hopefully released soon. It has numerous bug fixes, better documentation and typing and performance improvements.

[code]

Second, I recommend you read _some_ of the README where already outlines what you are requesting. In particular, the section on [Program

[2022-02-13 05:18] alexgreatparis commented on #485
Hello @twopirllc
Thanks for your help, I'll look into it and test it.

[2022-02-14 02:47] hozRifai opened #486 "Custom Strategy not applying some/all strategies"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]
Yes, and I just upgraded it to confirm that the bug is still here.

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

Yes

**Describe the bug**

I am calling a function where I am looping over some tickers

[2022-02-14 10:58] alexgreatparis commented on #485
Hi,
I run the install line you gave me and I have this error message

Collecting git+https://github.com/twopirllc/pandas-ta.git@development
  Cloning https://github.com/twopirllc/pandas-ta.git (to revision development) to c:\users\admin\appdata\local\temp\pip-req-build-s58imigv

  Error [WinError 2] Le fichier spécifié est introuvable while executing command git clone -q https://github.com/twopirl

[2022-02-14 19:00] Zakk-Yang opened #487 "A function to pull all features in a dataframe"
Hi,

It will be great to have the function avaialble to pull all the fatures once for all.

Use Scenario：
This can help do some quick ML project prototype.

Thanks.

[2022-02-14 23:56] bizso09 opened #489 "Ways to speed up ta.strategy"
I've read https://github.com/twopirllc/pandas-ta/issues/466#issuecomment-1017714455
and see that ta.strategy runs in 1s on your machine. I'm getting on the other hand 2s.

Do you have recommendations for speeding up performance?

I installed Python 3.10 and VS Build Tools 2019 for linking Ta-Lib. Then installed packages with pip.

CPU specs
Processor	11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz,

[2022-02-15 04:13] twopirllc commented on #487
Hello @Zakk-Yang,

I recommend checking the README. But if it's not there or not clear, please let me know.

Kind Regards,
KJ

[2022-02-15 15:04] twopirllc commented on #489
Hello @bizso09,

First I would upgrade to the _development_ branch. There are many bug fixes, speed improvements, documentation and typing.

[code]

Second, you might you can adjust your cores. I recommend starting with zero cores and increasing it if it improves the performance.

[code]

Here is the corresponding [readme](https://github.com/twopirllc/pandas-ta/tree/development).

Kind Regards,
KJ

[2022-02-15 15:23] twopirllc commented on #486
Hello @hozRifai,

First I would upgrade to the _development_ branch as v_0.3.14b0_ is no longer supported. There are many bug fixes, speed improvements, documentation and typing.

[code]

Multiprocessing is the default mode when using _study_ / _strategy_. Multiprocessing is not always quicker. Setting up and Multiprocessing Pool takes time and resources to initialize, run and tear down for each s

[2022-02-15 15:33] twopirllc commented on #485
Hello @alexgreatparis,

You have two options.
1. Install [Git](https://git-scm.com/download/win)
    a. Install _development_ branch
[code]
2. Download _development_ branch **source** from [here](https://github.com/twopirllc/pandas-ta/tree/development)
    a. [How to download files from Github](https://www.itprotoday.com/development-techniques-and-management/how-do-i-download-files-github)
    b.

[2022-02-15 23:59] vitassuper opened #490 "Data squeeze doesn't match with Trading View"
I download data in csv and try to process it
[code]
But if compare it with TV indicator data are different
In trading view `37.67`
But in output `18.095`
<img width="657" alt="image" src="https://user-images.githubusercontent.com/37179932/154170174-4d431e5a-89a4-4958-8bcc-898c2325e9cf.png">
<img width="730" alt="image" src="https://user-images.githubusercontent.com/37179932/154170192-43dcfc65-de0d

[2022-02-16 15:02] schwaa opened #491 "Issues with MACD Calculations"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]

[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]
I upgraded..

**Describe the bug**
The bug is probably me... but it doesn't make sense.  I'm using the same data which I will provide, I hope via a

[2022-02-16 16:13] twopirllc commented on #490
Hello @vitassuper,

First, I appreciate your commitment to improve the library. It helps us when you fill out a complete Bug form and leaving out relevant details and reproducible code. Before making this Issue, did you search any closed Issues regarding **squeeze**? Because this came up before in Issue #408 and my following [comment](https://github.com/twopirllc/pandas-ta/issues/408#issuecomment-

[2022-02-16 16:43] vitassuper commented on #490
I took data from Binance API, it identical to TV. I've provided the file. Difference between TV and script result 37.67 - 18.095 = 19.57. Is it normal difference? What I should provide else for solving this issue?
[file.csv](https://github.com/twopirllc/pandas-ta/files/8081687/file.csv)

[2022-02-16 16:52] twopirllc commented on #491
Hello @schwaa,

Thanks for your commitment to improve the accuracy of the library.

I am kinda uncertain what you want me to verify? If you are comparing Alpaca _ohlcv_ with TV _ohlcv_, then there can be discrepancies since financial market data is not homogeneous among brokers and data providers. Additionally, MACD hasn't had any computational changes in a long time and it's Python implementation

[2022-02-16 17:13] twopirllc commented on #491
So, the CSV _ohlcv_ values are not equal bar by bar with Alpaca?

[2022-02-16 17:14] twopirllc commented on #491
Thanks! I'll take a look when I can.

[2022-02-16 17:25] schwaa commented on #491
The OHLCV data values ARE equal bar by bar with Alpaca.  Both the chart and the data are coming from Alpaca. And I verified and handful of spot bars visually.

[2022-02-16 17:36] vitassuper commented on #490
How I can get TV's calculation of squeeze with TV ohlcv data?

[2022-02-16 17:43] twopirllc commented on #490
[See](https://github.com/twopirllc/pandas-ta/issues/107#issuecomment-685834922)

[2022-02-16 18:00] vitassuper commented on #490
https://www.tradingview.com/script/nqQ1DT5a-Squeeze-Momentum-Indicator-LazyBear/

[script.csv](https://github.com/twopirllc/pandas-ta/files/8082303/script.csv)
[BINANCE_BTCUSDT, 60-2.csv](https://github.com/twopirllc/pandas-ta/files/8082305/BINANCE_BTCUSDT.60-2.csv)

[2022-02-16 22:39] twopirllc commented on #491
Hey @schwaa,

Looks like you have waded into the [Unstable Period](https://ta-lib.org/d_api/ta_setunstableperiod.html) Phenomena. Is that as far back as you can query for your 30min data?

KJ

[2022-02-16 22:42] schwaa commented on #491
I have a paid data account, so I'm sure I can go further back.  How far do you suggest I would go back?

[2022-02-16 22:48] schwaa commented on #491
I pulled back to 2021-12-10 up to today and looked at 15:00 it different, which I do expect, but still macd < 0 where alpaca thinks it >0.  Looking at the chart online.. that chart makes more sense.

2022-02-15 14:30:00+00:00 | -0.535000 | -0.008441 | -0.526559
2022-02-15 15:00:00+00:00 |-0.508815 | 0.014195 | -0.523010

[2022-02-16 22:49] twopirllc commented on #491
I usually do 200 bars. Another python bot package recommends or defaults around 240. For some indicators you need a long warmup period, others not so. Depending on your study, you have to figure the minimum number.

[2022-02-16 22:52] twopirllc commented on #491
I pulled the max I could from TV 30min and ran tests vs TV and TA Lib. Still no major difference if any. 🤷🏼‍♂️

[2022-02-17 13:41] schwaa commented on #491
I'll try more rows of data and see if that gets close.  The TV data and Alpaca data are always different. It is hard to know which to trust.  That said .. these are too far off for algo trading, meaning a false cross up on the MACD causes a trade that shouldn't happen, so I'm very motivated to figure out how to not get false positives and I understand it could be me that's messing it up.  So thank

[2022-02-17 15:00] alexgreatparis commented on #485
I'm really sorry to bother you with my installation problems. I did what you told me to do but I still have problems.
1/ I installed Git. I installed development branch without any problem.
![image](https://user-images.githubusercontent.com/99539174/154506576-8b726325-0995-4458-afe8-fd785e3f54a5.png)

But after adding you pip install ... instruction I add this error message
![image](https://user-i

[2022-02-17 15:07] MerlinR opened #492 "Issue Calculating "doji" without enough candles."
**Issue**

**Versions**:
Python: 3.9.10
pandas_ta: 0.3.14b0 (git install)
TA-Lib: 0.4.24
ta-lib-config:

**Error Message**
[code]

**Describe the bug**
When attempting to calculate the "Doji" indicator i get that error message. This does NOT happen when calling "dojistar" it appears to be an issue when calling the following:
[code]
I get the same error when calling strategy.all, however not tracke

[2022-02-17 16:04] gosharevo commented on #349
Hi @rengel8 @crazysurajit. How you use ta.streak fucntion? I get

[2022-02-17 20:44] MerlinR commented on #492
Thanks for the reply! This makes sense, I get the change not wanting to create invalid data if length is too low.
Im not suggesting removing the length check.
[code]
However if the  function _cdl_doji_ called at _pta_patterns[n]_ (in below snippet) can return **None**, then the function _cdl_pattern_ shouldn't attempt to access an attribute it, which causes the exception.
[code]

A possible soluti

[2022-02-18 00:56] twopirllc commented on #388
Hello @manjrem,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-02-18 02:08] crazysurajit commented on #349
Please add below in `trend/__init__.py` file
`from .streak import streak`

[2022-02-18 08:06] gosharevo commented on #349
@crazysurajit
![image](https://user-images.githubusercontent.com/52243293/154642612-ede80764-0a30-44bc-98fa-a92671c9a5d8.png)

[2022-02-18 14:55] schwaa commented on #491
![image](https://user-images.githubusercontent.com/2640598/154706377-5bd6c36f-252e-4846-ba21-a02627d89a34.png)
Its this where the histogram goes positive and in TV and Alpaca it never goes positive during this time.

[2022-02-18 16:03] twopirllc commented on #491
@schwaa,

I'm not keen on Alpaca data. But any broker is subject to misprints and missing values when live streaming and even post-hoc. But whomever the broker is that you are placing actual transactions with, whether it's IB, Alpaca, TDA, et al., you will have to trust their data at some point.

I understand.

However I am unconvinced that PTA is the issue here as it's indicator values are consis

[2022-02-18 16:23] schwaa commented on #491
I’ll review in more detail. It’s the false cross on the Macd HIST that is
the problem.  Even in the TV data there is no cross. I used data back to
December. At 30 min bars.  It still shows the cross. Maybe TV CHART  is
wrong?  But seems like people would point that out often.  I’m stuck

Brian Rowe
317-691-1561
Sent from phone, please excuse my typos.

On Feb 18, 2022, at 11:03 AM, Kevin Johnson *

[2022-02-19 02:35] schwaa commented on #491
Looks like the biggest challenge to fix in my code is really just using many more bars to start. Hopefully that helps.  the false cross still bothers me. If TV had the cross and Alpaca didn't it wouldn't bother me as much, but since both didn't and I did, its troubling.

[2022-02-19 02:35] #491 closed

[2022-02-19 08:17] hozRifai commented on #486
@twopirllc

Indeed, I am still not able to see all the indicators being saved within the CSV files. when I was using CustomStrategy, it was only saving around 16 stocks, the script used to continue without saving any CSV files. However using Study, the script is saving all the CSV files but only few files have the indicators saved with them ( around the same number 16).

Also, for the time being,

[2022-02-19 11:22] alexgreatparis commented on #485
First of all thank you for spending time to support me in this installation. It's really nice.
I started doing what you asked me to do and here is the screenshot.
What do you think of it?
![image](https://user-images.githubusercontent.com/99539174/154798741-5fccbceb-92c3-4579-a83d-cc6faf5ec8ea.png)

[2022-02-19 18:06] twopirllc commented on #485
Hello @alexgreatparis,

No problem. We all start somewhere.

It is saying Anaconda could not find ```virtualenv```. You need to install ```virtualenv``` with Anaconda first and then do the sequence of commands from my prior comment.

KJ

[2022-02-20 12:25] manjrem commented on #388
Apologies for delay in responding.
It does not seem to be adding any columns in the existing dataset when using data.ta.study('All', append=False, verbose=True, timed=True) but it does append columns when using data.ta.study('All', append=True, verbose=True, timed=True).

I would have expected the TA calculations to be printed on screen though when using data.ta.study('All', append=True, verbose=T

[2022-02-20 17:06] sadunalpdag commented on #116
hello

I have an error for the super trend indicator

can't multiply sequence by non-int of type 'float'

thanks

[2022-02-20 18:55] twopirllc commented on #116
Hello @sadunalpdag,

Please fill out a new [Issue](https://github.com/twopirllc/pandas-ta/issues/new/choose) and not piggyback on an old closed issue that appears to not be related to original Issue here. Furthermore, please be as **verbose** as possible as requested in the Issue Form.

For instance, this is not helpful for me to help you...

Kind Regards,
KJ

[2022-02-20 20:20] twopirllc commented on #388
Hello @manjrem,

Hmm... I guess I missed something in your original request?

But you wanted the prior including: To print the TA results DataFrame to stdout?

I want to clearly understand on how this is supposed to operate. 🤔 Are you planning to capture the results printed to stdout on your own? Or is it supposed to print to ```stdout``` and return resultant the TA DataFrame? Is there anything el

[2022-02-21 14:13] alexgreatparis commented on #485
![image](https://user-images.githubusercontent.com/99539174/154971392-1858319b-523a-4ef2-90c4-7d6cf6e81ba6.png)
virtualenv seems ok, but it is source that is an issue.
What do you think?

[2022-02-21 15:32] twopirllc commented on #485
@alexgreatparis,

Well, "/" are for unix like directories and "\" is for Windows directories. You seem to be using both and getting them mixed up.

Your last comment is using windows, so I believe it's:
[code]

[2022-02-22 11:46] manjrem commented on #388
Apologies for confusing you!!!

I was expecting that this would work similar to a "inplace" function (df.drop(['test'], inplace=True,axis=1)) in typical pandas data-frame.

If i mention "append=False" then the TA calculations should be printed on screen so that i can use them as an input for creating a new data-frame.
While if I mention "append=True" then the existing/original data-frame gets upda

[2022-02-23 18:08] twopirllc commented on #485
@alexgreatparis

I hear you. Windows doesn't make it easy sometimes. 😒

However, there is nothing stopping you from using Google Search to find solutions and try them out... just like me and everyone else that run into uncommon problems. If there is an error, someone has already likely posted the same question and there is similarly some sort of solution to try. For instance, you pip error [messag

[2022-02-26 20:05] tebrich opened #495 "Ichimoku with pandas-ta"
Hi,

Who can help me? The Ichimoku indicator is one of my favorites for market analysis. I found excellent Pandas TA - A Technical Analysis Library in Python 3, but there is a problem with the Ichimoku indicator , in the formula. For Tenkan Sen and Kijun Sen the values used are "High", "Low", but in this Library the formula includes the "Close" (which is used only in Chikou Span, one of the techni

[2022-02-26 22:08] twopirllc commented on #495
Hello @tebrich,

Unfortunately, saying it is incorrect without justification is insufficient to look into the issue. You have provided no numerical data (preferably as a _csv_), your ohlcv data **with** ichimoku applied on that data, so there is no way to confirm that your claim is correct. Please provide said _csv_ so it can be test against Pandas TA.

Kind Regards,
KJ

[2022-02-27 04:52] GF-Huang opened #496 "df.ta.to_utc unexpected behavior caused by JupyterLab"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**

0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**

yes

**Did you upgrade? Did the upgrade resolve the issue?**

I try upgrade, not solve.

**Describe the bug**
The `df.ta.to_utc` is a property, but it is not idempotent. When you type `df.ta.` then press `tab` for auto completion,

[2022-02-27 16:49] twopirllc commented on #496
Hello @GF-Huang,

Yeah. Good point.

Contributions are welcome to improve the library. 😎

Kind Regards,
KJ

[2022-02-28 09:38] alexgreatparis commented on #485
![image](https://user-images.githubusercontent.com/99539174/155959299-b59b3a26-e667-499a-b8ca-f5c92d765f3d.png)
As you can see I took an exemple on youtube and put after it your code
- for df.ta.strategy() or df.ta.strategy("All") or df.ta.strategy(ta.AllStrategy) generate errors. I have attached the error txt file
- for df.ta.strategy(ta.CommonStrategy), no error
[strategy_errors.txt](https://git

[2022-02-28 14:32] Khanhlinhdang opened #498 "Indicator Zigzag"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alter

[2022-02-28 16:06] twopirllc commented on #498
Duplicate request

[2022-02-28 16:06] #498 closed

[2022-02-28 17:24] twopirllc commented on #485
Hello @alexgreatparis

No it is impossible for me to tell it is from YT. Which YT video are you referencing?

That is correct, they generate errors because these indicator groups/strategy/study include the **vwap** indicator which requires a DatetimeIndex as mentioned in the [Quick Start](https://github.com/twopirllc/pandas-ta#quick-start) section of the README (which includes how to create a Date

[2022-03-05 10:18] alexgreatparis commented on #485
Hi, do you someone who can help me to install the development version on my windows with a remote connection? I agree to pay for this.

[2022-03-07 11:27] koonom1985 commented on #272
May I know any update on this features so far?

[2022-03-08 19:02] twopirllc commented on #485
Hey @alexgreatparis,

Unfortunately, I do not know of anyone. 🤷🏼‍♂️  Hopefully someone takes up your offer. If not, a new pip version will be coming out _soon_. 🤞🏼

[2022-03-10 13:41] GF-Huang opened #500 "How to ignore `nan` when using `cross_value`?"
Or specify a default value as result when compare a `nan`.

[2022-03-10 15:26] KimWuWei opened #501 "The stochastic indicator doesn't work for smooth_k = 1"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.2b0

**Do you have _TA Lib_ also installed in your environment?**
Yes

**Did you upgrade? Did the upgrade resolve the issue?**
I upgraded but it didn't help.

**Describe the bug**
If you try to get the unsmoothed stochastic indicator it throws and exception because the SMA function on _TA Lib_ doesn

[2022-03-10 16:28] twopirllc commented on #501
Hello @KimWuWei,

That is true. Unfortunately TA Lib is no longer maintained for some time now.

Great! You found a fix that works. I'll add it to the _development_ branch unless you want to make a PR and get contribution credit. 😎

Additionally, I recommend updating to the _development_ branch after the fix.

[code]

I must have missed it... But according to Github, this is your first Issue and I

[2022-03-10 17:08] twopirllc commented on #489
Hello @bizso09,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-03-10 17:10] twopirllc commented on #486
@hozRifai,

Do they get applied when you don't send ```to_csv()```?

[2022-03-10 18:13] twopirllc commented on #484
Hi @tbeesofar,

Were you able to figure it out? If so, your solution would help us all.

If you are still working on it, I wonder if Issue https://github.com/twopirllc/pandas-ta/issues/329 may help? I recently read that TA Lib requires/prefers that ```numpy``` is installed before TA Lib. 🤷🏼‍♂️  But I would check on [TA Lib Issues](https://github.com/mrjbq7/ta-lib/issues) also if you haven't alread

[2022-03-11 00:23] KimWuWei commented on #501
Hello @twopirllc,

No need for credit, I'm glad if you accept it :smiley:

Sorry, it was my fault. I don't know much about this Github thing...I tried to edit the code directly and created a fork instead :sweat_smile::sweat_smile:

[2022-03-11 08:28] GF-Huang commented on #500
Here is my use case. The first 6 rows of `CrossDown80` expected value should be `false`, but `true` here.

![image](https://user-images.githubusercontent.com/4510984/157830132-4c77d106-44fc-4ce5-ad85-2258267c5574.png)

![image](https://user-images.githubusercontent.com/4510984/157830279-da0a732f-e853-4d5d-802d-ba9202f78eba.png)

[2022-03-11 17:04] twopirllc commented on #500
@GF-Huang,

Right.. RSI Crossings. I recommend checking out: https://github.com/twopirllc/pandas-ta/issues/406. Perhaps that might address the issue? 🤷🏼‍♂️  Lemme know.

KJ

[2022-03-11 20:00] GF-Huang commented on #500
The `ta.xsignal` seems not meet my use case, which if I only need the entries, without exits.

![image](https://user-images.githubusercontent.com/4510984/157950400-5c605a64-9b47-4ce0-9ab5-9186b404e303.png)

[2022-03-11 20:12] tbeesofar commented on #484
Sorry @twopirllc , i didn't try my hands on using talib in google collab lately. Have been using talib in jupyter notebook and exporting the calculated data and importing it in google collab for the time being as a workaround.

Today, i tried the resolution given in issue #329, i was able to install it successfully in google colab.

You may choose to close this ticket if you want and let me know i

[2022-03-11 21:51] twopirllc commented on #484
@tbeesofar,

Thanks!

Thanks for replying and letting me know what's happening.

KJ

[2022-03-11 21:51] #484 closed

[2022-03-11 21:53] twopirllc commented on #501
@KimWuWei,

No worries. I'm no Github master either... still learning new things.

Thanks for the quick fix you provided! 😎  Will let you know when it's available.

KJ

[2022-03-12 12:52] duoduoffff opened #502 "Evaluating MACD from SSE Composite Index, but returns incorrect results"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

It says `0.3.14b0`. I am using pandas_ta as a submodule cloned from GitHub inside my own project.

**Do you have _TA Lib_ also installed in your environment?**
[code]

Running `pip3 list | grep TA` returns `TA_Lib 0.4.24`.

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

I believ

[2022-03-12 14:54] koonom1985 commented on #490
did some extra checking on other stock symbol with lazybear=False, the TV shows silimiar with the script result. But the squeeze on and off is not the same.

[2022-03-12 14:57] duoduoffff commented on #502
OK I am looking at this issue, <https://github.com/twopirllc/pandas-ta/issues/491>, seems a duplicate.

[2022-03-12 14:57] #502 closed

[2022-03-13 03:56] manojjenago commented on #268
Hi Kevin,
I am really enjoying the indicator and your cool library... Thank you so
much for all your hard work.

Do you have any plans to have renko style chart too ?? Else please take a
request for it.

Thanks,
Manoj

On Tue, Jul 6, 2021, 6:52 PM Kevin Johnson ***@***.***> wrote:

[2022-03-14 21:24] twopirllc commented on #500
@GF-Huang,

Sorry for the delay.

Unfortunate that _xsignals_, it does need some work and assistance on it would be great. 😎

Regarding _cross_value_, perhaps @lluissalord may have suggestions as well. 🤷🏼‍♂️

KJ

[2022-03-15 15:23] twopirllc commented on #268
Hello @manojjenago,

Thanks! Coffees are welcome! 😎

request for it.

Yes. Someone (#152) has already requested it as well. Been slammed with Issues and improving the internals to work on new features on top of that. Contributions are welcome if you want a feature added sooner to the package. 😎

Kind Regards,
KJ

[2022-03-15 15:25] twopirllc commented on #490
Contributions are the fastest way to improve the package. More contributors the better. 😎

[2022-03-15 18:34] hadialaddin opened #503 "Ray/Trendline/Linear Regression of two points"
Say I have two points on the Dataframe (price and UNIX timestamp) and I want to draw a Ray (endless) that goes through these two points. Does Pandas TA or Pandas has a function for this? Is there an easy way to draw a Linear Regression ray, I just have the two points and I want to draw a Ray through them and get all the Datapoints (price and timestamp of each) say 1 week into the future to be pred

[2022-03-16 07:05] doxg commented on #503
Hello, @hadialaddin. With a help of scikit-learn, I think it's possible to make simple function:

[code]

[2022-03-16 14:55] KimWuWei commented on #501
Hi @twopirllc, I updated to the development branch but I'm afraid the fix is not working by default here. If you want to get this indicator with smooth_k=1 (which is, by the way, the default value on TradingView), you have to pass the argument talib=False (otherwise TA_lib overrides the parameter by 3 without warning).

To work around this I changed line 68 from
`    if Imports["talib"] and mode_t

[2022-03-16 19:35] twopirllc commented on #501
Hi @KimWuWei,

Thanks for checking out the _development_ branch before I pushed it! I'll update it.

KJ

[2022-03-16 20:47] twopirllc commented on #503
Hi @hadialaddin and @doxg,

Check out: ```help(ta.tos_stdevall)``` as developed in Issue #268.
If you want a only the linear regression line for that indicator, set ```stds=[]```. And ```length``` is measured from the end of the DataFrame, otherwise it uses all the bars/rows. Currently, there is no early termination if you want to terminate before the last bar.

Also I have locally implemented a l

[2022-03-17 15:35] #489 closed

[2022-03-20 16:51] twopirllc commented on #501
Hi @KimWuWei,

I updated the _development_ branch with your suggested change. Let me know if it suits you.

[code]

Thanks,
KJ

[2022-03-20 17:57] twopirllc commented on #272
Hello @mahesh-solanke,

So _atrts_ has been implemented with the assistance of @koonom1985. 😎 It is available on the _development_ branch if you want to check it out.

[code]

Thanks,
KJ

[2022-03-20 17:58] #352 closed

[2022-03-20 18:24] twopirllc commented on #388
Hey @manjrem,

I _believe_ it is fixed this time. Please try out the _development_ branch and let me know.

[code]

Thanks,
KJ

[2022-03-21 06:43] mahesh-solanke commented on #272
@twopirllc, Thank you so much for this.
It really means a lot. that you guys have implemented
Thanks, @koonom1985 for your help.

Regards,
Mahesh Solanke

[2022-03-21 06:43] #272 closed

[2022-03-21 15:18] twopirllc commented on #272
@mahesh-solanke,

You're welcome.

Regards,
KJ

[2022-03-21 19:17] #495 closed

[2022-03-23 10:24] Gillani0 opened #504 "Issue running vwap with dataframe index from yFinance data"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]
no

**Did you upgrade? Did the upgrade resolve the issue?**
[code]
yes but didn't resolve the issue
**Describe the bug**
I'm trying to run the simple example to calculate the vwap. Since it's provided, the vwap requires

[2022-03-23 19:00] twopirllc commented on #504
Hello @Gillani0,

Did you upgrade? Did the upgrade resolve the issue?

[code]

<br/>

<img width="648" alt="Screen Shot 2022-03-23 at 11 52 53 AM" src="https://user-images.githubusercontent.com/18198392/159775389-c4bb802e-cb2c-437d-8226-103449a961ae.png">

<br/>

Hope that helps.

Kind Regards,
KJ

[2022-03-24 16:55] mhgutier opened #505 "ha_open has Nan Values when open is smoothed with ema"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
yes

**Did you upgrade? Did the upgrade resolve the issue?**
nope, pandas_ta is newly installed on my new laptop

**Describe the bug**
i am trying to create smoothed heikin ashi. however ha_open has Nan values. i am not sure if this

[2022-03-25 16:14] twopirllc commented on #388
@manjrem,

So, apparently using ```append=False``` creates other Issues and I do not have the time to rebuild _study_ and all it's supporting methods. The only work around has been ```append=None```.

You will **need** the latest _development_ version or version _0.3.59b_ or higher.

Kind Regards,
KJ

[2022-03-25 16:50] twopirllc commented on #505
Hello @mhgutier,

Noted. Unfortunately I do not have an expected time frame when I can address. There is a fix but it does cause other unexpected bugs that will take more time to squash. Contributions are welcome to help address this and patch sooner. 😎

Kind Regards,
KJ

[2022-03-25 16:51] twopirllc commented on #504
Hello @Gillani0,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-03-25 18:13] Gillani0 commented on #504
Hi,
Thanks for the clarification. Yeah, I found out later that it was already indexed. I think the doc can be updated for it.

[2022-03-25 18:13] #504 closed

[2022-03-25 23:34] twopirllc commented on #504
@Gillani0,

Glad you got it resolved.

I came to the same conclusion. 🤣 Thanks for the reminder!

Kind Regards,
KJ

[2022-03-27 00:15] CMobley7 opened #506 "ATRTS not included in df.ta.study("volatility")"
Using the latest version of develop, `Average True Range Trailing Stop: atrts`, isn't included in `df.ta.study("volatility")`. To be honest, I'm not entirely sure why. Things appears to be set up right.

[code]

[2022-03-27 03:14] CMobley7 opened #507 "Possible Bug in the Center of Gravity Indicator"
When I ran `Center of Gravity: cg` over 3 months of Bitcoin prices ("20200801" to "20201101"), I got

| | Close | cg |
| -- | -- | -- |
| count | 132481.000000 | 132472.000000 |
| mean | 11378.306788 | -5.499988 |
| std | 844.355621 | 0.001991 |
| min | 9881.820000 | -5.616297 |
| 25% | 10710.500000 | -5.500833 |
| 50% | 11368.680000 | -5.499987 |
| 75% | 11742.540000 | -5.499146 |
| 100% | 14068.

[2022-03-27 20:00] twopirllc commented on #506
Hi @CMobley7,

Thanks for finding this bug!

Thanks,
KJ

[2022-03-27 21:35] twopirllc commented on #507
@CMobley7,

Thanks!

Yeah it's possible. I thought I made a TV comparison in an Issue awhile back... but can not find it. 🤷🏼‍♂️ It's a weird one cause it lingers around -5.5 with some variance.

Thanks, I will look into it as soon as I can.

KJ

[2022-03-29 11:29] CitizenBruceLee opened #508 "PPO returns same values as MACD not percentages"
Percentage Price Oscillator: ppo indicator should generate % (or range between -1 to +1) values. Now it generates the same values as MACD
<img width="1462" alt="Screenshot 2022-03-29 at 13 29 11" src="https://user-images.githubusercontent.com/83833076/160601627-52757838-01c0-42c1-b59b-e02b6ecc15c1.png">

[2022-03-29 15:39] twopirllc commented on #508
@CitizenBruceLee,

Thanks. Well **ppo** is not the same as **macd** except their first operation: ```ema(fast) - ema(slow)```. The code is similar but **not** the same either after the first operation. The only thing that was incorrect was the Source: in the documentation 🤦🏼‍♂️ .

### MACD
<img width="634" alt="Screen Shot 2022-03-29 at 8 35 44 AM" src="https://user-images.githubusercontent.com/18

[2022-03-29 15:52] CitizenBruceLee commented on #508
Thank you KJ! The code is correct as it indeed devides the ppo by the slowma for the final relative results. You have been great help!

Cheers!

[2022-03-29 15:56] twopirllc commented on #508
@CitizenBruceLee,

Sure. 🍀

KJ

[2022-03-29 15:56] #508 closed

[2022-03-31 03:17] ssp-solutions-26 commented on #416
Hi @twopirllc.
Hope you are doing well.
What's the status of Williams fractal indicator?

Regards,
Sunil

[2022-04-05 00:54] CMobley7 commented on #506
Thanks @twopirllc! I really appreciate it! Have a great week. God bless

[2022-04-05 00:54] #506 closed

[2022-04-05 02:19] CMobley7 opened #510 "Possible Bug in Correlation Trend Indicator"
When I ran `Correlation Trend Indicator: cti` over 3 months of Bitcoin prices ("20200801" to "20201101"), I got

| | Close | CTI_12
| -- | -- | -- |
| count | 132481.000000 | 132470.000000
| mean | 11378.306788 | 11378.307752
| std | 844.355621 | 844.427776
| min | 9881.820000 | 9891.418974
| 25% | 10710.500000 | 10710.538205
| 50% | 11368.680000 | 11368.933526
| 75% | 11742.540000 | 11742.752564

[2022-04-05 03:18] twopirllc commented on #506
@CMobley7!

Thanks! You too! 🍀

[2022-04-06 15:37] ClaoLinda commented on #340
What if you are not even using the import pandas as pd and you still get the error?

[2022-04-07 16:57] twopirllc commented on #510
Hi @CMobley7,

Nice catch! I appreciate it.

Want to PR after testing your hypothesis out?

Thanks,
KJ

[2022-04-11 01:43] CMobley7 commented on #507
Upon further examination, your code was correct. However, I did notice a slight bug in the calculation of the coefficients variable here, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/momentum/cg.py#L41. Based on http://www.mesasoftware.com/papers/TheCGOscillator.pdf, I believe it should be 1 to length, instead of length to 1.

[code]

[2022-04-11 03:28] CMobley7 commented on #510
@twopirllc ,

My apologies for the delay; however, I tested my hypothesis out and got the results below. This appears to fix the bug in `cti`. So, I submitted a PR with these changes, as well as changes to fix what I believe to be a minor bug in `cg`.

| | Close | CTI_12
| -- | -- | -- |
| count | 132481.000000 | 132470.000000
| mean | 11378.306788 | 0.009241
| std | 844.355621 | 0.651962
| min |

[2022-04-11 04:58] CMobley7 opened #512 "Minor Error in Inertia and Relative Volatility Index Documentation"
While `Inertia: inertia` is calculated correctly, the documentation, https://github.com/twopirllc/pandas-ta/blob/47d8da67e1bd46476f5f7547c48ccb67598e63ed/pandas_ta/momentum/inertia.py#L17-L25, states`Relative Vigor Index` instead of the `Relative Volatility Index`. It also links to https://www.investopedia.com/terms/r/relative_vigor_index.asp instead of an article on the `Relative Volatility Index

[2022-04-11 06:39] keith5551 opened #513 "Implementation of psar()"
Hi

I'm new to using pandas-ta, and I've been attempting to implement the psar() function. I've had success with the macd() implementation, but having some issues with the psar().

psar_df = df.dropna().copy()
        psar_df.ta.psar(high=psar_df["h"], low=psar_df["l"], close=psar_df[self.instrument],
                                 step=0.02, max_step=0.2, fillna=True)
self.data = psar_df.dropna

[2022-04-11 15:26] twopirllc commented on #513
Hello @keith5551,

If you are overriding the DataFrame extension 'ta' indicator arguments (high, low, close) and manually setting them yourself, then don't use```psar_df.ta.psar(...)```; use the [Standard Convention](https://github.com/twopirllc/pandas-ta#standard) instead.

Furthermore, make sure your inputs (psar_df["h"], psar_df["l"], & psar_df[self.instrument]) are non-empty Series before runn

[2022-04-12 12:53] whatismyname21 opened #514 "HiLo is not working perfectly, same numbers printing many time."
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear and concise descript

[2022-04-12 13:42] twopirllc commented on #514
Hello @whatismyname21,

I can not help you as you have **not** completed the above form **nor** have you provided enough evidence (context, data, reproducible code, screenshots) to convince us that this is anything but a **baseless claim**.

Clearly not a lot of the same number printing many times:
<img width="647" alt="Screen Shot 2022-04-12 at 6 35 32 AM" src="https://user-images.githubuserconte

[2022-04-12 15:32] twopirllc commented on #393
@gjhansaliya13,

I'm sorry but this will not be implemented. We are not using Pandas TA on AWS nor do I see how it will benefit the library. If this is some internal thing related to you or some business you work for then I would ask them.

Kind Regards,
KJ

[2022-04-12 15:32] #393 closed

[2022-04-12 17:48] whatismyname21 commented on #514
Hi Kevin

I have used below code
HILO = ta.hilo(df["High"],df["Low"],df["Close"], high_length=2, low_length=4)

Price is moving but i am getting same result many time. Please find attached screenshot.

Thanks
Aj
________________________________
From: Kevin Johnson ***@***.***>
Sent: Tuesday, April 12, 2022 7:12 PM
To: twopirllc/pandas-ta ***@***.***>
Cc: whatismyname21 ***@***.***>; Mention ***@**

[2022-04-12 17:56] twopirllc commented on #514
@whatismyname21,

Again:

- What version of Pandas TA are you using?
- What ticker and timeframe are you using?
- Do you have **csv** of the offending _ohlcv_ data so I can see what the problem is?
- Do you have screenshots?

Thanks for providing the indicator and parameters that are not working.

KJ

[2022-04-12 18:12] whatismyname21 commented on #514
Hi Kevin

Please answer in line...

  *   What version of Pandas TA are you using?  -- 1.3.4
  *   What ticker and timeframe are you using? - 5mins or 1day
  *   Do you have csv of the offending ohlcv data so I can see what the problem is? - Getting data from yahoo
  *   Do you have screenshots?  -  Please find attachment...

Sent from Outlook<http://aka.ms/weboutlook>

___________________________

[2022-04-12 18:17] whatismyname21 commented on #514
<img width="1440" alt="Screenshot 2022-04-12 at 11 12 59 PM" src="https://user-images.githubusercontent.com/103510184/163027497-dfe8d7fa-96ed-45a2-8a05-30146e4772d4.png">

[2022-04-12 18:20] twopirllc commented on #514
@whatismyname21

Thanks, we are getting there... What ticker/symbol?

[2022-04-12 18:29] whatismyname21 commented on #514
Sorry to bug you, but my main strategy is on Gann HiLo

Version - 0.3.14b0
Ticker name - AAPL
**Today's data**
<img width="833" alt="Screenshot 2022-04-12 at 11 53 08 PM" src="https://user-images.githubusercontent.com/103510184/163029307-1c24d243-5d86-4fcb-be55-92ca7639cef2.png">

[2022-04-12 18:30] twopirllc commented on #514
@whatismyname21

Your small _ma_ lengths can cause the conditional logic to repeat values until the close price either exceeds the previous high/low **sma** values.

You should add the **sma**'s and compare for yourself that the logic is working as implemented.

[code]

[2022-04-12 18:37] twopirllc commented on #514
Yahoo Finance: AAPL (1min) - HILO(2,4) + SMA(2) + SMA(4)
[yf-aapl-1m-hilo_2_4.csv](https://github.com/twopirllc/pandas-ta/files/8475604/yf-aapl-1m-hilo_2_4.csv)

[2022-04-12 18:49] mihakralj commented on #402
I was reading the original works of Welles Wilder and got across his ATR chapter. It reminded me of this issue I opened a year ago. If you are looking at Welles' example and try to reproduce it with Pandas-TA, you get discrepancy:

df = pd.DataFrame({'close': [1.4,1.5,1.4,1.4,1.3,1.7,1.2,0.7]})
df["rma"]=df.ta.rma(close=df["close"], length=7)
Last two results - according to the source - should be

[2022-04-13 17:37] twopirllc commented on #402
@mihakralj,

Oh! Thanks for sharing! This is great!

If you want to give it a crack, checkout the _developement_ branch and submit a PR. 😎

KJ

[2022-04-15 20:01] mihakralj opened #516 "ZLMA bug"
[code]
output:

[code]

- the input series has the first 5 values clearly below 6.0
- ZLMA somehow calculates that the first visible value (for the input of 5.0) is 6.0
- the calculation of the corrected input (using an offset) is not returning correct values for early data.
- ZLMA uses EMA by default, making this bug (nearly) invisible after 20+ bars are calculated.

[2022-04-15 20:39] mihakralj commented on #516
doing manual calculation on paper. this is actually correct calculation - ZLEMA overshoots on purpose in the early part of the calc..

[2022-04-16 13:21] balioglum opened #517 "Fisher Transform produces incorrect results"
Hi,

Fisher Transform produces incorrect results, particularly for securities with lots of zeros after decimal point, such as SHIBA coin, or HOLO coin.

[code]

<img width="879" alt="Screenshot 2022-04-16 at 16 20 37" src="https://user-images.githubusercontent.com/66515087/163676517-8c69d630-9be0-4f19-8e38-9a43659c71bf.png">

The Fisher Transform value does not even change over time.

[2022-04-16 17:04] twopirllc commented on #517
Hello @balioglum,

Please fill in the unanswered questions from the [bug report form](https://github.com/twopirllc/pandas-ta/issues/new/choose) please.

Thanks,
KJ

[2022-04-16 17:04] #517 closed

[2022-04-16 17:26] balioglum opened #518 "Fisher Transform does not produce correct results"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]
Upgrade did not resolve.

**Describe the bug**
**Fisher Transform** does not produce correct results for cryptos which have multiple zeros after the decimal point.

[2022-04-17 01:27] #507 closed

[2022-04-17 01:28] #510 closed

[2022-04-17 14:35] twopirllc commented on #518
@balioglum,

Thank you! That's much more useful.

Sounds like a potential rounding issue.

Have you tried scaling the price, apply ta, and descale like:
[code]

Unfortunately I do not have a time frame to address this, but I'll take another look at it when I get to converting it to _numpy/numba_. If you have a solution and would like to contribute, that would be great! 😎

Kind Regards,
KJ

[2022-04-18 07:02] Yukemaster opened #519 "Difference in EMA values between pandas-ta and tradingview"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
There seem to be discrepancies between EMA values when comparing pandas-ta output with tradingview.

**To Reproduce**
![grafik](https://user-i

[2022-04-18 14:56] balioglum commented on #518
Thank you Kevin.

[2022-04-18 16:00] twopirllc commented on #518
@balioglum

Did you try the scaling code I posted in the last comment?

[2022-04-18 17:07] twopirllc commented on #519
Hello @Yukemaster,

Since you have TA Lib in your environment, that is the default that is used. Based on the code you shared, it does not appear that you tried any other **ema** arguments for comparison. You can disable TA Lib if you do not want it's calculations as well as try other options as described in ```help(ta.ema)```.

For the purpose of Pandas TA, I am only concerned about at least matc

[2022-04-19 10:29] balioglum commented on #518
Hi Kevin,

Scaling and descaling seems to be working. I've been using python-binance api and need to scale/descale only high, low and close values only.

[code]

Thanks again for your help.  I've learned the `/=` operator by the way as a bonus!

[2022-04-19 16:55] twopirllc commented on #518
Hi @balioglum,

Excellent!

True. Also you can consolidate the code a bit:

[code]

You're welcome! 😎

[2022-04-20 03:34] mihakralj commented on #519
seems like you don't understand how EMA works and how it is implemented in Tradingview. The settings in the screenshot above are using `ema k= 2/(198+1)` but for the first 198 days you are using SMA with smoothing of 5 days only.

To generate data identical to Pandas-TA EMA, you need to use the same period value for both EMA Length and Smoothing Length in Tradingview.

EMA(n) = SMA(period) when n<

[2022-04-20 09:24] twopirllc commented on #519
@mihakralj,

Whom are you addressing?

[2022-04-20 13:54] mihakralj commented on #519
Yukemaster who opened the issue.

[2022-04-20 15:27] twopirllc commented on #519
@mihakralj, @Yukemaster

Gotcha. Was a bit confused at first.

Ignore the SMA5 smoothing signal he posted... TV added that to version 5 of their EMA. But I do _hope_ he is **not** comparing the Smoothed (SMA5) of EMA198, or SMA(EMA198, 5), to Pandas TA's EMA198 and claiming Pandas TA is incorrect.

[code]
<br/>

My concern is that s/he didn't read the indicator help, ```help(ta.ema)``` _nor_ try a

[2022-04-20 17:45] abstract-thinking commented on #88
Hi @twopirllc,

I'm interested in calculating the relative strength levy (rsl) as well.

But I don't understand you answer:

[code]

The result is:

2022-04-19    0.000156

I would expect 0,992?

It bias really the solution?

Thanks,
Markus

[2022-04-20 20:00] #519 closed

[2022-04-20 21:20] twopirllc commented on #519
@Yukemaster,

Did you test out the other **ema** parameters as suggested? If so, did it in/validate your conclusion? I want to make sure that your issue was resolved since many Moving Averages are the core of indicators and strategies that people use.

Thanks,
KJ

[2022-04-20 22:01] twopirllc commented on #88
@abstract-thinking,

At the time, I did not have the actual source for comparison, so I went off what @kgonia shared, so I may have interpreted it incorrectly and bias was the most similar.

[code]

<br/>

Now that you have brought it up again, I was able to find one on [TradingView](https://www.tradingview.com/script/SDCx5OWv-Relative-Strength-Levy/) and it is rather simple:

[code]

<br/>
<img w

[2022-04-21 02:35] mihakralj commented on #516
I researched this further. I do believe we have a bug in early calculations (when n<lag). Here is the formula from zlma.py:

[code]

the `close.shift(lag)` will generate NaN for all values where shift points outside the dataframe, creating the early value of 2*close.

Most of my reserach and calculations show me that we should use  a simple close (instead of 2*close) for values when n<lag; early r

[2022-04-21 15:08] #518 closed

[2022-04-21 16:37] twopirllc commented on #402
@mihakralj,

So it appears that there is a calculation mistake of the Range on 1/6. Instead of _1.70_, it should be _1.80_ which alters the initial sum to be _10_ instead of _9.90_. So the SMA for the 1st ATR should be _10/7 ≈ 1.428571_. Not the bug I was hoping to encounter while I fix **rma** but also some minor modifications to **true_range** and **atr** as well. Anyhow, here are the PTA result

[2022-04-21 17:08] mihakralj commented on #402
Yup, can confirm that you found the data bug in a 42-years old book! :-)
Below is the calc of TR and ATR for the same raw data from the book using my C# lib:

![image](https://user-images.githubusercontent.com/31756078/164513936-e939397c-3b37-4e36-971f-6a2c88d084ec.png)

[2022-04-21 17:47] andrewkenreich opened #520 "Study's failing when ta kind doesn't have enough data"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
latest dev branch

**Do you have _TA Lib_ also installed in your environment?**
yes

**Describe the bug**
When running a Study

**To Reproduce**

Use a dataframe that only has 10-30 rows of data and run the below.
[code]

**Expected behavior**
Would expect this to just not put a column and skip that ta

[2022-04-21 17:50] twopirllc commented on #402
@mihakralj

Lol! 🤣 That would've been nice to have sooner as well.

Thank you for confirmation.

[2022-04-21 22:58] twopirllc commented on #513
Hello @keith5551,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-04-21 23:16] twopirllc commented on #501
Hello @KimWuWei,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-04-21 23:16] #496 closed

[2022-04-22 01:38] #88 closed

[2022-04-22 05:36] keith5551 commented on #513
Hi Kevin

It turned out to be a more fundamental issue with the way in which the data was being retrieved/processed from the OANDA API.

I still have to work out the correct way to get the historical data, but the call to ta.psar() is all good.

Thanks for your response, much appreciated.

Cheers. Keith.

[2022-04-22 10:07] mohsenOG opened #521 "Williams R % default length is wrong in documentation"
in willr documentation, the default length is mentioned as 20 and another place as 14. While the code considers only as 14.
It would be nicer if the docu is fixed.
Look at the highlight in the attached image.
![ta](https://user-images.githubusercontent.com/36542402/164685864-cea5667e-b071-44f5-90bd-cf634aa316ec.png)

[2022-04-22 15:16] twopirllc commented on #521
Hello @mohsenOG,

Thanks for letting me know but the documentation you address for [**willr**](https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/momentum/willr.py) has be fixed already on the _development_ version.

Please install the _development_ branch **and** help _me_ find more mistakes before I update the _main_ branch.
[code]

Kind Regards,
KJ

[2022-04-22 15:16] #521 closed

[2022-04-22 17:26] KimWuWei commented on #501
Sorry, I didn't see it. Yes, it was sufficient. Thanks!

[2022-04-22 17:33] #501 closed

[2022-04-23 02:35] twopirllc commented on #516
@mihakralj,

Sounds good. As you know, if you want to make PR so I can try it out and see how to best incorporate it, that would be great. Sometimes I am not gifted with abstraction and something concrete can help me **visualize** and understand better. So I appreciate the spare time, consideration and attention to detail you have contributed to help make this library while also building on your o

[2022-04-23 02:38] mihakralj commented on #516
OK, PR on its way this weekend.

(BTW - does kama indicator work at all for you? I get returned empty series when calling kama from Pandas-Ta)

[2022-04-23 02:40] twopirllc commented on #503
Hello @hadialaddin,

I assume by no response that the solutions provided by @doxg and I were sufficient enough to achieve your goals. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-04-23 02:44] twopirllc commented on #516
@mihakralj,

Awesome. Yes, the default for sure. I usually test with 1 year bars with of data. Are there certain parameters or minimum bar requirements failing?

<img width="664" alt="Screen Shot 2022-04-22 at 7 42 07 PM" src="https://user-images.githubusercontent.com/18198392/164868917-1a28ce09-6ae6-4cff-9bc8-016a2ace33d0.png">

KJ

[2022-04-23 02:46] mihakralj commented on #516
Must be my concoction of your code and my dissections and mutilations... Let me go back to basics.

[2022-04-23 02:49] twopirllc commented on #516
No worries.

[2022-04-23 15:28] whatayush opened #522 "ADX value from plugin vastly different from Tradingview, just me or did I mess up some entry?"
Hi,

So first off this problem persists across multiple plugins and code. I love the pandas_ta library thus was hoping we could find a solution here.

First off here is the difference in values:
![image](https://user-images.githubusercontent.com/104263942/164912299-e70b4003-2660-4b84-8b9d-e5cab2398f5e.png)
![image](https://user-images.githubusercontent.com/104263942/164912536-3a72976a-c630-4f1a-80

[2022-04-23 16:02] twopirllc commented on #522
Hello @whatayush,

Could you please fill out these initial questions that were asked on the **Bug Report**?

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

Thanks,
KJ

[2022-04-23 16:31] whatayush commented on #522
Hi,

The version I have is 0.3.14b0. From checking on github page in my capacity, this is the latest version right?

These are the ta related installed:
![image](https://user-images.githubusercontent.com/104263942/164914820-d7a4b9a5-246d-4bfb-8a43-ca543a51708b.png)

I see TA lib is missing. Could you let me know if installing it could solve the issue? Also what would be the pip install code.

Than

[2022-04-23 19:12] twopirllc commented on #522
@whatayush,

What does that mean?

It is the last stable _main_ version. I recommend trying out the _development_ version instead since there was a fix for **rma** this week that may fix the issue. Note: **adx** be default uses **rma** for it's average.

[code]

[TA Lib](https://github.com/mrjbq7/ta-lib) is not a requirement for this library as this library is a Python version of TA Lib since TA L

[2022-04-23 19:18] twopirllc commented on #522
@whatayush,

On another note, you need not call **adx** three times.

[code]

KJ

[2022-04-24 07:52] whatayush commented on #522
Hi,

So to your first point.

I tried ADX of 3 different setups and all gave wrong values compared to TV. Yours, ta library (its called just ta) and a code I received from a course.

So I am thinking if ADX on TV is calculated differently.

On the development version, I am just wondering if I should use it. I am not a coder as such so dont want any issues to arise that could cause more problem. Yo

[2022-04-24 11:08] Katebsaber commented on #189
Checkout my explanation here:
[https://github.com/mrjbq7/ta-lib/issues/379#issuecomment-1107817993](https://github.com/mrjbq7/ta-lib/issues/379#issuecomment-1107817993)

[2022-04-24 14:28] twopirllc commented on #189
@2W-12, @Katebsaber,

Well the good news is, @mihakralj provided what I missed in #402 and a few days ago I have updated: **atr**, **rma**, and **true_range**. These changes are on the _development_ branch:

[code]

Please install that branch and let me know if it's working as intended.

Kind Regards,
KJ

[2022-04-24 15:54] twopirllc commented on #522
@whatayush,

Got it

In short, TA in general is **not** standardized, though it has gotten a bit better. For instance, the _de facto_ TA Lib has different indicator initializations since broker platforms would have slight variations for whatever reason... but that's another story.

Regarding TV, fairly recently they updated their code base to version 5, so there are likely some differences since I

[2022-04-25 05:36] whatayush commented on #522
Hi,

Tried to update but getting this error.
![image](https://user-images.githubusercontent.com/104263942/165026727-6e201029-0803-4ad6-bfd3-0fa156f5b1b0.png)

[2022-04-25 06:30] whatayush commented on #522
Added by installing git. And testing now.

[2022-04-25 06:57] whatayush commented on #522
Still the values are too high, specifically in this period.
![image](https://user-images.githubusercontent.com/104263942/165036366-51421575-e715-4b65-b1c9-60ecd118d98e.png)

[2022-04-25 18:00] imomin opened #523 "MACD unsupported operand type(s) for -: 'float' and 'NoneType' line 34"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
I am using _ta.Strategy_ to calculate MCAD. When I run it against a ticket $CSLM. I get following error. **Looks like the issue happens if the

[2022-04-25 18:55] twopirllc commented on #523
Hello @imomin,

Welp! I can not currently replicate it, so if you could provide a sample _csv_ of the offending data that would help.

Also I recommend upgrading to the _development_ branch instead for several reasons... If it's a problem on _0.3.14b_, I want to iron it out on the _development_ branch.

[code]

Kind Regards,
KJ

[2022-04-25 20:03] imomin commented on #523
@twopirllc
I update the lib to development and now I am getting following error. Below is the CSV

[code]

Sample Code:
[code]
[Query Results.csv](https://github.com/twopirllc/pandas-ta/files/8557600/Query.Results.csv)

[2022-04-25 22:14] twopirllc commented on #523
@imomin,

Thanks. I will take a look as soon as I can.

Kind Regards,
KJ

[2022-04-26 02:38] CMobley7 commented on #512
@twopirllc ,

It looks like https://github.com/twopirllc/pandas-ta/commit/8373fc9ed269c9b1ed27e5d715bf9c1da8f84aa0 fixed the `Relative Volatility Index` documentation; however, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/momentum/inertia.py#L17-L26 still mentions the `Relative Vigor Index` and https://www.sierrachart.com/index.php?page=doc/StudiesReference.php&ID=285&Name=Ine

[2022-04-26 15:08] whatayush opened #524 "Trade Analysis"
I apologize if this is a dumb question, but as I am not a professional coder some parts are still difficult to understand. With that, how can I use the performance part of the library?

For e.g I have 400 stocks, each one generates a buying date, buying price, selling date and selling price.  Sort of like this but for each stock.
![image](https://user-images.githubusercontent.com/104263942/1653316

[2022-04-27 15:34] spiritix opened #525 "How to specify length for volume indicators?"
When using volume indicators like 'ad', 'obv', 'pvi', etc. there is no parameter to specify the length. This results in diverging results, depending on how large the dataset is (the series passed to the indicator). Like this, I can't use multiprocessing to calculate indicators on a large dataset, instead I have to calculate row by row to create predictable outputs.

Is there a reason for this and

[2022-04-27 16:33] p2828 opened #526 "Please speed-up the library else it can't be used for mass-backtesting (maybe avoid pandas)"
**Which version are you running? The lastest version is Github. Pip is for major releases.**
pandas-ta version : 0.2.45b0

**Problem**
For strategy optimization I need to run test the strategy over **_at least_**

1. 1000-5000 candles per test
2. 10000-20000 tests every strategy
3. All this for just 1 symbol and 1 single timeframe

I recently found my code is running unacceptably slow for a new st

[2022-04-28 02:30] W80125m commented on #452
`from numpy import NaN, select
from pandas import DataFrame, to_datetime, infer_freq
from pandas_ta.utils import is_datetime_ordered, verify_series

def pivots(_open, high, low, close, anchor=None, method=None):
    _open = verify_series(_open)
    high = verify_series(high)
    low = verify_series(low)
    close = verify_series(close)
    anchor = anchor.upper() if anchor and isinstance(anchor, s

[2022-04-28 03:34] W80125m commented on #452
``

It's not necessary, but I think if possible the amount of computation needed could be cut down pretty dramatically by having the 'anchor' values stored in a separate array which could then be accessed using matching datetime value or other means.

![pivots_plot](https://user-images.githubusercontent.com/60054498/165669271-5b270cfa-d37e-478c-b610-72883855917b.png)

[code]

[2022-04-28 12:00] p2828 commented on #526
My bad, my bad. This is all hilarious to me, now that I just realized that the very name of the library is "Pandas" TA. I promptly take back my suggestions of not using Pandas.
Hope you will excuse my oversight and look into the issue your way.

[2022-04-28 15:38] twopirllc commented on #524
@whatayush,

At this point, I wouldn't. It's BETA and currently stalled due to the overwhelming Bugs and Feature requests.

Yes. You should use a Backtesting package such as [VectorBT](https://vectorbt.dev/) or [BackTrader](https://www.backtrader.com/). Those are the two I hear that most widely used and Pandas TA indicators
can be used with both of them.

If you have a Trade Log of actual trades f

[2022-04-28 15:42] twopirllc commented on #525
Hello @spiritix,

It would be great if you could fill this out:

**Upgrade** to _development_ branch.
[code]

**Verify your version**
[code]

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-04-28 20:34] twopirllc commented on #525
@spiritix,

Also, do you have TA Lib installed? If so, what version?

Please provide reproducible code so I can replicate your issue. Including the code you use to circumvent the problem. Please provide less abstraction and more concrete examples. 😎

If you need Incremental Calculations, check out: https://github.com/nardew/talipp

All indicators accept ```**kwargs```. So ```kwargs["length"]``` is

[2022-04-29 04:23] p2828 commented on #526
tnx for taking out time.
just installed the latest version:
pandas-ta==0.3.63b0

the results are still the similar with 0.210 sec from 0.253sec.

![snakeviz cProfile for supertrend](https://user-images.githubusercontent.com/67407901/165884831-e1ed3c25-e492-4a23-94ab-9dc68df279e7.jpg)

Request you to cProfile at your end and confirm the same.

[2022-04-29 15:06] spiritix commented on #525
Something like this would probably solve the issue (untested): https://github.com/aureatauri/pandas-ta/commit/fd2fa8d8369caf468ec4c0f5f273e42484e6a2ee

[2022-04-29 15:54] AJCWhite opened #527 "ta.psar TypeError for *"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
When using other indicators I get the expect df data back (rsi, macd, ema, sma) but with PSAR I get a type error

**To Reproduce**
sar = ta.ps

[2022-04-29 16:01] twopirllc commented on #526
@p2828,

pandas-ta==0.3.63b0

👍🏼

Cool chart. However I wrote [Speed Test Notebook](https://github.com/twopirllc/pandas-ta/blob/development/examples/Speed_Test.ipynb) that tells me the indicator performance for a given DataFrame.

If it's specifically **supertrend**, it hasn't been numpy-ed yet. Contributions are welcome to improve accuracy and performance of the indicators. 😎

There is **way** to

[2022-04-29 16:06] twopirllc commented on #527
Hi @AJCWhite,

Please update to the _development_ branch and test again please.

[code]

There are more bug fixes on the branch, documentation, speed et al.

Kind Regards,
KJ

[2022-04-29 16:26] #527 closed

[2022-04-29 16:27] AJCWhite commented on #527
Hi KJ,

Thank you so much for the quick response. That did the trick alongside forcing the float data type from the MySQL data source.

Thanks, Alex

[2022-04-29 17:50] twopirllc commented on #527
@AJCWhite,

Excellent! 😎

No worries,
KJ

[2022-04-30 04:11] p2828 commented on #526
<blockquote>
Cool chart. However I wrote Speed Test Notebook that tells me the indicator performance for a given DataFrame.
</blockquote>

I am amazed to know you have your own "Speed Test Notebook". Impressive!

cool chart- well,  I just learnt cprofile and snakeviz a couple of days ago. Found it to be much simpler to understand than it looks.

<blockquote>
If it's specifically supertrend, it has

[2022-04-30 19:24] p2828 commented on #526
<blockquote>
... I'll get back to you if I found something ...
</blockquote>

I changed the **iloc --> iat** for "gets" of all scalar values in the function below.

[code]

In our supertrend function, this can be gladly done as we are dealing with single values only (as against slicing or multiple values, in which case - iloc). If there was any slice or non-scalar calls, we could have let that one

[2022-05-01 17:36] twopirllc commented on #525
@spiritix,

Awesome! Thanks for sharing this. I will take a look as soon as I can.

KJ

[2022-05-01 17:48] twopirllc commented on #526
@p2828,

Not quite there yet, but thanks.

The time taken was reduced to 0.0778 from 0.232.
That is almost a good 300 % improvement in speed.

That is amazing! Nice find!

Ideally it would be great if you could convert **supertrend** _for_ loop core code to numpy/numba similarly like I did with [**reflex**](https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/cycles/reflex.py) per "Tr

[2022-05-02 03:08] p2828 commented on #526
<blockquote>
Ideally it would be great if you could convert supertrend for loop core code to numpy/numba ..
</blockquote>

I will not commit to things I won't be able to do - too much at hand already Sir.
I can simply depend on my shameful but _sincere request_ to you to please do the needful and release a faster version asap so I can start backtesting faster without any shabby workarounds.

A _re

[2022-05-02 18:10] twopirllc commented on #525
@spiritix,

Those named indicators as well as 'adosc', 'aobv', 'cmf', 'nvi', and 'pvt' utilize ```cumsum()```. So I am not sure if that is creating this indifference. 🤷🏼‍♂️ If that fix works and applies to the other indicators I listed, let me know or make a PR. 😎

Additionally, I recommend forking or updating your branch to the _development_ branch before making a lot of changes. There are many b

[2022-05-02 19:24] twopirllc commented on #452
@W80125m,

Looks good. I think there should be an argument/parameter to limit the number of pivots to have or show. Makes no sense to trade off prior pivots. On my charts I use general two pivot periods, the rest is just a distraction (but that's me). 😎  But I suppose there are some data miners out there that require the whole enchilada. 🤷🏼‍♂️

Kind Regards,
KJ

[2022-05-02 22:12] #503 closed

[2022-05-02 22:13] #486 closed

[2022-05-02 22:13] #480 closed

[2022-05-02 23:10] twopirllc commented on #520
Hey @andrewkenreich,

Please try out the new _development_ branch and see if it's working better.

[code]

Thanks,
KJ

[2022-05-02 23:18] twopirllc commented on #525
@spiritix

Just pushed a new _development_ v0.3.64b update. Much better than previous. 🤞🏼

KJ

[2022-05-04 06:47] spiritix commented on #525
Thanks @twopirllc, I'll check it out soon.

[2022-05-04 10:16] abhijitgawai opened #528 "SSL channel Indicator (Semaphore Signal Level channel)"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
lattest

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to use SSL channel Indicator (Semaphore Signal Level channel)

**Describe alternatives you've considered**
I dont have Any Idea, are there alternatives of SSL channel indicator

**

[2022-05-06 07:23] SkyisjustTheBeginning commented on #340
Well , If you dont import pandas as pd , You could try this  -

`from warnings import simplefilter
simplefilter(action="ignore", category=pandas.errors.PerformanceWarning)`

[2022-05-07 21:38] CMobley7 opened #529 "Possible Bug in Detrended Price Oscillator"
According to https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/dpo and https://www.investopedia.com/terms/d/detrended-price-oscillator-dpo.asp, the `Detrended Price Oscillator: dpo` should be `close.shift(t) - ma`; however, it appears to be reversed in https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/dpo.py#L52. If I'm ri

[2022-05-07 23:52] ruifeng96150 opened #530 "Some Indicators using future data?"
I do a test as following,and possible found more some functions may use future data. pls help to check.

[code]

As we known ,there should be no output, but we got as following. And if we change other time to compare, may got a little different output:

[code]

-----------------------------------------------------------------------
my env:

Python 3.8.10 (default, Mar 15 2022, 12:22:08) [GCC 9.4.0

[2022-05-08 02:01] twopirllc commented on #529
@CMobley7,

Hmmm... Yeah you may be right. I thought I corrected this in #60. 🤦🏼‍♂️  I will take a look at it again. Thanks for the extra eyes.

KJ

[2022-05-08 02:17] twopirllc commented on #530
Hello @ruifeng96150,

There is nothing to fix. TA came long before AI/ML and cheap computing were abundant. There will likely be
indicators that break AI/ML conventions and it is up to the AI/ML developer to decide whether to adjust or
remove/ignore said indicators before building and fitting their models. For more info regarding data leaks,
like **dpo**, please see Issue #60.

Hope this helps!

K

[2022-05-08 03:37] ruifeng96150 commented on #530
Ok, I see. I think it's good to have a parameter to disable indicators that have data leakage when using all.
But thank you all the same.

[2022-05-08 03:39] CMobley7 commented on #529
@twopirllc ,

I read through https://github.com/twopirllc/pandas-ta/issues/60. The new centered version, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/dpo.py#L54, appears to be correct, but the non-centered version, https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/dpo.py#L52, shifts the `ma` instead of the `close`. The previous non-centered version,

[2022-05-08 04:16] twopirllc commented on #530
@ruifeng96150,

First, I recommend upgrading to the _development_ [branch](https://github.com/twopirllc/pandas-ta/tree/development).

[code]

As mentioned on the [README](https://github.com/twopirllc/pandas-ta/tree/development), there is a parameter called ```lookahead``` for both [**dpo**](https://github.com/twopirllc/pandas-ta/blob/f0eed3c24020aefdf9a05a1da8d8f11bc026932c/pandas_ta/trend/dpo.py#

[2022-05-11 04:31] hyxxsfwy opened #531 "FutureWarning: The series.append method is deprecated. Use pandas.concat instead."
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
- 0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
- Nope

**Did you upgrade? Did the upgrade resolve the issue?**
- Yes
- Nope

**Describe the bug**
When calling ta.mcgd(), `FutureWarning` reported.
[code]

**To Reproduce**
`y_smooth = ta.mcgd(series, ma_len)`

**Expected b

[2022-05-11 21:57] twopirllc commented on #531
@hyxxsfwy,

Yes. This has been known since Issue #340. It _may_ be time to "try" to update the place in ```core.py``` with ```concat```.

Also, you should update to the _development_ branch for [reasons](https://github.com/twopirllc/pandas-ta/tree/development)...

[code]

Kind Regards,
KJ

[2022-05-16 17:13] rotemkama opened #532 "VWAP Bands request like IB"
Which version are you running? The latest version is on Github. Pip is for major releases.

[code]

**Indicator addition to match another broker**

Hi,
So kind of new around here, and I've been looking for indicator to match certain behavior of VWAP standard deviation bands like the bands that appears in Interactive brokers management portal .
I've been examining the indicator that has been recent

[2022-05-17 08:38] JIMBOB32 commented on #421
thank you so much for that explination :)

[2022-05-19 08:56] AndreyStille opened #534 "custom columns for functions"
Would you mind adding custom columns for functions? Like SMA for volume, not only for close
Can't understand such humans who do huge work but are still completely useless, nevertheless people appreciate those(2500 stars)
Dear God help me!!!

[2022-05-19 09:06] #534 closed

[2022-05-19 15:58] twopirllc commented on #532
Hello @rotemkama,

That's good. At least the core value, **vwap** is consistent. But it is clear that the IB bands are not the same as the bands in this library.

When I use the IB vwap settings you use, I do not get all 10 channel lines like your IB candle/vwap. I just get the **vwap** and the _upper_ and _lower bands_ for the given standard deviation. I assume you have four other settings for th

[2022-05-22 09:18] giusepic commented on #523
same here - issue happens if csv has too few rows - any updates?

[2022-05-22 13:17] xucian opened #535 "ema, stoch are affected by values outside their area of interest"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
pandas-ta-0.3.14b0 (main)
pandas-ta-0.3.65b0 (development)

**Do you have _TA Lib_ also installed in your environment?**
TA_Lib-0.4.24-cp38-cp38-win_amd64.whl

**Did you upgrade? Did the upgrade resolve the issue?**
already at the latest version

**Describe the bug**
EMA600's values are influenced by va

[2022-05-22 21:58] twopirllc commented on #520
@andrewkenreich,

Closing till you can confirm that the latest _development_ branch is working as intended.

Thanks,
KJ

[2022-05-22 21:58] #520 closed

[2022-05-22 22:31] twopirllc commented on #523
@imomin & @giusepic,

Nearly all indicators in commit: https://github.com/twopirllc/pandas-ta/commit/bfb96547382d3e495965b2cdbca91d873111f9fe on May 2nd have been updated to not compute the indicator nor append to the DataFrame when using ```df.ta.study()``` if it doesn't meet a minimum length (**macd** included). This is related to Issue #520 where there are not enough rows/observations/bars/cand

[2022-05-22 22:36] twopirllc commented on #530
Hello @ruifeng96150,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-05-22 22:36] imomin commented on #523
@twopirllc
I am using latest dev build and it working fine.

[2022-05-22 22:39] #524 closed

[2022-05-22 22:42] twopirllc commented on #492
Hello @MerlinR,

Some updates to _development_ branch this past month should handle and DataFrame size of at least 1 row now.

[code]

If you could give it a test and let me know what you think, that would be great!

Thanks,
KJ

[2022-05-22 22:46] twopirllc commented on #479
Hello @prRZ5F4LXZ,

Have you had an opportunity to test it the **vwap** bands graciously provided by @austinvdubs that's on the _development_ branch? If not, please give it a go so I can close the request.

[code]

Kind Regards
KJ

[2022-05-22 22:50] twopirllc commented on #413
Hello @arshpreetsingh,

Alas **mama** (& **fama**) are complete; combined into **mama**. They are available on the _development_ branch.

[code]

Please test it out when you get a chance.

Kind Regards,
KJ

[2022-05-22 23:08] twopirllc commented on #523
@imomin,

Thanks

[2022-05-22 23:47] imomin commented on #523
No, thank you!

[2022-05-23 10:10] #530 closed

[2022-05-23 17:04] twopirllc commented on #534
@AndreyStille,

You can do it through the use of a custom study().

[code]

But I assume that is not enough? As the most active maintainer of this package, I always appreciate others that chip in when they can to support the package for _all_ users whether they incorporate additional features, fix bugs, improve documentation, et al. This is beyond a free solo project. 😎

You are more than welcome

[2022-05-24 15:09] manjrem commented on #388
Thanks Kevin!Will test and respond in next two days.On 24-May-2022 20:22, Kevin Johnson ***@***.***> wrote:
Hey @manjrem,
I believe it is fixed this time... finally! Please try out the development branch and let me know.
$ pip install -U ***@***.***
If you do not respond, I will be closing this issue.
Thanks,
KJ

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving th

[2022-05-25 02:40] twopirllc commented on #535
Hello @tfgstudios,

Pandas TA is _largely_ a Python implementation of TA Lib (and some _few_ TradingView indicators) and thus the _default_ mode for this Open Source implementation.

<br>

For the sake of brevity, I am only addressing **ema**.

This bug/feature sounds remarkably similar to Issue #420, TA Lib and it's [Unstable Period](https://ta-lib.org/d_api/ta_setunstableperiod.html) as well as

[2022-05-25 06:41] tfgstudios commented on #535
Hi @twopirllc
Thanks for the detailed answer!

I'm not sure I understand this part: '_It is clearly evident that pta_ema10 (green line), in this case, adheres to_'
1. why is clear?
2. why does the green line start from the very beginning while the orange one (and the red one that's supposedly beneath it) starts latter? Any values at positions 0, n-2 should be NaNs for EmaN (since it's not possible

[2022-05-25 16:11] twopirllc commented on #535
@tfgstudios,

Regarding **ema**, it made more sense to rename the argument ```sma``` to ```presma``` from _v0.3.14_ to _development_.

The _development_ branch is equally stable as it's former self, _v0.3.14_ and better. Whether you decide to use the _development_ branch or not, I will not be supporting _v0.3.14_ as it will get replaced by a future version of the _development_ branch after complet

[2022-05-28 12:30] bibinvargheset commented on #452
Added tc bc and range% for pivot
[code]

[2022-05-30 05:50] manjrem commented on #388
Hi @twopirllc

df.ta.study("All", append=False) or df.ta.strategy("All", append=False) is working as expected.

Thank you so much for accommodating and incorporating the request.

The only things which seems amiss about the output is that the output of df.ta.strategy("All", append=False) is not getting assigned to df_neo when executing  "df_neo = df.ta.strategy("All", append=False)"

[2022-05-30 23:17] #523 closed

[2022-05-30 23:18] #413 closed

[2022-06-01 18:12] Jnaneshnayak opened #537 "Bollinger Bands is showing wrong data"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
- Bollinger Bands is showing wrong data for 7 decimals.
- All BBL, BBM, BBU are all same value.

**To Reproduce**
Applied Strategy:  **{"kind"

[2022-06-02 19:09] twopirllc commented on #537
Hello @Jnaneshnayak,

Since you stated you have **TA Lib** installed in your environment then the default calculation is ```talib.BBANDS()``` which not a bug in **Pandas TA**. This is a known precision Issue with TA Lib with more details discussed [here](https://github.com/mrjbq7/ta-lib/issues/157) and [here](https://github.com/mrjbq7/ta-lib/issues/151).

In short, there are two options (or a comb

[2022-06-03 00:58] keith5551 opened #538 "psar() parameters"
Apologies for this very basic question.  I'm developing an FX trading system, and learning to use Python + Pandas-TA along the way.

With this statement:

`psardf = ta.psar(high=psar_df["high"], low=psar_df["low"], close=psar_df["close"], start=0.01, step=0.01, max_step=0.2, fillna=True)`

I've used 'start', 'step', 'max_step' parameters to initialise the psar().  Is this correct?

I've run it, an

[2022-06-03 16:17] twopirllc commented on #537
@Jnaneshnayak,

No worries.

Yeah, that's the quick fix.

Yeah, it seems difficult but not really. Just a little manual work then the majority of precision issues are taken care of.

Not touching that! 🤣  Have other things I want to build someday.

Thank you!
KJ

[2022-06-03 16:57] twopirllc commented on #538
Hello @keith5551,

First if you are not using the _development_ version, you should. (Better performance, documentation, et al...)

[code]

Second, for help on an indicator:
[code]

Those are the _correct_ parameters that ```help(ta.psar)``` describes. However _start, step and max_step_ have no effect; they are not valid _psar_ arguments in Pandas TA. Given your code above, I would replace _start_

[2022-06-03 17:43] Ben0ni opened #539 "some of psar results are not same as Tradingview"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
My pandas_ta version is the latest: 0.3.14b0.

**Is your feature request related to a problem? Please describe.**
[code]
the result is:
![image](https://user-images.githubusercontent.com/103304331/171917018-c56bc201-7c78-4c56-8645-1183c6c0f368.png)
there are some differences with tradingview:
![image](h

[2022-06-03 21:38] keith5551 commented on #538
Thanks Kevin for your comprehensive response.  Very much appreciated.  This has helped me greatly.

Cheers. Keith

[2022-06-03 21:38] twopirllc commented on #539
Hello @Ben0ni,

Please update to the _development_ version and let me know if you have the same issue.
[code]

There was an initial index increment requested in [here](https://github.com/twopirllc/pandas-ta/issues/424) for the _for_ loop.

It is sometimes difficult to match TV. 😐  But if you can figure it out, would appreciate a PR. 😎

Kind Regards,
KJ

[2022-06-04 06:35] Ben0ni commented on #539
@twopirllc
![image](https://user-images.githubusercontent.com/103304331/171987652-2ecf9eed-7a79-43a2-8413-861a99ed440f.png)

I did the update.
However, the result is totally the same as before.
![image](https://user-images.githubusercontent.com/103304331/171987715-06bb1e68-ed32-4ab5-b1fc-e17243fb3da6.png)

[2022-06-04 07:04] twopirllc commented on #539
@Ben0ni

Damn!

Like I said, it is sometimes difficult to match TV. 😐 For more info, see https://github.com/twopirllc/pandas-ta/pull/311
If you can figure it out, we would appreciate a PR. 😎

Kind Regards,
KJ

[2022-06-05 09:19] AbyssAlora commented on #539
Hi guys,

I think that it is really hard to maintain issues like this. I've made some tests. Sorry, I wrote this code in few min and did not see python for a long time.

[code]

Output:
[code]

The one and only difference between TV and Pandas TA is that TV calculates starting SAR in much simple way. I think that TV starts with Long PSAR and previous low. Pandas TA uses DM. This is not an issue in

[2022-06-05 11:51] AbyssAlora commented on #539
Hi guys,
I am really sorry for my spam, but i little bit more dig into this issue and found that @Ben0ni is right. I found that SAR after reverse is sometimes different. Here is the original version of PSAR from Pandas TA:

[code]

ParabolicSAR -> TV version (exported)

The output for correlation (warmup period is ignored):

[code]

You can see the row 43 where Pandas TA is `7871.1700` and TV is `

[2022-06-06 02:14] A-Salimi-A opened #541 "Vidya calculation result is wrong number"
Dear friends

Vidya calculation result is different number from original source: https://www.tradingview.com/script/hdrf0fXV-Variable-Index-Dynamic-Average-VIDYA/
For example in the NEARUSDT chart at 1h timeframe with vidya(close , 9), tradingview result was 5.355 but python ta.vidya result was 4.178

Fix it Please

Thanks

[2022-06-06 02:16] Philip030601 opened #542 "Fisher Transform based on 5 day rolling average of High and Low prices"
I'm new to Pandas TA and this maybe a newbie problem but I tried to use the Fisher Transform (ft) indicator using a 5 day rolling average of High and Low prices based on a dataframe of typical daily stock prices.  I calculated the 5 day rolling average to simulate rolling weekly prices.  My code to calculate the ft is below and got a "ValueError: Wrong number of items passed 2, placement implies 1

[2022-06-06 03:13] twopirllc commented on #541
Hello @A-Salimi-A,

Please fill out a proper bug report!

Kind Regards
KJ

[2022-06-06 03:13] #541 closed

[2022-06-06 03:30] twopirllc commented on #542
Hello @Philip030601,

I don't know what version you are on, but please use the _development_ version:

[code]

In #86, a signal line was added. Thus it returns a DataFrame with two columns and not a Series (a single column). You are receiving that Pandas [ValueError: Wrong ...](https://www.google.com/search?q=pandas+value+error+wrong+number+of+items+passed) because you are attempting to stuff two

[2022-06-06 03:31] #538 closed

[2022-06-06 03:32] #537 closed

[2022-06-06 05:22] Philip030601 commented on #542
kevin,

 Thanks for the help.  Hope all is well. Before I installed your new
revision, I tried to uninstall the old pandas-ta.  Got the error below. To
brute force the situation and not knowing what else to do, I tried to
install the new version anyways and also got the error in the lower section
of the attachment below.    The version I have on my computer is 3.14b0

Best Regards,

[image: image.

[2022-06-06 06:08] Ben0ni commented on #539
@AbyssAlora
Thanks, it works.
Now the result is all the same.

[2022-06-06 11:12] 35cruze35 opened #544 "PYTHON"

[2022-06-06 18:27] twopirllc commented on #544
🐍

[2022-06-06 18:27] #544 closed

[2022-06-07 06:36] Philip030601 commented on #542
Hi Kevin,

I dont have git installed and I will look into it.  Please confirm that I
have to delete the old pandas-ta before I install the new one you provided.

On another note, I used the code you provided above (df["FisherW"] = ta.
fisher(df["SMA5H"], df["SMA5L"], length=9, signal=1, offset=0).iloc[:,0])
and got NaN for my FisherW. Code I used to try it out is copied below.
Looks like the code

[2022-06-07 19:04] twopirllc commented on #388
Hey @manjrem,

Great! Also ```ta.strategy()``` is depreciated in lieu of ```ta.study()```.

No problem. Thanks for your patience.

<br/>

### Amiss

I asked this exact question on 2/20:

You replied:

Based on that response, I understood that the resultant TA did not need to be returned, _only_ printed.

I do not have a time frame of when to attempt again with so many outstanding issues and other

[2022-06-07 19:47] Son-Sam opened #545 "Vidya indicator calculated results are not same as tradingview"
**Which version are you running?
The last version : (from python-dateutil>=2.8.1->pandas->pandas-ta==0.3.14b0)

**Is your feature request related to a problem? Please describe.**
The result of vidya function  ta.vidya(df["Close"],length=7).iloc[-1] not equal with tradingview
![vidya](https://user-images.githubusercontent.com/66446463/172468561-fb013491-4bbf-4afb-8f6a-d0ce3cbc52d6.jpg)

**Describe

[2022-06-07 21:21] twopirllc commented on #542
Hi @Philip030601,

Git is easy to install. Numerous tutorials online.

It is best to remove PTA before installing a new version.
[code]

Also, your image did not come through. It won't come through via email if that's how you are replying. You need to drag and drop it in the comment box.

I understand. I "think" the issue is because of the smoothed highs and lows are throwing off the computation.

[2022-06-07 21:52] A-Salimi-A commented on #545
First thank for reply

I export data from tradingview and checked all of them by bar to bar.
the data is as same as each other and completely match but results are not same in vidya indicator (ta.sma and ta.wma results are same as tradingview then we can interpret the source data is same)

![ae](https://user-images.githubusercontent.com/66446463/172487722-957fc527-29ab-48f3-952b-014d31bc25c1.jpg)

[2022-06-07 22:01] twopirllc commented on #545
@A-Salimi-A

I assume that is Everget's VIDYA column from TV script you linked above?

Please upload the _csv_ here that you posted in the image.

Thanks,
KJ

[2022-06-07 22:07] A-Salimi-A commented on #545
[BINANCE_NEARUSDT, 60 (1).csv](https://github.com/twopirllc/pandas-ta/files/8856855/BINANCE_NEARUSDT.60.1.csv)

last 50 bars in csv file its begin from row 251

best regards

[2022-06-07 22:53] A-Salimi-A commented on #545
![aaa](https://user-images.githubusercontent.com/66446463/172495906-1d782d4f-25c3-4b6c-a393-c30f15a9ccb2.jpg)

Pandas_ta and tradingview setting for VIDYA is same length = 7

[BINANCE_NEARUSDT, 60.csv](https://github.com/twopirllc/pandas-ta/files/8856995/BINANCE_NEARUSDT.60.csv)

[2022-06-08 02:04] twopirllc commented on #545
@A-Salimi-A,

That helps a lot. I'll get to when I can.

Thanks,
KJ

[2022-06-08 09:19] Son-Sam commented on #545
Dear @twopirllc

Hope this help to fix this issue:

pandas_ta vidya formula include vidya.iloc[i - 1] and this values are Nan or replaced with zero for first values
vidya indicator in TV can calculate length for 1 period, but pandas_ta cant calculate for 1 period.

Best Regards

[2022-06-08 15:38] twopirllc commented on #545
Hello @Son-Sam,

Thanks for chiming in!
I don't quite get what you mean. Does this fix work? If so, could you please submit a Pull Request (PR). If not, please post share relevant code.

Kind Regards,
KJ

[2022-06-11 20:59] tiagomakoto opened #546 "PSAR af0 used as af"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Describe the bug**
I might have misunderstooded the idea but af0 = 0.01, af = 0.02 and I got 'af0' being used as 'af' and 'af' being ignored.

**To Reproduce**
[code]
**Expected behavior**
First 'af0' used after reversal as 0.01, and after new EP 'af's new values should be 0.03 (af0 +

[2022-06-12 15:56] Philip030601 commented on #542
Hi Kevin,  Hope all is well.  I can imagine how busy your are.  I have downloaded git and learning to use it as well as github.  I also downloaded the source code for pandas ta and amazed at all the indicators and code.  Thanks for making all of it available.  I am new to all this including python but will continue to strive to learn.

I get an error when I try uninstalling pandas ta by. "pip unin

[2022-06-13 03:33] twopirllc commented on #546
Hello @tiagomakoto,

Hmmm... that doesn't sound good! Thanks for bringing it to my attention.

Out of curiosity, does it also not work for the _development_ branch?

[code]

In any case, **psar** is being re investigated for Issue #539 and PR #543 so I will add this to the list to double check.

Kind Regards,
KJ

[2022-06-13 03:38] twopirllc commented on #542
Hello @Philip030601,

Thanks! Hope you and your family are doing well also.

Unfortunately, I do not use Anaconda on Windows. But what you have is a Windows permissions problem. I would try uninstalling pandas_ta from Anaconda and see if that helps. If not, I would start with this [Google Search](https://www.google.com/search?q=windows+anaconda+permission+denied) and triage from there.

Hope that

[2022-06-13 08:09] AbyssAlora commented on #546
Hi guys,
tell me if I am wrong but I think that there is "start_af" missing.

Something like:
[code]

Best,
AbyssAlora

[2022-06-13 13:31] tiagomakoto commented on #546
@twopirllc and @AbyssAlora , thank you for your prompt response!

I believe something is missing here:

``
if reverse:
            _sar = ep
            af = af0
            falling = not falling # Must come before next line
            ep = low_ if falling else high_

        sar = _sar # Update SAR

# ensure af will be set to af params
        af = af

''

After reverse the very first af should

[2022-06-13 13:52] tiagomakoto commented on #546
[code]
0.3.67b0

![after dev install](https://user-images.githubusercontent.com/83591107/173369047-dd866fd3-0eec-442c-9cce-d49b552ff3c0.jpg)

And it still happens

[2022-06-13 16:25] AbyssAlora commented on #546
Hi @tiagomakoto ,
sorry but as you can see my english is not so good and maybe I misunderstood something or I am not able to understand everything in the right way. I thought that bug you described is, that after passing AF0 as parameter the AF0 is used after reversal as Acceleration Factor (AF) and AF is incrementing by AF0 when H/L reaches Extreme Point (EP). It leads to the ignoring AF as the A

[2022-06-13 16:37] twopirllc commented on #546
Hey @tiagomakoto and @AbyssAlora,

Thanks @tiagomakoto for verifying that it is also happening on the _development_ branch.

Also, the **only** code that matters right now is on the _development_ branch. Here is the [psar](https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/trend/psar.py) for the _development_ branch.

Furthermore, there is more than ```af0``` that needs to be fixed,

[2022-06-13 17:29] vivekruhela opened #547 "Indicator for moving average of volume"
Hi,

I am looking for the moving average indicator for the volume so that I can track volume also. Is there any indicator in pandas-ta for the same purpose? If yes, please let me know.

[2022-06-14 01:36] krazykoder commented on #354
Just reopening this post. I observed TALIB `STDDEV` and pandas_ta `std_dev` generates different output. A reference to this issue is noted here as well https://github.com/mrjbq7/ta-lib/issues/69#issuecomment-901135607

But I just wanted to confirm with others that pandas_ta standard deviation should be safe to use right since it matches my final indicator calculations cross referencing tradingview

[2022-06-14 04:18] krazykoder commented on #354
Closing this issue, I found the answer in the same talib post (did not read fully sorry!)

While using TALIB need to add `nbdev` parameter which is `np.sqrt(length / (length - 1)`
[code]

[2022-06-14 14:15] AGDholo commented on #452
Hi @bibinvargheset , I'm new here and new use the pandas-ta,
I copied your code into my file, and I wrote this code:
[code]
The error print:
[code]

How can I fix it? Thank you

[2022-06-14 14:28] bibinvargheset commented on #452
Remove this code an try , I just added some part orginal code is from above discussion
[code]

[2022-06-14 14:39] AGDholo commented on #452
Big thanks! Everything is working fine

[2022-06-14 18:16] twopirllc commented on #547
Hello @vivekruhela,

There is no moving average whose default source is ```volume```. So you have to override the default source ```close``` with ```volume```. Additional examples are under the **Programming Conventions** section of the [README](https://github.com/twopirllc/pandas-ta#programming-conventions) including overriding the default sources like ```volume```.

In short, for you use case...

[2022-06-15 01:40] hakumaku commented on #346
@twopirllc

I still see the problem with v0.3.14b. I currently use `talib=False` to work around, but I want to know what result  I'm getting is when I set `talib=True`.

The expected result of the first macd is `-55.390257`.

[code]

[code]

[2022-06-15 02:09] DavidEBrumbaugh opened #549 "Potential bug with large chained custom strategies"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
[code]
Yes
TA-Lib               0.4.24

Most of my custom indicators rely on TA-Lib.

**Did you upgrade? Did the upgrade resolve the issue?**
[code]
Yes I did install the latest.  No it didn't help.

**Describe the bug**
A cle

[2022-06-15 21:59] DavidEBrumbaugh commented on #549
I have a workaround

Seems to be related to the number of cores and I expect it's multiprocessing .

Not sure what a long-term fix would be.
[code]

[2022-06-15 22:32] twopirllc commented on #549
Hello @DavidEBrumbaugh,

Hmmm... quite a few things to unpack here. Especially since you have ```ht_dcperiod```, ```minvp```, ```maxvp```, and ```mav``` which are not part of this library yet, so I am a little confused how Pandas TA (PTA) is even processing them. I plan to include the rest of the ```ht_*``` indicators before updating the **main** branch. So are you running ```ht_dcperiod``` somewh

[2022-06-15 23:07] DavidEBrumbaugh commented on #549
Thanks KJ - yes it does help a lot.

As to your question I used ht_dcperiod as a custom indicator ...
All of my custom indicators use HT so I'm just building a ton of custom indicators....

![image](https://user-images.githubusercontent.com/9807615/173956371-92434974-56fb-4a65-b316-6fa1ba70ff2e.png)

[code]

[2022-06-15 23:15] twopirllc commented on #549
@DavidEBrumbaugh

Excellent! Thanks for your patience.

All of my custom indicators use HT so I'm just building a ton of custom indicators....

Gotcha!
Yeah my goal is to finish the rest of the ```ht_*``` indicators before updating the _main_ branch and pip. Of course I will be wrapping the TA Lib ones as well like you did in the previous comment.

That's what I thought. Just wanted to make sure.

[2022-06-17 03:38] twopirllc commented on #547
Hello @vivekruhela,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-06-17 05:21] vivekruhela commented on #547
Issue solved. Thanks

[2022-06-17 05:21] #547 closed

[2022-06-18 03:11] twopirllc commented on #346
Hello @hakumaku,

Yeah. That's not what is intended. 🤔  Thanks for letting me know.

I'll reopen and take a look at it again when I get a chance. Unfortunately I am overwhelmed with so many outstanding issues, I do not have an expected time frame to resolve this. 😑

Kind Regards,
KJ

[2022-06-18 23:23] Karlheinzniebuhr commented on #479
is there documentation on how to enable the bands?

[2022-06-24 17:07] moewiee commented on #452
@bibinvargheset I found that your implementation use Open/Close/High/Low of the current day, not the previous day, which will cause a very serious leak

[2022-06-26 16:43] bibinvargheset opened #552 "Optional removal of length from col_names and custom names"
When we are writing strategies  we might not need the suffixes of lengths or parameters used . Those parameters may be changed later and will result in breaking the code or need to adjust the code every time we adjust parameters. It is already possible in custom stratergies but not working in default strategies.
df.ta.ma(length=100, suffixes=False)  giving a clean col name of MA would be good.
[co

[2022-06-28 02:11] malakeel commented on #452
Can you please confirm the data is only OHLCV ?
I am getting an error about not finding 'index'. I will highly appreciate an example on how to load data and use the pivot function.

[2022-06-28 06:31] bibinvargheset commented on #452
Pivots require time

[2022-06-29 03:43] malakeel commented on #452
When using fibonacci, r1=r2:
`
        a["r1"] = a.p.values + 0.382 * a.pivot_range.values
        a["r2"] = a.p.values + 0.382 * a.pivot_range.values

`

[2022-06-29 08:39] gugeswe opened #553 "RSI_14 not the same ?"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear and concise descript

[2022-06-29 17:21] RAPER200X opened #554 "Tradeogre with pandas-ta"
Hi
how to apply it to the tradeogre ?? here I have a code for a simple bot for this exchange, but I would like to add indicators like Rsi, Macd Ema etc. to it. It is possible at all with this exchange. here is my channel with code
https://github.com/RAPER200X/TO-TRADER

[2022-06-30 02:40] gam-phon opened #555 "VWMA calculation is werid"
I think VWMA calculation is werid, since it does not take the **weighted by recent value** into consideration.
It uses

[code]

for wma calculation [check out this](https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/wma), it should use the same with adding volume as an additional parameter

[code]
right? what do you think?

TradingView is using

[2022-06-30 02:55] gam-phon commented on #555
I think:
WMA is weighted based on recent
VWMA is weighted based on volume instead of recent

if that is the case. then please feel free to close this

[2022-06-30 12:36] ismail-invict opened #556 "ichimoku cloud is a delayed 1 day"
when I use ichimoku indicator and check with the tradingview default ichimoku cloud, values calculated with this package seems 1 day delayed.
In other words, as an example values seen on 28th June on tradingview are written to Dataframe to date 29th June. So it creates 1 day mismatch

[2022-06-30 14:50] twopirllc commented on #556
Hello @ismail-invict,

Thanks for letting me know. When I get a moment to verify the claim or someone else can verify it, then it will be fixed. In the mean time, I recommend modifying your local copy to address the issue for your case. Of course you are also welcome to submit a Pull Request (PR) with the adjustment. 😎

Lastly, I recommend using the _development_ version if you are not already.
[c

[2022-06-30 17:47] hanging-man opened #557 "issue with macd"
i have a code which looks like this

[code]

since last 4 days I am getting an error with MACD calculation

I am copy pasting the error message below.

I have very basic knowledge of python, so any help on how to circumvent this issue would be of great help.
Thanks.

[code]

[2022-06-30 18:26] twopirllc commented on #557
Hello @hanging-man,

Which version of Pandas TA are you running? Do you have TA Lib installed? Has it been working before the previous 4 days? Do you have more code that you are leaving out to share so someone can replicate the Error? Since this is a Pandas Error and not a Pandas TA Error, have you searched [here](https://www.google.com/search?q=ValueError%3A+cannot+reindex+on+an+axis+with+duplica

[2022-06-30 18:36] twopirllc commented on #554
Hello @RAPER200X,

Once you get your data from TradeOgre/Binance, you need to ideally [convert](https://www.google.com/search?q=pandas+json+to+dataframe) (it seems you have JSON, so you need to make a Pandas DataFrame) it to a Pandas DataFrame and then use the examples on the [README](https://github.com/twopirllc/pandas-ta) to add indicators. Also I do not have a TradeOgre account so I can not tes

[2022-06-30 20:32] twopirllc commented on #554
@RAPER200X,

Have you tried converting the json to a Pandas DataFrame yet?

[2022-07-01 04:07] gam-phon commented on #555
@twopirllc
Thank you so much. I really appreciate it.

[2022-07-01 04:07] #555 closed

[2022-07-01 17:02] hanging-man commented on #557
I would like to thank you for pointing out that this is a pandas error and not a pandas ta error. I couldn't have figured that out. However after that I tried to do some research as to where problem was and figured out that data from two dates in may had duplicate values. After I rectifed it the code ran.
Please pardon me for asking such a silly question. I have very basic programming skills.
Than

[2022-07-01 20:06] dominiquegarmier opened #558 "annotating `*` imports in `pandas_ta/__init__.py` and `pandas_ta/core.py` with `__all__`"
Currently the following is Possible
[code]
This is because of the `*` import on the following line.
https://github.com/twopirllc/pandas-ta/blob/2a24fdc1b69110332db39eda9723a628f75eaf7a/pandas_ta/__init__.py#L116
I suggest adding `__all__` objects to `pandas_ta/core.py` and all nested `__init__.py` files. ([see Python docs](https://docs.python.org/3/tutorial/modules.html#importing-from-a-package))

[2022-07-02 06:51] bibinvargheset commented on #552
[code]

can be tranformed as
[code]

or
[code]

[2022-07-02 06:58] bibinvargheset opened #559 "chandelier_exit"
Here is a code that i have written for chandelier_exit, if possible add to repo

[code]

[2022-07-02 07:04] bibinvargheset commented on #552
Another good change would be "col_numbers": (1,) in direct calls and df calls
`df.ta.bbands(length=20,append=True, col_numbers= (1,))`
`ta.bbands(df,length=20,append=True, col_numbers= (1,))`

[2022-07-02 13:06] casper-hansen opened #560 "The cross function has a bug"
When both inputs are zero or null, it will always say there is a cross below and never a cross above on two series of data.

[code]

![image](https://user-images.githubusercontent.com/27340033/177002051-d3da04b6-342d-430e-854d-dd57f452b761.png)

[2022-07-02 13:33] casperbh96 commented on #560
I implemented a quick fix for when values are null. The real solution to this bug should also include if both are zero.

[code]

[2022-07-02 18:35] twopirllc commented on #560
Hello @casperbh96,

Right. I am aware of this and Issue #500. Does your fix also help resolve #500? Also I am trying to improve performance for future releases, such as the _development_ branch, with _numpy/numba_ versions. So if you could make a _numpy_ version, that would be appreciative. 😎

Kind Regards,
KJ

[2022-07-02 18:49] twopirllc commented on #559
Hi @bibinvargheset,

Sure. It can be added. Hopefully someone can convert it to proper method and make a PR so it can be included. 😎

Kind Regards,
KJ

[2022-07-02 19:02] twopirllc commented on #557
@hanging-man,

No worries. Glad you were able to figure it out and resolve the duplicated values. 😎

As a new programmer, I understand there is a lot to digest and it can be overwhelming when you see a wall text in a Stack Trace. The good news is, you are not likely to be the only one to receive such an error and many of them have possible solutions already via a search. Keep programming and you w

[2022-07-03 09:43] 9gl commented on #559
Hey @twopirllc  , I'm interested in contributing to this issue, so before I start working on it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started

[2022-07-03 11:54] gam-phon opened #563 "Ulcer Index development version vs main version"
Ulcer Index

in development version: I am ignoring everget
[code]

In development version, sometime I am getting `RuntimeWarning: invalid value encountered in sqrt` after searching about it, I found there is a _ui value with negative and doing sqrt with negative result the error. I do not know why I am getting negative! I have revise the data of close. it looks normal and no negative in close

d2

[2022-07-03 12:53] gam-phon commented on #563
Sorry, please remove this

[2022-07-03 14:58] bibinvargheset commented on #559
@9gl the code i shared is working, but needs  structural changes to be, check psar.py or similar indicator and update to have similar structure and functionality

[2022-07-03 15:03] 9gl commented on #559
@bibinvargheset Sure will do.

[2022-07-03 18:00] twopirllc commented on #559
Hi @9gl,

Thanks for your interest in taking this on. 😎

First, make sure you are using the _development_ branch. [README](https://github.com/twopirllc/pandas-ta/tree/development)

[code]

Second, follow [Creating a Custom Indicator: The Big 4](https://github.com/twopirllc/pandas-ta/issues/355) to add an indicator and hook it up to the DataFrame Extension.

Notes:
* _chandelier_exit.py_ should not

[2022-07-05 10:07] RAPER200X commented on #554
@twopirllc

Like this???

import requests
import pandas as pd

r = requests.get('https://tradeogre.com/api/v1/markets')

j = r.json()

df = pd.DataFrame.from_dict(j)
print(df)

i don't understand :|

[2022-07-05 11:04] casperbh96 commented on #560
No, it does not solve the issue as none of your code takes null values into account. Numpy version is not hard to implement if you have the time.

[2022-07-05 18:14] twopirllc commented on #560
Thanks

[2022-07-06 23:45] pandodaniel commented on #556
There seems to be an issue with the shifting of the span to the second (future) DataFrame. As a work around while this is not solved, you can use the first Span A and Span B values of the second (future) DataFrame, as those are the correct ones for the latest closed candle. Hope I've helped

[2022-07-07 07:30] mohsenjavidpanah opened #564 "Same code generate different results on different machines"
I ran the code on two different machines:

First Machine Python & libraries versions:

Python:

[code]

Libraries:

[code]

First Machine Python & libraries versions:

Python:

[code]

Libraries:

[code]

**Describe the bug**
My code calculating Bollinger Band by using pandas_ta but i saw different results!!!

**Screenshots**

First Machine:

![Screenshot from 2022-07-07 06-08-44](https://user-ima

[2022-07-09 17:25] twopirllc commented on #564
Hello @mohsenjavidpanah,

Given the identical Python versions and libraries of Pandas TA _v0.3.14b_ and TA Lib _v0.4.24_, I _assume_ your code is executing TA Lib's **BBANDS** calculation by default since you **decided** to omit reproducible code and other potentially relevant information as requested in the Bug Report. 🤷🏼‍♂️

It's possible your non working machine has a broken Python environment

[2022-07-09 17:25] #564 closed

[2022-07-09 17:29] twopirllc commented on #563
Hello @gam-phon,

Yeah, that is odd. Hopefully someone can also help resolve this Issue.

Only you would know if your data is corrupted. However, I am assuming there is something funny happening in the calculation.

You can do that if you desire. You will need to modify your local _ui.py_ to ignore it until a patch is made.

Kind Regards,
KJ

[2022-07-13 00:52] FunckyMonkey commented on #448
I' running into the same issue.
I'm using PandasTA-v0.3.14b
I have TA-Lib installed
The coding was done in PyCharm
I've also include the dataset used in the code below
The dataset is from a YouTube tutorial found here [](https://www.youtube.com/watch?v=0XfcnDAVY7Y)

I'm going to presume that the 'anchor' parameter is bases on the 'frez' parameter in pandas. Both is based on the same timeseries off

[2022-07-13 00:56] FunckyMonkey commented on #448
I' running into the same issue.
I'm using PandasTA-v0.3.14b
I have TA-Lib installed
I've also include the dataset used in the code below
The dataset is from a YouTube tutorial found here [](https://www.youtube.com/watch?v=0XfcnDAVY7Y)

I'm going to presume that the 'anchor' parameter is bases on the 'frez' parameter in pandas. Both is based on the same timeseries offsets as per [](https://pandas.p

[2022-07-17 18:19] #479 closed

[2022-07-17 18:41] twopirllc commented on #448
Hello @FunckyMonkey,

Thanks for providing a detailed comment with sample code. It helps a lot. 😎

Correct. Pandas works as intended. It only handles _base_ anchors (H, M, T, ...) and not their multiples (2H, 5M, 10T, ...). 🤔 Surprised that they do not have a built in anchor string parser like you have provided... or I am not looking in the right place.

I'll check out the Anchor parser when I get

[2022-07-20 02:44] hakumaku commented on #522
The reason adx value is different is while TradingView handles the initial value differently, pands-ta does not.

I faced this issue recently, and I don't know about the very detail of adx indicators, but I figured out where the difference comes from by looking at the code.

As you might know, rma depends on the previous value to get the current value. How to set the first value of rma seems to va

[2022-07-20 03:42] hakumaku commented on #522
source code

[code]
distributed version

[code]
dev version

[code]

fixed method
[code]
[code]

[2022-07-21 18:11] souresia opened #565 "Dev branch: TypeError: bind() takes 2 positional arguments but 3 were given"
I've upgraded to the development branch and while trying some custom indicator I get:

[code]

In custom.py something doesn't look right as here we call bind with 3 arguments:

https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/custom.py#L198

whereas bind() only has 2:

https://github.com/twopirllc/pandas-ta/blob/development/pandas_ta/custom.py#L14

Perhaps it's an ongoing work but

[2022-07-24 05:32] bibinvargheset commented on #452
`from numpy import NaN, select
from pandas import DataFrame, to_datetime, infer_freq
from pandas_ta.utils import is_datetime_ordered, verify_series

def pivots(_open, high, low, close, anchor=None, method=None):
    _open = verify_series(_open)
    high = verify_series(high)
    low = verify_series(low)
    close = verify_series(close)
    anchor = anchor.upper() if anchor and isinstance(anchor, s

[2022-07-24 05:33] bibinvargheset commented on #452
corrected

[2022-07-25 03:47] dkaralis opened #567 "'DataFrame' object has no attribute 'ta'"
Hello, trying to start using pandas_ta and I get this error.
I found a similar issue but the solution didn't worked for me.

Thank you

![Screenshot 2022-07-25 at 06 43 11](https://user-images.githubusercontent.com/1788507/180695114-72193c15-3e60-4b87-989b-7f17e724f1a6.png)

[2022-07-25 18:23] twopirllc commented on #452
Hello all!

Great to see the collaborative progress of Pivot Points being worked out here. 😎

Would any of you: @AGDholo, @bibinvargheset, @drixie, @idristarwala, @malakeel, @moewiee, @xfo-0 want to submit "the best" _current_ working version as a PR yet?

KJ

[2022-07-25 18:44] twopirllc commented on #565
Hello @souresia,

Gotcha!

So you are trying to create a custom indicator in a custom directory? Also which version of the _development_ branch are you on? I assume ```vwapro``` is your custom indicator?

I appreciate it.

Looks like the 3rd argument on Line 14 in custom.py is never used, hence I commented it out and didn't finish refactoring it. Can you locally try removing the 3rd argument on Li

[2022-07-25 19:34] MerlinR commented on #492
Hey @twopirllc
Appoligies for LONG delay, can confirm this appears to be resolved.
Thanks for the hard work!

[2022-07-25 20:23] twopirllc commented on #522
Hi @hakumaku,

I have a lot of 🔥s, so I appreciate the explanation and code to help to fix this Issue. 😎

Since your code meets ⬇️, please make a PR. 😎

Kind Regards,
KJ

[2022-07-25 20:23] #492 closed

[2022-07-25 22:12] ISMAILHKYILDIZ opened #568 "value errors on Chaikin Money Flow (cmf)"
this is stock independent, use any stock values generated by ta.cmf function are completely different from values in Tradingview CMF20.

[2022-07-26 16:27] hamedf62 commented on #452
thank you for the great and clear solution

there is a big question.

in intraday OHLC when you resampling df it returns same day Pivot Points indexes and it cause Repainting.

i mean if we consider S and R lines for setup trades repainting happens as it refer to future candles.

please advice

[2022-07-26 16:54] hamedf62 commented on #452
accordingly my suggestion is to add below line before reindexing df and ffill that:

`a.index = a.index + pd.Timedelta(1, anchor.lower())`

then after join primary OHLCV df with function returned df.

[2022-07-28 09:27] hayesfj commented on #349
@gosharevo
I am having the same issue with ".streak import streak".   Where you ever able to resolve it?

[2022-07-28 19:44] twopirllc commented on #568
Hello @ISMAILHKYILDIZ,

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Have you tried the _development_ branch?**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear and con

[2022-07-30 10:49] duoduoffff opened #569 "Probable type error in ADX indicator evaluation"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
`0.3.14b0`

**Do you have _TA Lib_ also installed in your environment?**
[code]
Yes, installed

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

Yes, upgraded

**Describe the bug**
A clear and concise description of what the bug is.

Here's the dataframe I am using to evaluate the

[2022-07-31 06:25] #569 closed

[2022-08-01 19:34] twopirllc commented on #569
Hello @duoduoffff,

I see that you closed the Issue without any additional information. So were you able to resolve the issue?

Have you tried the _development_ version?
[code]

Kind Regards,
KJ

[2022-08-01 22:36] duoduoffff commented on #569
Yes, I have looked at my data again and realized that what I had passed into the library were exactly strings, instead of evaluatable numbers. It shouldn't be the library's fault.

[2022-08-02 19:06] twopirllc commented on #569
@duoduoffff,

Doh! Yeah, that could drive Pandas to return that error. Glad you were able to find your mistake. 😎

KJ

[2022-08-03 06:05] jjlchui opened #570 "ta.macd not show result"
Hi,
I am using 3.7.13 python without using TA lib in windows10.

I have used ta.macd for a while without any issue,  but suddenly an error msg pop-up. After upgrade to "pip install -U git+https://github.com/twopirllc/pandas-ta.git@development", there was not any data display. It displayed a while yesterday and disappeared again....

my coding:
df.ta.macd(close=df['Close'], fast=12, slow=26, signal

[2022-08-03 16:24] twopirllc commented on #570
Hello @jjlchui,

Unfortunately, I can not help you without more information such as a screenshot or copy of the error as well as copy of the data that caused this error.

Kind Regards,
KJ

[2022-08-03 16:26] twopirllc commented on #565
Hello @souresia,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-08-03 16:27] twopirllc commented on #568
Hello @ISMAILHKYILDIZ,

I assume by no response that _development_ branch resolved this issue. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-08-05 01:45] twopirllc commented on #567
Hello @dkaralis,

If you figured this out, please close the issue. If not, please provide more details. Also do not create a module named ```pandas_ta``` as it might get confused between it and this package.

Kind Regards,
KJ

[2022-08-05 02:28] jjlchui commented on #570
Hi KJ,

Thanks for the reply. I don't know why it could not display the result yesterday. But it worked today. Anyway, I close this issue and will report to you if the issue comes up again!

Many thanks.
joson

[2022-08-05 04:23] jjlchui commented on #570
Hi,

Need to bother you again. After one while the ta_MACD is gone, and the ta_RSI is gone too. Enclosed pls find the screen dump for you reference. It seems change the library

![ta_macd](https://user-images.githubusercontent.com/41037036/183001010-8ae1c2f7-0e67-4d1a-b1bb-fd0bc9143779.png)

[2022-08-05 05:43] dkaralis commented on #567
Hello Kevin.  After your last comment I renamed my file from pandas_ta.py to pand_t.py and now it is working.
Thank you!

[2022-08-05 05:43] #567 closed

[2022-08-07 17:35] twopirllc commented on #567
@dkaralis,

Excellent! Glad it's working now for you. 😎

KJ

[2022-08-07 17:47] twopirllc commented on #570
@jjlchui,

Thanks for sharing some code. However I do not see any errors in your screenshot nor have you provided sample data that replicates the error so it is still difficult to triage the Issue you claim.

Do note, that the _development_ indicators are highly restrictive about calculating an indicator if there is not likely to be any output of substance. In other words if you DataFrame does not

[2022-08-07 17:47] #565 closed

[2022-08-07 17:47] #568 closed

[2022-08-07 17:48] #557 closed

[2022-08-07 18:41] twopirllc commented on #554
@RAPER200X,

No. That call doesn't return historical data... it returns quotes for multiple tickers. You need historical data for one asset in order to calculate TA or you need to aggregate the quotes yourself to build a historical sample of data.

KJ

[2022-08-10 17:06] twopirllc commented on #552
@bibinvargheset,

Well the df calls are just proxies to direct calls so it would probably best to just implement it for all direct calls which of course would require updating all the indicators. That will take _quite_ some time and testing to achieve which I can not alone do :expressionless:, so any help to make this possible would be **greatly** appreciated. 😎

KJ

[2022-08-13 07:00] KrishnaRajule opened #571 "Some of the candle pattern indicators are not able to find or compute results"
2crows | 3blackcrows | 3linestrike | 3starsinsouth | 3whitesoldiers | abandonedbaby | advanceblock | breakaway | concealbabyswall | counterattack | eveningdojistar | eveningstar | gapsidesidewhite | identical3crows | inneck | kicking | kickingbylength | ladderbottom | mathold | morningdojistar | morningstar | onneck | risefall3methods | separatinglines | stalledpattern | tristar | unique3river | u

[2022-08-14 15:53] sloth456 commented on #460
Hi all,

I ended up writing this function to calculate the current anchored VWAP from the 15 minute bybit chart.  It takes an 'anchor' value which should be the datetime in UTC from the point you want the anchor to start, format like '2022-08-14 07:45:00'

[code]

I know this snippet is not integrated into pandas_ta at all and it's very specific to calculating only the current anchored VWAP from b

[2022-08-15 00:17] twopirllc commented on #571
Hello @KrishnaRajule,

Please fill out:

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Have you tried the _development_ branch? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide

[2022-08-19 12:14] casper-hansen opened #573 "Cumulative Volume Delta (CVD)"
Hi, I am wondering if we can support CVD? Or if anyone else has a working CVD?

Reference below for a nice CVD indicator:
https://www.tradingview.com/script/NlM312nK-CVD-Cumulative-Volume-Delta-Candles/

[2022-08-19 21:42] casperbh96 commented on #573
I made a version that is workable, but not exactly like the one I linked above. The idea is still the same though - we want to reset the CVD every month aka on a higher stepped timeframe.

For the actual operations, I took the code from here and converted it:
https://www.tradingview.com/script/SUrJYDo6-Cumulative-Delta-Volume-With-Alerts-and-Plot-Fills/

Blazing fast, but naming/variables could us

[2022-08-21 22:31] #571 closed

[2022-08-21 22:34] twopirllc commented on #570
Hello @jjlchui,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-08-22 20:01] Walduss opened #575 "SuperTrend always returns period=7"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Did you upgrade? Did the upgrade resolve the issue?**
[code]

**Describe the bug**
I am running Supertrend with different Periods values, but always I get the same values no matter what  period has been choosen

for isntance:

[2022-08-22 20:15] Walduss commented on #575
Hi,

I have seem similar issue in    https://github.com/twopirllc/pandas-ta/issues/337

It seems i should use length instead period paramenter name

[2022-08-22 20:25] #575 closed

[2022-08-22 20:26] Walduss commented on #575
Sorry, it was my fault using a wrong parameter name.

thanks and regards

[2022-08-23 02:40] twopirllc commented on #573
Hello @casperbh96,

Thanks for providing a link to the source and some sample Python code. Unfortunately with all the outstanding bug and feature requests, I do not have a time frame for completion. Hopefully someone whom also wants it included is willing to submit a PR to expedite the process. 😎

Kind Regards,
KJ

[2022-08-23 03:55] twopirllc commented on #575
Hello @Walduss,

Glad you were able to resolve your issue similar to #337. 😎

Note: You can use ```help(ta.indicator_name)``` to get more information about a particular indicator including parameters and keyword arguments.

[code]
This error just means you do not have ```git``` installed. I won't go into details about ```git```, but this YT video by [Fireship](https://www.youtube.com/watch?v=hwP7W

[2022-08-26 10:22] bibinvargheset opened #577 "Half trend by everget"
# https://www.tradingview.com/script/U1SJ8ubc-HalfTrend/

please implement half trend by everget

[2022-08-26 12:05] bibinvargheset commented on #577
from finta import TA
import numpy as np
import pandas as pd
import pandas_ta as ta

#%%
def half_trend(data, amplitude=2, channel_deviation=2):
    '''
    HalfTrend indicator, originally by Alex Orekhov (everget) on TradingView.

    Parameters:
        data (dataframe): OHLC price data

        amplitude (int): lookback window

        channel_deviation (int): ATR channel deviation factor

    (

[2022-08-29 02:50] JhonAndersonVelasco opened #578 "Problem with EOM indicator"
Hi

I am trying get the eom indicator:

`eom = ta.eom(dfrates['high'],dfrates['low'],dfrates['close'],dfrates['volume'],14)`

And get this traceback:

[code]

[2022-08-29 18:30] #570 closed

[2022-08-30 13:06] jonathandumaresq opened #579 "VWMA support for MA method."
Simple question,

Is there a reason why not all MA's are supported in the ma method ?

As an example, I would like to use the VWMA with ADX.

Maybe I missed something. ?

Regards,

[2022-08-30 13:45] jonathandumaresq commented on #443
Not a direct code, but I use this once for a project and look to be working great. Maybe a start ?

https://github.com/djoffrey/HarmonicPatterns

[2022-08-30 16:39] #554 closed

[2022-08-30 17:29] mdmoura opened #580 "Ichimoku error when using different parameters - can only concatenate str (not "Timedelta") to str"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Have you tried the _development_ branch? Did it resolve the issue?**
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear and c

[2022-08-30 18:03] twopirllc commented on #580
Hello @mdmoura,

Please fill out the report above. 👍🏼

Kind Regards,
KJ

[2022-08-30 18:38] twopirllc commented on #579
Hello @jonathandumaresq,

Good question. The original intent of ```ta.ma()``` was to support a single source/series for simplicity. Should be an easy addition to ```ma.py``` on the _development_ branch.

Kind Regards
KJ

[2022-09-01 10:09] Karsten-Fyhn opened #583 "Adding automatic tests by Github Actions"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
0.3.14b0

**Do you have _TA Lib_ also installed in your environment?**
Yes

**Is your feature request related to a problem? Please describe.**
It is easier to contribute to a library, if there is a clear and transparent way of running tests and it is traceable when a test started failing.

**Describe th

[2022-09-01 10:16] Karsten-Fyhn commented on #583
Merging the above PR might also be a step on the way to addressing https://github.com/twopirllc/pandas-ta/issues/423.

[2022-09-01 15:59] chandraveshchaudhari opened #584 "Description for Each Indicator"
I am very new to technical indicators, and there are over 200 indicators.

where can I find the documentation for each indicator with math? if documentation is not available, will this project accept my contribution?

[2022-09-02 17:50] mraspaud commented on #288
I know this is closed, I just wanted to mention that I stumbled upon https://github.com/nardew/talipp which is incrementally updating indicators. Maybe that could help with this problem?

[2022-09-02 18:41] twopirllc commented on #584
Hello @chandraveshchaudhari,

There are a few ways listed under the Readme [Help](https://github.com/twopirllc/pandas-ta#help). Help with documentation is always welcome. 😎

Documentation with math has been removed starting with the _development_ branch. Instead of including math in the help, links to the indicator source (which may or may not have math) have been provided. This helps keep documen

[2022-09-02 18:57] chandraveshchaudhari commented on #584
Hello KJ,

I will create markdown for indicators description and share it as soon as
possible.

Regards,

Chandravesh Chaudhari
Financial Artificial Intelligence Research,
CHRIST University (Bengaluru)

On Sat, 3 Sep, 2022, 12:11 am Kevin Johnson, ***@***.***>
wrote:

[2022-09-02 21:18] twopirllc commented on #584
@chandraveshchaudhari,

So as not to reinvent the wheel completely, I highly recommend checking out the details provided by [Sierra Chart Indicators](https://search.sierrachart.com/?Query=indicator&submitted=true). A lot of them do have mathematical notation. Lastly no rush.

KJ

[2022-09-02 21:21] twopirllc commented on #583
Hello @Karsten-Fyhn,

Awesome! 😎  Thanks for making a PR #582 to handle these tests with TA Lib with GitHub Actions. I will try it out as soon as I can.

Kind Regards,
KJ

[2022-09-03 01:52] chandraveshchaudhari commented on #584
Thanks, I'll check them out.

Regards,

Chandravesh Chaudhari
Financial Artificial Intelligence Research,
CHRIST University (Bengaluru)

On Sat, 3 Sep, 2022, 2:48 am Kevin Johnson, ***@***.***>
wrote:

[2022-09-04 09:38] whatayush commented on #577
This is awesome, Thanks for this! One problem though, when I change the amplitude to 1 it starts throwing bad parameters error. Any fix for that?

[2022-09-06 09:00] bazoka12 commented on #405
https://stackoverflow.com/a/73619226/1233573

[2022-09-06 17:31] aress31 opened #585 "Lacking Documentation"
Could you please add somewhere in the doc a minimal working example on how to exactly use a `strategy` - ideally leveraging `Python classes` in order to be modular with the strategies?

My first assumption was that running a strategy on a given `dataset` would filter out the rows and keep only the complying ones but that does not appear to be the case.

Please confirm if a strategy simply adds the

[2022-09-08 15:51] twopirllc commented on #585
Hello @aress31,

### Documentation and Contributing

I am sorry to hear that you find the documentation difficult or confusing. 😐

Contributions are **always** welcome to improve documentation, examples, bugs, features, testing, tools, et al.
We would _greatly_ appreciate your contribution to help everyone! 😎

### Update

Additionally, I recommend updating to the _development_ version as "strategy

[2022-09-08 19:12] twopirllc commented on #585
@aress31,

Here is a _simplified_ example using the Common Study:

<img width="748" alt="Screen Shot 2022-09-08 at 12 07 47 PM" src="https://user-images.githubusercontent.com/18198392/189206008-b616f153-60b8-475d-83ac-9c4311b0b1ac.png">

Of course, you will need to replace ```ta.CommonStudy``` with your custom Study ```NonMPStrategy``` like so:

[code]

Hope this helps!

KJ

[2022-09-08 20:04] aress31 commented on #585
Amazing, thanks for the though answer and pointing me to the right direction.

Side-note: A potential improvement could be to automatically get buy and sell signal (booleans) based on the Study parameters and a given datagrams. That would help remove a lot of boilerplate code when automating trading.

[2022-09-08 21:07] aress31 opened #586 "Backtest/Signals Portfolio from Study"
Had a look at the `dev` version and it looks impressive! 🤩

I believe that it is not _yet_ possible to run backtests  - using `vectorbt` - by inputting a `Study` directly, i.e., configuring a set of parameters - and the of their interactions - to trigger buy/sell `signals`.

If I am wrong an example would be super!

EDIT: Additionally, I would like some information regarding `TS_Trends` and `TS_Tr

[2022-09-09 08:47] aress31 opened #587 "Boolean Operations on Multiple (X)Signals"
I would like to be able to apply multiple cross signals based on boolean algorithmic. In the example below, it appears that only the last applied signals, meaning the last call of `benchmarkdf.ta.xsignals` sets the values for `[TS_Trends, TS_Trades, TS_Entries, TS_Exit]`. Exposing a method that would allow basic boolean operation such as `or` and `and` on different signals to granularly configure

[2022-09-09 15:42] twopirllc commented on #585
@aress31,

No worries. Thanks for your patience.

Sure. But it's much more nuanced than that. Buy/Sell signals can not be easily reduced given a set of _ohlcv_ and potentially 1 or more indicators added to the data frame.

For instance, suppose one has the following indicators: RSI14, MACD_12_26_9, SUPERTREND, EMA_5, EMA_10, SMA_100, SMA_200, VOL_SMA_5, VOL_SMA_50, and STDEV_30. What is the automa

[2022-09-09 15:53] aress31 commented on #585
See https://github.com/twopirllc/pandas-ta/issues/586. Basically, the way I see this, is that `Study` which is an awesome concept could be extended to add upper/lower value before sending a signal type, i.e., `buy` or `sell`.

The Boolean logic of how the different indicators work together should be somehow handled by the `Study` component, but basically that would give the `Study` the power to ge

[2022-09-09 22:06] R470R opened #588 "Rolling Apply VP"
Is there a way to rolling apply the ta.vp function ?

[2022-09-09 23:18] twopirllc commented on #585
@aress31,

There is certainly room to add that functionality. Fresh eyes and logic on tackling that feature would help expedite the process. 😎

Naturally. That is one avenue to approach it from. I would love to see some code demonstrating this while I focus on outstanding indicator accuracy/precision issues, indicator speed improvements and finishing the [Remaining TA-Lib indicators](https://githu

[2022-09-14 16:03] orkay5126 opened #590 "Getting "can't multiply sequence by non-int of type 'float'" with ta.supertrend"
Pandas_ta version : 0.3.14b
** Error**
  File "C:\Users\nagar\OneDrive\Python\BuySellWHOptions.py", line 236, in getSTStop
    st_ta = ta.supertrend(high = df['inth'], low = df['intl'], close = df['intc'], period = 1, multiplier=1.85)
  File "C:\Users\nagar\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas_ta\overlap\supertrend.py", line 26, in supertrend
    hl2_ = hl2(high, low)

[2022-09-14 16:43] orkay5126 commented on #590
Its an issue at my end. All the columns are coming as strings.

[2022-09-14 16:43] #590 closed

[2022-09-14 17:03] wrone opened #591 "Supertrend gives different results on 5min timeframe in TradingView"
Supertrend indicator is showing me different values in TradingView on 5m timeframe.

I'm trying to fix it myself but I have no idea where to start, I'm very new to this. I would appreciate any suggestions.

Version:
0.3.14b0

[2022-09-15 17:30] twopirllc commented on #591
Hello @wrone,

That's possible. TV did not have it in their library prior until Version 5 was released, so it was derived from
another source. Below is TV's implementation if you want to fix it.

[code]

Before starting, update to the _development_ branch:

[code]

Then fork, edit and submit a PR when ready. Make sure you are working off the _development_ branch.

Thanks for taking a look at this.

[2022-09-15 17:33] wrone commented on #591
Thanks for getting back to me! I will try to take a look into it!

[2022-09-16 17:24] twopirllc commented on #587
@aress31,

Here is a, non-tested, modified example with your code. Tweek as necessary.
[code]

https://github.com/twopirllc/pandas-ta/blob/development/examples/TA_Analysis.ipynb

Certainly. It's possibly not terribly complex to implement. Though I am curious about future non-trivial cases that could be requested by users. 🤔 Would you like to give it a go? 😎

KJ

[2022-09-16 18:07] twopirllc commented on #590
Hello @orkay5126,

Yeah.

The library assumes the columns contain non-string column values. Though I suppose that validation can be added if _needed_. 🤔 Or you can add it on your fork.

What data source is that ```api``` module?

Kind Regards,
KJ

[2022-09-19 06:08] flav1ooo commented on #539
Do we look at " PSARr_0.02_0.2"  for uptrend and downtrend?

[2022-09-20 22:03] twopirllc commented on #539
Hello @kaanguven,

So "PSARr_0.02_0.2" is an extra column providing the "reversal", when it switches from long to short and back.

The _uptrend_ is the long column or "PSARl_0.02_0.2" and the _downtrend_ is the short column or "PSARs_0.02_0.2".

If you want one PSAR line, then you need to combine the _up_ and _down_ trend lines into one signal.

When in doubt, plot the results and see what is usef

[2022-09-20 22:05] #580 closed

[2022-09-21 08:36] RAJURAM123 commented on #577
Pls give input DataFrame and output

[2022-09-23 20:21] kaanguven opened #594 "Squeeze momentum indicator (with Lazybear) wrong results."
I follow Binance data and Lazybear's squeeze indicator on tradingview. But the  SQZ_20_2.0_20_1.5_LB values ​​I see on tradingview are wrong also SQZ_OFF and SQZ_ON are wrong too.

My code :

[code]

[2022-09-24 07:11] Qwertzi01 opened #595 "How to use the KDJ indicator?"
Hello, I'm new to pandas/FreqTrade and want to use pandas-ta because this library provide the KDJ indicator.
But I'm really confused how to use the KDJ in my strategy - how I can measure if the KDJ is positive or negative?
Thx in advance.

[2022-09-24 15:11] graceyangfan opened #596 "Locate wrong index."
https://github.com/twopirllc/pandas-ta/blob/bc3b292bf1cc1d5f2aba50bb750a75209d655b37/pandas_ta/trend/psar.py#L58
The sar compute should started from 2 instead of 1,or the sar will select the last value of pandas DataFrame in the future.

[2022-09-24 16:40] twopirllc commented on #595
Hello @Qwertzi01,

Here is an example subchart of **kdj**. Seems many are mostly positive, however one or more lines may dip negative from time to time.

<img width="741" alt="Screen Shot 2022-09-24 at 9 28 44 AM" src="https://user-images.githubusercontent.com/18198392/192109079-4e86ecfd-c690-43ea-a05a-78ebf48694dd.png">

Testing if positive or negative is fairly straightforward if testing a const

[2022-09-24 16:43] twopirllc commented on #594
Hello @kaanguven,

You have provided no proof for the claim you make. However, this _may_ be related to Issue #490

Additionally, please fill out:

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
[code]

**Have you tried the _development_ version? Did it resolve the issue?**
[code]

[2022-09-24 16:48] kaanguven commented on #594
My pandas-ta version is : 0.3.14b0

Also yes i have TA-Lib 0.4.24 version

I will check development version and i will inform you thank you.

[2022-09-24 16:59] twopirllc commented on #586
That is correct. Not directly. Perhaps at one point. 🤷🏼‍♂️

An example of using ```ta.tsignals()``` is [here](https://github.com/twopirllc/pandas-ta/blob/development/examples/TA_Analysis.ipynb) and explained each of the four columns with sample charts as well as ```help(ta.tsignals)```.

You would use cross signals, since it is _event_ based and not _state_ based like trend signals. An example of

[2022-09-25 08:36] Qwertzi01 commented on #595
Thx for the fast answer, but I think I didn't ask the question clearly.
I'm interested in getting **buy and sell signals** from the KDJ as shown in the example below:

![kdj_example](https://user-images.githubusercontent.com/7136516/192134723-4dfcf441-63bd-4d2d-8259-8dc292188fa6.jpg)

With my example above a clear sell signal is given if the J-line cross from top to bottom K- and D-line,
a clear b

[2022-09-25 15:33] FanaticPythoner opened #597 "Possible future data leak on CUBE and IFISHER"
After quick inspection, if I'm not wrong, there seem to be a future data leak with CUBE and IFISHER when using `study.AllStudy`, as they both have an offset set by default to -1. Please update the readme to point this out. AI model time series feature importance impact evaluation:
![image](https://user-images.githubusercontent.com/45826736/192151599-4ecb54f8-042d-4aea-8c12-c2f1b045df75.png)

[2022-09-25 18:04] twopirllc commented on #596
Hello @graceyangfan,

Excellent eye! However this minor error was also part of a **psar** fix in Pull Request #543 and part of the _development_ branch. Update to _development_ branch when you get a chance.

[code]

Kind Regards,
KJ

[2022-09-25 18:04] #596 closed

[2022-09-25 18:34] twopirllc commented on #597
Hello @FanaticPythoner,

Thanks for the heads up! 😎

They need to be reevaluated anyhow.

Kind Regards,
KJ

[2022-09-25 18:39] FanaticPythoner commented on #597
Thanks for your prompt answer @twopirllc . I appreciate your hard work.

If I may, I would say it's pretty urgent / important to update the README so individuals training DNN(s) can know what I found, as not everyone will dig in in the library / do steps to identify anomalies in features, therefore may not spot it and may run under the false assumption that only DPO and ichimoku need to be looked

[2022-09-25 18:40] twopirllc commented on #594
@kaanguven,

Thanks for updating and checking. 👍🏼

If you know how to fix it, make a PR and it will be updated sooner. Otherwise it may take some time before I can do so.

KJ

[2022-09-26 16:38] #597 closed

[2022-09-27 14:14] benjune opened #598 "MACD Wilders"
Howdy.  I notice you have a MACD indicator here... is there instructions somewhere to manipulate this to become Wilders? I think by default this is simple or exponential.  I was wondering if there was a Wilders one that could be used.  Or if we can manipulate the macd.py to become Wilders.  Thanks!

[2022-09-27 18:10] yeraydiazdiaz opened #599 "SMMA curve very different than TradingView"
First thank you very much for your work in pandas-ta 🙏🏻

This is more of a general question rather than a bug report but I thought I'd use this template. I hope it's ok.

**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]

**Do you have _TA Lib_ also installed in your environment?**
No, installing TA Lib causes a NumPy version conflict in my virt

[2022-09-27 18:59] PandaSobao commented on #128
Just in case, if the dataframe in question only has 1 row then pandas-ta's `is_datetime_ordered` will produce a `False` due to the [inequality line](https://github.com/twopirllc/pandas-ta/blob/bc3b292bf1cc1d5f2aba50bb750a75209d655b37/pandas_ta/utils/_core.py#L41) accessing the same row datetime index.

[2022-09-27 19:13] yeraydiazdiaz commented on #599
Apologies, it seems I've messed something up in my data loading stage. 🙏🏻

[2022-09-27 19:13] #599 closed

[2022-09-28 02:46] twopirllc commented on #599
Hello @yeraydiazdiaz,

Glad you were able to solve your Issue. 😎  Data differences are often the first potential culprit.

Thanks for the detailed answers to the *bug** prompts. I appreciate it.

Kind Regards,
KJ

[2022-09-28 10:00] Nav-deep123 opened #600 "AttributeError: module 'pandas_ta.momentum' has no attribute 'WilliamsRIndicator'"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
[code]
I am using 0.3.14b0 version of pandas_ta

**Upgrade.**
[code]

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am trying to calculate William R indicator using pandas_ta library but e

[2022-09-28 14:26] twopirllc commented on #600
Hello @Nav-deep123,

The ```ta.momentum.WilliamsRIndicator()``` belongs to the following [TA](https://github.com/bukosabino/ta) library and **not** Pandas TA. If that is the exact indicator you are intending to use, then make an Issue with that library.

Kind Regards
KJ

[2022-09-28 14:26] #600 closed

[2022-09-28 16:19] twopirllc commented on #595
@Qwertzi01,

Please install the _development_ version if you have not already. Here is the [README](https://github.com/twopirllc/pandas-ta/tree/development).

[code]

Based on your sample, it looks like the all three lines cross at the same point.
1. J crossing K or J crossing D is the same. The question is, which is preferable?
2. Or does J absolutely need to cross both K and D lines? If so, that

[2022-09-29 20:02] twopirllc commented on #598
Hi @benjune

If you want to manipulate **macd** for your purposes, you would need to _fork_ and _edit_ a copy of this repository. If unsure where to begin to modify a GitHub repo, there are numerous tutorials online and videos online to get you started.

It's default is exponential per the source code.

It is possible to include Wilders and other moving averages as an option, but when is indetermi

[2022-10-03 22:07] Jacks349 opened #603 "Trend Regularity Adaptive Moving Average [LUX]"
Would be awesome to see this indicator on pandas_ta! It's a moving average that adapts to the current trend by taking into account the average of high/lows during a selected period. Link: https://www.tradingview.com/v/p8wGCPi6/

Pinescript code:
[code]

My attempt: i'm not so good at pinescript, and i'm having a lot of troubles understanding how to translate the lines `tc = pow(sma(hh or ll ? 1 :

[2022-10-04 10:52] kaanguven opened #604 "TTM Squeeze value results are wrong"
I am using the TTM Squeeze indicator via tradingview. The lazybear version of the squeeze indicator is exactly the same as the values ​​in tradingview, but I would like to point out that these values ​​are incorrect for "squeeze_pro" in Pandas_ta.

![Ekran Alıntısı](https://user-images.githubusercontent.com/83061705/193801316-ed9da260-26df-4d6f-b723-7204db86812f.PNG)
As in the image, the lazybear

[2022-10-05 18:32] nexlcap opened #606 "BBands.py percent offset using wrong variable"
**Which version are you running? The lastest version is on Github. Pip is for major releases.**
'0.3.14b0'
[code]

**Have you tried the _development_ version? Did it resolve the issue?**
[code]

**Describe the bug**
percent offset calculation is now like **bandwidth**.shift(offset), should be **percent**.shift(offset) instead

**To Reproduce**
Provide sample code.

**Expected behavior**
A clear an

[2022-10-07 09:31] Qwertzi01 commented on #595
Yes, point 1. is correct, preferable how in your example -> if J is crossing K or D is not so important.
But I'm struggling to implement it in a FreqTrade strategy:

[code]

Is my above example the right way to use it without Pandas TA DataFrame Extension?

[2022-10-07 18:49] twopirllc commented on #606
Hello @nexlcap,

Thanks for looking out! However, please search older Issues prior to making a new one. For instance, see #409.

You made this post and never tried the following as requested on the Bug Report
**Have you tried the development version? Did it resolve the issue?**

[code]

Kind Regards
KJ

[2022-10-07 18:55] twopirllc commented on #604
Hello @kaanguven,

Thanks for catching this. 😎

Hopefully @zlpatel or someone else can take a look at it and update it.

Kind Regards
KJ

[2022-10-07 19:05] zlpatel commented on #604
@kaanguven @twopirllc The reason for that is that squeeze pro is not using lazy bear method for calculating squeeze. Squeeze Pro is not based on the lazy bear method. I am guessing you're using lazy bear ttm squeeze indicator on trading view and comparing your results against ttm squeeze indicator of pandas ta library with lazybear option.

[2022-10-07 19:14] kaanguven commented on #604
I tried squeeze pro in tradingview and compared pandas squeeze_pro and tv squeeze pro, values are wrong.

[2022-10-07 19:16] zlpatel commented on #604
@kaanguven which squeeze pro indicator on trading view did you try?

[2022-10-07 19:35] kaanguven commented on #604
"TTM Squeeze Pro" by Beardy_Fred

[2022-10-09 17:01] twopirllc commented on #603
Hello @Jacks349,

Sure it could be added. However if you or someone would like to make a PR, that would be the fastest way to get it included. 😎  I am currently blocked on existing PRs and outstanding bugs.

Kind Regards
KJ

[2022-10-09 17:24] twopirllc commented on #595
@Qwertzi01

No that is not the correct way to calculate an indicator _without_ the DataFrame Extension Convention. What you want is the [_Standard_](https://github.com/twopirllc/pandas-ta/tree/development#standard) Convention.

If you are having FreqTrade Issues, please post an Issue on their repo.

KJ

[2022-10-11 09:13] Qwertzi01 commented on #595
I figured it out how to implement the KDJ indicator into a [FreqTrade](https://github.com/freqtrade/freqtrade) strategy with the [_Standard_](https://github.com/twopirllc/pandas-ta/tree/development#standard) Convention.
For all who are maybe interested (it's similar also applicable to other pandas-ta related indicators):

[code]

[2022-10-12 07:08] mpele opened #610 "FutreWarning during execution of macd function"
Hi,
I have noticed new FutreWarning during execution of macd function:
`FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.`
Is there a plan for fixin

[2022-10-12 22:07] twopirllc commented on #606
Hello @nexlcap,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-10-12 22:09] #595 closed

[2022-10-12 22:11] twopirllc commented on #586
Hello @aress31,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-10-12 22:13] twopirllc commented on #585
Hello @aress31,

I assume by no response that the solution provided was sufficient. Thus I will be closing this issue in a few days.

Kind Regards,
KJ

[2022-10-12 23:02] twopirllc commented on #610
Hello @mpele

Did you look up past [_FutureWarning_ Issues](https://github.com/twopirllc/pandas-ta/search?q=FutureWarning&type=issues) prior to this post? Did you try the _development_ version to see if that solved the Issue as asked on the Bug Report?

Kind Regards
KJ

[2022-10-13 07:41] mpele commented on #610
I was doing a search, but to be honest I wasn't on that keyword. I was not persistent in my search because I saw that the code had not been changed in the last 15 months. I understand that this is not critical, but I did not expect it to be hidden in the development code for so long.

Is it recommended that the development code be used for everyday use?

[2022-10-13 22:14] twopirllc commented on #610
@mpele

In short, yes. Eventually the _development_ branch, with over 200+ commits ahead of _main_, will replace the _main_ branch. For more info, see the _development_ branch [README](https://github.com/twopirllc/pandas-ta/tree/development).

If the _development_ version does not solve your Issue or you feel it is insufficient for daily use, then you are welcome to fork and add [FutureWarning sup

[2022-10-14 10:07] mpele commented on #610
Oh, I wasn't aware of this.
Thanks for the clarification.

[2022-10-14 10:07] #610 closed

[2022-10-14 20:29] #606 closed

[2022-10-14 20:30] #585 closed

[2022-10-14 20:30] #586 closed

[2022-10-17 18:06] anon2010 commented on #522
How can I implement this fix? Swap out Hakymaku's def adx method for the one in adx.py ?

[2022-10-18 21:03] abstractumx opened #611 "installing pandas-ta on venv (WLS Ubuntu)"
**Do you have _TA Lib_ also installed in your environment?**
[code]
yes I am trying to install it on a new venv

**Have you tried the _development_ version? Did it resolve the issue?**
[code]
No, I prefer to use the stable version

**Describe the bug**
Cant install pandas-ta lib using WLS Ubuntu

**Expected behavior**
Look screenshot msg error, seems using Ubuntu WLS you cannot install the pkg

**

[2022-10-19 20:10] twopirllc commented on #611
Hello @abstractumx,

I recommend the _development_ version. Many more improvements, bug fixes, documentation et al.

Anyhow I received no error when installing *pandas_ta* with WSL and virtualenv on my system. In any event, have you tried searching for [error: invalid command 'bdist_wheel'](https://www.google.com/search?q=error+invalid+command+%27bdist_wheel%27) and trying the recommended solution

[2022-10-22 09:12] kaanguven commented on #268
I tried ta.tos_stdevall but values are wrong i guess. just check results and my code below :

`             src = dfLB["close"]

              length = 100

              dev = ta.tos_stdevall(src,40)
              print(dev)
`
TV results :
![ek](https://user-images.githubusercontent.com/83061705/197331373-6d85f88d-b361-4acf-a070-e76b857ebf7d.PNG)

my results for U_2 and L_2

![we](https://user-im

[2022-10-24 13:06] kaanguven opened #612 "Range Filter 5min indicator request"
According to my experience its great indicator for scalping traders, i tried to convert it to python but my values are wrong.
[code]

Can you translate this to python or we can do this conversion with my code:

My code below :

[code]
you can check hband and lband values in tradingview ( https://tr.tradingview.com/chart/mLWdxhy9/?symbol=BITSTAMP%3AXRPUSD)

hband = blue values
lband = purple values

[2022-10-24 23:45] ISMAILHKYILDIZ opened #613 "Indicator Request: Williams Fractal Indicator"
simple view as follows that is one the standard indicators in tradingview
it may be implemented as 1 0 -1 like signals similar to candle indicators
![image](https://user-images.githubusercontent.com/20664520/197650689-5407cc02-dae6-4402-8ef8-00cd7195a0e8.png)

[2022-10-25 16:56] maneetgoyal commented on #459
Would be great to have. I am hoping to use this package in Pyodide which seems to only work with Pure Python packages with wheels

[2022-10-27 17:31] twopirllc commented on #612
Hello @kaanguven,

With all the outstanding issues and currently pending PRs and indicator requests, hopefully someone can make a PR with workable code. 😎

Kind Regards
KJ

[2022-10-27 17:35] twopirllc commented on #613
Hello @ISMAILHKYILDIZ

It among **many** other indicator requests are in limbo _until_ current outstanding bugs and PRs are resolved as well as the remaining non-candlestick indicators from TA Lib are completed. Hopefully someone whom is also interested in the indicator being included soon will make a PR to bump it up in priority.

Kind Regards
KJ

[2022-10-27 21:34] ISMAILHKYILDIZ commented on #556
I have same issue when I tried to use ichimoku indicator.
T-1 values are written to T day in the dataframe, so when I try to use ichimoku cloud its one day delayed so today's values will be calculated tomorrow. I am not python expert that lagged data makes this indicator useless, maybe it is a very easy to fix issue.
Thanks

[2022-10-27 22:08] ISMAILHKYILDIZ commented on #556
I have just checked results of dev branch, problem still exists. Also I just found its9 feature's value is incorrect.
I think this must be fixed ASAP as ichimoku is one of popular indicators.
If I can help, I would like to but I am not a pyhton dev, I can just evaluate outputs with tradingview :(

[2022-10-29 21:52] #613 closed

[2022-11-03 23:23] kaanguven opened #614 "Leledc Exhaustion Bar indicator (Request)"
This Pinescript code is really easy but I didn't even manage to set up a really simple for loop I guess because I was too tired :D Anyways

Can someone help me to convert this pine code to python?

[code]
Thank you !

[2022-11-04 23:37] dropdx commented on #74
Is there an easier way to plot this with Matplotlib yet?

[2022-11-08 18:43] argcast opened #615 "Understanding ta.vp indicator (Volume Profile). bug?"
For testing & understanding purposes I've created a `DataFrame` and run `vp` on the first 10 rows which is the minimum width required by the indicator.

I understand as on [vp.py](https://github.com/twopirllc/pandas-ta/blob/main/pandas_ta/volume/vp.py) close series is evaluated and through the `series.diff(1)` in the `signed_series` function current close is compared to the next close and then ass

[2022-11-11 09:56] arjunChouksey opened #616 "[Question] Indicators lookback candle period"
Recently, i was using rsi indicator and found out result difference from tradingview calculations, Further i found out that for precise rsi calculation 290 previous candles are required. So is there any document that has more information regarding each indicator and it's lookback candles ?

[2022-11-14 20:31] mihakralj opened #617 "variance - sample or population variance?"
ta.variance can cover both variances: population variance and sample variance:
ddof = 0 => population variance
ddof = 1 => sample variance

TALIB's VAR function can calculate only _population_ variance (when ddof = 0)

**Bug**
the default is ddof=1, instead ddof=0 - therefore ta.variance returns:
- _sample_ variance when TALIB is present, but
- _population_ variance when TALIB is not installed

To

[2022-11-14 22:58] mihakralj opened #618 "TRIMA calculation - with and without TALIB"
**Describe the bug**
ta.trima without TALIB installed returns (occasionally) different values compared to TRIMA with TALIB.

TALIB uses two calculation paths, depending on even/odd state of the _length_.
Pandas-TA uses only one calculation path regardless of length evenness/oddness.
Discrepancy in calculation appears when:
- no TALIB is used
- period is even

**Expected behavior**
ta.trima should

[2022-11-15 20:50] thomascz001 commented on #110
Hi,

Tradingview's Keltner Channel also has average true range as entry for range rather than true range and high - low.

Maybe it could be added !

Regards,

Thomas

[2022-11-16 19:35] twopirllc commented on #616
Hello @arjunChouksey,

If I understand you correctly, it seems you are describing what is known as _Unstable Period_ as noted in TA Lib and described [here](https://ta-lib.org/d_api/ta_setunstableperiod.html). Basically, depending on your set of indicators you will need to determine what is the minimum bars needed. It's situational but the rough rule, again _depending_ on your set, is at least 200

[2022-11-16 19:57] twopirllc commented on #617
Hi @mihakralj,

Thanks for looking out and making a PR! 😎 I will merge in as soon as I can.

Thanks
KJ

[2022-11-16 19:58] twopirllc commented on #618
Hi @mihakralj,

Thanks for looking out and making a PR! 😎 I will merge in as soon as I can.

Thanks
KJ

[2022-11-19 22:43] kaanguven commented on #392
Any update about this ?

[2022-11-20 06:55] 01xRiverse commented on #452
@twopirllc This is issue is still open right? . If so , can i share my code for a PR ?

[2022-11-20 07:01] 01xRiverse commented on #614
@kaanguven  I could write this in python . Do you have any good source for the documentation of this indicator .

[2022-11-20 07:12] kaanguven commented on #614
Only got this https://tr.tradingview.com/v/2rZDPyaC/

[2022-11-20 07:36] kaanguven opened #622 "Weis Wave Volume"
Here is the indicator link : https://tr.tradingview.com/v/QrCFs0K2/

Here is the indicator code :

[code]

Let me give you some information, as a result of my conversation and research with those who use this indicator, the most used and the most beautiful signaling method is "Traditional". The problem is I find it quite tricky to update 'currclose' value in the Dataframe, since 'prevclose' value

[2022-11-22 17:34] twopirllc commented on #622
Hello @kaanguven,

Yes, this is a prior request (Issue #392). Feel free to append to that Issue instead. It makes it easier to keep the Issues limited to one similar topic than _n_ similar topics.

Kind Regards,
KJ

[2022-11-22 17:34] #622 closed

[2022-11-23 21:24] mihakralj commented on #402
Just checking if this fix was merged into the main build yet?

[2022-11-24 17:15] twopirllc commented on #402
@mihakralj,

The _main_ branch is on hold for the time being until I complete the Hilbert Transform TA Lib indicators: *ht_dcperiod, ht_dcphase, ht_phasor, ht_sine, ht_trendline, ht_trendmode*.

The changes in this issue have been made and are available on the _development_ branch.

[code]

Mind rechecking your results using the _development_ version instead?

Thanks
KJ

[2022-11-29 19:33] alighten-dev opened #624 "Fair Value Gap Indicator"
I'm running 0.3.14b0

I wrote a simple Fair Value Gap indicator. If you are interested in adding an additional indicator, this might be interesting. https://trendspider.com/blog/fair-value-gap-basics/

Takes a minimum percentage gap size (min_gap)
It finds bull values where (Low(0) - High(2)) > min_gap
It finds bear values where Low(2) - High(0) > min_gap

returns a single value of the percentage